%table.table.table-striped.table-bordered.table-condensed.margin0bottom
  - if address
    %tbody
      %tr
        %th= t('activerecord.models.address.attributes.company')
        %td= address.company
      %tr
        %th= t('activerecord.models.address.attributes.first_name')
        %td= address.first_name
      %tr
        %th= t('activerecord.models.address.attributes.last_name')
        %td= address.last_name
      %tr
        %th= t('activerecord.models.address.attributes.address_1')
        %td= address.address_1
      %tr
        %th= t('activerecord.models.address.attributes.address_2')
        %td= address.address_2
      %tr
        %th= t('activerecord.models.address.attributes.city')
        %td= address.city
      %tr
        %th= t('activerecord.models.address.attributes.zip')
        %td= address.zip
      %tr
        %th= t('activerecord.models.address.attributes.phone')
        %td= address.phone
      %tr
        %th= t('activerecord.models.address.attributes.phone_mobile')
        %td= address.phone_mobile
