#scanning_provider
  .row
    .col-md-12
      .box.small-shadow.clearfix
        = render partial: 'navigation'

  %br

  .card
    .card-header.clearfix
      .float-left
        %h2 
          Atelier : 
          .badge.badge-info.fs-origin #{@scanning_provider}
      .float-right
        = link_to t('actions.edit'), edit_admin_scanning_provider_path(@scanning_provider), { class: 'btn btn-primary' }
        = link_to t('actions.return'), admin_scanning_providers_path, class: 'btn btn-light'

    .card-body
      .row
        .col-md-5
          %table.table.table-condensed.table-bordered-inner.table-striped
            %thead
              %tr
                %th{ colspan: 2 }
                  %h3 Informations
            %tbody
              %tr
                %th= t('activerecord.models.common.attributes.created_at')
                %td= l(@scanning_provider.created_at)
              %tr
                %th= t('activerecord.models.scanning_provider.attributes.name')
                %td= @scanning_provider
              %tr
                %th= t('activerecord.models.scanning_provider.attributes.is_default')
                %td= @scanning_provider.is_default ? t('yes_value') : t('no_value')
          %table.table.table-condensed.table-bordered-inner.table-striped
            %thead
              %tr
                %th
                  .float-left
                    %h3 Liste des clients
                  .float-right
                    %h3= @scanning_provider.customers.count
            %tbody
              - @scanning_provider.customers.order(code: :asc).each do |customer|
                %tr
                  %td= link_to customer.info, [:admin, customer]
        .col-md-7
          .box
            %h3 Adresses
            %hr
            - grouped_addresses = @scanning_provider.addresses.in_groups_of(3)
            - grouped_addresses.each_with_index do |addresses, index|
              .row{ class: ((index + 1) < grouped_addresses.size ? 'margin1bottom' : '') }
                - addresses.each do |address|
                  - if address
                    .col-md-4
                      = render partial: 'address', locals: { address: address, single: false }
