- months = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"]

#reporting.container.padding6top
  - if current_user.is_prescriber || current_user.is_admin
    .row
      .span12
        .well
          .actionbar
            = label_tag :filter, "Filtrer sur : ", :class => "pull-left margin1left margin1right"
            != select_tag(:view_for, options_for_select( [["Tous",0]] + filter_list_of_users(@clients) ), :class => "view_for pull-left margin1top margin1right", :style => "width:auto")
            
            - if current_user.is_admin?
              %form{ :action => reporting_account_documents_path, :method => "GET" }
                = label_tag :email, "Voir le reporting de :", :class => "pull-left margin3left margin1right"
                = text_field_tag :email, "", :class => "pull-left margin1right margin0bottom", :style => "width:200px;height:13px;font-size:11px;", :value => params[:email] ||= ""
                = submit_tag "Valider", :class => "pull-left btn margin0bottom", :style => "height:23px;padding-top:2px;font-size:11px;"
  .row
    .span12
      %table.table.table-condensed
        %thead
          %tr
            %th
              Utilisateur
            - months.each do |month|
              %th{ :style => "width:7.5%;text-align:center;" }
                #{month}
        %tbody
          - @clients.each do |client|
            %tr
              %td
                #{client.code}
              - periods = annual_periods_for_user(client,@year)
              - periods.each do |period|
                - if period
                  - if period.duration == 3
                    %td{ :style => "width:7.5%;text-align:center;", :colspan => 3 }
                      %a.do-show{ "href" => "#periodDialog" }
                        .period{ :id => "ids_#{client.id}_#{period.id}_#{period.start_at.month}", :class => "user_id_#{client.id} period_id_#{period.id} n_#{period.start_at.month}"}
                          0000|0000|00
                  - else
                    %td{ :style => "width:7.5%;text-align:center;" }
                      %a.do-show{ "href" => "#periodDialog" }
                        .period{ :id => "ids_#{client.id}_#{period.id}_#{period.start_at.month}", :class => "user_id_#{client.id} period_id_#{period.id} n_#{period.start_at.month}"}
                          0000|0000|00
                - else
                  %td{ :style => "width:7.5%;text-align:center;" }
                    \-
                    
.modal.fade{ :id=>"periodModal" }
  .modal-header
    %a{ :class=>"close", "data-dismiss"=>"modal" } ×
    %h3 Titre
  %form
    .modal-body
      %p
        %a.btn.prev{ :href => "#" }
          précédent
        %a.btn.next{ :href => "#" }
          suivant

:css
  .period{
    padding:1px 3px 2px;font-size:9px;font-weight:bold;color:#ffffff;text-transform:uppercase;background-color:#BBBBBB;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
  .period:hover{
    background-color:#999999;}
  .period.selected{border:1px solid green;}
  .period table td{
    height:10px;
    font-size:8px;}
    