= semantic_nested_form_for [:admin, @page] do |f|
  = f.inputs 'Informations' do
    = f.input :title, label: 'Titre'
    = f.input :title, label: 'Label'
    = f.input :position, as: String
    = f.input :tag, as: String, label: 'Libellé du type de page'
    = f.input :meta_description, as: :text, label: 'Meta description'
    = f.input :style, as: :text, label: 'Style (CSS)'

  = f.inputs ' ' do
    = f.input :is_footer, as: Boolean, label: 'Afficher dans le pied de page ?'
    = f.input :is_invisible, as: Boolean, label: 'Est visible ?'
    = f.input :is_for_preview, as: Boolean, label: 'Est visible pour la preview ?'

  - 1.times { @page.images.build }
  = f.inputs'Images' do
    = f.semantic_fields_for :images do |image|
      = image.inputs "Image" do
        = image.input :name, as: String, label: 'Nom'
        = image.input :description, as: String
        = image.input :link, as: String, label: 'URL'
        = image.input :position, as: String
        = image.input :is_invisible, as: Boolean, label: 'Est visible ?'
        = image.link_to_remove "Supprimer l'image"
    = f.link_to_add "Ajouter une image", :images

  - 1.times { @page.contents.build }
  = f.inputs 'Contenus' do
    = f.semantic_fields_for :contents do |content|
      = content.inputs 'Contenu' do
        = content.input :title, as: String, label: 'Titre'
        = content.input :text, as: :text, label: 'Contenu'
        = content.input :model, as: String, label: 'Modele'
        = content.input :position, as: String
        = content.input :tag, as: String, label: 'Libellé du type du contenu'
        = content.input :left_link_name, as: String, label: 'Commander'
        = content.input :left_link_url, as: String, label:'URL gauche'
        = content.input :right_link_name, as: String, label: 'Détails'
        = content.input :right_link_url, as: String, label: '/pages/'
        = content.input :is_invisible, as: Boolean, label: 'Est visible ?'
        = content.link_to_remove "Supprimer le contenu"
    = f.link_to_add "Ajouter du contenu", :contents
        
  = f.buttons do
    = f.commit_button
    = content_tag(:li, (link_to t('active_admin.cancel'), admin_pages_path), class: 'cancel')