.group
  %h3 Onglet  
  != f.label :title, "Nom de l'onglet *", :class => :label
  != f.text_field :title, :class => 'text_field'

  != f.label :position, "Position de l'onglet *", :class => :label
  != f.text_field :position, :class => 'text_field'
  
  %br
  != link_to_function image_tag("web-app-theme/cross.png", :alt => "Supprimer onglet") + "Supprimer onglet", "remove_fields(this)", :class => "button"
  != f.hidden_field :_destroy
  %br
  %br
  %br
  
  - page_content_items_count = 0
  != f.fields_for :page_content_items do |builder|
    != render :partial => "page_content_item_fields", :locals => {:f => builder}
    - page_content_items_count += 1
  
  %br
  != link_to_add_fields "contenu", f, "page_content_items"
  %input{ :type => "hidden", :name => "page_content_items_count", :value => "#{page_content_items_count}" }
  %br
  %br
