.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active!= link_to "All pages", admin_pages_path
      %li!= link_to "Add page", new_admin_page_path
  .content
    .inner
      - if(!@page_types.nil?)
        - @page_types.each do |type|
          %h2.title!= "#{type.title} (#{type.caption} - type #{type.number})"
          %table.table
            %tr
              %th Title
              %th Position
              %th Invisible?
              %th.last
                != link_to image_tag("web-app-theme/application_edit.png", :alt => "Edit"), edit_admin_page_type_path(type)
                |
                != link_to image_tag("web-app-theme/cross.png", :alt => "delete"), admin_page_type_path(type), :method => :delete, :confirm => "Êtes-vous sûr ?"
            - @pages.find_by_type(type.number).each do |page|
              %tr{:class => cycle("odd", "even", :name => "stripes")}
                %td!= page.title
                %td!= page.position
                %td
                  != check_box_tag 'is_invisible', page.is_invisible, page.is_invisible?, :class => "inplace", :id => page.id
                  != image_tag "lightbox-ico-loading.gif", :style => "display:none;", :id => "spinner_#{page.id}"
                %td.last
                  != link_to image_tag("web-app-theme/application_edit.png", :alt => "Edit"), edit_admin_page_path(page)
                  |
                  != link_to image_tag("web-app-theme/cross.png", :alt => "delete"), admin_page_path(page), :method => :delete, :confirm => "Êtes-vous sûr ?"
        %h2.title Toute les pages
        %table.table
          %tr
            %th Title
            %th Position
            %th Type
            %th.last
          - @pages.each do |page|
            %tr{:class => cycle("odd", "even", :name => "stripes")}
              %td!= page.title
              %td!= page.position
              %td!= page.content_type
              %td.last
                != link_to image_tag("web-app-theme/application_edit.png", :alt => "Edit"), edit_admin_page_path(page)
                |
                != link_to image_tag("web-app-theme/cross.png", :alt => "delete"), admin_page_path(page), :method => :delete, :confirm => "Êtes-vous sûr ?"
      - else
        %h2 Il n'y aucun type de page créér.
      != link_to image_tag("web-app-theme/application_edit.png", :alt => "Nouveau Type") + "Nouveau Type", new_admin_page_type_path, :class => "button"
      %br
      %br

- content_for :sidebar, render(:partial => 'sidebar')

:javascript
  $(document).ready(function () {
    $("input[type=checkbox].inplace").click(function(){
      uid = $(this).attr('id');
      node = $(this);
      url = "/admin/pages/" + uid + "/update_is_invisible_status";
      hsh = {value: $(this).is(':checked')};
      spinner_id = "#spinner_"+uid;
      $.ajax({
        url: url,
        data: hsh,
        dataType: "json",
        type: "POST",
        beforeSend: function() {
          node.hide();
          $(spinner_id).show();
        },
        success: function(data){
          $(spinner_id).hide();
          node.show();
        }
      });
    });

  });

