= render partial: 'navigation'

.row-fluid
  .span.well
    .pull-left
      %h2= @page.title
    .pull-right
      = link_to t('actions.edit'), edit_admin_page_path(@page), class: 'btn'
      = link_to t('actions.destroy'), admin_page_path(@page), data: { confirm: 'Voulez vous vraiment suprimer cette page ?' }, method: 'delete', class: 'btn'
    
.row-fluid
  .span9.well
    %table.table.table-bordered.table-striped
      %thead
        %tbody
          %tr
            %th= t('mongoid.models.page.attributes.title')
            %td= @page.title
          %tr
            %th= t('mongoid.models.page.attributes.label')
            %td= @page.label
          %tr
            %th= t('mongoid.models.page.attributes.position')
            %td= @page.position
          %tr
            %th= t('mongoid.models.page.attributes.is_visible')
            %td= @page.is_invisible? ? t('no_value') : t('yes_value')
          %tr
            %th= t('mongoid.models.page.attributes.tag')
            %td= @page.tag
      
       
      