.carousel-container.carousel.slide{ id: 'myCarousel' }
  .carousel-inner
    - if @homepage
      - @homepage.images.each_with_index do |image, index|
        - image_found = CmsImage.find_by_name(image.name)
        - if image_found && image_found.content
          .item{ class: ('active' if index == 0) }
            = image_tag "#{image_found.content.url}"
          
.container.margin2bottom
  .row{ id: 'offers' }
    - if @homepage
      != @homepage.text
      - @homepage.contents.by_position.visible.each do |content|
        .span3
          .pave{ class: ("well gray" if content.model.to_i != 0) }
            .content!= content.text
            .commander.pull-left
              - if content.left_link_name.present?
                = link_to "#{content.left_link_name}", "#{content.left_link_url}"
            .details.pull-right
              - if content.right_link_name.present?
                = link_to "#{content.right_link_name}", "#{content.right_link_url}"