.carousel-container.carousel.slide{ :id=>"myCarousel" }
  .carousel-inner
    - @slides.each_with_index do |slide, index|
      - image = @cms_images.find_by_name(slide.name)
      - if image
        .item{ :class => ("active" if index == 0) }
          %img{ :src=>"#{image.content.url}" }
          
.container.margin2bottom
  .row{ :id=>"offers" }
    .row
      != @homepage.content rescue ""
    - @pavets.each do |pavet|
      .span3
        .pave{ :class => ("well gray" if pavet.model.to_i != 0) }
          .content!= pavet.content
          .commander.pull-left
            - if pavet.is_left_active
              != link_to "#{pavet.left_link_name}", "#{pavet.left_link_url}"
          .details.pull-right
            - if pavet.is_right_active
              != link_to "#{pavet.right_link_name}", "#{pavet.right_link_url}"