.modal.fade{ :id=>"uploadDialog" }
  .modal-header
    %a{ :class=>"close", "data-dismiss"=>"modal" } ×
    %h3 Téléverser des documents
  .modal-body
    %p{ :style => "text-align:right" }
      Formats de fichiers acceptés : 
      %span{ :class => "label label-info", :style => "margin-right:5px;"} pdf
      %span{ :class => "label label-info", :style => "margin-right:5px;" } jpeg
      %span{ :class => "label label-info", :style => "margin-right:5px;" } jpg
      %span{ :class => "label label-info", :style => "margin-right:5px;" } gif
      %span{ :class => "label label-info", :style => "margin-right:5px;" } png
      %span{ :class => "label label-info", :style => "margin-right:5px;" } bmp
      %span{ :class => "label label-info", :style => "margin-right:5px;" } tiff
      %span{ :class => "label label-info" } tif
      %br
      %br
      %span.red
        PDF protégés non acceptés.
      %br
      %br
    %form{ :id => "fileupload", :action => "/account/documents/upload", :method => "POST", :enctype => "multipart/form-data" }
      = label_tag :account_book_type, "Type de document : ", :class => "pull-left padding1right", :style => "font-weight:900;"
      = select_tag "account_book_type", options_for_select(account_book_types_option), :class => 'text_field', :id => "account_book_type", :style =>"position:relative;bottom:5px;font-size:11px;"
      %br
      = label_tag :for_current_month, "Période concerné : ", :class => "pull-left padding1right", :style => "font-weight:900;"
      - if current_user.scan_subscriptions.last.period_duration == 3
        - sCurrentPeriod = "T#{quarterly_of_month(Time.now.month)}"
        - sPreviousPeriod = "T#{quarterly_of_month((Time.now - 3.months).month)}"
      - else
        - sCurrentPeriod = "%0.2d" % Time.now.month
        - sPreviousPeriod = "%0.2d" % 1.month.ago.month
      - sYear1 = Time.now.year.to_s
      - sYear2 = (Time.now - 1.month).year.to_s
      = select_tag "for_current_period", options_for_select([[sCurrentPeriod + " " + sYear1,"true"],[sPreviousPeriod + " " + sYear2,"false"]]), :class => 'text_field', :id => :for_current_month, :style =>"position:relative;bottom:5px;font-size:11px;"
      %br
      %span
        %span.label.label-warning.margin1right
          Attention :
        Votre document ne pourra être attribué à la période précédante que si votre envoi "papier" n'a pas encore été traité par iDocus.
      %br
      %br
      :plain
        <div class="row fileupload-buttonbar">
            <div class="span6">
                <span class="btn btn-success fileinput-button">
                    <span><i class="icon-plus icon-white"></i> Ajouter des fichiers...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i> Démarrer
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i> Annuler
                </button>
            </div>
            <div class="span6">
                <div class="progress progress-success progress-striped active fade">
                    <div class="bar" style="width:0%;"></div>
                </div>
            </div>
        </div>
        <br>
        <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
  .modal-footer
    %a{ :href=>"#", :class=>"modal-close btn" } Fermer
  :plain
    <script>
      var fileUploadErrors = {
        maxFileSize: 'File is too big',
        minFileSize: 'File is too small',
        acceptFileTypes: 'Filetype not allowed',
        maxNumberOfFiles: 'Max number of files exceeded',
        uploadedBytes: 'Uploaded bytes exceed file size',
        emptyResult: 'Empty file upload result'
      };
    </script>
    <script id="template-upload" type="text/html">
    {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
        <tr class="template-upload fade">
            <td class="name">{%=file.name%}</td>
            <td class="size">{%=o.formatFileSize(file.size)%}</td>
            {% if (file.error) { %}
                <td class="error" colspan="2"><span class="label label-important">Erreur</span> {%=fileUploadErrors[file.error] || file.error%}</td>
            {% } else if (o.files.valid && !i) { %}
                <td>
                    <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
                </td>
                <td class="start">{% if (!o.options.autoUpload) { %}
                    <button class="btn btn-primary">
                        <i class="icon-upload icon-white"></i> Démarrer
                    </button>
                {% } %}</td>
            {% } else { %}
                <td colspan="2"></td>
            {% } %}
            <td class="cancel">{% if (!i) { %}
                <button class="btn btn-warning">
                    <i class="icon-ban-circle icon-white"></i> Annuler
                </button>
            {% } %}</td>
        </tr>
    {% } %}
    </script>
    <script id="template-download" type="text/html">
    {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
        <tr class="template-download fade">
            {% if (file.error) { %}
                <td></td>
                <td class="name">{%=file.name%}</td>
                <td class="error" colspan="2"><span class="label label-important">Erreur</span> {%=fileUploadErrors[file.error] || file.error%}</td>
            {% } else { %}
                <td class="created_at">{%=file.created_at%}</td>
                <td class="name">{%=file.name%}</td>
                <td class="new_name">{%=file.new_name%}</td>
                <td colspan="2"></td>
            {% } %}
        </tr>
    {% } %}
    </script>
    
    
.modal.fade{ :id=>"sharingDialog" }
  .modal-header
    %a{ :class=>"close", "data-dismiss"=>"modal" } ×
    %h3 Gestion des partages
  %form
    .modal-body
      %h3 Départager
      %p
        Pour refuser le partage, d'un autre utilisateur, de ce(s) document(s), cliquer sur le lien suivant : 
        = link_to "Départager", "#", :id => "unsharingButton"
      %p.unsharing.length_alert.margin1top
      %br
      %h3 Partager
      %p
        Pour partager ce(s) document(s) entrer l'identifiant du/des compte(s) concerné(s), séparer les identifiants des comptes avec des espaces.
        %br
        Identifiant(s) : 
        != text_field_tag :names, nil, :id => "sharing_names"
      %p.sharing.names_alert
      %p.sharing.length_alert.margin1top
    .modal-footer
      %a{ :href=>"#", :class=>"modal-close btn" } Fermer
      %input#sharingButton.btn{ :type => "submit", :value => "Ok" }

.modal.fade{ :id=>"documentsTaggingDialog" }
  .modal-header
    %a{ :class=>"close", "data-dismiss"=>"modal" } ×
    %h3 Gestion des tags
  %form
    .modal-body
      %p
        Pour ajouter plusieurs tags à ce(s) document(s), separer les tags avec des espaces.
        Pour en retirer ajouter '-' devant le tag.
        %br
        Nom du tags
        %br
        != text_field_tag :tags, nil, :id => "documentsTags"
      %p.names_alert
      %p.length_alert
    .modal-footer
      %a{ :href=>"#", :class=>"modal-close btn" } Fermer
      %input#documentsTaggingButton.btn{ :type => "submit", :value => "Ok" }
    
.modal.fade{ :id=>"pagesTaggingDialog" }
  .modal-header
    %a{ :class=>"close", "data-dismiss"=>"modal" } ×
    %h3 Gestion des tags
  %form
    .modal-body
      %p
        Pour ajouter plusieurs tags à ce(s) document(s), separer les tags avec des espaces.
        Pour en retirer ajouter '-' devant le tag.
        %br
        Nom du tags
        %br
        != text_field_tag :tags, nil, :id => "pagesTags"
      %p.names_alert
      %p.length_alert
    .modal-footer
      %a{ :href=>"#", :class=>"modal-close btn" } Fermer
      %input#pagesTaggingButton.btn{ :type => "submit", :value => "Ok" }
    
.modal.fade{ :id=>"selectionTaggingDialog" }
  .modal-header
    %a{ :class=>"close", "data-dismiss"=>"modal" } ×
    %h3 Gestion des tags
  %form
    .modal-body
      %p
        Pour ajouter plusieurs tags à ce(s) document(s), separer les tags avec des espaces.
        Pour en retirer ajouter '-' devant le tag.
        %br
        Nom du tags
        %br
        != text_field_tag :tags, nil, :id => "selectionsTags"
      %p.names_alert
      %p.length_alert
    .modal-footer
      %a{ :href=>"#", :class=>"modal-close btn" } Fermer
      %input#selectionsTaggingButton.btn{ :type => "submit", :value => "Ok" }
    

.modal.fade{ :id=>"compositionDialog" }
  .modal-header
    %a{ :class=>"close", "data-dismiss"=>"modal" } ×
    %h3 Composer
  %form
    .modal-body
      %p
        Nom de la composition
        %br
        != text_field_tag :composition, nil, :id => "composition_name"
      %p.names_alert
      %p.length_alert
    .modal-footer
      %a{ :href=>"#", :class=>"modal-close btn" } Fermer
      %input#compositionButton.btn{ :type => "submit", :value => "Ok" }

.modal.fade{ :id=>"shareDialog" }
  .modal-header
    %a{ :class=>"close", "data-dismiss"=>"modal" } ×
    %h3 Envoyer vers mon stockage externe
  %form
    .modal-body
      %p
        .warn_all_file_selected
          Attention !
          %br
          Vous n'avez sélectionné aucun fichier.
          %br
          Si vous validez cette fenêtre, vous allez envoyer vers vos services de stockage externe
          %span.important
            l'intégralité
          de vos documents.
        .warn_selected_file
          En validant cette fenêtre, vous allez envoyer vers vos services de stockage externe le(s) document(s) que vous avez sélectionné(s).
        Selon le volume, cette action peut prendre du temps.
      != radio_button_tag :delivery_type, Pack::ALL, true, :class => "pull-left", :style => "margin-right: 5px;"
      != label_tag "delivery_type_#{Pack::ALL}", "Document global et pièces séparées"
      != radio_button_tag :delivery_type, Pack::ORIGINAL_ONLY, false, :class => "pull-left", :style => "margin-right: 5px;"
      != label_tag "delivery_type_#{Pack::ORIGINAL_ONLY}", "Document global seulement"
      != radio_button_tag :delivery_type, Pack::PIECES_ONLY, false, :class => "pull-left", :style => "margin-right: 5px;"
      != label_tag "delivery_type_#{Pack::PIECES_ONLY}", "Pièces séparées seulement"
    .modal-footer
      %a#deliverButton.btn{ :href => "#" }
        Valider