.modal.fade{ :id=>"uploadDialog" }
  .modal-header
    %a{ :class=>"close", "data-dismiss"=>"modal" } ×
    %h3 Téléverser des documents
  .modal-body
    %p{ :style => "text-align:right" }
      Formats de fichiers acceptés :
      - UploadedDocument::VALID_EXTENSION.each do |extension|
        %span{ class: 'label label-info', style: 'margin-right:5px;' }= extension[1..-1]
      %br
      %br
      %span.label.label-important ATTENTION
      %span.red
        \: Fichiers de plus de 100 pages ou plus de 10 mégas non acceptés. PDF protégés non acceptés.
      %br
      %br
    %form#fileupload.form.form-horizontal{ action: '/account/documents/upload', method: 'POST', enctype: 'multipart/form-data', data: { params: file_upload_params.to_json } }
      - if @user.organization && @user.is_prescriber
        .control-group
          = label_tag :h_file_code, 'Code client : ', class: 'control-label', style: 'font-weight:900;'
          .controls
            = select_tag :h_file_code, options_for_select(@user.customers.active.asc(:code).map{|e| [e.short_info, e.code]}), id: :h_file_code, style: 'font-size:11px;'
            = hidden_field_tag :file_code
      .control-group
        = label_tag :h_file_account_book_type, 'Type de document : ', class: 'control-label', style: 'font-weight:900;'
        .controls
          = select_tag :h_file_account_book_type, @user.is_prescriber ? '' : options_for_select(account_book_types_option), id: :h_file_account_book_type, style: 'font-size:11px;'
          = hidden_field_tag :file_account_book_type
      .control-group.prev_period_offset
        = label_tag :h_file_prev_period_offset, 'Période concerné : ', class: 'control-label', style: 'font-weight:900;'
        .controls
          = select_tag :h_file_prev_period_offset, @user.is_prescriber ? '' : options_for_select(options_for_period), id: :h_file_prev_period_offset, class: 'text_field', style: 'font-size:11px;'
          = hidden_field_tag :file_prev_period_offset
          - if !@user.is_prescriber && @period_service.prev_expires_at
            %span.help-block
              %span.label.label-warning.margin1right
                Attention :
              Pour des raisons de clôture de période comptable, vous ne pouvez plus affecter de documents à la période #{period_option_label(@period_service.period_duration, Time.now - @period_service.period_duration.month)} après le #{l(@period_service.prev_expires_at, format: '%d %B %Y à %H:%M')}.
          - else
            %span.help-block{ style: 'display:none' }
              %span.label.label-warning.margin1right
                Attention :
              Pour des raisons de clôture de période comptable, vous ne pouvez plus affecter de documents à la période
              %span.period
              après le
              %span.date
              \.
      :plain
        <div class="row fileupload-buttonbar">
            <div class="span6">
                <span class="btn btn-success fileinput-button">
                    <span><i class="icon-plus icon-white"></i> Ajouter des fichiers...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i> Démarrer
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i> Annuler
                </button>
            </div>
            <div class="span6">
                <div class="progress progress-success progress-striped active fade">
                    <div class="bar" style="width:0%;"></div>
                </div>
            </div>
        </div>
        <br>
        <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
  .modal-footer
    %a{ :class=>"modal-close btn" } Fermer
  :plain
    <script>
      var fileUploadErrors = {
        maxFileSize: 'File is too big',
        minFileSize: 'File is too small',
        acceptFileTypes: 'Filetype not allowed',
        maxNumberOfFiles: 'Max number of files exceeded',
        uploadedBytes: 'Uploaded bytes exceed file size',
        emptyResult: 'Empty file upload result'
      };
    </script>
    <script id="template-upload" type="text/html">
    {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
        <tr class="template-upload fade">
            <td class="name">{%=file.name%}</td>
            <td class="size">{%=o.formatFileSize(file.size)%}</td>
            {% if (file.error) { %}
                <td class="error" colspan="2"><span class="label label-important">Erreur</span> {%=fileUploadErrors[file.error] || file.error%}</td>
            {% } else if (o.files.valid && !i) { %}
                <td>
                    <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
                </td>
                <td class="start">{% if (!o.options.autoUpload) { %}
                    <button class="btn btn-primary">
                        <i class="icon-upload icon-white"></i> Démarrer
                    </button>
                {% } %}</td>
            {% } else { %}
                <td colspan="2"></td>
            {% } %}
            <td class="cancel">{% if (!i) { %}
                <button class="btn btn-warning">
                    <i class="icon-ban-circle icon-white"></i> Annuler
                </button>
            {% } %}</td>
        </tr>
    {% } %}
    </script>
    <script id="template-download" type="text/html">
    {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
        <tr class="template-download fade">
            {% if (file.error) { %}
                <td style="width:110px;"></td>
                <td class="name">{%=file.name%}</td>
                <td class="error" colspan="3"><span class="label label-important">Erreur</span> {%=fileUploadErrors[file.error] || file.error%}</td>
            {% } else { %}
                <td class="created_at" style="width:110px;">{%=file.created_at%}</td>
                <td class="name">{%=file.name%}</td>
                <td class="new_name">{%=file.new_name%}</td>
                <td class="message" colspan="2">{%=file.message%}</td>
            {% } %}
        </tr>
    {% } %}
    </script>

.modal.fade{ :id=>"documentsTaggingDialog" }
  .modal-header
    %a{ :class=>"close", "data-dismiss"=>"modal" } ×
    %h3 Gestion des tags
  %form
    .modal-body
      %p
        Pour ajouter plusieurs tags à ce(s) document(s), separer les tags avec des espaces.
        Pour en retirer ajouter '-' devant le tag.
        %br
        Nom du tags
        %br
        != text_field_tag :tags, nil, :id => "documentsTags"
      %p.names_alert
      %p.length_alert
    .modal-footer
      %a{ :class=>"modal-close btn" } Fermer
      %input#documentsTaggingButton.btn.btn-primary{ :type => "submit", :value => "Ok" }

.modal.fade{ :id=>"pagesTaggingDialog" }
  .modal-header
    %a{ :class=>"close", "data-dismiss"=>"modal" } ×
    %h3 Gestion des tags
  %form
    .modal-body
      %p
        Pour ajouter plusieurs tags à ce(s) document(s), separer les tags avec des espaces.
        Pour en retirer ajouter '-' devant le tag.
        %br
        Nom du tags
        %br
        != text_field_tag :tags, nil, :id => "pagesTags"
      %p.names_alert
      %p.length_alert
    .modal-footer
      %a{ :class=>"modal-close btn" } Fermer
      %input#pagesTaggingButton.btn.btn-primary{ :type => "submit", :value => "Ok" }

.modal.fade{ :id=>"selectionTaggingDialog" }
  .modal-header
    %a{ :class=>"close", "data-dismiss"=>"modal" } ×
    %h3 Gestion des tags
  %form
    .modal-body
      %p
        Pour ajouter plusieurs tags à ce(s) document(s), separer les tags avec des espaces.
        Pour en retirer ajouter '-' devant le tag.
        %br
        Nom du tags
        %br
        != text_field_tag :tags, nil, :id => "selectionsTags"
      %p.names_alert
      %p.length_alert
    .modal-footer
      %a{ :class=>"modal-close btn" } Fermer
      %input#selectionsTaggingButton.btn.btn-primary{ :type => "submit", :value => "Ok" }

.modal.fade{ :id=>"compositionDialog" }
  .modal-header
    %a{ :class=>"close", "data-dismiss"=>"modal" } ×
    %h3 Composer
  %form
    .modal-body
      %p
        Nom de la composition
        %br
        != text_field_tag :composition, nil, :id => "composition_name"
      %p.names_alert
      %p.length_alert
    .modal-footer
      %a{ :class=>"modal-close btn" } Fermer
      %input#compositionButton.btn.btn-primary{ :type => "submit", :value => "Ok" }

.modal.fade{ :id=>"shareDialog" }
  .modal-header
    %a{ :class=>"close", "data-dismiss"=>"modal" } ×
    %h3 Envoyer vers mon stockage externe
  %form
    .modal-body
      %p
        .warn_all_file_selected
          Attention !
          %br
          Vous n'avez sélectionné aucun fichier.
          %br
          Si vous validez cette fenêtre, vous allez envoyer vers vos services de stockage externe
          %span.important
            l'intégralité
          de vos documents.
        .warn_selected_file
          En validant cette fenêtre, vous allez envoyer vers vos services de stockage externe le(s) document(s) que vous avez sélectionné(s).
        Selon le volume, cette action peut prendre du temps.
      != radio_button_tag :delivery_type, FileDeliveryInit::RemoteFile::ALL, true, :class => "pull-left", :style => "margin-right: 5px;"
      != label_tag "delivery_type_#{FileDeliveryInit::RemoteFile::ALL}", "Document global et pièces séparées"
      != radio_button_tag :delivery_type, FileDeliveryInit::RemoteFile::ORIGINAL_ONLY, false, :class => "pull-left", :style => "margin-right: 5px;"
      != label_tag "delivery_type_#{FileDeliveryInit::RemoteFile::ORIGINAL_ONLY}", "Document global seulement"
      != radio_button_tag :delivery_type, FileDeliveryInit::RemoteFile::PIECES_ONLY, false, :class => "pull-left", :style => "margin-right: 5px;"
      != label_tag "delivery_type_#{FileDeliveryInit::RemoteFile::PIECES_ONLY}", "Pièces séparées seulement"
    .modal-footer
      %a#deliverButton.btn.btn-primary{ :href => "#" }
        Valider
