- document_class = @is_composition ? "composition" : "alone"

%li{ :id => "document_#{document.id}", :class => "#{document_class} pages" }
  - unless document.dirty
    - link_to_large = document.content.url(:large)
    - link_to_thumb = document.content.url(:thumb)
  - else
    - link_to_large = link_to_thumb = 'application/processing.png'

  - page_number = document.content_file_name.scan(/(\d{3}).pdf/)[0][0].to_i rescue 1
  - pieces_name = document.pack.divisions.pieces.where(:start.lte => page_number, :end.gte => page_number).first.name.gsub('_',' ')
  
  %input{ :type => :hidden, :name => :name, :value => "#{pieces_name}" }
  %input{ :type => :hidden, :name => :page_number, :value => "#{page_number}" }
  %input{ :type => :hidden, :name => :tags, :value => "#{tags_of(document,@all_tags)}" }
  - if !@is_composition
    = link_to "", document.content.url, :class => "zoom do-showPage", :title => "Visualiser la page"
  .toolbar
    %ul.margin0
      %li.download
        != link_to "", document.content.url, :class => "download", :title => "Télécharger", :target => "_blank"
      - if @is_composition
        %li.delete_composition
          %a.delete.do-removePageFromSelection{ :href => "#", :title => "Supprimer" }
      - else
        %li.selector
          != link_to "", "#", :class => "select do-selectPage", :title => "Sélectionner pour la composition"
  - if @is_composition
    .handle{ :title => "Déplacer" }
  .pagethumb
    .thumb
      != image_tag link_to_thumb
  .foot
    %span
