%li{ :id => "original_#{pack.original_document_id}_#{pack.id}", :class => (pack.owner == @user ? 'pack own' : 'pack shared') }
  %span.action
    %a.custom_popover{ :href => "#", "data-content" => html_pack_info(pack) }
      = glyphicon('info')
    - if @user.active?
      %a.do-select.do-tooltip{ :href => "#", :title => "sélectionner" }
        = glyphicon('check')
    %a.do-tooltip.download.hide{ :href => pack.cloud_content_object.url, :title => "Télécharger", :target => "_blank" }
      = glyphicon('collapse-down')
    %a.do-tooltip.zip_download.hide{ :href => archive_account_document_path(pack.id), :title => "Télécharger une archive zip", :target => "_blank"}
      = glyphicon('data-transfer-download')
  %span.name
    %a.do-show-pack.pack_name_selection{ :href => "#", data: { user_code: pack.owner.code, pack_journal: (pack.journal.try(:name) || pack.name.split[1]), uses_ibiza_analytics: pack.owner.uses_ibiza_analytics? ? 1 : 0 } }= pack.name.sub('all','')
    - unless pack.is_fully_processed
      %a.do-tooltip{ :title => "document en cours de traitement"}
        = glyphicon('cog')
    - if pack.reports.not_delivered.not_locked.count > 0
      %a.do-tooltip{ :title => "Ecritures comptable non livrées"}
        = glyphicon('media-pause')
