%li{ :id => "original_#{report.id}_#{report.id}", :class => (report.user == @user ? 'report own' : 'report shared') }
  %span.action
    %a.custom_popover{ :href => "#", "data-content" => html_report_info(report) }
      = glyphicon('info')
  %span.name
    %a.do-show-report.report_name_selection{ :href => "#" }= report.name.sub('all','')
    - if report.is_not_delivered? && !report.is_locked
      %a.do-tooltip{ :title => "Ecritures comptables non livrées"}
        = glyphicon('media-pause')