%li{ :id => "document_#{temp_document.id}", :class => "alone pieces" }
  - if temp_document.mongo_id
    - filepath = "#{Rails.root}/files/#{Rails.env}/#{temp_document.class.table_name}/contents/#{temp_document.mongo_id}/thumb/#{temp_document.content_file_name}"
  - else
    - filepath = "#{Rails.root}/files/#{Rails.env}/#{temp_document.class.table_name}/contents/#{temp_document.id}/thumb/#{temp_document.content_file_name}"

  - unless !File.exist?(filepath)
    - link_to_thumb = temp_document.content.url(:thumb)
  - else
    - link_to_thumb = 'application/processing.png'

  %input{ :type => :hidden, :name => :name, :value => "#{temp_document.original_file_name}" }
  %input{ :type => :hidden, :name => :page_number, :value => "#{temp_document.position}" }
  = link_to "", temp_document.content.url + "&force_temp_document=true", :class => "zoom do-showPage", :title => "Visualiser la piece"
  .pagethumb
    .thumb
      != image_tag link_to_thumb
  .foot
    %span
