%li{ :id => "document_#{temp_document.id}", :class => "alone pieces" }
  - unless !File.exist?(temp_document.content.path(:thumb))
    - link_to_thumb = temp_document.content.url(:thumb)
  - else
    - link_to_thumb = 'application/processing.png'

  %input{ :type => :hidden, :name => :name, :value => "#{temp_document.original_file_name}" }
  %input{ :type => :hidden, :name => :page_number, :value => "#{temp_document.position}" }
  = link_to "", temp_document.content.url, :class => "zoom do-showPage", :title => "Visualiser la piece"
  .pagethumb
    .thumb
      != image_tag link_to_thumb
  .foot
    %span
