- active = true
- is_detail_authorized = current_user.prescriber.is_detail_authorized rescue true
- active = false if one_monthly.documents.empty? and one_monthly.find_or_create_subscription_detail.product_order.nil? || !is_detail_authorized
  
.user{ :class => "user_#{one_monthly.reporting.customer.id} #{active ? 'active' : ''}" }
  .header
    .actiongroup.first.pull-left
      - unless one_monthly.documents.empty? and one_monthly.find_or_create_subscription_detail.product_order.nil?
        %a.do-showThis.pull-left{ :href => "#", :style => "display:none;" }
          +
        %a.do-hideThis.pull-left{ :href => "#" }
          \-
    .title.pull-left
      %h3
        != format_user one_monthly.reporting.customer
    .state.pull-right
      - ustate = one_monthly.reporting.find_or_create_monthly_for(@year,index+1).delivery.state rescue "nothing"
      - state = Reporting::Delivery::STATES.index{|i| i[1] ==  ustate}
      - if state != 0
        - @total_state[state - 1] += 1
      .state1.pull-left{ :class => ("active" if state >= 1) }
        attendus
      .state2.pull-left{ :class => ("active" if state >= 2) }
        reçus
      .state3.pull-left{ :class => ("active" if state == 3) }
        traités
  - if active
    .content.margin1top{ :style => "min-height:#{one_monthly.documents.count * 20 + 60}px" }
      .row
        .pull-left
          .span7
            %table{ :class => "document_#{one_monthly.month}" }
              %tr
                %th.first.documents Nom des documents
                %th.second.aligncenter Pièces
                %th.second.aligncenter Feuilles
                %th.second.aligncenter Pages
                %th.second Attaches  
                %th.second Hors format
              - total_pieces = 0
              - total_sheets = 0
              - total_pages = 0
              - total_uploaded_pieces = 0
              - total_uploaded_sheets = 0
              - total_uploaded_pages = 0
              - one_monthly.documents.each do |document|
                %tr
                  %td.first.documents
                    != document.name
                  %td.second.aligncenter
                    != document.pieces
                    (#{document.pieces - document.uploaded_pieces rescue document.pieces},
                    #{document.uploaded_pieces rescue 0})
                    - total_pieces += document.pieces - document.uploaded_pieces rescue document.pieces
                    - total_uploaded_pieces += document.uploaded_pieces rescue 0
                  %td.second.aligncenter
                    != document.sheets
                    (#{document.sheets - document.uploaded_sheets rescue document.sheets},
                    \-)
                    - total_sheets += document.sheets - document.uploaded_sheets rescue document.sheets
                    - total_uploaded_sheets += document.uploaded_sheets rescue 0
                  %td.second.aligncenter
                    != document.pages
                    (#{document.pages - document.uploaded_pages rescue document.pages},
                    #{document.uploaded_pages rescue 0})
                    - total_pages += document.pages - document.uploaded_pages rescue document.pages
                    - total_uploaded_pages += document.uploaded_pages rescue 0
              %tr
                %td.first.documents
                  %b
                    Total
                %td.second.aligncenter
                  %b
                    != total_pieces + total_uploaded_pieces
                    (#{total_pieces},
                    #{total_uploaded_pieces})
                %td.second.aligncenter
                  %b
                    != total_sheets
                    (#{total_sheets},
                    \-)
                %td.second.aligncenter
                  %b
                    != total_pages + total_uploaded_pages
                    (#{total_pages},
                    #{total_uploaded_pages})
                %td.second
                %td.second
                - @total_pieces_per_month += total_pieces
                - @total_sheets_per_month += total_sheets
                - @total_pages_per_month += total_pages
                - @total_uploaded_pieces_per_month += total_uploaded_pieces
                - @total_uploaded_sheets_per_month += total_uploaded_sheets
                - @total_uploaded_pages_per_month += total_uploaded_pages
              %tr
                %td.first.documents.alignleft
                  %i Dépassement
                %td.second.aligncenter
                %td.second.aligncenter
                  - excess_sheets = total_pieces - one_monthly.max_sheets_authorized rescue 0
                  - excess_sheets = excess_sheets > 0 ? excess_sheets : 0
                  - @total_excess_sheets += excess_sheets
                  %i!= excess_sheets
                %td.second.aligncenter
                  - excess_uploaded_pages = total_uploaded_pages - one_monthly.max_uploaded_pages_authorized rescue 0
                  - excess_uploaded_pages = excess_uploaded_pages > 0 ? excess_uploaded_pages : 0
                  - @total_excess_uploaded_pages += excess_uploaded_pages
                  %i!= excess_uploaded_pages
                %td.second.aligncenter
                %td.second.aligncenter
        .pull-right
          .span4
            - if current_user.is_prescriber || current_user.is_admin || is_detail_authorized
              != render :partial => "subscription_detail.html.haml", :locals => { :index => index, :one_monthly => one_monthly }