//DocumentComposer widget
#documentcomposer
  //Actionbar
  .actionbar
    .feedback.inactive.floattoleft.margin1left
      %span.out
        Aucun traitement
    %label.filterlabel.floattoleft.margin2top.margin1right.margin1left{ :for => :filtre }
      Filtrer sur : 
    %input.floattoleft{ :type => :text, :id => :filter, :name => :filter }/
    %input.floattoleft.margin1left.margin015top{ :class => :visibility, :name => :tags, :type => :checkbox }/
    %span.floattoleft.margin015top
      Afficher les tags
    %a.do-growlLegend.floattoleft.margin2left.margin015top{ :href => "#" }
      %span
        Légende
    %a.floattoleft.margin2left.margin015top{ :href => reporting_account_documents_path, :target => "_blank" }
      %span
        Reporting
  //Page browser
  .pagesbrowser.scrollpane
    .titlebar.orders_scanned_title.margin1bottom
      %a.do-showDocuments.floattoleft.margin1right.margin1top{ :href => "#", :title => "Afficher/Cacher les documents"}
        %span.visibility
          Afficher
      %h1.floattoleft.margin07top
        %span
          documents
      %a.do-openNewSharingDialog.floattoright.margin1right.margin1top.inactive{ :href => "#", :class => @order.present? ? '' : 'inactive' }
        %span
          Partager
      %a.do-openNewDocumentsTaggingDialog.floattoright.margin1right.margin1top.inactive{ :href => "#", :class => @order.present? ? '' : 'inactive' }
        %span
          Tagger
      %span.floattoright.margin2left.margin1right.margin1top
        Action :
      %a.do-deselectAllVisible.floattoright.margin1right.margin1top{ :href => "#" }
        %span
          Aucun
      %a.do-selectAllVisible.floattoright.margin1right.margin1top{ :href => "#" }
        %span
          Tous
      %span.floattoright.margin2left.margin1right.margin1top
        Sélection :
      %select.floattoright.margin1right.margin07top{ :class => :per_page, :id => :per_page, :name => :per_page }
        %option{ :value => "20", :selected => :selected }
          20
        %option{ :value => "50" }
          50
        %option{ :value => "100" }
          100
      %label.floattoright.margin1right.margin015top{ :for => :per_page }
        par :
      %select.floattoright.margin1right.margin07top{ :id => :document_owner_list, :name => :document_owner_list }
        %option{ :value => :all }
          tous
        %option{ :value => :self }
          qui m'appartiennent
        - order_ids = []
        - Order.where(:user_id => current_user.id).each do |order|
          - order_ids << order.id
        - users = []
        - Pack.where(:user_ids => current_user.id).not_in(:order_id => order_ids).entries.each do |pack|
          - users << pack.order.user
        - users_uniq = users.uniq
        - users_uniq.each do |user|
          %option{ :value => "#{user.id}" }
            - if user.company
              != user.company + " - " + user.email
            - else
              #{user.email}
              
      %label.floattoright.margin1right.margin015top{ :for => :document_owner_list }
        Afficher les documents :
    %ul.documentslist.clearfix
      != render :partial => "pack", :collection => @packs
      
    %div.clear.margin2top.aligncenter.pagination
      != will_paginate( @packs, :previous_label => "&laquo; précedent", :next_label => "suivant &raquo;") if @packs
      %input{ :type => :hidden, :name => :packs_count, :value => "#{@packs_count}" }
    
    .titlebar.pages_title.margin2top
      %a.do-showPages.floattoleft.margin1right.margin1top{ :href => "#", :title => "Afficher/Cacher les pages"}
        %span.visibility
          Afficher
      %h1.floattoleft.margin07top
        %span
          Pages
      %a.do-openNewPagesTaggingDialog.floattoright.margin1right.margin1top.inactive{ :href => "#", :class => @order.present? ? '' : 'inactive' }
        %span
          Tagger
      %span.floattoright.margin2left.margin1right.margin1top
        Action :
      %a.do-deselectAllPage.floattoright.margin1right.margin1top{ :href => "#" }
        %span
          Aucune
      %a.do-selectAllPage.floattoright.margin1right.margin1top{ :href => "#" }
        %span
          Toutes
      %span.floattoright.margin2left.margin1right.margin1top
        Sélection :
    %ul.pageslist.all.clearfix
    %ul.pageslist.find_result.clearfix
    .titlebar.composition_title.margin2top
      %a.do-showSelection.floattoleft.margin1right.margin1top{ :href => "#", :title => "Afficher/Cacher la sélection"}
        %span.visibility
          Afficher
      %h1.floattoleft.margin1bottom.margin07top
        %span
          Sélection
      %a.do-openNewCompositionDialog.floattoright.margin1right.margin1top.inactive{ :href => "#" }
        %span
          Composer
      %span.floattoright.margin2left.margin1right.margin1top
        Action :
    %ul.pageslist.composition.clearfix
      - if @composition
        - @documents = @composition
        - @is_composition = true
        != render @documents
        - @is_composition = false

.hide
  .newSharingDialog
    %p
      Identifiant(s)
      %br
      != text_field_tag :name, nil, :id => "sharing_name"
      != image_tag "application/spinner_gray_alpha.gif", :id => "new_sharing_spinner", :class => "hide"
      %br
      Pour partager ce(s) document(s) avec plusieurs utilisateurs, separer les identifiants avec des espaces.

.hide
  .newTaggingDialog
    %p
      Nom du tags
      %br
      != text_field_tag :tags, nil, :id => "tags_name"
      != image_tag "application/spinner_gray_alpha.gif", :id => "new_tagging_spinner", :class => "hide"
      %br
      Pour ajouter plusieurs tags à ce(s) document(s), separer les tags avec des espaces.
      Pour en retirer ajouter '-' devant le tag.

.hide
  .newCompositionDialog
    %p
      Nom de la composition
      %br
      != text_field_tag :composition, nil, :id => "composition_name"
      != image_tag "application/spinner_gray_alpha.gif", :id => "new_composition_spinner", :class => "hide"
