.container-fluid.padding12bottom
  .row
    .span12.alerts
  .row-fluid
    .span12
      .actionbar.well.padding1top.margin1bottom
        .feedback.inactive.pull-left
          %span.out
            Aucun traitement
        = label_tag :filter, "Filtre :", :class => "pull-left"
        = text_field_tag :filter, :id => :filter, :class => "pull-left"
        
        = label_tag :document_owner_list, "Afficher les documents :", :class => "pull-left margin1left"
        = select_tag :document_owner_list, options_for_select([["tous","all"],["qui m'appartiennent","self"]]+linked_users_option), :class => "view_for pull-left wauto margin05left margin0bottom"
          
        = label_tag :per_page, "par :", :class => "pull-left margin1left"
        = select_tag :per_page, options_for_select([["20",20],["50",50],["100",100]]), :class => "per_page pull-left w50 margin1left"
        
        .pull-right
          %a{ :href => "#", :class => "toggle-qtip" } Afficher/Cacher l'aide
          |
          %a{ "data-toggle"=>"modal", :href=>"#uploadDialog" } Téléverser
          |
          != link_to "Reporting", account_scan_reportings_path
  .row-fluid
    .span3
      #documentslist.well.qtip-target
        .header
          %h3.pull-left
            #{@packs_count} documents
          .actiongroup.pull-right
            %a.do-tooltip{ "data-toggle"=>"modal", :href => "#shareDialog", :title => "Envoyer vers mon stockage externe" }
              %i.icon-share-alt
            %a.do-tooltip{ "data-toggle"=>"modal", :href => "#documentsTaggingDialog", :title => "Tagger" }
              %i.icon-tag
            %a.do-tooltip{ "data-toggle"=>"modal", :href=>"#sharingDialog", :title => "Partage" }
              %i.icon-share
            |
            %a.do-selectAll.do-tooltip{:href => "#", :title => "Tous"}
              %i.icon-ok
            %a.do-unselectAll.do-tooltip{:href => "#", :title => "Aucun"}
              %i.icon-ban-circle
        .content
          %ul.margin3top.margin0left
            != render :partial => "/account/documents/pack", :collection => @packs
          .aligncenter
            != paginate @packs
          
    .span9
      #pageslist.well
        #panel1
          .header.span12.margin0left
            %h3.pull-left
              Pages
            .actiongroup.pull-right
              %a.do-tooltip{ "data-toggle"=>"modal", :href => "#pagesTaggingDialog", :title => "Tagger" }
                %i.icon-tag
              |
              %a.do-selectAllPages.do-tooltip{:href => "#", :title => "Tous"}
                %i.icon-ok
              %a.do-unselectAllPages.do-tooltip{:href => "#", :title => "Aucun"}
                %i.icon-ban-circle
          .content.pages
            %ul.margin0
        #panel2{ :style => "display: none" }
          .header
            %h3.pull-left
              Pages
            .actiongroup.pull-left{ :style => "margin-top: 4px;margin-left: 2px;" }
              |
              %a.do-prevPage{:href => "#"}
                page précédente
              \-
              %a.do-nextPage{:href => "#"}
                page suivante
            .actiongroup.pull-right
              %a#pageInformation.do-popover-left{"data-content" => "", :href => "#", :style => "margin-right:5px;"}
                %span.label.label-info
                  tags
              |
              %a.do-selectSinglePage.do-tooltip{:href => "#", :title => "Sélectionner"}
                %i.icon-ok
              %a.do-unselectSinglePage.do-tooltip{:href => "#", :title => "Désélectionner"}
                %i.icon-ban-circle
              |
              %a{:href => "#", :class=>"backToPanel1"}
                Vue par vignette
          .content
            %iframe{:src => "", :class => "showPage", :style => "width:100%; min-height:400px;"}

  .selection-fixed-bottom
    .row-fluid
      .span12
        #selectionlist.well
          .header
            %h3.pull-left
              Sélections
            .actiongroup.pull-right
              %a.do-tooltip{ "data-toggle"=>"modal", :href => "#selectionTaggingDialog", :title => "Tagger" }
                %i.icon-tag
              %a.do-tooltip.removeAllSelection{ :href => "#", :title => "Tout retirer" }
                %i.icon-remove
              |
              %a{ "data-toggle"=>"modal", :href => "#compositionDialog" }
                Composer
          .content.pages.margin3top
            %ul
              - @is_composition = true
              != render :partial => "/account/documents/document", :collection => @composition
            
!= render :partial => "/account/documents/dialog_box"
!= render "help"