!!!
%html
  %head
    %title
      Mon compte Idocus
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %link{ 'rel' => 'shortcut icon', 'type' => "image/ico", 'href' => '/images/favicon.ico'}
    != javascript_include_tag %w(jquery-1.5.1.min)
    != csrf_meta_tag
    
  %body.padding1left
    %h1
      REPORTING #{ @year }
      
    %form
      != select_tag(:view_for, options_for_select( ( [["Tous",0]] + @clients.collect{|c| [c.email, c.id]} ) ), :class => "view_for")

    - mois = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"]

    - total_ss_docs_per_year = total_feuilles_per_year = total_pages_per_year = 0
    
    - date = Date.new(@year).to_time
    - mois.each_with_index do |m,index|
      - nb = index + 1
      %h2
        %a{ :href => "#", :class => "do-showHide", :id => "month_#{nb}" }
          [-]
        != m
      
      - date = date.next_month
      
      - total_ss_docs_per_month = total_feuilles_per_month = total_pages_per_month = 0
      
      %div{ :class => "month_#{nb}" }
        - if @reporting[nb.to_s]
          - @reporting[nb.to_s].each do |e|
            .client{ :class => "#{e[0][1]} margin2left" }
              %h3 
                != e[0][0]
              
              - total_ss_docs = total_feuilles = total_pages = 0
              %table
                %tr
                  %th.alignleft
                    Noms des documents
                  %th.w50
                    ss-docs
                  %th.w50
                    feuilles
                  %th.w50
                    pages
                - e[1].each do |doc|
                  %tr
                    %td
                      != doc[0]
                    %td.w50.aligncenter
                      != doc[1]
                    %td.w50.aligncenter
                      != doc[2]
                    %td.w50.aligncenter
                      != doc[3]
                      - total_ss_docs += doc[1]
                      - total_feuilles += doc[2]
                      - total_pages += doc[3]
                %tr
                  %td.bold.alignright
                    Total
                  %td.w50.aligncenter.bold
                    != total_ss_docs
                  %td.w50.aligncenter.bold
                    != total_feuilles
                  %td.w50.aligncenter.bold
                    != total_pages
              -#!= "Total dépassement pour le mois : #{e[2]}"
              
              - total_ss_docs_per_month += total_ss_docs
              - total_feuilles_per_month += total_feuilles
              - total_pages_per_month += total_pages
        
        - if total_ss_docs_per_month > 0 && total_feuilles_per_month > 0 && total_pages_per_month > 0
          %h3.margin2left.margin2top
            Total du mois de #{m}
            
          %table.margin2left.margin2top
            %tr
              %th.w100
                Total ss-docs
              %th.w100
                Total feuilles
              %th.w100
                Total pages
            %tr.aligncenter
              %td.w100.bold
                != total_ss_docs_per_month
              %td.w100.bold
                != total_feuilles_per_month
              %td.w100.bold
                != total_pages_per_month
        
      - total_ss_docs_per_year += total_ss_docs_per_month
      - total_feuilles_per_year += total_feuilles_per_month
      - total_pages_per_year += total_pages_per_month
    
    %h2.margin3top
      Total de l'année #{@year}
    
    - if total_ss_docs_per_year > 0 && total_feuilles_per_year > 0 && total_pages_per_year > 0
      %table.margin2top.margin3bottom
        %tr
          %th.w100
            Total ss-docs
          %th.w100
            Total feuilles
          %th.w100
            Total pages
        %tr.aligncenter
          %td.w100.bold
            != total_ss_docs_per_year
          %td.w100.bold
            != total_feuilles_per_year
          %td.w100.bold
            != total_pages_per_year
    
    
    %a{ :href => "#{reporting_account_documents_path}?year=#{@year - 1}" }
      année précédente
    |
    %a{ :href => "#{reporting_account_documents_path}?year=#{@year + 1}" }
      année suivante
    
:javascript
  $(document).ready(function () {
    $(".view_for").change(function(){
      id = $(this).val();
      if (id == "0") {
        $(".client").show();
      } else {
        $(".client").hide();
        $("."+id).show();
      }
    });
    $(".do-showHide").click(function(){
      nom = "."+$(this).attr("id");
      if ($(nom).hasClass("hide")){
        $(nom).removeClass("hide");
        $(this).text("[-]");
      } else {
        $(nom).addClass("hide");
        $(this).text("[+]");
      }
    });
  });
    
:css
  body{
    font-family: Arial;
    font-size: 12px; }
  h1{
    font-size: 18px; }
  h2{
    font-size: 16px; }
  h3{
    font-size: 14px; }
  .margin1left{
    margin-left: 10px; }
  .margin2left{
    margin-left: 20px; }
  .margin3left{
    margin-left: 30px; }
  .margin2top{
    margin-top: 20px; }
  .margin3top{
    margin-top: 30px; }
  .margin3bottom{
    margin-bottom: 30px; }
  .padding1left{
    padding-left: 10px; }
  table{
    border-collapse: collapse; }
  tr, td, th{
    width: 200px;
    border: solid black 1px; }
  th{
    background-color: #c9dd03; }
  .w50{
    width: 50px; }
  .w100{
    width: 100px; }
  .aligncenter{
    text-align: center; }
  .alignleft{
    text-align: left; }
  .alignright{
    text-align: right; }
  .hide{
    display: none;}
  .bold{
    font-weight: bold;
  }
  a{
    text-decoration: none; }