.label{ style: 'padding:3px 5px 3px' }
  = link_to icon_edit, '#edit_addresses', "data-toggle" => "modal"
  - if is_for_billing
    = t('mongoid.models.address.attributes.billing_address')
  - else
    = t('mongoid.models.address.attributes.shipping_address')
- if address
  %table.table.table-striped.table-bordered.table-condensed
    %tbody
      %tr
        %th= t('mongoid.models.address.attributes.first_name')
        %td= address.first_name
      %tr
        %th= t('mongoid.models.address.attributes.last_name')
        %td= address.last_name
      %tr
        %th= t('mongoid.models.address.attributes.address_1')
        %td= address.address_1
      %tr
        %th= t('mongoid.models.address.attributes.address_2')
        %td= address.address_2
      %tr
        %th= t('mongoid.models.address.attributes.city')
        %td= address.city
      %tr
        %th= t('mongoid.models.address.attributes.zip')
        %td= address.zip