= simple_nested_form_for [:admin, @user], html: { class: 'addresses form form-horizontal margin0bottom' } do |f|
  .modal-body
    = f.fields_for :addresses do |address|
      .well
        = address.link_to_remove icon_destroy, class: 'btn btn-mini'
        = address.input :first_name, label: t('mongoid.models.address.attributes.first_name')
        = address.input :last_name,  label: t('mongoid.models.address.attributes.last_name')
        = address.input :company,    label: t('mongoid.models.address.attributes.company')
        = address.input :address_1,  label: t('mongoid.models.address.attributes.address_1')
        = address.input :address_2,  label: t('mongoid.models.address.attributes.address_2')
        = address.input :city,       label: t('mongoid.models.address.attributes.city')
        = address.input :zip,        label: t('mongoid.models.address.attributes.zip')
        = address.input :is_for_billing, as: :boolean, label: 'Pour la facturation'
        = address.input :is_for_shipping, as: :boolean, label: 'Pour le retour'
    = f.link_to_add "Ajouter une adresse", :addresses, class: 'btn'
  .modal-footer
    = f.submit t('actions.submit'), class: 'btn'
