= f.hidden_field :type
- if @order.dematbox?
  = f.input :dematbox_count, collection: [['1 (359€HT – frais de port inclus)', 1], ['2 (718€HT – frais de port inclus)', 2]], include_blank: false, label_html: { style: 'font-weight:bold;' }
  %hr
  .aligncenter
    %b Merci de remplir l’intégralité des champs afin d’assurer une parfaite livraison de la part de Sagemcom
  %br
  %br
  = f.simple_fields_for :address do |builder|
    .row-fluid
      .span5
        = builder.input :last_name, label: 'Nom du contact', required: true
        = builder.input :first_name, label: 'Prénom du contact', required: true
        = builder.input :phone, label: 'Numéro de téléphone direct (fixe ou mobile)', required: true
        = builder.input :company, label: 'Nom de la société', required: true
        = builder.input :company_number, label: 'N° de Siret', required: true
      .span5
        = builder.input :address_1, label: 'Rue', required: true
        = builder.input :zip, label: 'Code postal', required: true
        = builder.input :city, label: 'Ville', required: true
        = builder.input :building, label: 'Bâtiment'
        = builder.input :door_code, label: 'Digicode'
        = builder.input :other, label: 'Autre (sonnerie, concierge...)'
- else
  .aligncenter.margin2bottom
    %b Commande d’un kit complet pour envoi du courrier à iDocus
  = f.input :paper_set_casing_size, collection: [['500g', 500], ['1000g', 1000], ['3000g', '3000']], include_blank: false
  = f.input :paper_set_folder_count, collection: 5..10, include_blank: false, hint: ' Correspond au nombre de journaux comptables paramétrés dans le dossier (5 étant le minimum offert par iDocus).'
  = f.input :paper_set_start_date, collection: paper_set_start_date_options(@customer.subscription.period_duration), include_blank: false
  = f.input :paper_set_end_date, collection: paper_set_end_date_options(@customer.subscription.period_duration), include_blank: false
  %hr
  .aligncenter
    %h4 Total de la commande :
    %b.total_price{ style: 'font-size:20px' }
.form-actions.margin0bottom
  = f.submit 'Commander', class: 'btn btn-primary'
  = link_to 'Annuler', account_organization_customer_orders_path(@organization, @customer), class: 'btn'
