#order.edit.derivationRight
  .box
    - unless @customer.configured?
      = render 'account/customers/steps'

  .card
    .card-header
      %h3
        - if @order.dematbox?
          Edition de la commande du scanner iDocus’Box
        - else
          Edition de la commande de Kit envoi courrier

        - if @customer.configured?
          pour le client : 
          = link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'orders'), class: 'fs-origin'
        - else
          pour le dossier : 
          %span.text-info.fs-origin= @customer

    = simple_form_for @order, url: account_organization_customer_order_path(@organization, @customer, @order), html: { class: 'form form-horizontal margin0' } do |f|
      = render partial: 'form', locals: { f: f }
