#order.edit.derivationRight
  .box
    - unless @customer.configured?
      = render 'account/customers/steps'

  .card
    .card-header
      %h3
        - if @order.dematbox?
          Edition de la commande du scanner iDocus’Box
        - else
          Edition de la commande de Kit envoi courrier

        - if @customer.configured?
          pour le client : 
          = link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'orders'), class: 'fs-origin'
        - else
          pour le dossier : 
          %span.text-info.fs-origin= @customer

    - manual_paper_set_order = CustomUtils.is_manual_paper_set_order?(@organization)
    = simple_form_for @order, url: account_organization_customer_order_path(@organization, @customer, @order), html: { :id => manual_paper_set_order ? 'valid-manual-paper-set-order' : 'default', class: 'form form-horizontal margin0' } do |f|
      = render 'form', f: f, manual_paper_set_order: manual_paper_set_order
