#orders
  .row-fluid
    .span12.box
      .pull-left
        %h3 Listes des commandes pour le client : #{link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'subscription')}
      .pull-right
        - if @customer.subscription.is_scan_box_package_active
          = link_to "Commander un/des scanner(s) iDocus'box", new_account_organization_customer_order_path(@organization, @customer, type: 'dematbox'), class: 'btn btn-primary'
        - if @customer.subscription.is_mail_package_active || @customer.subscription.is_annual_package_active
          = link_to 'Commander un Kit envoi courrier', new_account_organization_customer_order_path(@organization, @customer, type: 'paper_set'), class: 'btn btn-primary'

  .row-fluid
    .span12.box
      %table.table.table-condensed.table-striped.table-bordered.margin0bottom
        %thead
          %tr
            %th Date de la commande
            %th Produit
            %th Quantité
            %th Prix (HT)
            %th Adresse de livraison
            %th Statut
            %th Actions
        %tbody
          - @orders.each do |order|
            %tr
              %td= l order.created_at
              - if order.dematbox?
                %td iDocus'Box
                %td= order.dematbox_count
                %td.alignright= format_price_00(order.price_in_cents_wo_vat) + ' €'
                %td= order.address.long_info
              - else
                %td Kit envoi courrier
                %td
                  = order.paper_set_casing_size.to_s + 'g'
                  %br
                  = order.paper_set_folder_count.to_s + ' chemises'
                  %br
                  = paper_set_date_to_name(order.period_duration, order.paper_set_start_date)
                  à
                  = paper_set_date_to_name(order.period_duration, order.paper_set_end_date)
                %td.alignright= format_price_00(order.price_in_cents_wo_vat) + ' €'
                %td= order.user.addresses.for_kit_shipping.first.try(:long_info)
              %td= Order.state_machine.states[order.state].human_name
              %td
                - if order.pending? && (Time.now < order.created_at + 24.hours)
                  = link_to icon_edit + 'Modifier', edit_account_organization_customer_order_path(@organization, @customer, order), class: 'btn btn-mini'
                  = link_to icon_destroy + 'Annuler', account_organization_customer_order_path(@organization, @customer, order), method: 'delete', data: { confirm: t('actions.confirm') }, class: 'btn btn-mini'
