#order.new.derivationRight
  - unless @customer.configured?
    .box
      = render 'account/customers/steps'
  .card
    .card-header
      %h3
        - if @order.dematbox?
          Commande du scanner iDocus’Box
        - else
          Commande de Kit envoi courrier

        - if @customer.configured?
          pour le client : 
          = link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'orders'), class: 'fs-origin'
        - else
          pour le dossier : 
          %span.text-info.fs-origin= @customer

    = simple_form_for @order, url: account_organization_customer_orders_path(@organization, @customer), html: { class: 'form-horizontal' } do |f|
      = render partial: 'form', locals: { f: f }
