#order.new
  .row-fluid
    .span12.box
      %h3
        - if @order.dematbox?
          Commande du scanner iDocus’Box
        - else
          Commande de Kit papier
        pour le client : #{link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'subscription')}

  .row-fluid
    .span12.box
      = simple_form_for @order, url: account_organization_customer_orders_path(@organization, @customer), html: { class: 'form form-horizontal margin0' } do |f|
        - if @order.dematbox?
          = f.hidden_field :type
          = f.input :dematbox_count, collection: [['1 (359€HT – frais de port inclus)', 1], ['2 (718€HT – frais de port inclus)', 2]], include_blank: false
          %hr
          Merci de remplir l’intégralité des champs afin que le livreur puisse livrer sans soucis le colis
          %br
          %br
          = f.simple_fields_for :address do |builder|
            = builder.input :last_name, label: 'Nom du contact', required: true
            = builder.input :first_name, label: 'Prénom du contact', required: true
            = builder.input :phone, label: 'Numéro de téléphone direct (fixe ou mobile)', required: true
            %hr
            = builder.input :company, label: 'Nom de la société', required: true
            = builder.input :company_number, label: 'N° de Siret', required: true
            %hr
            = builder.input :address_1, label: 'Rue', required: true
            = builder.input :zip, label: 'Code postal', required: true
            = builder.input :city, label: 'Ville', required: true
            = builder.input :building, label: 'Bâtiment'
            = builder.input :door_code, label: 'Digicode'
            = builder.input :other, label: 'Autre (sonnerie, concierge...)'
        - else
          = f.hidden_field :type
          = f.input :paper_set_casing_size, collection: [['500g', 500], ['1000g', 1000], ['3000g', '3000']], include_blank: false
          = f.input :paper_set_folder_count, collection: 5..10, include_blank: false, hint: 'Correspond au nombre de journaux comptables paramétrés dans le dossier, 5 au minimum.'
          = f.input :paper_set_start_date, collection: paper_set_start_date_options(@customer.subscription.period_duration), include_blank: false
          = f.input :paper_set_end_date, collection: paper_set_end_date_options(@customer.subscription.period_duration), include_blank: false
          %hr
          .aligncenter
            %h4 Total de la commande :
            %b.total_price{ style: 'font-size:20px' }
        .form-actions.margin0bottom
          = f.submit 'Valider', class: 'btn btn-primary'
          = link_to 'Annuler', account_organization_customer_orders_path(@organization, @customer), class: 'btn'
