!!!
%html
  %head
    %title [iDocus] Erreur script
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-type' }
  %body
    Bonjour,
    %br
    %br
    Pour information, le script #{@script[:name]} a eu l'erreur suivante :
    %br
    %br
    Erreur type : #{@script[:erreur_type]}
    %br
    Date erreur : #{@script[:date_erreur]}
    %br
    Détails :
    %ul
    - if @script[:more_information].present?
      - @script[:more_information].each do |libelle, value|
        %li #{libelle} : #{value}
        %br
    - if @script[:raw_information].present?
      = raw(@script[:raw_information])
    %br
    Cordialement
    %br
    SI iDocus
