.card.retractable-filter
  = form_tag admin_notifications_path, method: :get, class: 'form-filter' do
    .card-header.clearfix
      .float-left
        %h3 Filtres
      .float-right.margin1left
        %a.locker{ href: "#", title: "Cacher le Filtre" }= glyphicon('layers')
    .retractable-filter-content
      .card-body
        = hidden_field_tag :direction, sort_direction
        = hidden_field_tag :sort, sort_column
        = hidden_field_tag :per_page, per_page
        .form-group
          .label-section
            = label_tag 'notification_contains[created_at][>=]', t('activerecord.models.common.attributes.created_at')
          .control-section
            .input-group
              .input-group-prepend
                %span.input-group-text >=
              = text_field_tag 'notification_contains[created_at][>=]', (params[:notification_contains][:created_at]['>='] rescue ''), class: 'form-control date datepicker'
            &nbsp;
            .input-group
              .input-group-prepend
                %span.input-group-text <=
              = text_field_tag 'notification_contains[created_at][<=]', (params[:notification_contains][:created_at]['<='] rescue ''), class: 'form-control date datepicker'
        .form-group
          .label-section
            = label_tag 'notification_contains[user_contains][code]', t('activerecord.models.user.name') + ' (code)'
          .control-section
            = text_field_tag 'notification_contains[user_contains][code]', (params[:notification_contains][:user_contains][:code] rescue ''), class: 'form-control'
        .form-group
          .label-section
            = label_tag 'notification_contains[title]', t('activerecord.models.notification.attributes.title')
          .control-section
            = text_field_tag 'notification_contains[title]', (params[:notification_contains][:title] rescue ''), class: 'form-control'
        .form-group
          .label-section
            = label_tag 'notification_contains[message]', t('activerecord.models.notification.attributes.message')
          .control-section
            = text_field_tag 'notification_contains[message]', (params[:notification_contains][:message] rescue ''), class: 'form-control'
        .form-group
          .label-section
            = label_tag 'notification_contains[is_sent]', t('activerecord.models.notification.attributes.is_sent')
          .control-section
            = select_tag 'notification_contains[is_sent]', options_for_select([[t('yes_value'), 1], [t('no_value'), 0]], (params[:notification_contains][:is_sent] rescue '')), include_blank: true, class: 'form-control'
        .form-group
          .label-section
            = label_tag 'notification_contains[is_read]', t('activerecord.models.notification.attributes.is_read')
          .control-section
            = select_tag 'notification_contains[is_read]', options_for_select([[t('yes_value'), 1], [t('no_value'), 0]], (params[:notification_contains][:is_read] rescue '')), include_blank: true, class: 'form-control'

      .card-footer
        .form-actions
          = submit_tag t('filters.action'), name: nil, class: 'btn btn-primary'
          = link_to glyphicon('x'), admin_notifications_path, class: 'btn btn-light', title: t('filters.reset')