#importDialog.modal.fade{data: { backdrop: "static" } }
  .modal-dialog
    .modal-content
      .modal-header
        %h3 Paramétrage import FEC
      %form#importFecAfterConfiguration{ action: import_fec_processing_account_organization_customer_accounting_plan_path(@organization, @customer), method: "GET" }
        %input.file{ type: :hidden, value: "#{@params_fec[:file]}", name: "file_path"}
        %input.file{ type: :hidden, value: "#{@params_fec[:journal_ido]}", name: "journal_ido"}
        %input.file{ type: :hidden, value: "#{@params_fec[:file]}", name: "file_path"}
        %input.file{ type: :hidden, value: "#{@params_fec[:dir]}", name: "dir_tmp"}
        %input.count_books{ type: :hidden, value: "#{@params_fec[:journal_on_fec].size}"}
        .modal-body
          .journal_present
            %span Les journaux présentent dans le fichier FEC :
            %span.list_on_grey{ style: "background: #F2F2F2; padding: 8px; border-radius: 4px;" }
              - if @params_fec.present?
                = @params_fec[:journal_on_fec].join(' ')
          %br
          .row
            .col-md-6
              .journal_fec.row{ style: "margin:0 !important" }
                .select_section.col-md-8{ style: "padding:0 !important" }
                  Veuillez choisir le(s) journal(s) à injecter :
                .checked_section.col-md-4.text-right{ style: "padding:0 !important" }
                  /%input#for_all{ type: :checkbox, name: 'book_for_all'}
                %br
                %table.table.table-striped.table.hovered.table-bordered
                  %thead.thead-light.text-center
                    %th Journal
                    %th Injecter
                  %tbody.text-center
                    - @params_fec[:journal_on_fec].each do |journal|
                      %tr
                        %td= journal
                        %td
                          %input{ class: "check_journal #{journal}", checked: true, type: :checkbox, name: "journal[#{journal}]" }
              .journal_idocus
                %span Pour info, vos journaux sont :
                %span.list_on_grey{ style: "background: #F2F2F2; padding: 8px; border-radius: 4px;" }
                  - if @params_fec.present?
                    = @params_fec[:journal_ido].join(' ')
            .col-md-6
              .piece_reference_choise
                %span Sélectionner la colonne pour la pièce de référence
                .select_piece
                  %select.piece{name: "piece_ref"}
                    %option{ value: '' } -----------------
                    - indexation = 0
                    - @params_fec[:head_list_fec].each do |head|
                      %option{ value: "#{indexation}", selected: ('selected' if indexation == 8)}= head
                      - indexation += 1

        .modal-footer
          %button.fermer_modal_fec.btn{ style: "margin: 0 15px 0 0; padding: 0;cursor: context-menu" }
            = link_to 'Fermer', account_organization_customer_accounting_plan_path(@organization, @customer, @params_fec[:dir]), :class=>"modal-close"
          %input#importButton.btn.btn-primary{ :type => "submit", :value => "Valider" }