#accounting_plan
  .row-fluid
    .span12.box
      %h3 Edition du #{link_to 'plan comptable', account_organization_customer_accounting_plan_path(@customer)} de l'utilisateur : #{link_to @customer.info, account_organization_customer_path(@customer, tab: 'others')}

  .row-fluid
    .span12.box
      = simple_nested_form_for @accounting_plan, url: account_organization_customer_accounting_plan_path(@customer), html: { class: 'form form-horizontal margin0' }, wrapper: false do |f|
        .row-fluid.margin2bottom
          .span6
            %h3 Fournisseurs
            = f.fields_for :providers do |provider|
              = provider.link_to_remove icon_destroy, class: 'btn btn-mini'
              = provider.input :third_party_account, label: t('mongoid.models.accounting_plan_item.attributes.third_party_account')
              = provider.input :third_party_name, label: t('mongoid.models.accounting_plan_item.attributes.third_party_name')
              = provider.input :conterpart_account, label: t('mongoid.models.accounting_plan_item.attributes.conterpart_account')
              = provider.input :code, label: t('mongoid.models.accounting_plan_item.attributes.code')
            = f.link_to_add 'Ajouter un fournisseur', :providers, class: 'btn'
          .span6
            %h3 Clients
            = f.fields_for :customers do |customer|
              = customer.link_to_remove icon_destroy, class: 'btn btn-mini'
              = customer.input :third_party_account, label: t('mongoid.models.accounting_plan_item.attributes.third_party_account')
              = customer.input :third_party_name, label: t('mongoid.models.accounting_plan_item.attributes.third_party_name')
              = customer.input :conterpart_account, label: t('mongoid.models.accounting_plan_item.attributes.conterpart_account')
              = customer.input :code, label: t('mongoid.models.accounting_plan_item.attributes.code')
            = f.link_to_add 'Ajouter un client', :customers, class: 'btn'

        .form-actions.margin0bottom
          = f.submit t('actions.submit'), class: 'btn btn-primary'
          = link_to t('actions.cancel'), account_organization_customer_accounting_plan_path(@customer), class: 'btn'
