#accounting_plan
  - if @customer.configured?
    .row-fluid
      .span12.box
        %h3 Plan comptable du client : #{link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'others')}
  - else
    = render 'account/customers/steps'
    .row-fluid
      .span12.box
        .row-fluid
          .span6
            %h3 Plan comptable
          .span6.alignright
            = link_to t('actions.previous_step'), previous_account_organization_customer_setup_path(@organization, @customer), class: 'btn'
            = link_to t('actions.complete_later'), complete_later_account_organization_customer_setup_path(@organization, @customer), class: 'btn'
            = link_to t('actions.next_step'), next_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-primary'

  .row-fluid
    .span6.box
      .row-fluid
        .span3
          %h3 Fournisseurs
        .span3.aligncenter.margin1bottom
          = link_to icon_edit, edit_account_organization_customer_accounting_plan_path(@organization, @customer), class: 'btn', title: 'editer'
          = link_to icon_destroy, destroy_providers_account_organization_customer_accounting_plan_path(@organization, @customer), class: 'btn', title: 'supprimer tous les fournisseurs', data: { method: :delete, confirm: 'Vous êtes sur le point de supprimer tous les fournisseurs, êtes-vous sûr ?' }
        .span6.alignright.margin1bottom
          = form_tag import_account_organization_customer_accounting_plan_path(@organization, @customer), method: 'patch', multipart: true, class: 'form form-horizontal margin0bottom' do
            = file_field_tag :providers_file, class: 'filestyle', data: { classButton: 'btn', input: true, buttonText: 'CSV', classInput: 'input-small' }
            = submit_tag 'Importer', class: 'btn btn-primary'
      %table.table.table-striped.table-condensed.table-bordered.margin0bottom
        %thead
          %tr
            %th= t('mongoid.models.accounting_plan_item.attributes.third_party_account')
            %th= t('mongoid.models.accounting_plan_item.attributes.third_party_name')
            %th= t('mongoid.models.accounting_plan_item.attributes.conterpart_account')
            %th= t('mongoid.models.accounting_plan_item.attributes.code')
        %tbody
          - @accounting_plan.providers.each do |provider|
            %tr
              %td= provider.third_party_account
              %td= provider.third_party_name
              %td= provider.conterpart_account
              %th= provider.code
    .span6.box
      .row-fluid
        .span3
          %h3 Clients
        .span3.aligncenter.margin1bottom
          = link_to icon_edit, edit_account_organization_customer_accounting_plan_path(@organization, @customer), class: 'btn', title: 'editer'
          = link_to icon_destroy, destroy_customers_account_organization_customer_accounting_plan_path(@organization, @customer), class: 'btn', title: 'supprimer tous les clients', data: { method: :delete, confirm: 'Vous êtes sur le point de supprimer tous les clients, êtes-vous sûr ?' }
        .span6.alignright.margin1bottom
          = form_tag import_account_organization_customer_accounting_plan_path(@organization, @customer), method: 'patch', multipart: true, class: 'form form-horizontal margin0bottom' do
            = file_field_tag :customers_file, class: 'filestyle', data: { classButton: 'btn', input: true, buttonText: 'CSV', classInput: 'input-small' }
            = submit_tag 'Importer', class: 'btn btn-primary'
      %table.table.table-striped.table-condensed.table-bordered.margin0bottom
        %thead
          %tr
            %th= t('mongoid.models.accounting_plan_item.attributes.third_party_account')
            %th= t('mongoid.models.accounting_plan_item.attributes.third_party_name')
            %th= t('mongoid.models.accounting_plan_item.attributes.conterpart_account')
            %th= t('mongoid.models.accounting_plan_item.attributes.code')
        %tbody
          - @accounting_plan.customers.each do |customer|
            %tr
              %td= customer.third_party_account
              %td= customer.third_party_name
              %td= customer.conterpart_account
              %td= customer.code
