#accounting_plan
  .row-fluid
    .span12.box
      %h3 Plan comptable de l'utilisateur : #{link_to @customer.code, account_organization_customer_path(@customer)}

  .row-fluid
    .span6.box
      .row-fluid
        .span3
          %h3 Fournisseurs
        .span3.aligncenter.margin1bottom
          = link_to icon_edit, edit_account_organization_customer_accounting_plan_path(@customer), class: 'btn', title: 'editer'
          = link_to icon_destroy, destroy_providers_account_organization_customer_accounting_plan_path(@customer), class: 'btn', title: 'supprimer tous les fournisseurs', data: { method: :delete, confirm: 'Vous êtes sur le point de supprimer tous les fournisseurs, êtes-vous sûr ?' }
        .span6.alignright.margin1bottom
          = form_tag import_account_organization_customer_accounting_plan_path(@customer), method: 'PUT', multipart: true, class: 'form form-horizontal margin0bottom' do
            = file_field_tag :providers_file, class: 'filestyle', data: { classButton: 'btn', input: true, buttonText: 'CSV', classInput: 'input-small' }
            = submit_tag 'Importer', class: 'btn btn-primary'
      %table.table.table-striped.table-condensed.table-bordered.margin0bottom
        %thead
          %tr
            %th Compte de tiers
            %th Nom du tiers
            %th Compte de contrepartie
        %tbody
          - @accounting_plan.providers.each do |provider|
            %tr
              %td= provider.third_party_account
              %td= provider.third_party_name
              %td= provider.conterpart_account
    .span6.box
      .row-fluid
        .span3
          %h3 Clients
        .span3.aligncenter.margin1bottom
          = link_to icon_edit, edit_account_organization_customer_accounting_plan_path(@customer), class: 'btn', title: 'editer'
          = link_to icon_destroy, destroy_customers_account_organization_customer_accounting_plan_path(@customer), class: 'btn', title: 'supprimer tous les clients', data: { method: :delete, confirm: 'Vous êtes sur le point de supprimer tous les clients, êtes-vous sûr ?' }
        .span6.alignright.margin1bottom
          = form_tag import_account_organization_customer_accounting_plan_path(@customer), method: 'PUT', multipart: true, class: 'form form-horizontal margin0bottom' do
            = file_field_tag :customers_file, class: 'filestyle', data: { classButton: 'btn', input: true, buttonText: 'CSV', classInput: 'input-small' }
            = submit_tag 'Importer', class: 'btn btn-primary'
      %table.table.table-striped.table-condensed.table-bordered.margin0bottom
        %thead
          %tr
            %th Compte de tiers
            %th Nom du tiers
            %th Compte de contrepartie
        %tbody
          - @accounting_plan.customers.each do |customer|
            %tr
              %td= customer.third_party_account
              %td= customer.third_party_name
              %td= customer.conterpart_account