#accounting_plan
  - unless @customer.configured?
    .box
      = render 'account/customers/steps'
  .row.derivationRight
    .col-md-12
      .box
        .row
          - if @customer.configured?
            .col-md-6
              %h3
                Plan comptable du client :
                = link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'accounting_plan'), class: 'fs-origin'
            .col-md-6{style: "padding-top: 3px;padding-left: 50px;border-radius: 3px;background-color: #f8f9fa;"}
              .float-right
                = form_tag import_fec_account_organization_customer_accounting_plan_path(@organization, @customer), method: 'patch', multipart: true, class: 'form-horizontal clearfix label-auto' do
                  .form-group.clearfix.float-left.margin0
                    .control-section
                      = file_field_tag :fec_file, class: 'filestyle', data: { classButton: 'btn btn-secondary', input: true, buttonText: glyphicon('file') + '' }, style: "width:10%", accept: "text/plain"
                  .form-actions.float-left.margin1left.row
                    .for_submit.col-md-10pr-4.pl-2
                      .submit
                        = submit_tag 'Importer FEC', class: 'btn btn-primary'
                    .for_description.col-md-2.pr-2.pl-2
                      %span.badge.badge-info.fs-origin .txt
                .encode
                  %i Encodage du fichier accepté :
                  %b UTF-8
          - else
            .float-left
              %h3
                Plan comptable pour le dossier :
                %span.text-info.fs-origin= @customer
            .float-right
              = link_to t('actions.previous_step'), previous_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-secondary'
              = link_to t('actions.complete_later'), complete_later_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-secondary'
              = link_to t('actions.next_step'), next_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-primary'

  .row.derivationLeft
    .col-md-12
      .box      
        - if @customer.try(:ibiza).try(:ibiza_id?) && @customer.uses?(:ibiza)
          - to_show        = true
          - software       = "iBiza"
          - software_value = @customer.ibiza.try(:auto_update_accounting_plan?)
          - software_id    = @customer.ibiza.ibiza_id
        - elsif @customer.uses?(:my_unisoft)
          - to_show        = true
          - software       = "My Unisoft"
          - software_value = @customer.my_unisoft.try(:auto_update_accounting_plan?)
          - software_id    = @customer.my_unisoft.society_id

        - if to_show
          .row
            .col-md-6
              .box.bg-light.auto_updating_accounting_plan_bg
                .float-left{style: 'margin-left: -49px;'}
                  = form_tag "#", class: 'form-horizontal clearfix label-auto', id: 'auto_update_accounting_plan' do
                    = hidden_field_tag 'user[software_id]', software_id
                    .float-left
                      .form-group.clearfix.radio_buttons
                        .label-section.alert.alert-warning                          
                          %strong 
                            Voulez vous activer la mise à jour automatique du plan comptable avec celui de #{software} ?
                        .control-section
                          %span.radio
                            %label.label_radio
                              = radio_button_tag 'user[software]', true, software_value, info: "#{@organization.id}-#{@customer.id}-#{software}"
                              Oui
                          %span.radio
                            %label.label_radio
                              = radio_button_tag 'user[software]', false, !software_value, info: "#{@organization.id}-#{@customer.id}-#{software}"
                              Non
                          %i.help-block Attention: si cette option est activée, les modifications manuelles du plan comptable seront écrasées automatiquement par la mise à jour auto.

            / TODO ... REMOVE COMMENT IF WE WILL ABLE TO SEND ACCOUNTING PLAN CUSTOMER TO IBIZA
            / .col-md-6
            /   .float-right{style: 'margin-right: 35px;'}
            /     .form-actions.float-left.margin1left.row
            /       = link_to 'Synchronizer le plan comptable avec Ibiza', ibiza_synchronize_account_organization_customer_accounting_plan_path(@organization, @customer), class: 'btn btn-secondary'
        .row
          .col-md-6
            .box.bg-light.height_groups.groups_1
              .float-left.margin1bottom
                %h3 Fournisseurs
              .float-left.margin1bottom.margin1left
                = link_to glyphicon('pencil'), edit_account_organization_customer_accounting_plan_path(@organization, @customer), class: 'btn btn-secondary', title: 'editer'
              .float-left.margin1bottom
                = link_to glyphicon('x'), destroy_providers_account_organization_customer_accounting_plan_path(@organization, @customer), class: 'btn btn-secondary margin1left', title: 'supprimer tous les fournisseurs', data: { method: :delete, confirm: 'Vous êtes sur le point de supprimer tous les fournisseurs, êtes-vous sûr ?' }
              .float-right.alignright.margin1bottom
                = form_tag import_account_organization_customer_accounting_plan_path(@organization, @customer), method: 'patch', multipart: true, class: 'form-horizontal clearfix label-auto' do
                  .form-group.clearfix.float-left
                    .control-section
                      = file_field_tag :providers_file, class: 'filestyle', data: { classButton: 'btn btn-secondary', input: true, buttonText: glyphicon('file') + ' CSV' }, style: "width:10%"
                  .form-actions.float-left.margin1left
                    = submit_tag 'Importer', class: 'btn btn-primary'
                .links
                  = link_to "Télécharger le modèle d'import .csv", import_model_account_organization_customer_accounting_plan_path(@organization, @customer)
              %table.table.table-striped.table-condensed.table-bordered-inner.margin0bottom.table-detachable-head.bg-white
                %thead
                  %tr.bg-brown.text-white
                    %th= t('activerecord.models.accounting_plan_item.attributes.third_party_name')
                    %th= t('activerecord.models.accounting_plan_item.attributes.third_party_account')
                    %th= t('activerecord.models.accounting_plan_item.attributes.conterpart_account')
                    %th= t('activerecord.models.accounting_plan_item.attributes.code')
                    %th.hide= t('activerecord.models.accounting_plan_item.attributes.vat_autoliquidation')
                    %th.hide= t('activerecord.models.accounting_plan_item.attributes.vat_autoliquidation_debit_account')
                    %th.hide= t('activerecord.models.accounting_plan_item.attributes.vat_autoliquidation_credit_account')
                %tbody
                  - @accounting_plan.providers.each do |provider|
                    %tr
                      %td= provider.third_party_name
                      %td= provider.third_party_account
                      %td= provider.conterpart_account
                      %td= provider.code
                      %td.hide= provider.vat_autoliquidation ? icon_ok : icon_not_ok
                      %td.hide= provider.vat_autoliquidation_debit_account
                      %td.hide= provider.vat_autoliquidation_credit_account
          .col-md-6
            .box.bg-light.height_groups.groups_1
              .float-left.margin1bottom
                %h3 Clients
              .float-left.margin1bottom.margin1left
                = link_to glyphicon('pencil'), edit_account_organization_customer_accounting_plan_path(@organization, @customer), class: 'btn btn-secondary', title: 'editer'
              .float-left.margin1bottom
                = link_to glyphicon('x'), destroy_customers_account_organization_customer_accounting_plan_path(@organization, @customer), class: 'btn btn-secondary margin1left', title: 'supprimer tous les clients', data: { method: :delete, confirm: 'Vous êtes sur le point de supprimer tous les clients, êtes-vous sûr ?' }
              .float-right.alignright.margin1bottom
                = form_tag import_account_organization_customer_accounting_plan_path(@organization, @customer), method: 'patch', multipart: true, class: 'form-horizontal clearfix label-auto' do
                  .form-group.clearfix.float-left
                    .control-section
                      = file_field_tag :customers_file, class: 'filestyle', data: { classButton: 'btn btn-secondary', input: true, buttonText: glyphicon('file') + ' CSV' }, style: "width:10%"
                  .form-actions.float-left.margin1left
                    = submit_tag 'Importer', class: 'btn btn-primary'
                .links
                  = link_to "Télécharger le modèle d'import .csv", import_model_account_organization_customer_accounting_plan_path(@organization, @customer)
              %table.table.table-striped.table-condensed.table-bordered-inner.margin0bottom.table-detachable-head.bg-white
                %thead
                  %tr.bg-brown.text-white
                    %th= t('activerecord.models.accounting_plan_item.attributes.third_party_name')
                    %th= t('activerecord.models.accounting_plan_item.attributes.third_party_account')
                    %th= t('activerecord.models.accounting_plan_item.attributes.conterpart_account')
                    %th= t('activerecord.models.accounting_plan_item.attributes.code')
                %tbody
                  - @accounting_plan.customers.each do |customer|
                    %tr
                      %td= customer.third_party_name
                      %td= customer.third_party_account
                      %td= customer.conterpart_account
                      %td= customer.code

- if @params_fec.present?
  #import_dialog.modal.fade{data: { backdrop: "static" } }
    .modal-dialog
      .modal-content
        .modal-header
          %h3 Paramétrage import FEC
        = render :partial => "/account/accounting_plans/dialog_box", locals: { organization: @organization, customer: @customer, params_fec: @params_fec }