.block
  .secondary-navigation
    %ul.wat-cf
      %li.first!= link_to "All backups", admin_backups_path
      %li.active!= link_to "Services", service_admin_backups_path
  .content
    %h2.title Backup Services
    .inner
      .group
        %h3
          Résultat :
        %br
        
        - if !@result.nil?
          - if @result.is_a? Array
            - @result.each do |r|
              = r
              %br
          - elsif @result.is_a? Boolean
            = @result ? "Oui" : "Non"
          - else
            = @result
     
      .group
        %h3
          Appel de fonction :
        %br
        
        .group
          - form_tag service_admin_backups_path, :method => "get", :class => "form" do
            .group
              = label_tag :function_name, "Sélectionner une fonction à appeler : "
              = select_tag :function_name, options_for_select(array_of_backup_function, last_used_backup_function)
            
            .group
              .arg.account_number
                = label_tag :account_number, "Numéro du compte"
                = text_field_tag :account_number, "", :class => 'text_field'
                %br
                %br
              
              .arg.etat
                = label_tag :etat, "Etat"
                = text_field_tag :etat, "", :class => "text_field"
                %br
                %br
              
              .arg.space
                = label_tag :space, "Space"
                = text_field_tag :space, "", :class => "text_field"
                %br
                %br
                
              .arg.recipient
                = label_tag :recipient, "Recipient"
                = text_field_tag :recipient, "", :class => "text_field"
                %br
                %br
                
              .arg.password
                = label_tag :password, "Mots de passe"
                = password_field_tag :password, "", :class => "text_field"
                %br
                %br
              
              .arg.expiration
                = label_tag :expiration, "Expiration"
                = text_field_tag :expiration, "", :class => "text_field"
                %br
                %br
              
              .arg.unlocker
                = label_tag :unlocker, "Unlocker"
                %br
                = check_box_tag :unlocker, :class => 'checkbox'
                %br
                %br
                
              .arg.local
                = label_tag :local, "Local"
                %br
                = check_box_tag :local, :class => 'checkbox'
                %br
                %br
                
              .arg.dd
                = label_tag :dd, "DD"
                %br
                = check_box_tag :dd, :class => 'checkbox'
                %br
                %br
                
              .arg.comment
                = label_tag :comment, "Commentaire"
                = text_field_tag :comment, "", :class => "text_field"
                %br
                %br
                
              .arg.date
                = label_tag :date, "Date"
                = text_field_tag :date, "", :class => "text_field"
                %br
                %br
                
              .arg.pack
                = label_tag :pack, "Pack"
                = text_field_tag :pack, "", :class => "text_field"
                %br
                %br
                
              .arg.flag
                = label_tag :flag, "Flag"
                = select_tag :flag, options_for_select([["Oui","true"],["Non","false"]])
            
            .group.navform.wat-cf
              %button.button{:type => 'submit'}
                != image_tag("web-app-theme/tick.png", :alt => "Save")
                Process
      
- content_for :sidebar, render(:partial => 'sidebar')
      
:javascript
  $(function(){
    $(".arg").hide();

    $("#function_name").change(function(){
      function_name = $("#function_name option:selected").text();
      args = function_name.replace(/\)/,'').split(/\(/)[1].split(/\s*,\s*/);
      $(".arg").hide();
      for (i=0; i<args.length; i++) {
        $("."+args[i]).show();
      }
    });
    
  });