.card
  %form#fileupload{ action: '/admin/cms_images', method: 'POST', enctype: 'multipart/form-data' }
    .card-header.clearfix
      .float-left
        %h2.margin1bottom.title
          Toutes les Images
          .badge.badge-info.fs-origin #{@cms_images.count}
      .float-right
        .row.fileupload-buttonbar
          .col
            %span.btn.btn-secondary.fileinput-button
              %span Ajouter des fichiers ...
              %input{ type: 'file', name: 'files[]', multiple: true }
            %button.btn.btn-primary.start{ type: 'submit' }
              Démarrer
            %button.btn.btn-light.cancel{ type: 'reset' }
              Annuler
    .card-body
      %table.table.table-dark.table-striped{ role: "presentation" }
        %tbody.files{ data: { toggle: "modal-gallery", target: "#modal-gallery" } }

      :plain
          <script>
            var fileUploadErrors = {
              maxFileSize: 'File is too big',
              minFileSize: 'File is too small',
              acceptFileTypes: 'Filetype not allowed',
              maxNumberOfFiles: 'Max number of files exceeded',
              uploadedBytes: 'Uploaded bytes exceed file size',
              emptyResult: 'Empty file upload result'
            };
          </script>
          <script id="template-upload" type="text/html">
          {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
              <tr class="template-upload fade">
                  <td class="name">{%=file.name%}</td>
                  <td class="size">{%=o.formatFileSize(file.size)%}</td>
                  {% if (file.error) { %}
                    <td class="error"><span class="badge badge-danger fs-origin">Erreur</span> {%=fileUploadErrors[file.error] || file.error%}</td>
                  {% } else { %}
                    <td style="width:120px;">
                        <div class="progress progress-success progress-striped active margin1top"><div class="progress-bar" style="width:0%;"></div></div>
                    </td>
                  {% } %}
                  <td class="alignright">
                    {% if (!i && !o.options.autoUpload && !file.error) { %}
                      <button class="start btn btn-primary margin1right">
                        Démarrer
                      </button>
                    {% } %}
                    {% if (!i) { %}
                        <button class="cancel btn btn-light">
                          Annuler
                        </button>
                    {% } %}
                  </td>
              </tr>
          {% } %}
          </script>
          <script id="template-download" type="text/html">
          {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
              <tr class="template-download fade">
                  {% if (file.error) { %}
                    <td class="name">{%=file.name%}</td>
                    <td class="error" colspan="2"><span class="badge badge-danger fs-origin">Erreur</span> {%=fileUploadErrors[file.error] || file.error%}</td>
                  {% } else { %}
                    <td class="name">{%=file.name%}</td>
                    <td class="new_name">{%=file.new_name%}</td>
                    <td class="message">
                      {% if (file.message) { %}
                        {%= file.message %}
                      {% } else { %}
                        <span class="badge badge-success fs-origin">Envoyé</span>
                      {% } %}
                    </td>
                  {% } %}
                    <td class="alignright">
                      <button class="cancel btn btn-light">
                        Vu
                      </button>
                    </td>
              </tr>
          {% } %}
          </script>

      #cms_images
        %table.table.table-striped
          %tbody
            - @cms_images.each_with_index do |cms_image,index|
              %tr
                %td.center
                  %b= index+1
                %td= link_to image_tag(cms_image.cloud_content_thumbnail_object.path.to_s), cms_image.cloud_content_object.service_url.to_s, target: :_blank
                %td
                  = link_to cms_image.name, cms_image.cloud_content_object.service_url.to_s, target: :_blank
                  %br
                  = cms_image.get_identity
                %td.center
                  = link_to 'supprimer', [:admin, cms_image], method: :delete, data: { confirm: t('actions.confirm') }
