!!!
%html
  %head
    %title iDocus - Import d'écriture
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-type' }
  %body
    %table
      %tr
        %th Date :
        %td= I18n.l((@preseizure || @report).updated_at)
      %tr
        %th Cabinet :
        %td= @ibiza.organization.name
      %tr
        %th Client :
        %td= "#{@report.user.company} - #{@report.user.ibiza_id}"
      %tr
        %th Lot :
        %td= @report.name
      %tr
        %th Numéro de livraison :
        %td= link_to @delivery.number, admin_pre_assignment_delivery_url(@delivery)
      %tr
        %th Mode :
        %td= @delivery.is_auto ? 'Automatique' : 'Manuel'
      %tr
        %th Etat :
        %td= PreAssignmentDelivery.state_machine.states[@delivery.state].human_name
      %tr
        %th Message de retour :
        %td= (@preseizure || @report).delivery_message
