#pre_assignment_deliveries
  .row
    .col-md-12
      .box.small-shadow.clearfix
        .float-left
          %h3
            Liste des livraisons de pré-affectation vers #{@pre_assignment_deliveries_software}
            %span.badge.badge-info= @pre_assignment_deliveries_count

  .row.retractable.with-filter
    .col-md-12
      .box
        .row
          .col.mt-4
            = render partial: 'shared/list_options', locals: { collection: @pre_assignment_deliveries }
        %table.table.table-condensed.table-striped.margin1top.margin0bottom.table-detachable-head.table-bordered-inner
          %thead
            %tr.bg-brown.text-white
              %th= sortable :id,            'N°'
              %th= sortable :created_at,    t('activerecord.models.common.attributes.created_at')
              %th= sortable :updated_at,    t('activerecord.models.common.attributes.updated_at')
              %th= sortable :pack_name,     t('activerecord.models.pre_assignment_delivery.attributes.pack_name')
              %th= sortable :total_item,    'Nb'
              %th= sortable :is_auto,       'Auto'
              %th= sortable :state,         t('activerecord.models.pre_assignment_delivery.attributes.state')
              %th= sortable :error_message, t('activerecord.models.pre_assignment_delivery.attributes.error_message')
              %th Action
          %tbody.retractable.slidedown
            - @pre_assignment_deliveries.each do |delivery|
              %tr
                %td= delivery.id
                %td= l(delivery.created_at, format: '%d %b %Y %H:%M')
                %td= l(delivery.updated_at, format: '%d %b %Y %H:%M')
                %td= delivery.pack_name
                %td= delivery.total_item
                %td= delivery.is_auto ? t('yes_value') : t('no_value')
                %td= pre_assignment_delivery_state delivery
                %td= delivery.error_message.to_s[0..55]
                %td.text-center= link_to glyphicon('eye'), admin_pre_assignment_delivery_path(delivery), title: 'Afficher les détails'
        %br
        .row
          .col.mb-4
            = render partial: 'shared/list_options', locals: { collection: @pre_assignment_deliveries }
    = render partial: 'sidebar'
