#pre_assignment_delivery.show
  .card
    .card-header
      .float-left
        %h3 Détail de la livraison n°#{@delivery.id}
      .float-right
        = link_to t('actions.return'), admin_pre_assignment_deliveries_path(software: @delivery.deliver_to), class: 'btn btn-primary'
    .card-body
      %table.table.table-condensed.table-striped.table-bordered-inner
        %tr
          %th= t('activerecord.models.pre_assignment_delivery.attributes.deliver_to')
          %td= @delivery.human_form_of_deliver_to
        %tr
          %th= t('activerecord.models.common.attributes.created_at')
          %td= l(@delivery.created_at, format: '%d %b %Y %H:%M')
        %tr
          %th= t('activerecord.models.common.attributes.updated_at')
          %td= l(@delivery.updated_at, format: '%d %b %Y %H:%M')
        %tr
          %th= t('activerecord.models.pre_assignment_delivery.attributes.pack_name')
          %td= @delivery.pack_name
        %tr
          %th= t('activerecord.models.pre_assignment_delivery.attributes.total_item')
          %td= @delivery.total_item
        %tr
          %th= t('activerecord.models.pre_assignment_delivery.attributes.is_auto')
          %td= @delivery.is_auto ? t('yes_value') : t('no_value')
        %tr
          %th= t('activerecord.models.pre_assignment_delivery.attributes.software_id')
          %td= @delivery.software_id
        %tr
          %th= t('activerecord.models.pre_assignment_delivery.attributes.grouped_date')
          %td= l(@delivery.grouped_date, format: '%B %Y') rescue nil
        %tr
          %th= t('activerecord.models.pre_assignment_delivery.attributes.error_message')
          %td= @delivery.error_message
        %tr
          %th= t('activerecord.models.pre_assignment_delivery.attributes.state')
          %td= pre_assignment_delivery_state @delivery
        %tr
          %th= t('activerecord.models.pre_assignment_delivery.attributes.data_to_deliver')
          %td
            - begin
              - if @delivery.data_to_deliver.present?
                %textarea{ rows: 50 }= @delivery.data_to_deliver
              - else
                %textarea{ rows: 50 }= File.read(@delivery.cloud_content_object.path)
            - rescue => e
              Erreur de chargement du fichier :
              = e.to_s
