- if flash[:notice].present?
  != render :partial => '/shared/notice_message', :locals => {:title => 'Opération réussie !', :message => flash[:notice]}

%h2
  Connexion

%p.message.margin1left.margin1right.margin4top.margin4bottom{ :style => "color:#3E2F24; font-weight:bold; font-size:24px;" }
  Site en cours de migration,
  %br
  %br
  iDocus revient très vite.
  %br
  %br
  %img{ :src => "#{(CmsImage.find_by_name("numeroazur222x33.png")).content.url rescue 'image_not_found.png'}", :alt => "Numéro Azur" }/
%p
  Connexion administrateur :
%br
- if devise_mapping.authenticatable?
  - form_for resource_name, resource, :url => session_path(resource_name) do |f|

    - if flash[:alert].present?
      - if flash[:alert]
        .errors.margin2bottom
          %span.title
          %ul
            %li
              Vous devez être enregistré ou identifié pour continuer.
      - else
        - error_class = "error"
        .errors.margin2bottom
          %span.title
            Erreurs à la validation du formulaire
          %ul
            %li
              Email ou mot de passe invalide
    - else
      - error_class = ""

    != f.label:"Identifiant :", :class => "margin2top"
    != f.text_field :email, :class => "w410 #{error_class}"

    != f.label:"Mot de passe :", :class => "margin2top"
    != f.password_field :password, :class => "w410 #{error_class}"


    .buttonsrow.margin3top
      != f.submit "VALIDER", :class => "button whitebtn w100 floattoright"
