#emails
  .row
    .col-md-12
      .box.small-shadow.clearfix
        .float-left
          %h3
            Liste des mails d'envoi de documents
            %span.badge.badge-info.fs-origin= @emails_count

  .row.retractable.with-filter
    .col-md-12
      .box
        .row
          .col.mt-4
            = render partial: 'shared/list_options', locals: { collection: @emails }
        %table.table.table-condensed.table-striped.margin1top.margin0bottom.table-detachable-head.table-bordered-inner
          %thead
            %tr.bg-brown.text-white
              %th= sortable :created_at, t('activerecord.models.common.attributes.created_at')
              %th= sortable :state,      t('activerecord.models.email.attributes.state')
              %th= sortable :from,       t('activerecord.models.email.attributes.from')
              %th= sortable :to,         t('activerecord.models.email.attributes.to')
              %th= sortable :subject,    t('activerecord.models.email.attributes.subject')
              %th= sortable :size,       t('activerecord.models.email.attributes.size') + ' (Mo)'
              %th= t('activerecord.models.email.attributes.attachment_names_count')
              %th Actions
          %tbody.retractable.slidedown
            - @emails.each do |email|
              %tr
                %td= l(email.created_at, format: '%d %b %Y %H:%M')
                %td= email_state email
                %td
                  - if email.from_user
                    = link_to(email.from_user.code, [:admin, email.from_user])
                    \-
                  = email.from
                %td
                  - if email.to_user
                    = link_to(email.to_user.code, [:admin, email.to_user])
                    \-
                  = email.to
                %td= email.subject
                %td= file_size email.size
                %td= email.attachment_names.try(:count)
                %td.text-center
                  - if email.errors_list.try(:any?)
                    = link_to glyphicon('warning'), show_errors_admin_emailed_document_path(email), title: 'Afficher les erreurs'
                    &nbsp;
                  - if email.cloud_original_content_object.try(:path).present?
                    = link_to glyphicon('data-transfer-download'), admin_emailed_document_path(email), title: 'Télécharger le mail original'
        %br
        .row
          .col.mb-4
            = render partial: 'shared/list_options', locals: { collection: @emails }
    = render partial: 'sidebar'
