.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active!= link_to "All events", admin_events_path
  .content
    %br
    %br
    .inner
      %table.table
        %tr
          %th Created at
          %th Customer
          %th Title
          %th Price
          %th Type
          %th.last &nbsp;
        - @events.each do |event|
          %tr{:class => cycle("odd", "even")}
            %td!= l(event.created_at)
            %td!= link_to event.user.email, [:admin, event.user]
            %td!= event.title
            %td
              #{format_price event.price_in_cents_wo_vat} € HT
              %br
              %small
                #{format_price event.price_in_cents_w_vat} € TTC
            %td
              - if event.type_number == 0
                Ok
              - elsif event.type_number == 1
                Débit
              - elsif event.type_number == 2
                Crédit
              - else
                Inconnu
            %td.last
      
      .actions-bar.wat-cf
        .actions
        != will_paginate @events
        
- content_for :sidebar, render(:partial => 'sidebar')