#retrieved_documents.row-fluid
  .span12
    .box
      .row-fluid
        .span6
          %h3 Documents (#{@documents_count})
        .span6
          = link_to "#{@is_filter_empty ? 'Afficher' : 'Cacher'} le filtre", '#', class: 'btn pull-right toggle_filter'
    .filter.box{ class: ('hide' if @is_filter_empty) }
      = form_tag account_retrieved_documents_path, method: :get, class: 'form form-vertical margin0bottom' do
        %table.table-condensed
          %thead
            %tr
              - if params[:document_contains] && params[:document_contains][:transaction_id]
                %th= label_tag 'document_contains[transaction_id]', 'Transaction'
              %th= label_tag 'document_contains[service_name]',     'Service'
              %th= label_tag 'document_contains[date][>=]',       'Date de début'
              %th= label_tag 'document_contains[date][<=]',       'Date de fin'
              %th= label_tag 'document_contains[name]',             'Nom original'
              %th
          %tbody
            %tr
              - if @transaction
                %td
                  .label= l(@transaction.created_at)
                  = hidden_field_tag 'document_contains[transaction_id]', @transaction.id
              %td
                - if @transaction
                  .label= @transaction.custom_service_name
                - else
                  = text_field_tag 'document_contains[service_name]', (params[:document_contains][:service_name] rescue ''), class: 'input-medium'
              %td
                .input-append.date.datepicker
                  = text_field_tag 'document_contains[date][>=]', (params[:document_contains][:date]['>='] rescue ''), class: 'input-small'
                  %span.add-on
                    %i.icon-th
              %td
                .input-append.date.datepicker
                  = text_field_tag 'document_contains[date][<=]', (params[:document_contains][:date]['<='] rescue ''), class: 'input-small'
                  %span.add-on
                    %i.icon-th
              %td= text_field_tag 'document_contains[name]', (params[:document_contains][:name] rescue ''), class: 'input-medium'
              %td
                = submit_tag t('filters.action'), class: 'btn btn-primary'
                = link_to icon(icon: 'remove'), account_retrieved_documents_path, class: 'btn', title: t('filters.reset')
    .box
      = render partial: 'shared/list_options', locals: { collection: @documents }
      %table.table.table-bordered.table-condensed.table-striped.margin1top.margin0bottom
        %thead
          %tr
            %th= sortable :created_at,              'Date de la récupération'
            %th= sortable :retriever_id,            'Service'
            %th= sortable 'metadata.date',          'Date'
            %th= sortable 'metadata.name',          'Nom original'
            %th Nom iDocus
            %th.pages= sortable :pages_number,      'Nb. pages'
            %th.amount                              Montant
        %tbody
          - @documents.each do |document|
            %tr
              %td= l(document.created_at)
              %td
                - if document.retriever.nil?
                  %span.label supprimé
                = document.retriever_name
              %td= l(document.metadata['date'], format: '%d %b %Y')
              %td= link_to document.metadata['name'] + '.pdf', account_retrieved_document_path(document)
              %td
                = link_to document.piece.content_file_name, piece_account_retrieved_document_path(document) if document.piece
              %td.pages= document.pages_number
              %td.amount= document.metadata['amount'].to_s + ' €'
      = render partial: 'shared/list_options', locals: { collection: @documents }
