%td.organization.clearfix
  = link_to @organization.name, [:account, @organization]
  = link_to image_tag('application/icon-xls.png', alt: 'Export XLS', style: 'position:relative;top:-2px;'), "/admin/reporting/#{@year}.xls?organization_id=#{@organization.id}", title: 'Export XLS', class: 'float-right'
  %input{ :type => "hidden", class: 'total-span-3', value: @year }
- @total = 12.times.map { |e| [0,0,0] }
- 12.times.each do |i|
  %td.months_list
    - time = Time.local(@year, i+1, 15)
    - invoice = invoice_at(time, @organization, @invoices)
    - user_ids = @organization.customers.active_at(time.to_date).pluck(:id)
    - centralized_periods = Period.where(user_id: user_ids).where("start_date <= ? AND end_date >= ?", time.to_date, time.to_date)
    - not_centralized_periods = []
    - not_centralized_price_in_cents_wo_vat = 0
    - not_centralized_price_in_cents_w_vat = 0

    - if invoice
      - vat_ratio = invoice.vat_ratio.to_f != 0 ? invoice.vat_ratio.to_f : 1
      - price_in_cents_w_vat  = invoice.amount_in_cents_w_vat
      - price_in_cents_wo_vat = (price_in_cents_w_vat / vat_ratio).round
    -else
      - vat_rate = Billing::PeriodBilling.vat_ratio(time)
      - price_in_cents_wo_vat = Billing::PeriodBilling.amount_in_cents_wo_vat(time.month, centralized_periods)
      - price_in_cents_w_vat  = (price_in_cents_wo_vat * vat_rate).round

    - if centralized_periods.size > 0 || not_centralized_periods.size > 0
      %div
        = "#{format_price_00(price_in_cents_wo_vat)} €"
        %span.df_symbol HT
      - if invoice
        %div
          != link_to "#{format_price_00(price_in_cents_w_vat)} €", admin_invoice_path(invoice), class: 'do-showInvoice', title: "#{invoice.number}.pdf"
          %span.vat_symbol TTC
      - else
        %div
          = "#{format_price_00(price_in_cents_w_vat)} €"
          %span.vat_symbol TTC
      - @total[i][0] += price_in_cents_wo_vat
      - @total[i][1] += price_in_cents_w_vat
      %input{ :type => "hidden", class: 'total-span-0', value: @total[i][0] }
      %input{ :type => "hidden", class: 'total-span-1', value: @total[i][1] }
      - if not_centralized_price_in_cents_wo_vat > 0
        %div
          = "#{format_price_00(not_centralized_price_in_cents_wo_vat)} €"
          %span.df_symbol HT
        %div
          = "#{format_price_00(not_centralized_price_in_cents_w_vat)} €"
          %span.vat_symbol TTC
        - @total[i][0] += not_centralized_price_in_cents_wo_vat
        - @total[i][1] += not_centralized_price_in_cents_w_vat
        %input{ :type => "hidden", class: 'total-span-0', value: @total[i][0] }
        %input{ :type => "hidden", class: 'total-span-1', value: @total[i][1] }
      %div
        - organization_periods = centralized_periods.includes(:organization).select { |e| e.organization }
        - size = centralized_periods.size + not_centralized_periods.size - organization_periods.size
        = size
        - @total[i][2] += size
        %input{ :type => "hidden", class: 'total-span-2', value: @total[i][2].to_i }
    - else
      \-