#mobile_reporting
  .row
    .col-md-12
      .box.small-shadow.clearfix
        = render 'layouts/admin/statistics/navigation'
  .card
    .card-header.clearf-x
      .float-left
        %h3.margin1top.margin1bottom Statistiques d'utilisation de l'application mobile
      .float-right
        .filter.box.margin1top
          = form_tag admin_mobile_reporting_index_path, method: :get, class: 'form form-vertical margin0bottom' do
            %table.table.table-condensed.margin0bottom
              %thead
                %tr
                  %th Mois
                  %th Année
                  %th
              %tbody
                %tr
                  %td
                    = select_tag "month", options_for_select(get_options_months, params[:month] || Date.today.strftime("%m").to_s), class: 'form-control'
                  %td
                    = select_tag "year", options_for_select(get_options_years, params[:year] || Date.today.strftime("%Y").to_s), class: 'form-control'
                  %td
                    = submit_tag t('actions.submit'), class: 'btn btn-primary'
    .card-body
      .row
        .col-12.center
          %br
          %h3{ style: 'text-decoration: underline' }
            - month = get_options_months.map{ |m| m.first if(m.last == @month_params) }.compact
            = "Statistique du mois de : #{month.first} #{@year_params}"
      .row
        .col-8
          .panel
            %h3.text-center UTILISATEURS APPLICATION MOBILE
            .row
              .col-6
                #usersLoading.blink Chargement en cours...
                %canvas.chartContainer#chartUsersContainer
                .legends
                  %ul.list-group
                    %li.list-group-item.liFloat
                      %span.badge.badge-secondary.with-idocus
                        Utilisateurs iDocus (actifs) : 
                        %strong#usersCount 0
                  .clearfix
                  %ul.list-group.list-inline.list-group-horizontal
                    %li.liFloat.text-center.list-group-item
                      %span.badge.badge-warning.with-mobile
                        Utilisateurs mobile total : 
                        %strong#usersMobileCount 0
                    %li.liFloat.text-center.list-group-item
                      %span.badge.badge-danger.with-ios
                        iOS : 
                        %strong#iOSUsersCount 0
                    %li.liFloat.text-center.list-group-item
                      %span.badge.badge-success.with-android
                        Android : 
                        %strong#androidUsersCount 0
              .col-6
                #uploaderLoading.blink Chargement en cours...
                %canvas.chartContainer#chartUploaderContainer
                .legends
                  .row
                    .col-6
                      %ul.list-group
                        %li.text-center.list-group-item
                          .badge.badge-primary.with-default
                            Simple consultation : 
                            %strong#viewerUsersCount 0
                        %li.text-center.list-group-item
                          .badge.badge-success.with-custom 
                            Avec téléversement : 
                            %strong#uploaderUsersCount 0
                    .col-6{ style: 'text-align:right;' }= link_to image_tag('application/icon-xls.png', alt: 'Export xls', style: 'position:relative;top:-2px;') + ' Téléchargement détails', "#{download_users_admin_mobile_reporting_index_path}/#{@month_params}/#{@year_params}"
        .col-4
          .panel
            %h3.text-center TELEVERSEMENT DE DOCUMENTS
            #documentsLoading.blink Chargement en cours...
            %canvas.chartContainer#chartDocumentsContainer
            .legends
              .row
                .col-6
                  %ul.list-group
                    %li.text-center.list-group-item
                      .badge.badge-info.with-default
                        Upload via iDocus : 
                        %strong#uploadedFrameworkDocumentsCount 0
                    %li.text-center.list-group-item
                      .badge.badge-danger.with-custom 
                        Upload via App Mobile : 
                        %strong#uploadedMobileDocumentsCount 0
                .col-6{ style: 'text-align:right;' }= link_to image_tag('application/icon-xls.png', alt: 'Export xls', style: 'position:relative;top:-2px;') + ' Téléchargement détails', "#{download_documents_admin_mobile_reporting_index_path}/#{@month_params}/#{@year_params}"