.row-fluid
  %h3 Filtres

  = form_tag account_scans_path, method: :get, class: 'form form-vertical margin0bottom' do
    %br
    = hidden_field_tag :direction, sort_direction
    = hidden_field_tag :sort, sort_column
    = hidden_field_tag :per_page, per_page

    = label_tag 'scan_contains[scanned_at][$gte]', 'Date de début'
    .input-prepend.date.datepicker
      %span.add-on
        %i.icon-th
      = text_field_tag 'scan_contains[scanned_at][$gte]', (params[:scan_contains][:scanned_at]['$gte'] rescue '')

    = label_tag 'scan_contains[scanned_at][$lte]', 'Date de fin'
    .input-prepend.date.datepicker
      %span.add-on
        %i.icon-th
      = text_field_tag 'scan_contains[scanned_at][$lte]', (params[:scan_contains][:scanned_at]['$lte'] rescue '')

    = label_tag 'scan_contains[name]', 'Nom du lot'
    = text_field_tag 'scan_contains[name]', (params[:scan_contains][:name] rescue ''), class: 'span12'

    = submit_tag t('filters.action'), class: 'btn btn-primary'
    = link_to t('filters.reset'), account_scans_path, class: 'btn'
