#scans.container-fluid
  .row-fluid
    .span12.box
      %h3 Numérisations (#{@scans.size})
  .row-fluid
    .span9.box
      = render 'shared/list_options', collection: @scans
      %table.table.table-bordered.table-condensed.table-striped.margin1top.margin0bottom
        %thead
          %tr
            %th= sortable :scanned_at, 'Date'
            %th= sortable :name,       'Nom du lot'
        %tbody
          - @scans.each do |scan|
            %tr
              %td= l scan.scanned_at, format: '%d %B %Y'
              %td
                - if scan.pack
                  = link_to scan.name, account_documents_path(pack_name: scan.name), target: '_blank'
                - else
                  scan.name
      = render 'shared/list_options', collection: @scans
    .span3.box
      = render 'sidebar'
