!!!
%html
  %head
    %title [iDocus] Envoi par mail : succès
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-type' }
  %body
    Bonjour #{@emailed_document.user.name},
    %br
    %br
    Suite à votre envoi par mail, la plateforme iDocus a bien reçu vos documents suivants :
    %br
    %ul
      - @emailed_document.attachments.each do |attachment|
        %li= attachment.name
    %br
    =================
    %br
    %br
    Rappel des règles d’utilisation pour envoyer par mail des pièces dans iDocus
    %br
    %br
    Format de l’objet du mail : [libellé court] [période]
    %br
    exemple :
    %i #{@journals.first.name} #{@period_service.names.first}
    %br
    %br
    La plateforme iDocus intégrera les pièces jointes (#{UploadedDocument.valid_extensions}) de votre mail.
    %br
    %br
    La somme des tailles des pièces jointes de votre mail ne doit pas dépasser 10 Mo.
    %br
    %br
    Vos journaux comptables accessibles :
    %br
    %ul
      - @journals.each do |journal|
        %li= "#{journal.name} (#{journal.description.sub(/\A\s*\(/,'').sub(/\)\s*\z/,'')})"
    %br
    Vos périodes actuellement accessibles :
    %br
    %ul
      - @period_service.names.each do |name|
        %li= name
    %br
    Cordialement,
    %br
    L’équipe iDocus
    %br
    = link_to 'support@idocus.com', 'mailto:support@idocus.com'
