.row-fluid
  .span12.panel
    = simple_form_for [:admin, @product_option], html: { class: 'form form-horizontal margin2top' } do |f|
      = f.input :name
      = f.input :title
      = f.input :description
      = f.input :position,              as: :integer
      = f.input :price_in_cents_wo_vat, as: :integer
      = f.input :duration,              as: :integer
      = f.input :quantity,              as: :integer
      = f.input :product_group, collection: ProductGroup.asc(:name).map { |e| [[e.products_title,e.name].join(' - '), e.id] }, selected: [@product_option.product_group.try(:id)], include_blank: false
      .control-group
        %span.control-label= t('simple_form.labels.product_option.action_names')
        .controls
          - [:authorize_dematbox, :authorize_fiduceo, :authorize_preassignment, :authorize_upload, :update_max_number_of_journals].each do |action_name|
            = check_box_tag 'product_option[action_names][]', action_name, @product_option.action_names.include?(action_name.to_s), id: "product_option_action_names_#{action_name}", class: 'pull-left'
            = label_tag "product_option_action_names_#{action_name}", t("subscription.actions.#{action_name}"), class_name: 'control-label', class: 'margin2left'
          = hidden_field_tag 'product_option[action_names][]', ''
      = f.input :notify,                as: :boolean
      = f.input :is_default,            as: :boolean
      .form-actions.margin0bottom
        = f.submit t('actions.submit'), class: 'btn btn-primary'
        = link_to t('actions.cancel'), admin_products_path, class: 'btn'
