.group
  != f.label :title, "Title *", :class => :label
  != f.text_field :title, :class => 'text_field'
  
.group
  != f.label :description, "Déscription", :class => :label
  != f.text_field :description, :class => 'text_field'

.group
  != f.label :price_in_cents_wo_vat, "Price (in cents, without VAT) *", :class => :label
  != f.text_field :price_in_cents_wo_vat, :class => 'text_field'

.group
  != f.label :position, "Position", :class => :label
  != f.text_field :position, :class => 'text_field'
  
.group
  != f.label :require_addresses, "Adresse requise?", :class => :label
  != f.check_box :require_addresses, :class => 'check_box'
  
.group
  != f.label :duration, "Durée de l'abonnement ( en nombre de mois, laisser à 1 pour normal ) ?", :class => :label
  != f.text_field :duration, :class => 'text_field'
  
- if @product_option.product
  - groups = Group.where(:product_id => @product_option.product.id).entries
- else
  - groups = Group.find(:all)
.group
  != f.label :group_id, "Sélectionner un groupe", :class => :label
  != f.collection_select :group_id, groups, :id, :title, :prompt => "Selectionner un groupe"
  
.group
  != f.label :product_id, "Sélectionner un produit :", :class => :label
  != f.collection_select :product_id, Product.find(:all), :id, :title, :include_blank => false, :prompt => "Selectionner un produit"
  %br
  %br
  ou créer un nouveau produit :
  %br
  %br
  .group
    != f.label :new_product_title, "Title *", :class => :label
    != f.text_field :new_product_title, :class => 'text_field'
    
    != f.label :new_product_description, "Déscription", :class => :label
    != f.text_field :new_product_description, :class => 'text_field'
    
    != f.label :new_product_price_in_cents_wo_vat, "Price (in cents, without VAT) *", :class => :label
    != f.text_field :new_product_price_in_cents_wo_vat, :class => 'text_field'
    
    != f.label :new_product_category, "Catégorie :", :class => :label
    %select{ :name => :category, :id => :category }
      %option{ :value => 1 } Numérisation
      %option{ :value => 2 } Sauvegarde
    
    != f.label :new_product_position, "Position", :class => :label
    != f.text_field :new_product_position, :class => 'text_field'

.group.navform.wat-cf
  %button.button{:type => 'submit'}
    != image_tag("web-app-theme/tick.png", :alt => "Save")
    Save
  != link_to image_tag("web-app-theme/cross.png", :alt => "Cancel") + "Cancel", admin_products_path, :class => "button"

.group
  %em
    %b *
    mandatory fields.
