= render partial: 'admin/products/navigation'

.row-fluid
  .span.well
    .pull-left
      %h2= "#{t('actions.edit')} : #{@product_option.title}"
    .pull-right
      = link_to t('actions.new'), new_admin_product_option_path, class: 'btn'
      = link_to t('actions.destroy'), admin_product_option_path(@product_option), data: { confirm: 'Voulez vous vraiment suprimer cette option ?' }, method: 'delete', class: 'btn'

= render partial: 'form'