- part ||= ['',':date','','']
- left_addition = part[0]
- field = part[1]
- format = part[2]
- right_addition = part[3]
%li.field.pull-left
  .input-prepend.input-append
    %span.add-on.pull-left
      = link_to icon_move, '#'
    = text_field_tag :left_addition, left_addition, id: '', class: 'pull-left', style: 'text-align:right;'
    = select_tag :directive, options_for_select(csv_descriptor_options,field), id: '', class: 'pull-left'
    = text_field_tag :format, format, id: '', class: 'pull-left'
    = text_field_tag :right_addition, right_addition, id: '', class: 'pull-left'
    %span.add-on.pull-left
      = link_to icon_destroy, '#', id: '', class: 'remove_field'
