- url = account_organization_csv_descriptor_path(@organization)
- url = account_organization_customer_csv_descriptor_path(@organization, @customer) if @customer.present?
= simple_form_for @csv_descriptor, url: url, html: { class: 'form-horizontal label-auto' } do |f|
  .card-body
    .row
      .col-md-6
        .row-fluid
          .col-md-12
            Ajouter les champs souhaités.
            %b Un « Séparateur » est ajouté automatiquement après chacun des champs sélectionnés.
            %br
            Le « Séparateur » est constitué d’un point-virgule
            %span.separator ;
            , cliquez dessus pour en
            %b Ajouter ou Supprimer
            .row
              .col-md-6.padding1top
                = link_to 'Ajouter un champ', '#', class: 'btn btn-primary add_field'
                = link_to 'Ajouter tous les champs', '#', class: 'btn btn-success add_all_fields'
                %br
                = link_to 'Supprimer tous les champs', '#', data: { confirm: 'Etes-vous sûr ?' }, class: 'btn btn-danger remove_all_fields', style: 'margin-bottom: 1.5rem;margin-top: 0.3rem;'
              .col-md-6.clearfix
                .float-right
                  = f.input :directive, as: :hidden
                  = f.input :comma_as_number_separator, as: :boolean

        .row-fluid.margin2bottom
          .col-md-12.clearfix.border.box.bg-light
            .fields
              %ul.list.clearfix
                - @csv_descriptor.directive_to_h.each do |part|
                  = render partial: 'account/csv_descriptors/field', locals: { part: part }

        .template.hide= render 'account/csv_descriptors/field', locals: { selected: :date }
      .col-md-6
        = render partial: 'account/csv_descriptors/legend'
  .card-footer
    .form-actions
      - if @customer && !@customer.configured?
        = link_to t('actions.previous_step'), previous_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-secondary'
        = link_to t('actions.complete_later'), complete_later_account_organization_customer_setup_path(@organization, @customer), class: 'btn'
        = f.submit t('actions.next_step'), class: 'btn btn-primary'
      - else
        = f.submit t('actions.submit'), class: 'btn btn-primary'
        - cancel_url = account_organization_path(@organization, tab: 'csv_descriptor')
        - cancel_url = account_organization_customer_path(@organization, @customer, tab: 'csv_descriptor') if @customer.present?
        = link_to t('actions.cancel'), cancel_url, class: 'btn btn-light'