.row-fluid.margin2bottom
  .span12
    .span12
      Ajouter les champs souhaités.
      %b
        N’oubliez pas de mettre un champ « Séparateur » après chacun des champs sélectionnés.
      %br
        Le champ « Séparateur » est constitué d’un point-virgule (;) et est nécessaire après chaque champ.
      %br
      = link_to icon_new + ' Ajouter un champ', '#', class: 'btn add_field'
      = link_to icon_destroy + ' Supprimer tous les champs', '#', data: { confirm: 'Etes-vous sûr ?' }, class: 'btn remove_all_fields'

- url = account_organization_csv_descriptor_path(@organization)
- url = account_organization_customer_csv_descriptor_path(@organization, @customer) if @customer.present?
= simple_form_for @csv_descriptor, url: url, html: { class: 'form form-horizontal margin0bottom' } do |f|
  .row-fluid.margin2bottom
    .span12.border
      .span.fields
        %ul.list
          - @csv_descriptor.directive_to_a.each do |part|
            = render partial: 'account/csv_descriptors/field', locals: { part: part }
  .row-fluid
    .span12
      = f.input :directive, as: :hidden
      = f.input :comma_as_number_separator, as: :boolean
  .form-actions.margin0bottom
    = f.submit t('actions.submit'), class: 'btn btn-primary'
    - cancel_url = account_organization_path(@organization, tab: 'csv_descriptor')
    - cancel_url = account_organization_customer_path(@organization, @customer, tab: 'csv_descriptor') if @customer.present?
    = link_to t('actions.cancel'), cancel_url, class: 'btn'

.template.hide= render 'account/csv_descriptors/field', locals: { selected: :date }
