%ul.nav.nav-tabs
  %li{ class: ('active' if controller_name == 'account_sharings') }
    = link_to "Dossiers partagés (#{@account_sharings.count})", account_organization_account_sharings_path(@organization)
  / %li{ class: ('active' if controller_name == 'account_sharing_groups') }
  /   = link_to "Groupe de dossiers partagés (#{@account_sharing_groups.count})", account_organization_account_sharing_groups_path(@organization)
  %li{ class: ('active' if controller_name == 'guest_collaborators') }
    = link_to "Collaborateurs (#{@guest_collaborators.count})", account_organization_guest_collaborators_path(@organization)
