#account_sharings
  .row-fluid
    .span12.box
      .row-fluid
        .span12
          = render partial: 'navigation'
      .row-fluid
        .span9
          = render partial: 'shared/list_options', locals: { collection: @account_sharings }
          %table.table.table-bordered.table-condensed.table-striped.margin1top.margin0bottom
            %thead
              %tr
                %th= sortable :created_at, 'Date de partage'
                %th Dossier
                %th Collaborateur
                %th Action
            %tbody
              - @account_sharings.each do |account_sharing|
                %tr
                  %td.date= account_sharing.created_at.strftime('%d/%m/%Y %H:%M')
                  %td= link_to account_sharing.account.info, account_organization_customer_path(@organization, account_sharing.account)
                  %td= account_sharing.collaborator.info
                  %td= link_to icon_destroy, account_organization_account_sharing_path(@organization, account_sharing), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir annuler le partage du dossier \"#{account_sharing.account.info}\" au collaborateur \"#{account_sharing.collaborator.info}\" ?" }
          = render partial: 'shared/list_options', locals: { collection: @account_sharings }
        .span3
          .alignright.margin1bottom
            = link_to icon_new + ' Partager un dossier', new_account_organization_account_sharing_path(@organization), class: 'btn btn-primary'
          = render partial: 'sidebar'
