%h2.aligncenter.font-weight-bold Connexion au compte iDocus

%hr

- if flash[:alert].present?
  - error_class = 'error'
  .alert.alert-danger
    %a.close{ data: { dismiss: 'alert' } } ×
    = flash[:alert].capitalize
- else
  - error_class = ''

= simple_form_for resource, url: session_path(resource_name) do |f|
  = f.input :email, wrapper_html: { class: error_class }, label: user_login_tag
  = f.input :password, wrapper_html: { class: error_class }, required: true, label: user_password_tag
  .form-actions.margin3top.clearfix
    .row
      .col-sm-6
        = f.check_box :remember_me, class: 'float-left'
        = f.label :remember_me, 'Rester connecté ?', class: 'control-label', style: 'padding:0;padding-top:1px;margin-left:5px;text-align:left;width:180px;'
      .col-sm-6
        = f.submit 'Connexion', class: 'btn btn-primary float-right'
        .float-right{ style: 'margin-top:6px;margin-right:6px' }
          = link_to 'Mot de passe oublié ?', new_user_password_path, style: 'margin-left:10px;'
