#news.show
  .row
    .col-md
      .box.small-shadow.clearfix
        = render partial: 'navigation'

  .row
    .col-md-12
      .box.clearfix
        .float-left
          %h2
            Annonce 
            .badge.badge-info.fs-origin #{@news.title}
        .float-right
          - unless @news.published?
            = link_to 'Publier maintenant', publish_admin_news_path(@news), data: { method: 'POST', confirm: t('actions.confirm') }, class: 'btn btn-primary'
          = link_to t('actions.edit'), edit_admin_news_path(@news), { class: 'btn btn-primary' }
          = link_to t('actions.return'), admin_news_index_path, class: 'btn btn-primary'

  .row
    .col-md-4
      %table.table.table-condensed.table-bordered-inner.table-striped
        %thead
          %tr
            %th{ colspan: 2 }
              %h3 Informations
        %tbody
          %tr
            %th= t('activerecord.models.common.attributes.created_at')
            %td= l(@news.created_at)
          %tr
            %th= t('activerecord.models.common.attributes.updated_at')
            %td= l(@news.updated_at)
          %tr
            %th= t('activerecord.models.news.attributes.published_at')
            %td
              - if @news.published_at
                = l(@news.published_at)
              - else
                %i.gray Pas encore publié
          %tr
            %th= t('activerecord.models.news.attributes.target_audience')
            %td= t('simple_form.labels.news.target_audiences.'+ @news.target_audience)
          %tr
            %th= t('activerecord.models.news.attributes.url')
            %td= link_to @news.url, @news.url, target: '_blank'
    .col-md-8
      .box
        != @news.body
