#file_naming_policy.edit.derivationRight
  .card
    .card-header
      %h3 Edition de la charte de nommage PDF
    = simple_form_for (@file_naming_policy || FileNamingPolicy.new), url: account_organization_file_naming_policy_path(@organization), html: { class: 'form-horizontal' } do |f|
      .card-body
        .row
          .col-md-8
            %table.table.table-condensed
              %thead
                %tr.bg-brown.text-white
                  %th.name Valeur
                  %th.is_used A incorporer
                  %th.position Position
                  %th.hint Commentaire
              %tbody
                %tr
                  %td.name= label_tag 'file_naming_policy[first_user_identifier]', t('activerecord.models.file_naming_policy.attributes.first_user_identifier')
                  %td.is_used= f.input_field :first_user_identifier, collection: [['Code client iDocus', 'code'], ['Nom de la société', 'company']], include_blank: false, label: false
                  %td.position{ class: ('error' if @file_naming_policy.errors.keys.include?(:first_user_identifier_position)) }
                    = f.input_field :first_user_identifier_position, as: :integer, include_blank: false, label: false
                  %td.hint
                    %b Obligatoire
                %tr
                  %td.name= label_tag 'file_naming_policy[second_user_identifier]', t('activerecord.models.file_naming_policy.attributes.second_user_identifier')
                  %td.is_used= f.input_field :second_user_identifier, collection: [['Code client iDocus', 'code'], ['Nom de la société', 'company']], label: false
                  %td.position{ class: ('error' if @file_naming_policy.errors.keys.include?(:second_user_identifier_position)) }
                    = f.input_field :second_user_identifier_position, as: :integer, label: false
                  %td.hint Facultatif
                %tr
                  %td.name= label_tag 'file_naming_policy[is_journal_used]', t('activerecord.models.file_naming_policy.attributes.is_journal_used')
                  %td.is_used= f.input_field :is_journal_used, collection: [['Oui', true], ['Non', false]], include_blank: false, label: false
                  %td.position{ class: ('error' if @file_naming_policy.errors.keys.include?(:journal_position)) }
                    = f.input_field :journal_position, as: :integer, include_blank: false, label: false
                  %td.hint Facultatif
                %tr
                  %td.name= label_tag 'file_naming_policy[is_period_used]', t('activerecord.models.file_naming_policy.attributes.is_period_used')
                  %td.is_used= f.input_field :is_period_used, collection: [['Oui', true], ['Non', false]], include_blank: false, label: false
                  %td.position{ class: ('error' if @file_naming_policy.errors.keys.include?(:period_position)) }
                    = f.input_field :period_position, as: :integer, include_blank: false, label: false
                  %td.hint Facultatif
                %tr
                  %td.name= label_tag 'file_naming_policy[is_piece_number_used]', t('activerecord.models.file_naming_policy.attributes.is_piece_number_used')
                  %td.is_used= f.input_field :is_piece_number_used, collection: [['Oui', true], ['Non', false]], include_blank: false, label: false
                  %td.position{ class: ('error' if @file_naming_policy.errors.keys.include?(:piece_number_position)) }
                    = f.input_field :piece_number_position, as: :integer, include_blank: false, label: false
                  %td.hint Facultatif
            %table.table.table-condensed
              %tbody
                %tr
                  %td.name= label_tag 'file_naming_policy[is_third_party_used]', t('activerecord.models.file_naming_policy.attributes.is_third_party_used')
                  %td.is_used= f.input_field :is_third_party_used, collection: [['Oui', true], ['Non', false]], include_blank: false, label: false
                  %td.position{ class: ('error' if @file_naming_policy.errors.keys.include?(:third_party_position)) }
                    = f.input_field :third_party_position, as: :integer, label: false
                  %td.bg-light.hint{ rowspan: 3 }
                    %ul.padding2left
                      %li
                        %b Ces options ne sont disponibles que sur les dossiers en pré-affectation comptable.
                      %li
                        %b En l'activant, votre fichier ne vous sera livré qu'après le traitement en pré-affectation comptable, sous réserve que la donnée soit disponible.
                %tr
                  %td.name= label_tag 'file_naming_policy[is_invoice_number_used]', t('activerecord.models.file_naming_policy.attributes.is_invoice_number_used')
                  %td.is_used= f.input_field :is_invoice_number_used, collection: [['Oui', true], ['Non', false]], include_blank: false, label: false
                  %td.position{ class: ('error' if @file_naming_policy.errors.keys.include?(:invoice_number_position)) }
                    = f.input_field :invoice_number_position, as: :integer, label: false
                %tr
                  %td.name= label_tag 'file_naming_policy[is_invoice_date_used]', t('activerecord.models.file_naming_policy.attributes.is_invoice_date_used')
                  %td.is_used= f.input_field :is_invoice_date_used, collection: [['Oui', true], ['Non', false]], include_blank: false, label: false
                  %td.position{ class: ('error' if @file_naming_policy.errors.keys.include?(:invoice_date_position)) }
                    = f.input_field :invoice_date_position, as: :integer, label: false
            %table.table.table-condensed#result
              %tbody
                %tr
                  %th.name
                    %span.badge.badge-info.fs-origin Résultat :
                  %td.value
          .col-md-4
            = f.input :scope, collection: [['collaborateurs et clients', 'organization'], ['collaborateurs uniquement', 'collaborators']], include_blank: false
            = f.input :separator, collection: [['Tiret bas "_"', '_'] , ['Tiret "-"', '-']], include_blank: false
      .card-footer
        .form-actions.margin0bottom
          = f.submit t('actions.submit'), class: 'btn btn-primary'
          = link_to t('actions.cancel'), account_organization_path(@organization, tab: 'file_naming_policy'), class: 'btn btn-light'
