#file_naming_policy.edit
  .row-fluid
    .span12.box
      %h3 Edition du nom des fichiers PDF/TIFF

  .row-fluid
    .span12.box
      = simple_form_for (@file_naming_policy || FileNamingPolicy.new), url: account_organization_file_naming_policy_path(@organization), html: { class: 'form form-horizontal margin0' } do |f|
        = f.input :scope, collection: [['collaborateurs et clients', 'organization'], ['collaborateurs uniquement', 'collaborators']], include_blank: false
        = f.input :separator, collection: ['_' , '-'], include_blank: false

        %table.table-condensed
          %thead
            %tr
              %th.name Valeur
              %th.is_used A incorporer
              %th.position Position
              %th.hint Commentaire
          %tbody
            %tr
              %td.name= label_tag 'file_naming_policy[first_user_identifier]', t('mongoid.models.file_naming_policy.attributes.first_user_identifier')
              %td.is_used= f.input_field :first_user_identifier, collection: [['Code client iDocus', 'code'], ['Nom de la société', 'company']], include_blank: false, label: false
              %td.position= f.input_field :first_user_identifier_position, as: :integer, include_blank: false, label: false
              %td.hint
                %b Obligatoire
            %tr
              %td.name= label_tag 'file_naming_policy[second_user_identifier]', t('mongoid.models.file_naming_policy.attributes.second_user_identifier')
              %td.is_used= f.input_field :second_user_identifier, collection: [['Code client iDocus', 'code'], ['Nom de la société', 'company']], label: false
              %td.position= f.input_field :second_user_identifier_position, as: :integer, label: false
              %td.hint Facultatif
            %tr
              %td.name= label_tag 'file_naming_policy[is_journal_used]', t('mongoid.models.file_naming_policy.attributes.is_journal_used')
              %td.is_used= f.input_field :is_journal_used, collection: [['Oui', true], ['Non', false]], include_blank: false, label: false
              %td.position= f.input_field :journal_position, as: :integer, include_blank: false, label: false
              %td.hint Facultatif
            %tr
              %td.name= label_tag 'file_naming_policy[is_period_used]', t('mongoid.models.file_naming_policy.attributes.is_period_used')
              %td.is_used= f.input_field :is_period_used, collection: [['Oui', true], ['Non', false]], include_blank: false, label: false
              %td.position= f.input_field :period_position, as: :integer, include_blank: false, label: false
              %td.hint Facultatif
            %tr
              %td.name= label_tag 'file_naming_policy[is_piece_number_used]', t('mongoid.models.file_naming_policy.attributes.is_piece_number_used')
              %td.is_used= f.input_field :is_piece_number_used, collection: [['Oui', true], ['Non', false]], include_blank: false, label: false
              %td.position= f.input_field :piece_number_position, as: :integer, include_blank: false, label: false
              %td.hint Facultatif
        %table.table-condensed.well
          %tbody
            %tr
              %td.name= label_tag 'file_naming_policy[is_third_party_used]', t('mongoid.models.file_naming_policy.attributes.is_third_party_used')
              %td.is_used= f.input_field :is_third_party_used, collection: [['Oui', true], ['Non', false]], include_blank: false, label: false
              %td.position= f.input_field :third_party_position, as: :integer, label: false
              %td.hint{ rowspan: 3 }
                %ul.padding1left
                  %li
                    %b Ces options ne sont disponibles que sur les dossiers en pré-affectation comptable.
                  %li
                    %b En l'activant, votre fichier ne vous sera livré qu'après le traitement en pré-affectation comptable, sous réserve que la donnée soit disponible.
            %tr
              %td.name= label_tag 'file_naming_policy[is_invoice_number_used]', t('mongoid.models.file_naming_policy.attributes.is_invoice_number_used')
              %td.is_used= f.input_field :is_invoice_number_used, collection: [['Oui', true], ['Non', false]], include_blank: false, label: false
              %td.position= f.input_field :invoice_number_position, as: :integer, label: false
            %tr
              %td.name= label_tag 'file_naming_policy[is_invoice_date_used]', t('mongoid.models.file_naming_policy.attributes.is_invoice_date_used')
              %td.is_used= f.input_field :is_invoice_date_used, collection: [['Oui', true], ['Non', false]], include_blank: false, label: false
              %td.position= f.input_field :invoice_date_position, as: :integer, label: false

        .form-actions.margin0bottom
          = f.submit t('actions.submit'), class: 'btn btn-primary'
          = link_to t('actions.cancel'), account_organization_path(@organization, tab: 'file_naming_policy'), class: 'btn'
