#customers.journal.analytics.derivationRight
  .card
    .card-header
      .float-left
        %h3
          Edition d'analyse par défaut : #{@journal.name}
          - if @customer
            = link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'journals'), class: 'fs-origin'
      .float-right
        = link_to 'Retour', edit_account_organization_customer_journal_path(@organization, @customer, @journal), class: 'btn btn-light'
    
    = simple_form_for 'compta_analytics', url: update_analytics_account_organization_customer_journals_path(@organization, @customer), html: { class: 'form-horizontal', id: 'compta_analytics_journal' } do |f|
      .card-body
        - if @customer.uses_ibiza_analytics?
          %h4 Edition Compta Analytique par défaut du journal
          %span.badge.badge-warning.fs-origin Attention : 
          Configurer une analyse comptable par défaut sur un journal permet d'attribuer automatiquement l'analyse sur les futures pièces du journal
          %br
            = hidden_field_tag 'id', @journal.id
            = hidden_field_tag 'journal_name', @journal.name
            = hidden_field_tag 'customer_code', @customer.code
            = render 'shared/compta_analytics_hidden_fields'
            = render 'shared/compta_analytics'
            = f.submit 'Valider les modifications', class: 'btn btn-primary'

            =#Not used from now link_to "Synchroniser avec l'analytique Ibiza", sync_analytics_account_organization_customer_journals_path(@organization, @customer, id: @journal), method: 'post', data: {confirm: 'Etes-vous sûr?'}, class: 'btn'
        - else
          #analytic.controls
            %span.no_analytic.badge-secondary.fs-origin Aucune analytique pour ce dossier.
