#journals
  .row-fluid
    .span12.box
      .row-fluid
        .span12
          .pull-left
            %h3 Journaux comptables (#{@journals.count})
          .pull-right
            = link_to icon_new + ' ' + t('actions.new'), new_account_organization_journal_path(@organization), class: 'btn btn-primary'

  .row-fluid
    .span12.box
      %table.table.table-striped.table-condensed.table-bordered.margin0
        %thead
          %tr
            %th.aligncenter{ rowspan: 2, style: 'vertical-align:middle' } Par defaut ?
            %th{ rowspan: 2, style: 'vertical-align:middle' } Code journal iDocus
            %th{ rowspan: 2, style: 'vertical-align:middle' } Nom journal comptable
            %th.aligncenter{ colspan: 4 } Pré-saisie comptable
            %th{ rowspan: 2, style: 'vertical-align:middle' } Actions
          %tr
            %th Type de pré-saisie
            %th Type de compte
            %th Compte tiers
            %th Compte de charge/produit
        %tbody
          - @journals.each do |journal|
            %tr
              %td.aligncenter= journal.is_default ? icon_ok : nil
              %td= journal.name
              %td= journal.description
              %td= t("activerecord.models.account_book_type.attributes.entry_type_#{journal.entry_type}")
              %td
                - if journal.is_pre_assignment_processable?
                  = journal.default_account? ? 'compte par défaut' : "compte d'attente"
              %td= journal.meta_account_number
              %td= journal.meta_charge_account
              %td
                = link_to icon_edit + 'Editer', edit_account_organization_journal_path(@organization, journal), class: 'btn btn-mini'
                = link_to icon_destroy + 'Supprimer', account_organization_journal_path(@organization, journal), method: 'delete', data: { confirm: t('actions.confirm') }, class: 'btn btn-mini'
