#journal.new.derivationRight
  - if @customer && !@customer.configured?
    .box
      = render 'account/customers/steps'
  .card
    .card-header
      %h3
        Nouveau journal comptable
        - if @customer && @customer.configured?
          pour le client :
          = link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'journals'), class: 'fs-origin'
    = simple_nested_form_for @journal, url: journal_form_url(@organization, @customer, @journal), html: { class: 'form-horizontal' } do |f|
      .card-body
        .box.step.bg-light
          %h4 Codes journaux
          %hr
          - if @organization.specific_mission
            = f.input :name, label: 'Attribuez un nom de code dossier iDocus', hint: 'Ce code sera repris dans la charte de nommage de tous vos fichiers transmis.'
          - else
            = f.input :name, label: 'Attribuez un nom de code journal iDocus', hint: 'Ce code doit si possible être similaire à celui utilisé dans votre outil comptable. La modification de ce code journal n’est possible que pendant 24 heures.'

          - if @organization.specific_mission
            = f.input :description, label: 'Nom du dossier iDocus', hint: 'Inscrivez ici un nom familier pour votre dossier.'
          - else
            = f.input :description, label: 'Nom du journal comptable iDocus', hint: 'Inscrivez ici entre parenthès le nom du journal comptable iDocus. Exemple (Achats). Ceci est nécessaire pour les utilisateurs du forfait iDo’Courrier notamment.'


          - if (@customer && @customer.uses?(:ibiza) && @organization.ibiza.try(:configured?)) || @customer.my_unisoft.try(:used?)
            - collection = journals_for_select(@journal.pseudonym)
          - else
            - collection = nil
          - unless @organization.specific_mission
            = f.input :pseudonym, label: 'Quel est le code journal comptable de votre outil comptable à associer ?', collection: collection, hint: (collection.present? ? 'Choisissez dans le menu déroulant les journaux comptables issus de la connexion avec votre outil comptable.' : nil)
          - if @customer && @customer.uses?(:ibiza) && !@organization.ibiza.try(:configured?)
            %p.margin2bottom.margin30left
              = render 'shared/ibiza_not_configured_warning'

        - if @organization.knowings.try(:is_configured?)
          .box.bg-light{ style: 'display:none' }
            %h4 Knowings
            %hr
            = f.input :domain, label: 'A quel domaine Knowings souhaitez-vous rattacher le journal comptable iDocus ?', collection: journal_domain_for_select, include_blank: false
        - if !@customer || is_preassignment_authorized?
          .box.step.bg-light
            %h4 Pré-saisie comptable
            %hr
            = f.input :entry_type, label: 'Sélectionnez le type de pré-saisie comptable pour le journal', collection: account_book_type_entry_type_for_select(@organization, @customer), include_blank: false

            .pre-assignment-attributes{ style: 'display:none;' }
              = f.input :currency, collection: journal_currencies, include_blank: false, selected: "EUR", hint: "Les écritures seront converties vers cette devise avec le taux de change de la date de facture"
              = f.input :account_type, label: 'Souhaitez-vous configurer le journal en compte d’attente ou compte par défaut?', collection: [["Compte d'attente", 'waiting'], ["Compte par défaut", 'default']], include_blank: false
              .account_type_help.margin2bottom
                %i
                  %u Compte d’attente:
                la pré-saisie comptable sera effectuée avec les informations issues du plan comptable de votre outil comptable. Si il n’y a pas d’informations dans ce plan de compte, iDocus saisira les écritures dans les comptes d’attente paramétrés ici.
                %br
                %i
                  %u Compte par défaut:
                iDocus saisira
                %b systématiquement
                toutes les factures déposées dans le journal comptable sur les comptes paramétrés sans se référer au plan comptable.
              = f.input :meta_account_number, input_html: { class: 'can_be_required' }
              = f.input :meta_charge_account, input_html: { class: 'can_be_required' }
              = f.input :anomaly_account, label: 'Quel est le compte à utiliser en cas d’anomalie ?', input_html: { class: 'can_be_required'}, hint: 'si aucune information claire dans la pièce, si la pièce n’est pas une facture, …'
              = f.input :jefacture_enabled

              %fieldset{class: 'border p-2', style: 'border:1px solid #999; border-radius:0px; box-shadow:1px 11px 10px #999; padding: 17px !important'}
                %legend{class: 'w-auto vat_account_field', style: 'padding: 0.2em 0.5em; font-size:90%; text-align:center; position: relative'} Compte de TVA
                - if !@customer || @customer.options.is_taxable
                  - hint = !@customer ? 'obligatoire mais ne sera utilisé que pour les clients assujettis à la TVA' : 'obligatoire mais ne sera utilisé que pour les clients assujettis à la TVA'
                  = hidden_field_tag 'required_new_vat_accounts_element', 'can_be_required', hint_input: hint, hint_label: 'Quel est le compte de TVA par défaut attribué au Journal Comptable iDocus (le cas échéant) ? Exemple: 445660'
                  = f.input :vat_accounts, as: :hidden, input_html: { id: 'account-book-type-vat-accounts-hidden' }
                  = link_to 'Ajouter un compte de TVA', '#', class: 'btn btn-primary add_vat_account_field float-right'

        - if !@customer || @customer.subscription.is_package?('mail_option')
          .box.step.bg-light{ style: 'display:none' }
            %h4 Instructions pour iDo'Courrier
            %hr
            = f.input :instructions, as: :text, input_html: { maxlength: 400 }

        - unless @customer
          .box.step.bg-light{ style: 'display:none' }
            %h4 Option
            %hr
            = f.input :is_default, as: :boolean
      .card-footer
        .form-actions
          = f.submit t('actions.submit'), class: 'btn btn-primary', disable: 'disable'
          - unless @customer
            = link_to t('actions.cancel'), account_organization_journals_path(@organization), class: 'btn btn-light'
          - else
            = link_to t('actions.cancel'), account_organization_customer_path(@organization, @customer, tab: 'journals'), class: 'btn btn-light'
