- if @customer.configured?
  = render 'account/customers/header'
- else
  = render 'account/customers/steps'
  .row-fluid
    .span12.box
      .row-fluid
        .span6
          %h3 Création automate
        .span6.alignright
          = link_to t('actions.previous_step'), previous_step_account_organization_customer_path(@organization, @customer), class: 'btn'
          = link_to t('actions.' + (last_step? ? 'finish' : 'next_step')), next_step_account_organization_customer_path(@organization, @customer), class: 'btn btn-primary'

.row-fluid
  .span12.box
    - if @customer.configured?
      %ul.nav.nav-tabs
        %li= link_to 'Information', account_organization_customer_path(@organization, @customer, tab: 'information')
        %li= link_to 'Adresses', account_organization_customer_path(@organization, @customer, tab: 'addresses')
        - if @customer.active?
          %li= link_to 'Forfaits', account_organization_customer_path(@organization, @customer, tab: 'subscription')
          - if @customer.options.is_upload_authorized
            %li= link_to 'Option téléversement', account_organization_customer_path(@organization, @customer, tab: 'period_options')
        %li= link_to 'Journaux comptables', account_organization_customer_path(@organization, @customer, tab: 'journals')
        - if @customer.active? && @customer.is_fiduceo_authorized
          %li.active= link_to "iDo'FacBanque", '#retrievers', data: { toggle: 'tab' }
          %li= link_to 'Paramètres bancaires', account_organization_customer_path(@organization, @customer, tab: 'bank_accounts')
        %li= link_to 'Comptabilité', account_organization_customer_path(@organization, @customer, tab: 'compta')
        - if @organization.ibiza.try(:access_token).blank?
          %li= link_to 'Divers', account_organization_customer_path(@organization, @customer, tab: 'others')
        - if @organization.is_csv_descriptor_used
          %li= link_to 'Format d’export .csv', account_organization_customer_path(@organization, @customer, tab: 'csv_descriptor')
        %li= link_to 'Outil GED', account_organization_customer_path(@organization, @customer, tab: 'ged')
        - if @user.is_admin && @customer.active?
          %li= link_to 'Stockages externes', account_organization_customer_path(@organization, @customer, tab: 'file_storages')

    #retrievers
      = link_to 'Ajouter un automate', new_account_organization_customer_fiduceo_retriever_path(@organization, @customer), class: 'btn btn-primary margin1right'
      = link_to 'Liste des automates', list_account_organization_customer_fiduceo_retrievers_path(@organization, @customer), class: 'btn margin1right'
      = link_to 'Statut automate', account_organization_customer_retriever_transactions_path(@organization, @customer), class: 'btn margin1right'
      = link_to 'Opérations bancaires', account_organization_customer_retrieved_banking_operations_path(@organization, @customer), class: 'btn margin1right'
      = link_to 'Documents (Factures)', account_organization_customer_retrieved_documents_path(@organization, @customer), class: 'btn margin1right'
      = link_to 'Sélection des comptes bancaires', account_organization_customer_bank_accounts_path(@organization, @customer), class: 'btn margin1right'
      = link_to 'Sélection des documents', select_account_organization_customer_retrieved_documents_path(@organization, @customer), class: 'btn'
      %hr
      %h3.margin2bottom Liste des automates (#{@fiduceo_retrievers.count})
      .retrievers_list
