.row-fluid
  .span12
    .box
      %h3 #{@fiduceo_retriever.name} - Veuillez répondre à la/aux question(s) ci-dessous pour poursuivre
    .box{ style: 'padding-bottom:0;' }
      = form_tag update_transaction_account_organization_customer_fiduceo_retriever_path(@organization, @customer, @fiduceo_retriever), method: 'patch', class: 'form form-horizontal margin0bottom' do
        - @questions.each do |question|
          .control-group
            = label_tag 'answers[]', question, class: 'control-label'
            .controls
              = text_field_tag 'answers[]'
        .form-actions
          = submit_tag 'Valider', class: 'btn btn-primary'
          = link_to t('actions.cancel'), account_organization_customer_fiduceo_retrievers_path(@organization, @customer, @fiduceo_retriever), class: 'btn'
