- unless @customer.configured?
  = render 'account/customers/steps'

.row-fluid
  .span12.box
    %h3 #{@retriever.name} - Veuillez répondre à la/aux question(s) ci-dessous pour poursuivre
.row-fluid
  .span12.box{ style: 'padding-bottom:0;' }
    = form_tag additionnal_info_account_organization_customer_retriever_path(@organization, @customer, @retriever), method: 'patch', class: 'form form-horizontal margin0bottom' do
      - @retriever.additionnal_fields.each do |field|
        .control-group
          = label_tag "answers[#{field['name']}]", field['label'], class: 'control-label'
          .controls
            = text_field_tag "answers[#{field['name']}]"
      .form-actions
        = submit_tag 'Valider', class: 'btn btn-primary'
        = link_to t('actions.cancel'), account_organization_customer_retrievers_path(@organization, @customer, @retriever), class: 'btn'
