= simple_form_for [:account, @organization, @reminder_email], html: { class: 'form form-horizontal margin0' } do |f|
  .card-body
    = f.input :name, :placeholder => 'Exemple: Envoi 1'
    = f.input :delivery_day, as: :integer, required: true
    = f.input :period, collection: [[t('activerecord.models.reminder_email.attributes.period_options.monthly'), 1], [t('activerecord.models.reminder_email.attributes.period_options.quarterly'), 3]], required: true
    = f.input :subject, input_html: { class: 'input-xxlarge' }
    = f.input :content, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'mini'}}
  .card-footer
    .form-actions.margin0bottom
      = f.submit t('actions.submit'), class: 'btn btn-primary'
      = link_to t('actions.cancel'), account_organization_path(@organization, tab: 'reminder_emails'), class: 'btn btn-light'
