.row-fluid
  .span12.box
    %h3 Séléction des options du kit d'envoi de documents

.row-fluid
  .span12.box
    = form_tag generate_account_organization_file_sending_kit_path, class: 'form form-horizontal margin0' do
      %table.table.table-striped.table-condensed
        %tr
          %th Sélection
          %th Nom
          %th Début
          %th Durée
        - @organization.customers.active.asc(:code).each do |client|
          %tr
            %td= check_box_tag "users[#{client.id}][is_checked]", "true", false
            %td= client.info
            %td= number_field_tag "users[#{client.id}][start_month]", 0, style: 'width:50px;'
            %td= number_field_tag "users[#{client.id}][offset_month]", 1, style: 'width:50px;'
      .control-group.boolean
        = label_tag 'one_workshop_labels_page_per_customer', "Une page d'étiquette par client ?", class: 'control-label boolean'
        .controls
          %label.checkbox
            = check_box_tag 'one_workshop_labels_page_per_customer', 1, false, type: 'checkbox', class: 'boolean'
      .form-actions.margin0bottom
        = submit_tag t('actions.submit'), class: 'btn btn-primary'
        = link_to t('actions.cancel'), account_organization_path(tab: 'file_sending_kit'), class: 'btn'
