.row-fluid
  .span12.box
    %h3 Edition de l'organisation

.row-fluid
  .span12.box
    = simple_form_for [:account, @organization], html: { class: 'form form-horizontal margin0' } do |f|
      %fieldset
        %legend Information
        = f.input :name
        %fieldset
          %legend Options
          .row-fluid
            .span12
              - if @user.is_admin
                = f.input :is_detail_authorized, as: :boolean
                = f.input :is_test,              as: :boolean
              = f.input :is_journals_management_centralized, as: :boolean
      %fieldset
        %legend Charte de nommage des fichiers
        = f.input :file_naming_policy, hint: "peuvent être utilisés : #{Organization.valid_file_naming_policy_elements.to_sentence}"
        = f.input :is_file_naming_policy_active, as: 'boolean'
      - if @user.is_admin
        %fieldset
          %legend Assignation
          = f.input :leader_id, collection: @organization.collaborators, label_method: :info
      .form-actions.margin0bottom
        = f.submit t('actions.submit'), class: 'btn btn-primary'
        = link_to t('actions.cancel'), account_organization_path(@organization), class: 'btn'
