.row-fluid
  .span12.box
    %h3 Edition de l'organisation

.row-fluid
  .span12.box
    = simple_nested_form_for @organization, url: account_organization_path(@organization), html: { class: 'form form-horizontal margin0' } do |f|
      %fieldset
        %legend Information
        = f.input :name
        %fieldset
          %legend Options
          .row-fluid
            .span12
              - if @user.is_admin
                = f.input :is_detail_authorized, as: :boolean
                = f.input :is_test,              as: :boolean
              = f.input :is_journals_management_centralized, as: :boolean
      %fieldset
        %legend Adresses
        .row-fluid.padding2top
          = f.fields_for :addresses do |address|
            .span6
              = address.input :first_name,   label: t('mongoid.models.address.attributes.first_name')
              = address.input :last_name,    label: t('mongoid.models.address.attributes.last_name')
              = address.input :company,      label: t('mongoid.models.address.attributes.company')
              = address.input :address_1,    label: t('mongoid.models.address.attributes.address_1')
              = address.input :address_2,    label: t('mongoid.models.address.attributes.address_2')
              = address.input :zip,          label: t('mongoid.models.address.attributes.zip')
              = address.input :city,         label: t('mongoid.models.address.attributes.city')
              = address.input :phone,        label: t('mongoid.models.address.attributes.phone')
              = address.input :phone_mobile, label: t('mongoid.models.address.attributes.phone_mobile')
              = address.input :is_for_billing, as: 'boolean', wrapper: :inline_checkbox, label: 'Pour la facturation ?'
              = address.input :is_for_shipping, as: 'boolean', wrapper: :inline_checkbox, label: 'Pour la livraison ?'
              .form-actions
                = address.link_to_remove 'Supprimer l\'adresse', class: 'btn'
          = f.link_to_add 'Ajouter une adresse', :addresses, class: 'btn'
      %hr
      %fieldset
        %legend Charte de nommage des fichiers
        = f.input :file_naming_policy, hint: "peuvent être utilisés : #{Organization.valid_file_naming_policy_elements.to_sentence}"
        = f.input :is_file_naming_policy_active, as: 'boolean'
      - if @user.is_admin
        %fieldset
          %legend Assignation
          = f.input :leader_id, collection: @organization.collaborators, label_method: :info
      .form-actions.margin0bottom
        = f.submit t('actions.submit'), class: 'btn btn-primary'
        = link_to t('actions.cancel'), account_organization_path(@organization), class: 'btn'
