#organizations.container-fluid
  .edit_options
    .row-fluid
      .span12.box
        %h3 Edition des options globales (pour toutes les organisations)

    .row-fluid
      .span12.box
        = form_tag update_options_account_organizations_path, method: 'put', class: 'form form-horizontal margin0' do |f|
          %fieldset
            %legend Abonnement
            .control-group
              %label.control-label
                Autoriser les abonnements à la baisse ?
                %br
                (
                = link_to 'Tous', '#', class: 'all_organizations'
                \/
                = link_to 'Aucun', '#', class: 'no_organizations'
                )
              .controls
                - Organization.asc(:name).each do |organization|
                  = check_box_tag 'subscription_options[organization_ids][]', organization.id, organization.is_subscription_lower_options_enabled, id: "subscription_options_organization_id_#{organization.id}", class: 'pull-left organization'
                  %label.margin2left{ for: "subscription_options_organization_id_#{organization.id}" }= organization.name
                = hidden_field_tag 'subscription_options[organization_ids][]', ''
          %fieldset
            %legend Journaux comptables
            .control-group
              = label_tag 'settings[is_journals_modification_authorized]', 'Autoriser la modification et la suppression ?', class: 'control-label'
              .controls
                = hidden_field_tag 'settings[is_journals_modification_authorized]', 0
                = check_box_tag 'settings[is_journals_modification_authorized]', 1, Settings.is_journals_modification_authorized
          .form-actions.margin0bottom
            = submit_tag t('actions.submit'), class: 'btn btn-primary'
            = link_to t('actions.cancel'), account_organizations_path, class: 'btn'
