#organizations.container-fluid
  .edit_options
    .row
      .col-md-12.box
        %h3 Edition des options globales (pour toutes les organisations)

    .row
      .col-md-12.box
        = form_tag update_options_account_organizations_path, method: 'patch', class: 'form form-horizontal margin0' do |f|
          %fieldset
            %legend Journaux comptables
            .control-group
              = label_tag 'settings[is_journals_modification_authorized]', 'Autoriser la modification et la suppression ?', class: 'control-label'
              .controls
                = hidden_field_tag 'settings[is_journals_modification_authorized]', 0
                = check_box_tag 'settings[is_journals_modification_authorized]', 1, Settings.is_journals_modification_authorized
          .form-actions.margin0bottom
            = submit_tag t('actions.submit'), class: 'btn btn-primary'
            = link_to t('actions.cancel'), account_organizations_path, class: 'btn'
