.edit
  .row-fluid
    .span12.box
      %h3 Edition de l'organisation

  .row-fluid
    .span12.box
      = simple_form_for [:account, @organization], html: { class: 'form form-horizontal margin0' } do |f|
        = hidden_field_tag :part, params[:part]
        - if params[:part] != 'other_software'
          = f.input :name
          - if @user.is_admin
            = f.input :leader_id, collection: @organization.collaborators, label_method: :info
            = f.input :is_detail_authorized, as: :boolean
            = f.input :is_test,              as: :boolean
          = f.input :is_pre_assignment_date_computed, as: :radio_buttons, collection: [["Non, date d’origine", false], ["Oui, date de la période iDocus", true]]
          = f.input :is_operation_processing_forced, as: :boolean, hint: "Cette option permet de forcer la pré-affectation des écritures récupérées par les automates sans délais d'attente. Toutefois, en forçant le traitement, iDocus ne pourra plus garantir la mise à jour des opérations (exemple: libellé, date, montant changés par les banques)."
        - else
          = f.input :is_quadratus_used, as: 'boolean'
          = f.input :is_coala_used, as: 'boolean'
          = f.input :is_csv_descriptor_used, as: 'boolean'
        .form-actions.margin0bottom
          = f.submit t('actions.submit'), class: 'btn btn-primary'
          - if params[:part] != 'other_software'
            = link_to t('actions.cancel'), account_organization_path(@organization), class: 'btn'
          - else
            = link_to t('actions.cancel'), account_organization_path(@organization, tab: 'other_software'), class: 'btn'
