#organizations.container-fluid
  .new
    .row.derivationRight
      .col-md-12
        .box.small-shadow
          %h3 Création d'une nouvelle organisation

    .row.derivationLeft
      .col-md-12
        = simple_nested_form_for [:account, @organization] do |f|
          .card
            .card-body
              .row
                .col-md-6
                  %h4 Informations
                  %hr
                  = f.input :name
                  = f.input :code, hint: 'Doit être composé de caractère alphanumérique uniquement'
                .col-md-6
                  %h4 Options
                  %hr
                  = f.input :is_detail_authorized, as: :boolean
                  = f.input :is_test,              as: :boolean
            .card-footer
              .form-actions.margin0bottom
                = f.submit t('actions.submit'), class: 'btn btn-primary'
                = link_to t('actions.cancel'), account_organizations_path, class: 'btn btn-light'
