- if @organization
  .box
    .row-fluid
      .span6
        %table.table.table-condensed.table-bordered.table-striped.margin0bottom
          %thead
            %tr
              %th{ colspan: 2 }
                .pull-left
                  %h3 Informations
                - if is_leader?
                  .pull-right
                    = icon_link_to edit_account_organization_path, { icon: 'edit' }, { class: 'btn' }
          %tbody
            %tr
              %th= t('mongoid.models.organization.attributes.name')
              %td= @organization.name
            %tr
              %th= t('mongoid.models.organization.attributes.description')
              %td= @organization.description
            %tr
              %th= t('mongoid.models.organization.attributes.leader')
              %td= @organization.leader.info
            %tr
              %th= t('mongoid.models.organization.attributes.collaborators_count')
              - if is_leader?
                %td= link_to @organization.collaborators.count, account_organization_collaborators_path
              - else
                %td= @organization.collaborators.count
            %tr
              %th= t('mongoid.models.organization.attributes.customers_count')
              %td= link_to @organization.customers.count, account_organization_customers_path
            %tr
              %th= t('mongoid.models.organization.attributes.centralized_customers_count')
              %td= link_to @organization.customers.centralized.count, account_organization_customers_path