.box
  .row-fluid
    .span12
      %ul.nav.nav-tabs
        %li{ class: ('active' if params[:tab] == 'information' || params[:tab].blank? ) }
          %a{ href: '#information', data: { toggle: 'tab' } } Information
        %li{ class: ('active' if params[:tab] == 'addresses') }
          %a{ href: '#addresses', data: { toggle: 'tab' } } Adresses
        %li{ class: ('active' if params[:tab] == 'period_options') }
          %a{ href: '#period_options', data: { toggle: 'tab' } } Options des périodes
        %li{ class: ('active' if params[:tab] == 'knowings') }
          %a{ href: '#knowings', data: { toggle: 'tab' } } Knowings
        - if @user.is_admin
          %li{ class: ('active' if params[:tab] == 'reminder_emails') }
            %a{ href: '#reminder_emails', data: { toggle: 'tab' } } Emails de rappels
          %li{ class: ('active' if params[:tab] == 'file_sending_kit') }
            %a{ href: '#file_sending_kit', data: { toggle: 'tab' } } Kit d'envoi de documents
          %li{ class: ('active' if params[:tab] == 'subscription') }
            %a{ href: '#subscription', data: { toggle: 'tab' } } Abonnement
          %li{ class: ('active' if params[:tab] == 'csv_outputter') }
            %a{ href: '#csv_outputter', data: { toggle: 'tab' } } Format de sortie CSV

      .tab-content
        #information.tab-pane{ class: ('active' if params[:tab] == 'information' || params[:tab].blank?) }
          .row-fluid
            .span8
              %table.table.table-condensed.table-striped
                %tr
                  %th= t('mongoid.models.organization.attributes.name')
                  %td= @organization.name
                %tr
                  %th= t('mongoid.models.organization.attributes.code')
                  %td= @organization.code
                %tr
                  %th= t('mongoid.models.organization.attributes.leader')
                  %td= @organization.leader.try(:info)
                %tr
                  %th= t('mongoid.models.organization.attributes.is_journals_management_centralized')
                  %td= @organization.is_journals_management_centralized ? t('yes_value') : t('no_value')
                %tr
                  %th= t('mongoid.models.organization.attributes.is_detail_authorized')
                  %td= @organization.is_detail_authorized ? t('yes_value') : t('no_value')
                %tr
                  %th= t('mongoid.models.organization.attributes.file_naming_policy')
                  %td= @organization.file_naming_policy
                %tr
                  %th= t('mongoid.models.organization.attributes.is_file_naming_policy_active')
                  %td= @organization.is_file_naming_policy_active ? t('yes_value') : t('no_value')
            .span4
              %table.table.table-condensed.table-striped
                %tr
                  %th= t('mongoid.models.organization.attributes.collaborators_count')
                  - if is_leader?
                    %td= link_to @organization.collaborators.count, account_organization_collaborators_path(@organization)
                  - else
                    %td= @organization.collaborators.count
                %tr
                  %th= t('mongoid.models.organization.attributes.customers_count')
                  %td= link_to @organization.customers.count, account_organization_customers_path(@organization)
                %tr
                  %th= t('mongoid.models.organization.attributes.centralized_customers_count')
                  %td= @organization.customers.centralized.count
                %tr
                  %th Nombre de clients actifs
                  %td= @organization.customers.active.count
                %tr
                  %th Nombre de clients actifs et centralisés
                  %td= @organization.customers.active.centralized.count
          - if is_leader?
            .row-fluid
              .span12= link_to icon_edit + ' ' + t('actions.edit'), edit_account_organization_path(@organization), class: 'btn btn-primary'
        #addresses.tab-pane{ class: ('active' if params[:tab] == 'addresses') }
          .row-fluid.margin1bottom
            .span4= render partial: 'account/organization_addresses/address', locals: { address: @organization.billing_address,  single: true, type: 'billing' }
            .span4= render partial: 'account/organization_addresses/address', locals: { address: @organization.shipping_address, single: true, type: 'shipping' }
            .span4= render partial: 'account/organization_addresses/address', locals: { address: @organization.kit_shipping_address, single: true, type: 'kit_shipping' }
          .row-fluid
            .span12.aligncenter
              = link_to icon_edit + ' ' + 'Configurer', account_organization_addresses_path(@organization), class: 'btn btn-primary'
        #period_options.tab-pane{ class: ('active' if params[:tab] == 'period_options') }
          %table.table.table-condensed.table-striped
            %tbody
              %tr
                %th= t('mongoid.models.organization.attributes.authd_prev_period')
                %td= @organization.authd_prev_period
              %tr
                %th= t('mongoid.models.organization.attributes.auth_prev_period_until_day')
                %td= @organization.auth_prev_period_until_day
              - if @user.is_admin
                %tr
                  %th= t('mongoid.models.organization.attributes.auth_prev_period_until_month')
                  %td= @organization.auth_prev_period_until_month
          - if is_leader?
            .alignright
              = link_to icon_edit + ' ' + t('actions.edit'), edit_account_organization_period_options_path(@organization), class: 'btn btn-primary'
              - if @user.is_admin
                = link_to icon_globe + ' Propager', select_propagation_options_account_organization_period_options_path(@organization), class: 'btn btn-primary'
        #knowings.tab-pane{ class: ('active' if params[:tab] == 'knowings') }
          - if @organization.knowings
            %table.table.table-condensed.table-striped
              %tbody
                %tr
                  %th= t('mongoid.models.knowings.attributes.is_active')
                  %td= @organization.knowings.is_active ? t('yes_value') : t('no_value')
                %tr
                  %th= t('mongoid.models.knowings.attributes.state')
                  %td= Knowings.state_machine.states[@organization.knowings.state].human_name
                %tr
                  %th= t('mongoid.models.knowings.attributes.url')
                  %td= @organization.knowings.url
                %tr
                  %th= t('mongoid.models.knowings.attributes.is_third_party_included')
                  %td= @organization.knowings.is_third_party_included ? t('yes_value') : t('no_value')
          - if is_leader?
            - if @organization.knowings
              .alignright
                = link_to icon_edit + ' ' + t('actions.edit'), edit_account_organization_knowings_path(@organization), class: 'btn btn-primary'
            - else
              .aligncenter
                = link_to 'Configurer', new_account_organization_knowings_path(@organization), class: 'btn btn-primary'

        - if @user.is_admin
          #reminder_emails.tab-pane{ class: ('active' if params[:tab] == 'reminder_emails') }
            %table.table.table-striped.table-condensed
              %thead
                %tr
                  %th= t('mongoid.models.reminder_email.attributes.name')
                  %th= t('mongoid.models.reminder_email.attributes.delivery_day')
                  %th= t('mongoid.models.reminder_email.attributes.delivered_at')
                  %th= t('mongoid.models.reminder_email.attributes.summarize')
                  %th= t('actions.name')
              %tbody
                - @organization.reminder_emails.each do |reminder_email|
                  %tr
                    %td= reminder_email.name
                    %td
                      = reminder_email.delivery_day
                      = "(#{period_type reminder_email.period})"
                    %td= l(reminder_email.delivered_at) rescue ''
                    %td
                      != reminder_email.delivered_users.count
                      \/
                      != reminder_email.processed_users.count
                      \/
                      != reminder_email.organization.customers.active.count
                    %td
                      = link_to icon_show + ' ' + 'Voir', account_organization_reminder_email_path(@organization, reminder_email), class: 'btn btn-mini', target: :_blank
                      = link_to icon_edit + ' ' + t('actions.edit'), edit_account_organization_reminder_email_path(@organization, reminder_email), class: 'btn btn-mini'
                      = link_to icon_destroy + ' ' + t('actions.destroy'), account_organization_reminder_email_path(@organization, reminder_email), class: 'btn btn-mini', method: :delete, data: { confirm: t('actions.confirm') }
                      = link_to icon(icon: 'play') + ' ' + t('mongoid.models.reminder_email.actions.send'), deliver_account_organization_reminder_email_path(@organization, reminder_email), class: 'btn btn-mini', data: { confirm: t('mongoid.models.reminder_email.actions.send_confirmation') }, method: :post
            = link_to icon_new + ' ' + t('actions.new'), new_account_organization_reminder_email_path(@organization), class: 'btn btn-primary pull-right'
          #file_sending_kit.tab-pane{ class: ('active' if params[:tab] == 'file_sending_kit') }
            %table.table.table-striped.table-condensed
              %tr
                %th= t('mongoid.models.file_sending_kit.attributes.folders')
                %td
                  - if File.exist? File.join(Rails.root, 'files', Rails.env, 'kit', 'folders.pdf')
                    = link_to 'folders.pdf', folders_account_organization_file_sending_kit_path(@organization), target: '_blank'
              %tr
                %th= t('mongoid.models.file_sending_kit.attributes.mails')
                %td
                  - if File.exist? File.join(Rails.root, 'files', Rails.env, 'kit', 'mails.pdf')
                    = link_to 'mails.pdf', mails_account_organization_file_sending_kit_path(@organization), target: '_blank'
              %tr
                %th= t('mongoid.models.file_sending_kit.attributes.customer_labels')
                %td
                  - if File.exist? File.join(Rails.root, 'files', Rails.env, 'kit', 'customer_labels.pdf')
                    = link_to 'customer_labels.pdf', customer_labels_account_organization_file_sending_kit_path(@organization), target: '_blank'
              %tr
                %th= t('mongoid.models.file_sending_kit.attributes.workshop_labels')
                %td
                  - if File.exist? File.join(Rails.root, 'files', Rails.env, 'kit', 'workshop_labels.pdf')
                    = link_to 'workshop_labels.pdf', workshop_labels_account_organization_file_sending_kit_path(@organization), target: '_blank'
            .alignright
              = link_to icon_edit + ' ' + t('actions.edit'), edit_account_organization_file_sending_kit_path(@organization), class: 'btn btn-primary'
              = link_to icon(icon: 'ok-sign') + ' Générer', select_account_organization_file_sending_kit_path(@organization), class: 'btn btn-primary'
          #subscription.tab-pane{ class: ('active' if params[:tab] == 'subscription') }
            %table.table.table-striped.table-condensed
              %tr
                %th Option
                %th Choix
                %th.price Prix HT
                %th.price Prix TTC
              - @subscription_options.each do |option|
                %tr
                  %td= option.group_title
                  %td= option.title
                  %td.price= format_price_00(option.price_in_cents_wo_vat) + ' €'
                  %td.price= format_price_00(option.price_in_cents_wo_vat * @subscription.tva_ratio) + ' €'
              %tr
                %td
                %th Total
                %td.price= format_price_00(@subscription.total) + ' €'
                %td.price= format_price_00(@subscription.total * @subscription.tva_ratio) + ' €'
              %tr
                %td
                %th VAT (#{@subscription.tva_ratio})
                %td
                %td.price= format_price_00((@subscription.total * @subscription.tva_ratio) - @subscription.total) + ' €'
            .alignright
              = link_to icon_edit + ' ' + t('actions.edit'), edit_account_organization_organization_subscription_path(@organization), class: 'btn btn-primary'
          #csv_outputter.tab-pane{ class: ('active' if params[:tab] == 'csv_outputter') }
            .aligncenter
              = link_to icon_edit + ' ' + t('actions.edit'), edit_account_organization_csv_outputter_path(@organization), class: 'btn btn-primary'
              = link_to icon_globe + ' Propager', select_propagation_options_account_organization_csv_outputter_path(@organization), class: 'btn btn-primary'
