%h3 Filtres

%br
= form_tag account_organization_pre_assignment_ignored_index_path(@organization), method: :get, class: 'form form-vertical margin0bottom' do
  = hidden_field_tag :direction, sort_direction
  = hidden_field_tag :sort, sort_column
  = hidden_field_tag :per_page, per_page

  = label_tag 'filter_contains[created_at][>=]', t('activerecord.models.common.attributes.created_at')
  .filter_date
    .input-prepend.date.datepicker
      %span.add-on
        >=
      = text_field_tag 'filter_contains[created_at][>=]', (params[:filter_contains][:created_at]['>='] rescue ''), class: 'input-medium'
    .input-prepend.date.datepicker
      %span.add-on
        <=
      = text_field_tag 'filter_contains[created_at][<=]', (params[:filter_contains][:created_at]['<='] rescue ''), class: 'input-medium'

  = label_tag 'filter_contains[piece_name]', 'N° pièce'
  = text_field_tag 'filter_contains[piece_name]', (params[:filter_contains][:piece_name] rescue ''), class: 'span12'

  = label_tag 'filter_contains[piece_number]', 'N° facture'
  = text_field_tag 'filter_contains[piece_number]', (params[:filter_contains][:piece_number] rescue ''), class: 'span12'

  = label_tag 'filter_contains[pack_name]', 'Nom du lot'
  = text_field_tag 'filter_contains[pack_name]', (params[:filter_contains][:pack_name] rescue ''), class: 'span12'

  = label_tag 'filter_contains[pre_assignment_state]', 'Statut'
  = select_tag 'filter_contains[pre_assignment_state]', options_for_select([['Pré-affectation ignorée', 'ignored'], ['En cours de renvoi à la pré-affectation', 'force_processing']], (params[:filter_contains][:pre_assignment_state] rescue '')), include_blank: true, class: 'span12'

  %br
  = submit_tag t('filters.action'), class: 'btn btn-primary'
  = link_to t('filters.reset'), account_organization_pre_assignment_ignored_index_path(@organization), class: 'btn'
