.well.sidebar-nav
  %ul.nav.nav-list.dlink
    - unless @user.try(:organization).try(:is_suspended) && @user.active?
      %li{ class: ('active' if @active_panel == 'change_password') }
        != link_to 'Changer mon mot de passe', '#change_password', class: 'do-show'
      - if @user.active?
        %li{ class: ('active' if @active_panel == 'addresses_management') }
          != link_to 'Gestion de mes adresses', '#addresses_management', class: 'do-show'
    - if @user.active?
      - if @user.is_prescriber || !@user.is_centralized
        %li{ class: ('active' if @active_panel == 'payment_management') }
          != link_to 'Mode de paiement', '#payment_management', class: 'do-show'
      - unless @user.try(:organization).try(:is_suspended) && @user.active?
        %li{ class: ('active' if @active_panel == 'efs_management') }
          != link_to 'Services de stockages externes', '#efs_management', class: 'do-show'
        %li{ class: ('active' if @active_panel == 'subscription_options') }
          != link_to 'Notification par mail', '#subscription_options', class: 'do-show'
        - if @user.is_dematbox_authorized
          %li{ class: ('active' if @active_panel == 'idocus_box') }
            != link_to "iDocus'Box", '#idocus_box', class: 'do-show'
        - if @user.is_prescriber || !@user.is_centralized
          %li{ class: ('active' if @active_panel == 'invoices') }
            != link_to 'Factures', '#invoices', class: 'do-show'
        - unless @user.is_admin || @user.is_prescriber || @user.inactive?
          %li{ class: ('active' if @active_panel == 'emailed_documents') }
            != link_to "Adresse email d'envoi de documents", '#emailed_documents', class: 'do-show'
