//Actionbar
.actionbar
  = label_tag :filter, "Filtrer sur : ", :class => "filterlabel floattoleft margin2top margin1right margin1left"
  != select_tag(:view_for, options_for_select( [["Tous",0]] + filter_list_of_users(@customers) ), :class => "view_for floattoleft margin1top margin1right margin1left")
  
  - if current_user.is_admin?
    %form{ :action => reporting_account_documents_path, :method => "GET" }
      = label_tag :email, "Voir le reporting de :", :class => "floattoleft filterlabel margin1right margin1left", :style => "margin-top: 15px;"
      = text_field_tag :email, "", :class => "floattoleft margin1right margin1left", :style => "width: 200px; margin-top: 7px;", :value => params[:email] ||= ""
      = submit_tag "Valider", :class => "floattoleft margin1top margin3right margin1left", :style => "width: 85px; height: 22px;"