.block1{ :class => "parent_month_#{index+1} month round", :id => "m_#{index+1}" }
  .header{ :class => "head_month_#{index}" }
    - if !monthly.empty?
      %span{ :class => "show_month show_child_all", :id => "s_#{index+1}" }  +
      %span{ :class => "hide_month hide_child_all", :id => "h_#{index+1}" }
        != "-"
    %h2 
      != m
    - if !monthly.empty?
      %a{ :class => "month_#{index+1}_details" }
        %span{ :class => "hide_all_content hide_child_all_details", :id => "hac_#{index+1}" } [Afficher / Masquer] les détails
      %a{ :class => "month_#{index+1}_details" }
        %span{ :class => "show_all_content show_child_all_details", :id => "sac_#{index+1}" } [Afficher / Masquer] les détails
  .content{ :class => "month_#{index+1}" }
    - if !monthly.empty?
      - @total_pieces_per_month = 0
      - @total_sheets_per_month = 0
      - @total_pages_per_month = 0
      - @total_state = [0,0,0]
      - monthly = monthly.sort{|a,b| a.reporting.customer.code <=> b.reporting.customer.code}
      - monthly.each do |one_monthly|              
        != render :partial => "user.html.haml", :locals => { :index => index, :one_monthly => one_monthly }
        
      != render :partial => "total.html.haml", :locals => { :index => index }  