- if one_monthly.subscription_detail and one_monthly.subscription_detail.product_order
  - product = one_monthly.subscription_detail.product_order
  %table{ :style => "border-left:1px solid #ffcf40;margin-bottom:10px;", :class => "subscription_#{one_monthly.month}" }
    %tr
      %th.first.alignleft.padding1left Paramètre
      %th.second.alignleft.padding1left Valeur
      %th.alignright Prix HT
    - @total = 0
    - product.product_option_orders.where(:position.lt => 1000).by_position.each do |option|
      %tr
        %td.first.alignleft.padding1left!= option.group
        %td.second.alignleft.padding1left!= option.title
        %td.alignright!= format_price_00(option.price_in_cents_wo_vat) + " €"
        - @total += option.price_in_cents_wo_vat
    %tr
      %td.first.alignleft.padding1left Dépassement
      %td.second.alignleft.padding1left
      %td.alignright!= format_price_00(one_monthly.total_price_in_cents) + " €"
      - @total += one_monthly.total_price_in_cents
    - product.product_option_orders.where(:position.gt => 999).by_position.each do |option|
      %tr
        %td.first.alignleft.padding1left!= option.group
        %td.second.alignleft.padding1left!= option.title
        %td.alignright!= format_price_00(option.price_in_cents_wo_vat) + " €"
        - @total += option.price_in_cents_wo_vat
    %tr
      %td.first.padding1left
      %td.second.alignright.padding1left
        %b Total :
      %td.alignright
        %b!= format_price_00(@total) + " €"
    %tr
      %td.first.padding1left
      %td.second.alignright.padding1left
        Facture :
      %td.alignright
        - if !@prescriber.is_centraliser
          - invoice = @user.invoices.where(:number => /^#{@year}#{"%0.2d" % (index+1)}/).first
          - if invoice
            - if invoice.content.try(:url)
              %a{ :href => invoice.content.url, :class => "icon-download-alt", :style => "width:16px;height:16px;" }
            %a{ :href => account_invoice_path(invoice), :class => "icon-eye-open", :style => "width:16px,height:16px;" }
  - @total_price_per_month += @total