.total
  .header
    .actiongroup.first.pull-left
      %a.do-showThis.pull-left{ :href => "#", :style => "display:none;" }
        +
      %a.do-hideThis.pull-left{ :href => "#" }
        \-
    .title.pull-left
      %h3 Total
    .state.pull-right
      .state1.active.pull-left
        != @total_state[0]
      .state2.active.pull-left
        != @total_state[1]
      .state3.active.pull-left
        != @total_state[2]
  .content.margin1top
    .row
      .pull-left
        .span7
          %table.pull-left
            %tr
              %th.first.aligncenter
              %th.second.aligncenter Pièces
              %th.second.aligncenter Feuilles
              %th.second.aligncenter Pages
              %th.second Attaches
              %th.second Hors format
            %tr
              %td.padding2left.alignleft
                %b Total
              %td.second.aligncenter
                %b
                  != @total_pieces_per_month + @total_uploaded_pieces_per_month
                  (#{@total_pieces_per_month},
                  #{@total_uploaded_pieces_per_month})
              %td.second.aligncenter
                %b
                  != @total_sheets_per_month + @total_uploaded_sheets_per_month
                  (#{@total_sheets_per_month},
                  \-)
              %td.second.aligncenter
                %b
                  != @total_pages_per_month + @total_uploaded_pages_per_month
                  (#{@total_pages_per_month},
                  #{@total_uploaded_pages_per_month})
              %td.second
              %td.second
            %tr
              %td.padding2left.documents.alignleft
                %i Dépassement
              %td
              %td.second.aligncenter
                %i!= @total_excess_sheets
              %td.second.aligncenter
                %i!= @total_excess_uploaded_pages
              %td
              %td
            
      .pull-right
        .span4
          %table{ :style => "border-left:1px solid #ffcf40;margin-bottom:10px;" }
            %tr
              %th.padding1left{:style => "text-align:left;width:145px;"} Paramètre
              %th.second.padding1left{:style => "text-align:left"} Valeur
              %th.alignright Prix HT
            %tr
              %td.padding1left{:style => "text-align:left"} Prestation iDocus
              %td.second.padding1left{:style => "text-align:left"}
              %td.alignright!= format_price_00(@total_price_per_month) + " €"
            %tr
              %td.padding1left{:style => "text-align:left"} Nombre de clients actifs
              %td.second.padding1left{:style => "text-align:left"}!= @total_active_user
              %td.alignright
            - poo = @prescriber_monthly.subscription_detail.product_order.product_option_orders.where(:position.gt => 999).by_position rescue nil
            - if poo
              - poo.each do |option|
                %tr
                  %td.padding1left{:style => "text-align:left"}
                    #{option.group}
                  %td.second.padding1left{:style => "text-align:left"}
                    #{option.title}
                  %td.alignright!= format_price_00(option.price_in_cents_wo_vat) + " €"
                - @total_price_per_month += option.price_in_cents_wo_vat
            %tr
              %td.padding1left
              %td.second.alignright.padding1left
                %b Total :
              %td.alignright
                %b!= format_price_00(@total_price_per_month) + " €"
            %tr
              %td.padding1left
              %td.second.alignright.padding1left
                Facture :
              %td.alignright
                - if @prescriber.is_centraliser
                  - invoice = @prescriber.invoices.where(:number => /^#{@year}#{"%0.2d" % (index+2)}/).first
                  - if invoice
                    - if invoice.content.try(:url)
                      %a{ :href => invoice.content.url, :class => "icon-download-alt", :style => "width:16px;height:16px;" }
                    %a{ :href => invoice.content.url, :title => "#{invoice.number}.pdf", :class => "icon-eye-open do-showInvoice" }