!!!
%html{'xmlns' => 'http://www.w3.org/1999/xhtml', 'xml:lang'=> 'fr', 'lang' => 'fr'}

  %head
    %meta{'content' => 'text/html; charset=UTF-8', 'http-equiv'=> 'content-type'}
    %meta{ :name => "Language", :content => "fr" }
    %title= "Facture n°#{@invoice.number} – iDocus"
    :css
      .margin8top {margin-top:80px;}
      .margin4top {margin-top:40px;}
      .margin2top {margin-top:20px;}
      * {font-family:"Arial"}
  %body
    %img{ :src => root_url + "images/application/small_logo.png", :style => "display: block; margin: 0 auto;" }
    .margin8top
      %p
        Facture n°#{@invoice.number}
    .margin2top
      %p
        Date: #{@order.created_at.strftime("%d/%m/%Y")}
    .margin2top
      %div{:style => "float:left;"}
        GREVALIS
        %br
        64, rue Ampère
        %br
        75017 Paris
        %br
        contact@idocus.com
      %div{:style => "float:right;"}
        - address = @order.billing_address
        - if address
          #{address.first_name} #{address.last_name}
          %br
          - if address.company.present?
            = address.company
            %br
          - if address.address_1.present?
            = address.address_1
            %br
          - if address.address_2.present?
            = address.address_2
            %br
          - if address.address_3.present?
            = address.address_3
            %br
          #{address.zip} #{address.city}
          %br
          #{address.country}
      %div{:style => "clear:both;"}
      .margin4top
        %p
          Paiement effectué le #{@order.created_at.strftime("%d/%m/%Y")}, par #{@order.payment_type}
      .margin4top
        %table{:style => "width:100%;border-collapse:collapse"}
          %thead
            %tr
              %td{:style => "border-bottom:solid 1px black"}
                %strong Pack
              %td{:style => "border-bottom:solid 1px black"}
                %strong Format
              %td{:style => "border-bottom:solid 1px black"}
                %strong Destination
              %td{:style => "text-align:right;border-bottom:solid 1px black"}
                %strong Prix HT
          %tbody
            %tr{:style => "height:40px;"}
              %td= @order.product_order.title
              %td= @order.document_format_order.title rescue " xxx "
              %td= @order.document_destiny
              %td{:style => "text-align:right"}
                = format_price(@order.total_in_cents_wo_vat)+" €"
            %tr{:style => "height:40px;"}
            %tr
              %td{:colspan => 3, :style => "text-align:right"} TOTAL HT
              %td{:style => "text-align:right"}
                = format_price(@order.total_in_cents_wo_vat)+" €"
            %tr
              %td{:colspan => 3, :style => "text-align:right"} TOTAL TVA
              %td{:style => "text-align:right"}
                = format_price(@order.total_vat)+" €"
            %tr
              %td{:colspan => 3, :style => "text-align:right"} TOTAL TTC
              %td{:style => "text-align:right"}
                = format_price(@order.total_in_cents_w_vat)+" €"
      .margin8top{ :style => "text-align:center;font-size:12px;olor:#303030" }
        Grevalis – sarl au capital de 10000 € – RCS PARIS B520076852 – TVA FR21520076852


