#reporting.container.padding6top
  - if current_user.is_prescriber || current_user.is_admin
    .row
      .span12
        .well
          .actionbar
            = label_tag :filter, "Filtrer sur : ", :class => "pull-left margin1left margin1right"
            != select_tag(:view_for, options_for_select( [["Tous",0]] + filter_list_of_users(@customers) ), :class => "view_for pull-left margin1top margin1right", :style => "width:auto")
            
            - if current_user.is_admin?
              %form{ :action => reporting_account_documents_path, :method => "GET" }
                = label_tag :email, "Voir le reporting de :", :class => "pull-left margin3left margin1right"
                = text_field_tag :email, "", :class => "pull-left margin1right margin0bottom", :style => "width:200px;height:13px;font-size:11px;", :value => params[:email] ||= ""
                = submit_tag "Valider", :class => "pull-left btn margin0bottom", :style => "height:23px;padding-top:2px;font-size:11px;"
  .row
    .span12
      .well
        .header.first
          .actiongroup.first.pull-left
            %a.do-showGlobal.pull-left{ :href => "#", :style => "display:none;" }
              +
            %a.do-hideGlobal.pull-left{ :href => "#" }
              \-
          .title
            %h3.pull-left
              Reporting de l'année #{@year}
          .legend{ :style => "float:left;margin-top:4px;margin-left:136px;" }
            Légende : total (numérisées, téléversées)
          .actiongroup.pull-right
            %a
              != link_to( (@year - 1), reporting_account_documents_path(:year => (@year - 1), :email => (params[:email] || "")))
            %span #{@year}
            %a
              != link_to( (@year + 1), reporting_account_documents_path(:year => (@year + 1), :email => (params[:email] || "")))
        .content.margin3top
          - months = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"]
          - months.each_with_index do |month, index|
            - monthly = @monthlies.select { |m| m.month == index + 1 and m.reporting.customer.is_active_at m.year, m.month }
            - @total_active_user = monthly.count
            != render :partial => "month.html.haml", :locals => { :month => month, :index => index, :monthly => monthly }