%fieldset.margin2top
  .leftcolon.clearfix
    != f.label :first_name, "* Prénom"
    != f.text_field :first_name, :class => 'w220'
  .rightcolon.clearfix
    != f.label :last_name, "* Nom"
    != f.text_field :last_name, :class => 'w220'

%fieldset.margin1top
  .onerow
    != f.label :company, "Raison sociale"
    != f.text_field :company, :class => 'w470'

%fieldset.margin1top
  .onerow
    != f.label :address_1, "* Adresse"
    != f.text_field :address_1, :class => 'w470'

%fieldset.margin1top
  .onerow
    != f.label :address_2, "Adresse (suite)"
    != f.text_field :address_2, :class => 'w470'

%fieldset.margin1top
  .leftcolon.clearfix
    != f.label :zip, "* Code Postal"
    != f.text_field :zip, :class => 'w220'
  .rightcolon.clearfix
    != f.label :city, "* Ville"
    != f.text_field :city, :class => 'w220'

%fieldset.margin1top
  .leftcolon.clearfix
    != f.label :country, "Pays"
    != f.text_field :country, :class => 'w220'
  .rightcolon.clearfix
    != f.label :phone, "Numéro de téléphone (domicile)"
    != f.text_field :phone, :class => 'w220'

%fieldset.margin1top
  .leftcolon.clearfix
    != f.label :phone_mobile, "Numéro de téléphone (mobile)"
    != f.text_field :phone_mobile, :class => 'w220'
  .rightcolon.clearfix



.buttonsrow.margin1bottom.margin4top
  %input.button.whitebtn.floattoright.margin2right.w125{ :type => "submit", :value => "Valider"}


  %a.button.whitebtn.floattoleft.margin2left{ :href => current_user.addresses.any? ? address_choice_tunnel_order_path : new_tunnel_order_path}
    %span
      Etape précédente
