- @page_title = "Bordereau de transport Colissimo"
.leftcolon.margin4top
  != render :partial => '/shared/error_messages', :locals => {:object => @order}

  .tunnelcase
    %ul.progress
      %li.first
        %span
          options de
          %br
          ma commande
      %li.second
        %span
          Mon adresse
          %br
          de facturation
      %li.third.current
        %span
          paiement et impression
          %br
          du bordereau d'envoi

    %form.clearfix{:action => account_orders_path}
      %h2.margin2top
        Bordereau d'impression :
      %p.margin2top.red.bold
        Attention vous ne pourrez imprimer qu'une seule fois votre bordereau.
      %p.margin2top
        En cliquant sur #{ link_to "Générer bordereau Colissimo", "http://www.colissimo.fr/retouronline/storeCall.do?#{@coliposte_params}", :class => "popup" }, vous allez accéder à l'interface de La Poste.
        %br
        Ses pages contiennent les paramètres de votre commande qui vont permettre de générer votre bordereau.

      .buttonsrow.margin1bottom.margin4top
        %input.button.whitebtn.floattoright.margin2right.w125.inactive{ :type => "submit", :value => "Terminer", :disabled => true, :id => 'next_button'}
        %a.button.whitebtn.floattoright.margin1right.popup{ :href => "http://www.colissimo.fr/retouronline/storeCall.do?#{@coliposte_params}"}
          %span
            Générer bordereau Colissimo

.rightcolon.margin4top
  != render :partial => '/tunnel/shared/cart'
  != render :partial => '/tunnel/shared/infosbox', :locals => {:object => @order}

:javascript
  $('.popup').click(function(e){
    e.preventDefault();
    var o = $(this);
    var href = o.attr('href');
    window.open(href, 'popuplaposte', 'width=1000px,height=768px,scrollbars=yes');
    $('#next_button').attr('disabled', false);
    $('#next_button').removeClass('inactive');
  });
