.card.retractable-filter
  = form_tag account_paper_processes_path, method: :get, class: 'form-filter' do
    .card-header.clearfix
      .float-left
        %h3 Filtres
      .float-right.margin1left
        %a.locker{ href: "#", title: "Cacher le Filtre" }= glyphicon('layers')
    .retractable-filter-content
      .card-body
        = hidden_field_tag :direction, sort_direction
        = hidden_field_tag :sort, sort_column
        = hidden_field_tag :per_page, per_page
        .form-group
          .label-section
            = label_tag 'paper_process_contains[created_at][>=]', 'Date de début'
          .control-section
            .input-prepend.date.datepicker
              %span.add-on
              = text_field_tag 'paper_process_contains[created_at][>=]', (params[:paper_process_contains][:created_at]['>='] rescue '')
        .form-group
          .label-section
            = label_tag 'paper_process_contains[created_at][<=]', 'Date de fin'
          .control-section
            .input-prepend.date.datepicker
              %span.add-on
              = text_field_tag 'paper_process_contains[created_at][<=]', (params[:paper_process_contains][:created_at]['<='] rescue '')
        .form-group
          .label-section
            = label_tag 'paper_process_contains[type]', t('activerecord.models.paper_process.attributes.type')
          .control-section
            = select_tag 'paper_process_contains[type]', options_for_select(paper_process_type_options, (params[:paper_process_contains][:type] rescue '')), include_blank: true

        - if @user.is_prescriber && @user.organization
          .form-group
            .label-section
              = label_tag 'paper_process_contains[customer_code]', t('activerecord.models.paper_process.attributes.customer_code')
            .control-section
              = text_field_tag 'paper_process_contains[customer_code]', (params[:paper_process_contains][:customer_code] rescue ''), class: 'span12'
          .form-group
            .label-section
              = label_tag 'paper_process_contains[customer_company]', t('activerecord.models.user.attributes.company')
            .control-section
              = text_field_tag 'paper_process_contains[customer_company]', (params[:paper_process_contains][:customer_company] rescue ''), class: 'span12'
        .form-group
          .label-section
            = label_tag 'paper_process_contains[tracking_number]', t('activerecord.models.paper_process.attributes.tracking_number')
          .control-section
            = text_field_tag 'paper_process_contains[tracking_number]', (params[:paper_process_contains][:tracking_number] rescue ''), class: 'span12'
        .form-group
          .label-section
            = label_tag 'paper_process_contains[pack_name]', t('activerecord.models.paper_process.attributes.pack_name')
          .control-section
            = text_field_tag 'paper_process_contains[pack_name]', (params[:paper_process_contains][:pack_name] rescue ''), class: 'span12'
      .card-footer
        .form-actions
          = submit_tag t('filters.action'), class: 'btn btn-primary'
          = link_to glyphicon('x'), account_paper_processes_path, class: 'btn btn-light'
