#paper_processes.container-fluid
  .row.derivationRight
    .col-md-12
      .box.small-shadow
        %h3
          Suivi 
          %span.badge.badge-info.fs-origin= @paper_processes.total_count
  .row.retractable.with-filter.derivationLeft
    .col-md-12.retractable-content
      .box
        = render 'shared/list_options', collection: @paper_processes
        %table.table.table-condensed.table-striped.margin1top.margin1bottom.table-detachable-head.table-bordered-inner
          %thead
            %tr.bg-brown.text-white
              %th= sortable :created_at,      'Date'
              %th= sortable :type,            'Type'
              - if @user.is_prescriber && @user.organization
                %th= sortable :customer_code, 'Code client'
                %th Société
              %th= sortable :tracking_number, 'N° de suivi'
              %th= sortable :pack_name,       'Nom du lot'
          %tbody.retractable.slidedown
            - @paper_processes.each do |paper_process|
              %tr
                %td= l paper_process.created_at, format: '%d %B %Y'
                %td= paper_process_type paper_process.type
                - if @user.is_prescriber && @user.organization
                  %td
                    - if paper_process.user && paper_process.user.organization
                      = link_to paper_process.customer_code, account_organization_customer_path(paper_process.user.organization, paper_process.user)
                    - else
                      = paper_process.customer_code
                  %td= paper_process.user.try(:company)
                %td
                  = link_to_paper_tracking(paper_process) if paper_process.tracking_number.present?
                %td
                  - if paper_process.period_document && paper_process.period_document.pack
                    = link_to paper_process.pack_name, account_documents_path(pack_name: paper_process.pack_name), target: '_blank'
                  - else
                    = paper_process.pack_name
        = render 'shared/list_options', collection: @paper_processes
    = render 'sidebar'
