.card-body
  .paper_set_form
    %h4 Commande d’un kit complet pour envoi du courrier à iDocus
    %hr
    .row
      .col-md-4
        .box.bg-light.height_groups.groups_1
          = f.hidden_field :user_id
          = f.hidden_field :period_duration
          = f.input :paper_set_casing_size, collection: [['500g', 500], ['1000g', 1000], ['3000g', '3000']], include_blank: false
          = f.input :paper_set_casing_count, collection: [], include_blank: true
          = hidden_field_tag :paper_set_casing_count_hidden, @order.paper_set_casing_count.to_i
          = f.input :paper_set_folder_count, collection: 5..10, include_blank: false, hint: ' Correspond au nombre de journaux comptables paramétrés dans le dossier (5 étant le minimum offert par iDocus).'
          = f.input :paper_set_start_date, collection: paper_set_start_date_options(@order), include_blank: false
          = f.input :paper_set_end_date, collection: paper_set_end_date_options(@order), include_blank: false
      .col-md-4
        .box.bg-light.height_groups.groups_1
          %h4 Adresse de livraison du kit envoi courrier
          %hr
          = f.simple_fields_for :address do |builder|
            = builder.input :company, label: 'Nom de la société'
            = builder.input :last_name, label: 'Nom', required: true
            = builder.input :first_name, label: 'Prénom', required: true
            = builder.input :address_1, label: 'Adresse', required: true
            = builder.input :address_2, label: 'Adresse (suite)'
            = builder.input :city, label: 'Ville', required: true
            = builder.input :zip, label: 'Code postal', required: true
      .col-md-4
        .box.bg-light.height_groups.groups_1.clearfix
          %h4 Adresse de retour des papiers numérisés
          %hr
          = f.simple_fields_for :paper_return_address do |builder|
            = builder.input :company, label: 'Nom de la société'
            = builder.input :last_name, label: 'Nom', required: true
            = builder.input :first_name, label: 'Prénom', required: true
            = builder.input :address_1, label: 'Adresse', required: true
            = builder.input :address_2, label: 'Adresse (suite)'
            = builder.input :city, label: 'Ville', required: true
            = builder.input :zip, label: 'Code postal', required: true
          = link_to "Copier l'adresse livraison de kit", '#', class: 'copy_address btn btn-secondary'
    %hr
    .aligncenter
      %h4 Total de la commande :
      %b.total_price{ style: 'font-size:20px' }
.card-footer
  .form-actions.margin0bottom
    .controls
      = f.submit 'Commander', class: 'btn btn-primary'
      = link_to 'Annuler', account_organization_paper_set_orders_path(@organization), class: 'btn btn-light'
