#paper_set_orders.select_to_order.derivationRight
  .card
    .card-header.clearfix
      .float-left
        %h3 
          Sélection des clients pour la commande multiple
          %span.badge.badge-info.fs-origin= @customers.size
      .float-right
        = link_to t('actions.return'), account_organization_paper_set_orders_path(@organization), class: 'btn btn-light'
    = form_tag(order_multiple_account_organization_paper_set_orders_path(@organization), method: :post) do
      .card-body
        %p Veuillez sélectionner les clients pour lesquels vous voulez commander un Kit Courrier.
        %table.table.table-bordered-inner.table-condensed.table-striped.margin1top.margin1bottom.table-detachable-head
          %thead
            %tr.bg-brown.text-white
              %th.checkbox= check_box_tag 'master_checkbox', 0, false, style: 'top:0;'
              %th code
              %th société
              %th dernière commande
              %th dern. envel. retour
          %tbody.retractable.slidedown
            - @customers.each do |customer|
              - last_order = customer.orders.paper_sets.billed.last
              - paper_return = customer.paper_processes.returns.last
              %tr
                %td= check_box_tag 'customer_ids[]', customer.id, false, id: "customer_#{customer.id}", style: 'top:0;', class: 'checkbox'
                %td= customer.code
                %td= truncate(customer.company, length: 20, separator: ' ')
                %td= last_order ?  "#{last_order.paper_set_casing_size.to_s}g - #{last_order.paper_set_folder_count} chemises - #{paper_set_date_to_name(last_order.period_duration, last_order.paper_set_start_date)} à #{paper_set_date_to_name(last_order.period_duration, last_order.paper_set_end_date)}" : '-'
                %td= paper_return ?  "#{paper_return.letter_type}g" : '-'
      .card-footer
        .form-actions.margin0bottom
          = submit_tag t('actions.submit'), class: 'btn btn-primary'
          = link_to t('actions.cancel'), account_organization_paper_set_orders_path(@organization), class: 'btn btn-light'