#list_journals
  - unless @customer.configured?
    .box
      = render 'account/customers/steps'

  .card
    .card-header
      %h3
        Création des journaux comptables pour le dossier :
        %span.text-info.fs-origin= @customer

    .card-body
      - if @customer.subscription.is_package?('mail_option')
        Rappel: il est nécessaire de créer vos journaux comptables afin de créer les chemises correspondantes lors de la commande de votre kit.
        %br
        %br
      - if @customer.options.max_number_of_journals == @journals.size
        Si vous souhaitez ajouter un journal comptable, merci de terminer la création par étape du dossier et d’ajouter un nouveau journal dans l’onglet forfait puis journaux comptables.
        %br
        %br
      - if @journals.any?
        Voici les journaux comptables assignés au dossier :
        %ul
          - @journals.each do |journal|
            %li= journal.name + journal.description
      = link_to icon_new + 'Créer un journal comptable', new_account_organization_customer_journal_path(@organization, @customer), class: 'btn btn-primary'
    .card-footer
      = link_to t('actions.previous_step'), previous_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-secondary'
      - unless last_step?
        = link_to t('actions.complete_later'), complete_later_account_organization_customer_setup_path(@organization, @customer), class: 'btn'
      = link_to t('actions.' + (last_step? ? 'finish' : 'next_step')), next_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-primary'

