- if @new_provider_request.persisted?
  - url = account_organization_customer_new_provider_request_path(@organization, @customer, @new_provider_request)
- else
  - url = account_organization_customer_new_provider_requests_path(@organization, @customer)
= simple_form_for @new_provider_request, url: url, html: { class: 'form form-horizontal' } do |f|
  = f.input :name
  = f.input :url
  = f.input :email
  = f.input :login
  = f.input :password, required: true
  = f.input :types, hint: 'Document, opération bancaire, les deux, autres...'
  = f.input :description, as: :text
  .form-actions
    = f.submit t('actions.submit'), class: 'btn btn-primary'
    = link_to t('actions.cancel'), account_organization_customer_retrievers_path(@organization, @customer), class: 'btn'
