.row-fluid
  .span12
    .box
      %h3 Liste des demandes de nouvel automate du client #{link_to @customer, account_organization_customer_retrievers_path(@organization, @customer)} (#{@new_provider_requests.size})
    .box
      = render partial: 'shared/list_options', locals: { collection: @new_provider_requests }
      %table.table.table-bordered.table-condensed.table-striped.margin1top.margin0bottom
        %thead
          %tr
            %th= sortable :created_at, t('activerecord.models.common.attributes.created_at')
            %th= sortable :updated_at, t('activerecord.models.common.attributes.updated_at')
            %th= sortable :state,      t('activerecord.models.new_provider_request.attributes.state')
            %th= sortable :name,       t('activerecord.models.new_provider_request.attributes.name')
            %th= t('activerecord.models.new_provider_request.attributes.url')
            %th= t('activerecord.models.new_provider_request.attributes.email')
            %th= t('activerecord.models.new_provider_request.attributes.login')
            %th Action
        %tbody
          - @new_provider_requests.each do |new_provider_request|
            %tr
              %td= l(new_provider_request.created_at)
              %td= l(new_provider_request.updated_at)
              %td= new_provider_request_state(new_provider_request)
              %td= new_provider_request.name
              %td= new_provider_request.url
              %td= new_provider_request.email
              %td= new_provider_request.login
              %td
                - if new_provider_request.pending?
                  = link_to icon_edit, edit_account_organization_customer_new_provider_request_path(@organization, @customer, new_provider_request)
      = render partial: 'shared/list_options', locals: { collection: @new_provider_requests }
