.row
  .col-md-12
    .card
      = simple_form_for [:admin, @subscription_option], html: { class: 'form form-horizontal margin2top' } do |f|
        .card-body
          = f.input :name
          = f.input :price_in_cents_wo_vat, as: :integer
          = f.input :position,              as: :integer
          = f.input :period_duration, collection: [['Continuelle', 0], ['Une période', '1']], include_blank: false, as: :radio_buttons
        .card-footer
          .form-actions.margin0bottom
            = f.submit t('actions.submit'), class: 'btn btn-primary'
            = link_to t('actions.cancel'), admin_subscription_options_path, class: 'btn btn-light'
