#subscription_options
  .row
    .col-12
      .row.margin1top.margin1bottom
        .col-6
          %h4 Options
        .col-6.alignright
          = link_to 'Nouveau', new_admin_subscription_option_path, class: 'btn btn-primary'
      %table.table.table-bordered.table-condensed.table-striped
        %thead
          %tr.bg-brown.text-white
            %th.position=              t('activerecord.models.subscription_option.attributes.position')
            %th.updated_at=            t('activerecord.models.common.attributes.updated_at')
            %th.name=                  t('activerecord.models.subscription_option.attributes.name')
            %th.price_in_cents_wo_vat= t('activerecord.models.subscription_option.attributes.price_in_cents_wo_vat')
            %th.period_duration=       t('activerecord.models.subscription_option.attributes.period_duration')
            %th Abonnés
            %th Actions
        %tbody
          - @subscription_options.each do |option|
            %tr
              %td= option.position
              %td= l option.updated_at
              %td= option.name
              %td.alignright= option.price_in_cents_wo_vat
              %td= option.period_duration == 0 ? 'Continuelle' : 'Une période'
              %td= option.subscribers.count
              %td
                = icon_link_to edit_admin_subscription_option_path(option), { icon: 'edit' }
                = icon_link_to admin_subscription_option_path(option), { icon: 'remove' }, { data: { method: 'DELETE', confirm: t('actions.confirm') } }
