.group
  != f.label :names, "Documents *", :class => :label
  != f.text_field :names, :class => :text_field

.group
  != f.label :share_with, "Partager avec...", :class => :label
  != f.text_field :share_with, :class => :text_field

.group
  != f.label :tags, "Tags", :class => :label
  != f.text_field :tags, :class => :text_field
  
.group
  != f.label :is_viewable_by_prescriber, "Visible par le prescripteur", :class => :label
  != f.check_box :is_viewable_by_prescriber

.group.navform.wat-cf
  %button.button{:type => 'submit'}
    != image_tag("web-app-theme/tick.png", :alt => "Save")
    Save
  != link_to image_tag("web-app-theme/cross.png", :alt => "Cancel") + "Cancel", admin_orders_path, :class => "button"

.group
  %em
    %b *
    mandatory fields.
    
/
  != render :partial => '/admin/shared/tokeninput_user_search', :locals => { :link => "/admin/users/search.json?reporting=true" }