%li
  .row
    %span.radio
      != f.radio_button :product_id, product.id, :checked => (@order.product.id == product.id), :class => "product_item" 
    %span.product
      %strong
        #{product.title}
      %span.smaller
        #{product.number_of_sheets} feuilles soit #{product.number_of_pages} pages
    %span.price
      %strong
        -#{format_price product.price_in_cents_w_vat} € TTC
      %span.smaller
        -#{format_price product.price_in_cents_wo_vat} € HT
