.row-fluid
  .span12.well.margin0bottom
    %h3 Filtres

    %br
    = form_tag admin_orders_path, method: :get, class: 'form form-vertical margin0bottom' do
      = hidden_field_tag :direction, sort_direction
      = hidden_field_tag :sort, sort_column
      = hidden_field_tag :per_page, per_page

      = label_tag 'order_contains[created_at][>=]', t('activerecord.models.common.attributes.created_at')
      .filter_date
        .input-prepend.date.datepicker
          %span.add-on
            >=
          = text_field_tag 'order_contains[created_at][>=]', (params[:order_contains][:created_at]['>='] rescue '')
        .input-prepend.date.datepicker
          %span.add-on
            <=
          = text_field_tag 'order_contains[created_at][<=]', (params[:order_contains][:created_at]['<='] rescue '')

      = label_tag 'order_contains[user_code]', 'Code client'
      = text_field_tag 'order_contains[user_code]', (params[:order_contains][:user_code] rescue ''), class: 'span12'

      = label_tag 'order_contains[type]', t('activerecord.models.order.attributes.type')
      = select_tag 'order_contains[type]', options_for_select([["iDocus'Box", 'dematbox'],['Kit envoi courrier', 'paper_set']], (params[:order_contains][:type] rescue '')), include_blank: true

      = label_tag 'order_contains[price_in_cents_wo_vat][>=]', t('activerecord.models.order.attributes.price_in_cents_wo_vat')
      .input-prepend
        %span.add-on
          >=
        = text_field_tag 'order_contains[price_in_cents_wo_vat][>=]', (params[:order_contains][:price_in_cents_wo_vat]['>='] rescue ''), style: 'width:100px'
      .input-prepend
        %span.add-on
          <=
        = text_field_tag 'order_contains[price_in_cents_wo_vat][<=]', (params[:order_contains][:price_in_cents_wo_vat]['<='] rescue ''), style: 'width:100px'

      = label_tag 'order_contains[state]', t('activerecord.models.order.attributes.state')
      = select_tag 'order_contains[state]', options_for_select([["En attente", 'pending'],['Confirmé', 'confirmed'], ['Annulée', 'cancelled']], (params[:order_contains][:state] rescue '')), include_blank: true

      %br
      = submit_tag t('filters.action'), name: nil, class: 'btn btn-primary'
      = link_to t('filters.reset'), admin_orders_path, class: 'btn'
