.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active!= link_to "All orders", admin_orders_path
      %li!= link_to "Add order", new_admin_order_path
  .content
    %h2.title All orders
    .inner
      %form{ :method => "GET", :action => admin_orders_path }
        %h3 Filtre
        %table.table
          %tr
            %th
              %label{ :for => :email } Email
            %th
              %label{ :for => :first_name } Nom
            %th
              %label{ :for => :last_name } Prénom
            %th
              %label{ :for => :company } Company
            %th
              %label{ :for => :company } Code
            %th.last
              %label{ :for => :number } Order number
          %tr
            %td
              %input{ :type => :text, :name => :email, :id => :email, :value => (params[:email] rescue "") }
            %td
              %input{ :type => :text, :name => :first_name, :id => :first_name, :value => (params[:first_name] rescue "") }
            %td
              %input{ :type => :text, :name => :last_name, :id => :last_name, :value => (params[:last_name] rescue "") }
            %td
              %input.w75{ :type => :text, :name => :company, :id => :company, :value => (params[:company] rescue "") }
            %td
              %input.w75{ :type => :text, :name => :code, :id => :code, :value => (params[:code] rescue "") }
            %td
              %input.w75{ :type => :text, :name => :number, :id => :number, :value => (params[:number] rescue "") }
              
        .group.navform.wat-cf
          %button.button{:type => 'submit'}
            != image_tag("web-app-theme/tick.png", :alt => "Valider")
            Valider
      %br
      %br
      %br
      %form{ :method => "POST", :action => update_prescriber_admin_orders_path }
        %table.table
          %tr
            %th N°
            %th Date
            %th Customer
            %th Total
            %th State
            %th Prescriber
            %th
            %th.last &nbsp;
          - @orders.each_with_index do |instance,index|
            %tr{:class => cycle("odd", "even")}
              %td!= link_to instance.number, [:admin, instance], :title => "#{instance.packs.collect{|p| p.name}.join(', ')}"
              %td!= link_to l(instance.created_at), [:admin, instance]
              %td
                != link_to instance.user.email, [:admin, instance.user] rescue "inconnu"
                %br
                %span{ :title => (instance.user.company rescue "") }
                  !=instance.user.code rescue ""
                  - if instance.user.code
                    #{" - "}
                  !=instance.user.first_name rescue ""
                  - if instance.user.first_name
                    #{" "}
                  !=instance.user.last_name rescue ""
              %td
                - if instance.manual
                  Inconnu
                - else
                  #{format_price instance.total_in_cents_wo_vat} € HT
                  %br
                  %small
                    #{format_price instance.total_in_cents_w_vat} € TTC
                    
              %td!= instance.state
              
              %td
                - reporting = Reporting.where(:order_ids => instance.id).first
                - if reporting
                  != reporting.user.email
                
              %td
                %input{ :type => :checkbox, :class => "order", :name => "id_#{index + 1}", :value => instance.id }
              %td.last
                != link_to image_tag("web-app-theme/application_edit.png", :alt => "Edit"), edit_admin_order_path(instance)
                -#|
                -#!= link_to image_tag("web-app-theme/cross.png", :alt => "delete"), admin_order_path(instance), :method => :delete, :confirm => "Êtes-vous sûr ?"
        %label{ :for => :email }
          Notifier ces commandes à l'utilisateur : 
        %input.w100{ :type => :text, :name => :prescriber_email }
        %input{ :type => :submit, :value => "Valider", :style => "width:50px;" }
        %br
        ( Laisser vide pour supprimer le prescripteur )
        
      .actions-bar.wat-cf
        .actions
        != will_paginate @orders
- content_for :sidebar, render(:partial => 'sidebar')

:javascript
  $(document).ready(function () {
    $('#prescriber_order').click(function(){
      var order_ids = "";
      $("input[type=checkbox]").each(function(){
        order_ids += " "+$(this).val();
      });
      hsh = { "prescriber_email":$("input[name=prescriber_email]").val(), "order_ids":order_ids };
      $.ajax({
        url: "/admin/orders/update_prescriber",
        data: hsh,
        dataType: "json",
        type: "POST",
        beforeSend: function() {
        },
        success: function(data){
          alert("Okidoki");
        }
      });
      return false;
    });
  });
  
:css
  .w50 {
    width: 50px; }
  .w75 {
    width: 75px; }