.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active!= link_to "All orders", admin_orders_path
      %li!= link_to "Add order", new_admin_order_path
  .content
    %h2.title All orders
    .inner
      %table.table
        %tr
          %th N°
          %th Date
          %th Customer
          %th Total
          %th State
          %th Viewable by prescriber ?
          %th.last &nbsp;
        - @orders.each_with_index do |instance,index|
          %tr{:class => cycle("odd", "even")}
            %td!= link_to instance.number, [:admin, instance], :title => "#{instance.packs.collect{|p| p.name}.join(', ')}"
            %td!= link_to l(instance.created_at), [:admin, instance]
            %td
              != link_to instance.user.email, [:admin, instance.user] rescue "inconnu"
              %br
              - name = ""
              - name = instance.user.first_name + " " if !instance.user.first_name.blank?
              - name += instance.user.last_name if !instance.user.last_name.blank?
              %span{ :title => name }
                !=instance.user.code rescue ""
                - if !instance.user.code.blank? && !instance.user.company.blank?
                  #{" - "}
                !=instance.user.company rescue ""
            %td
              - if instance.manual
                Inconnu
              - else
                #{format_price instance.total_in_cents_wo_vat} € HT
                %br
                %small
                  #{format_price instance.total_in_cents_w_vat} € TTC
            %td!= instance.state
            %td
              - if instance.state == "scanned"
                != check_box_tag '', instance.is_viewable_by_prescriber, !instance.is_viewable_by_prescriber, :class => "inplace", :id => instance.id
                != image_tag "lightbox-ico-loading.gif", :style => "display:none;", :id => "spinner_#{instance.id}"
            %td.last
              != link_to image_tag("web-app-theme/application_edit.png", :alt => "Edit"), edit_admin_order_path(instance)
              -#|
              -#!= link_to image_tag("web-app-theme/cross.png", :alt => "delete"), admin_order_path(instance), :method => :delete, :confirm => "Êtes-vous sûr ?"
        
      .actions-bar.wat-cf
        .actions
        != will_paginate @orders
- content_for :sidebar, render(:partial => 'sidebar')

:javascript
  $(document).ready(function () {
    $("input[type=checkbox].inplace").click(function(){
      uid = $(this).attr('id');
      node = $(this);
      url = "/admin/orders/" + uid;
      hsh = {};
      hsh["order"] = {is_viewable_by_prescriber: $(this).is(':checked') };
      hsh["_method"] = "PUT";
      spinner_id = "#spinner_"+uid;
      $.ajax({
        url: url,
        data: hsh,
        dataType: "json",
        type: "POST",
        beforeSend: function() {
          node.hide();
          $(spinner_id).show();
        },
        success: function(data){
          $(spinner_id).hide();
          node.show();
        }
      });
    });
  });
  
:css
  .w50 {
    width: 50px; }
  .w75 {
    width: 75px; }