.block
  .secondary-navigation
    %ul.wat-cf
      %li.first!= link_to "All orders", admin_orders_path
      %li!= link_to "Add order", new_admin_order_path
  .content
    .inner
      - if !@order.manual
        %h2 Order ##{@order.number}
        %table.table
          %tr
            %th.first
            %th Datasheet
            %th
            %th.last
          %tr
            %td
            %td
              != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Created at', :value => l(@order.created_at)}
              != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Product', :value => @order.product_order.title}
              != render :partial =>'/admin/shared/show_field', :locals => {:key => 'N° d\'abonnement associée', :value => (link_to @order.subscription.number, [:admin, @order.subscription])} if @order.subscription
              != render :partial =>'/admin/shared/show_field', :locals => {:key => 'State', :value => @order.state}
            %td
              != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Updated at', :value => l(@order.updated_at)}
              - customer = @order.user rescue nil
              - if customer
                != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Customer', :value => link_to(@order.user.email, [:admin, @order.user])}
              - else
                != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Customer', :value => "Inconnu"}
  
              != render :partial =>'/admin/shared/show_field', :locals => {:key => 'VAT RATIO', :value => @order.tva_ratio}
              != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Total without VAT', :value => format_price(@order.total_in_cents_wo_vat)}
              != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Total with VAT', :value => format_price(@order.total_in_cents_w_vat)}
              != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Total VAT', :value => format_price(@order.total_vat)}
            %td
  
        %h3 Addresses
        %table.table
          %tr
            %th.first
            %th Billing
            %th Shipping
            %th.last
          %tr
            %td
            %td
              != render :partial => 'address', :locals => {:address => @order.shipping_address} rescue nil
            %td
              != render :partial => 'address', :locals => {:address => @order.billing_address} rescue nil
            %td
      - else
        %h2 Order ##{@order.number}
        %table.table
          %tr
            %th.first
            %th Datasheet
            %th
            %th.last
          %tr
            %td
            %td
              != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Created at', :value => l(@order.created_at)}
              != render :partial =>'/admin/shared/show_field', :locals => {:key => 'State', :value => @order.state}
            %td
              != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Updated at', :value => l(@order.updated_at)}
              - customer = @order.user rescue nil
              - if customer
                != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Customer', :value => link_to(@order.user.email, [:admin, @order.user])}
              - else
                != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Customer', :value => "Inconnu"}
            %td
      - if @order.product_order
        %h3 Liste des options
        %table.table
          %tr
            %th.first
            %th Titre
            %th Prix
            %th Durée
            %th.last
          - @order.product_order.product_option_order.each do |option|
            %tr
              %td
              %td!= option.title
              %td
                #{format_price option.price_in_cents_wo_vat} € HT
                %br
                %small
                  #{format_price(option.price_in_cents_wo_vat * 1.196)} € TTC
              %td!= option.duration
              %td
        .wat-cf
          != link_to image_tag("web-app-theme/application_edit.png", :alt => "Modifier les options") + "Modifier les options", edit_option_admin_order_path(@order), :class => "button"
      
      %h3 Liste des documents
      %table.table
        %tr
          %th.first
          %th Date
          %th Nom
          %th Pièces
          %th Feuilles
          %th Page
          %th.last
        - total_sub_doc = 0
        - total_sheets = 0
        - total_pages = 0
        - @order.packs.order_by([:created_at,:asc]).each do |pack|
          - pack.get_division_from_pdf if pack.division.nil? || pack.division.try("empty?")
          %tr{:class => cycle("odd", "even")}
            %td
            %td!=pack.created_at.strftime("%Y-%m-%d %H:%M")
            %td!=pack.name
            %td
              - res = pack.division[2].select{|d| d[1] == 2}.count
              - if res == 0
                - res = pack.division[2].select{|d| d[1] == 1}.count
              !=res
            %td!=pack.division[2].select{|d| d[1] == 1}.count
            %td!=pack.division[1]
            %td
            - total_sub_doc += res
            - total_sheets += pack.division[2].select{|d| d[1] == 1}.count
            - total_pages += pack.division[1]
        %tr
          %td
          %td
          %td TOTAL
          %td!=total_sub_doc
          %td!=total_sheets
          %td!=total_pages
          %td
      
      .wat-cf
        != link_to image_tag("web-app-theme/application_edit.png", :alt => "Modifier") + "Modifier", edit_admin_order_path(@order), :class => "button"

- content_for :sidebar, render(:partial => 'sidebar')