!!!
%html
  %head
    %title [iDocus] Compte bancaire paramétré par votre client #{@customer.company}
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-type' }
  %body
    Bonjour #{@collaborator.name},
    %br
    %br
    Nous vous informons que votre client #{@customer.company} a configuré dans iDocus la récupération automatique des opérations bancaires pour le(s) compte(s) ci-dessous :
    %br
    %ul
      - @bank_accounts.each do |bank_account|
        %li= bank_account.bank_name
    %br
    Vous pouvez maintenant personnaliser le nom et le numéro de compte des journaux correspondant.
    %br
    %br
    Cordialement,
    %br
    L’équipe iDocus
    %br
    = link_to 'support@idocus.com', 'mailto:support@idocus.com'
