%nav.navbar.fixed-top.navbar-static-top.navbar-expand-lg.navbar-light.medium-shadow
  = link_to image_tag('logo/logo.png', alt: 'logo'), root_path, class: 'logo navbar-brand onInit'

  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    = glyphicon('menu', { color: '#FFF' } )

  .collapse.navbar-collapse#navbarSupportedContent{ style: "width: 900px" }
    %span.auto-scroll-span-left.hide.ml-1.mr-1
      %button.btn
        = glyphicon('arrow-left', { color: 'white' })
    .main-menu-content.auto-scroll-div
      %ul.nav.navbar-nav.bg-menu
        -#%li.nav-item{ style: 'font-size:16px;padding:10px 10px 0;' } Admin
        %li.nav-item{ class: ('active' if controller_name == 'admin') }
          = link_to 'Tableau de bord', admin_root_path, class: 'nav-link'
        %li.nav-item.dropdown
          = link_to '#', class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' } do
            Finance
            %b.caret
          .dropdown-menu
            = link_to 'Reporting', '/admin/reporting', class: 'dropdown-item'
            = link_to 'Reporting de traitement', '/admin/process_reporting', class: 'dropdown-item'
            = link_to 'Factures', admin_invoices_path, class: 'dropdown-item'
        %li.nav-item{ class: ( 'active' if controller_name == 'users') }
          = link_to 'Utilisateurs', admin_users_path, class: 'nav-link'
        %li.nav-item{ class: ('active' if controller_name == 'subscription_options') }
          = link_to 'Forfaits', admin_subscription_options_path, class: 'nav-link'
        %li.nav-item{ class: ('active' if controller_name.in?(%w(subscriptions mobile_reporting))) }
          = link_to 'Statistiques', admin_subscriptions_path, class: 'nav-link'
        %li.nav-item{ class: ('active' if controller_name == 'orders') }
          = link_to 'Commandes', admin_orders_path, class: 'nav-link'
        %li.nav-item{ class: ('active' if controller_name == 'events') }
          = link_to 'Visites', admin_events_path, class: 'nav-link'
        %li.nav-item{ class: ('active' if controller_name.in?(%w(retrievers new_provider_requests))) }
          = link_to 'Automates', admin_retrievers_path, class: 'nav-link'
        %li.nav-item.dropdown
          = link_to '#', class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' } do
            Livraison de pré-affectation
            %b.caret
          .dropdown-menu
            = link_to 'Livraison vers Ibiza', admin_pre_assignment_deliveries_path(software: 'ibiza'), class: 'dropdown-item'
            = link_to 'Livraison vers Exact Online', admin_pre_assignment_deliveries_path(software: 'exact_online'), class: 'dropdown-item'
            = link_to 'Livraison vers My Unisoft', admin_pre_assignment_deliveries_path(software: 'my_unisoft'), class: 'dropdown-item'
        %li.nav-item{ class: ('active' if controller_name.in?(%w(dematboxes dematbox_services dematbox_files))) }
          = link_to "iDocus'Box", admin_dematboxes_path, class: 'nav-link'
        %li.nav-item.dropdown
          = link_to '#', class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' } do
            Autres
            %b.caret
          .dropdown-menu
            = link_to 'News', admin_news_index_path, class: 'dropdown-item'
            = link_to 'Récéptions Mail', admin_emailed_documents_path, class: 'dropdown-item'
            = link_to 'Images', admin_cms_images_path, class: 'dropdown-item'
            = link_to 'Ateliers', admin_scanning_providers_path, class: 'dropdown-item'
            = link_to 'Partages de compte', admin_account_sharings_path, class: 'dropdown-item'
            = link_to 'Notifications utilisateurs', admin_notifications_path, class: 'dropdown-item'
            = link_to 'Doublons de pré-affectation', admin_pre_assignment_blocked_duplicates_path, class: 'dropdown-item'
            = link_to 'Paramétrage des notifications', admin_notification_settings_path, class: 'dropdown-item'        
        %li.nav-item.dropdown
          = link_to '#', class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' } do
            Outils DEV
            %b.caret
          .dropdown-menu
            - if current_user.is_developer
              = link_to 'Suivi Job Process', admin_job_processing_index_path, class: 'dropdown-item'
              = link_to 'Suivi Retriever Budgea', admin_budgea_retriever_index_path, class: 'dropdown-item'
              = link_to 'Suivi Error Script Mailer', admin_counter_error_script_mailer_index_path, class: 'dropdown-item'
            = link_to 'Récupération de transactions manquants', fetcher_admin_retrievers_path, class: 'dropdown-item'
    %span.auto-scroll-span-right.hide.mr-auto.ml-1
      %button.btn
        = glyphicon('arrow-right', { color: 'white' })
  .user-menu-content
    %ul.nav.navbar-nav
      %li.nav-item
        = link_to glyphicon('external-link', { color:'#FFF'} ), root_path, title: "Revenir à la page d'acceuil", class: 'nav-link'
      %li.nav-item.dropdown.bg-menu
        = link_to '#', class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' } do
          = glyphicon('person', { class: 'mr-sm-1', color: '#fff' })
          = current_user.email
          %b.caret
        .dropdown-menu
          = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
            = glyphicon('account-logout', { class: 'mr-sm-1', color: '#fff' })
            Déconnexion
      /  = glyphicon('person', { class: 'mr-sm-1', color: '#fff' })
      /  = link_to current_user.email, root_path, class: 'text-white'
      /  |
      /  = glyphicon('account-logout', { class: 'float-left mr-sm-2' })
      /  = link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'text-white'
      
