%a.btn.btn-navbar{ 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse' }
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
= link_to image_tag('logo/tiny_logo.png', alt: 'logo'), root_path, class: 'logo'
.nav-collapse
  %ul.nav
    %li{ style: 'font-size:16px;padding:10px 10px 0;' } Admin
    %li{ class: ('active' if controller_name == 'admin') }
      = link_to 'Tableau de bord', admin_root_path
    %li.dropdown
      = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
        Finance
        %b.caret
      %ul.dropdown-menu
        %li{ class: ('active' if controller_name == 'reporting') }
          = link_to 'Reporting', '/admin/reporting'
        %li{ class: ('active' if controller_name == 'process_reporting') }
          = link_to 'Reporting de traitement', '/admin/process_reporting'
        %li{ class: ('active' if controller_name == 'invoices') }
          = link_to 'Factures', admin_invoices_path
    %li{ class: ('active' if controller_name == 'users') }
      = link_to 'Utilisateurs', admin_users_path
    %li{ class: ('active' if controller_name == 'subscriptions') }
      = link_to 'Abonnements', admin_subscriptions_path
    %li{ class: ('active' if controller_name == 'orders') }
      = link_to 'Commandes', admin_orders_path
    %li{ class: ('active' if controller_name == 'events') }
      = link_to 'Visites', admin_events_path
    %li{ class: ('active' if controller_name.in?(%w(retrievers provider_wishes))) }
      = link_to 'Automates', admin_fiduceo_retrievers_path
    %li{ class: ('active' if controller_name == 'pre_assignment_deliveries') }
      = link_to 'Livraison vers iBiza', admin_pre_assignment_deliveries_path
    %li{ class: ('active' if controller_name.in?(%w(dematboxes dematbox_services dematbox_files))) }
      = link_to "iDocus'Box", admin_dematboxes_path
    %li.dropdown
      = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
        Autres
        %b.caret
      %ul.dropdown-menu
        %li= link_to 'Tâches', '/admin/delayed_job'
        %li{ class: ('active' if controller_name == 'emailed_documents') }
          = link_to 'Récéptions Mail', admin_emailed_documents_path
        %li{ class: ('active' if controller_name == 'cms_images') }
          = link_to 'Images', admin_cms_images_path
        %li{ class: ('active' if controller_name == 'gray_labels') }
          = link_to 'Marque Grise', admin_gray_labels_path
        %li{ class: ('active' if controller_name == 'scanning_providers') }
          = link_to 'Ateliers', admin_scanning_providers_path
        %li{ class: ('active' if controller_name == 'notification_settings') }
          = link_to 'Paramétrage des notifications', admin_notification_settings_path

%p.navbar-text.pull-right
  Bienvenu
  = link_to current_user.email, root_path
  |
  = link_to 'déconnexion', destroy_user_session_path, method: :delete
