%a.btn.btn-navbar{ 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse' }
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
= link_to image_tag('logo/tiny_logo.png', alt: 'logo'), '/', class: 'logo'
.nav-collapse
  %ul.nav
    %li{ style: 'font-size:16px;padding:10px 10px 0;' } Admin
    %li{ class: ('active' if params[:controller] == 'admin/admin') }
      = link_to 'Dashboard', admin_root_path
    %li{ class: ('active' if params[:controller] == 'admin/users') }
      = link_to t('mongoid.models.user.name').pluralize, admin_users_path
    %li{ class: ('active' if params[:controller] == 'admin/pages') }
      = link_to t('mongoid.models.page.name').pluralize, admin_pages_path
    %li{ class: ('active' if params[:controller] == 'admin/cms_images') }
      = link_to t('mongoid.models.cms_image.name').pluralize, admin_cms_images_path
    %li{ class: ('active' if params[:controller].in? %w(admin/products admin/product_options admin/product_groups)) }
      = link_to t('mongoid.models.product.name').pluralize, admin_products_path
    %li{ class: ('active' if params[:controller] == 'admin/log/visits') }
      = link_to "Historique", admin_log_visits_path

%p.navbar-text.pull-right
  = t('devise.sessions.message.welcome')
  = link_to current_user.email, account_documents_path
  |
  = link_to t('devise.sessions.action.sing_out').downcase, destroy_user_session_path