#invoices.derivationRight
  .row
    .col-md-12
      .card
        .card-header
          .row
            .col
              %h3 Factures
            .col-2
              %button.btn.btn-primary.btn-sm.float-right{type:'button', :data => {:toggle => 'modal', :target => '#invoice_config_dialog'}, style: 'position:relative;top:-3px;' }
                = glyphicon('cog', { class: 'mr-sm-1', color: '#fff' })
                Paramètre d'integration factures
        .card-body
          %table.table.table-striped.table-detachable-head.table-border-inner
            %thead
              %tr.bg-brown.text-white
                %th Numéro
                %th.alignright Montant
                %th.alignright Actions
            %tbody.retractable.slidedown
            - if !@user.leader?
              %tr
                %td{ colspan: 3 }
                  .badge.badge-warning.fs-origin Vous n'avez pas le droit necessaire pour acceder à cette page
            - elsif @organization.try(:is_suspended)
              %tr
                %td{ colspan:3 }
                  .badge.badge-warning.fs-origin Cette organization a été suspendue
            - else
              - @invoices.each do |invoice|
                %tr
                  %td= invoice.number
                  %td.price
                    - if invoice.amount_in_cents_w_vat
                      = "#{format_price_00(invoice.amount_in_cents_w_vat)} €"
                  %td.actions
                    = link_to glyphicon('eye'), organization_invoice_path(invoice.id), class: 'do-showInvoice mx-md-3 btn btn-light', title: "#{invoice.number}.pdf"
                    = link_to glyphicon('data-transfer-download'), organization_invoice_path(invoice.id), target: '_blank', class: 'btn btn-light'
          .float-right
            = paginate @invoices, params: { panel: 'invoices' }

  #showInvoice.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %h3
          %a.close{ data: { dismiss: :modal } } ×
        .modal-body
          %iframe{ src: '' }

  .modal.fade{id: 'invoice_config_dialog', tabindex: '-1', 'data-focus-on' => 'input:first', role: 'dialog', aria: {labelledby: 'title_info', hidden: 'true'}}
    .modal-dialog.modal-dialog-centered{role: 'document'}
      .modal-content
        .modal-header.text-center
          %h3{class: 'modal-title w-100 font-weight-bold', id: 'title_info'}
            Integration automatique des factures
          %button.close{type: 'button', data: {dismiss:'modal'}, aria: {label: 'Close'}} &times;
        .modal-body
          = simple_form_for @invoice_setting, :url => insert_account_organization_invoices_path(@organization), :controller => 'account/invoices_controller', :method => :post, html: { class: 'form form-horizontal margin0 clearfix', :id => 'data-invoice-upload', data: { params: file_upload_params.to_json } } do |f|
            .form-group.clearfix
              = f.input :id, as: :hidden, id: 'invoice-setting-id'
            .form-group.clearfix
              = f.input :user_code, label: 'Code client :', collection: file_upload_users_list.map{ |e| [e.short_info, e.code] }, include_blank: true, required: true, id: :user_code
            .form-group.clearfix
              = f.input :journal_code, label: 'Type de document :', collection: [], id: :journal_code, required: true
            %br
            .form-group.float-right
              = f.button :submit, 'Ajouter', class: 'btn btn-primary start', id: 'insert-invoice-setting'
              = f.button :submit, 'Annuler', class: 'btn btn-light cancel', type: 'reset'
          %hr
          %h3.text-center
            Dossiers paramétrés
          %hr
          .row
            .col-md-12
              %table.table{id: 'invoice-setting-table'}
                %thead
                  %tr{class: 'bg-brown text-white'}
                    %th Code de dossiers
                    %th Journal
                    %th{style: 'width: 290px; text-align: center'} Action
                %tbody{class: 'retractable slidedown', style: 'opacity:1;'}
                  -@invoice_settings.each do |invoice_setting|
                    %tr
                      %td{id:'edit-user-code'}= User.find_by_code(invoice_setting.user_code).info
                      %td{id:'edit-journal-code'}= invoice_setting.journal_code
                      %td{style: 'text-align: center'}
                        = link_to 'Synchroniser factures',  "#invoice-setting-synchronize-form", id: 'invoice-setting-synchronize', class: 'btn btn-sm btn-primary', type:'button', :data => {:toggle => 'modal', :target => '#invoice-setting-synchronize-form'}, invoice_setting_id: invoice_setting.id, user_info: User.find_by_code(invoice_setting.user_code).info
                        |
                        = link_to 'Modifier',  "#", id: 'invoice-setting-edit', class: 'btn btn-sm btn-info', invoice_setting_id: invoice_setting.id, code: invoice_setting.user_code, journal: invoice_setting.journal_code
                        |
                        = link_to 'Supprimer', remove_account_organization_invoices_path(@organization, {id: invoice_setting.id}), data: {:confirm => 'Voulez-vous vraiment le supprimer?'}, :method => :delete, class: 'btn btn-sm btn-danger'

        .modal-footer
          .float-right
            %a{ :class=>"modal-close btn btn-light", "data-dismiss"=>"modal" } Fermer


  .modal.fade{id: 'invoice-setting-synchronize-form', tabindex: '-1', 'data-focus-on' => 'input:first', :style => 'overflow:auto', role: 'dialog', aria: {labelledby: 'invoice-synchronize', hidden: 'true'}}
    .modal-dialog.modal-sm.modal-dialog-centered{role: 'document'}
      .modal-content
        .modal-header.text-center
          %h5{class: 'modal-title w-100 font-weight-bold', id: 'synchronize_user_info'}
          %button.close{type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => "true"} &times;
        .modal-body
          = form_tag synchronize_account_organization_invoices_path(@organization), method: :get, class: 'form-filter' do
            .card-header.clearfix
              .text-center
                %h4
                  Récuperer ou synchroniser les factures dépuis la période sélectionnée
            .retractable-filter-content
              .card-body
                .form-group.clearfix
                  = hidden_field_tag 'invoice_setting_id'
                .form-group.clearfix
                  .label-section
                    = label_tag 'invoice_setting_synchronize_contains[period]', 'Sélectionner la période:'
                  .control-section
                    = select_tag 'invoice_setting_synchronize_contains[period]', options_for_select( @synchronize_months, (params[:invoice_setting_synchronize_contains][:period] rescue '') )
              .card-footer
                .form-actions
                  = submit_tag 'Synchroniser', class: 'btn btn-primary mb-2', id: 'synchronize-invoice-setting'
