.row-fluid
  .span12.well
    %h2 Informations
    %br
      = simple_form_for [:admin, @product_group], html: { class: 'form form-horizontal' } do |f|
        .row-fluid
          .span4
            = f.input :name, label: "Nom du produit dans l'administration"
            = f.input :title, label: 'Nom du produit dans le tunnel'
            = f.input :position, as: 'integer'
            = f.input :is_option_dependent, as: 'boolean', label: "Bouton radio ? (sinon case à cocher)"
          .span4
            = f.input :product_supergroup, as: 'select', collection: ProductGroup.asc(:name).map { |e| [e.name,e.id] }, label: 'Sélectionner un super groupe', include_blank: false
            = f.input :product_subgroups, as: 'select', collection: ProductGroup.asc(:name).map { |e| [e.name,e.id] }, label: 'Sélectionner un groupe pour la dépendance', include_blank: false
            = f.input :product, as: 'select', collection: Product.asc(:title).map { |e| [e.title,e.id] }, label: 'Sélectionner un produit', include_blank: false
        .row-fluid
          .span12
            .form-actions
              = f.submit t('actions.submit'), class: 'btn'
          