.block
  .secondary-navigation
    %ul.wat-cf
      %li.first!= link_to "Index", admin_products_path
      %li!= link_to "Add product", new_admin_product_path
      %li!= link_to "Add option", new_admin_product_option_path
      %li!= link_to "Add group", new_admin_product_group_path
  .content
    %h2.title
      Editing group 
      != @product_group.title
    .inner
      - form_for [:admin, @product_group], :html => { :class => :form } do |f|
        != render :partial => "form", :locals => {:f => f}

- content_for :sidebar, render(:partial => 'sidebar')
