.row-fluid
  .col-sm-12
    %h4 Derniers documents récupérés via les automates
    %table.table.table-striped.table-condensed.table-bordered-inner.margin1top.margin1bottom
      %thead
        %tr.bg-brown.text-white
          %th.date Date
          %th Service
          %th Nom original
          %th Nom iDocus
          - if @user.is_prescriber
            %th Client
      %tbody
        - @last_retrieved.each do |temp_document|
          - cache temp_document do
            %tr
              %td.date= l temp_document.created_at
              %td= temp_document.retriever_service_name
              %td= temp_document.original_file_name
              %td= temp_document.piece.try(:name) || temp_document.temp_pack.name.sub(' all', '')
              - if @user.is_prescriber
                %td= link_to temp_document.user.company, account_organization_customer_path(temp_document.user.organization, temp_document.user)
.row-fluid.margin3top
  .col-sm-12
    %h4 Dernières opérations récupérées
    %table.table.table-striped.table-condensed.table-bordered.margin1top.margin0bottom
      %thead
        %tr.bg-brown.text-white
          %th.date Date Op.
          %th Service
          %th Compte
          %th Libellé
          %th Montant
          - if @user.is_prescriber
            %th client
      %tbody
        - @last_operations.each do |operation|
          - cache operation do
            %tr
              %td.date= l operation.date, format: '%d %b %Y'
              %td= operation.bank_account.try(:bank_name)
              %td= operation.bank_account.try(:number)
              %td= operation.label
              %td.amount= format_price_00((operation.amount * 100).round) + ' €'
              - if @user.is_prescriber
                %td= link_to operation.user.company, account_organization_customer_path(operation.user.organization, operation.user)
