#welcome.container-fluid
  .alerts
    = render partial: 'shared/messages'

  .row
    .col-md-6
      .box.small-shadow.bg-light.derivationLeft
        .row
          .col-md-12
            %h2 Bienvenue sur votre espace client iDocus !
            - if @user.is_prescriber
              Pour toute demande de support, merci d’écrire à
              = link_to 'support@idocus.com', 'mailto:support@idocus.com'
              %br
              %i
                Ce support est soumis à conditions. Voir les
                = link_to 'Conditions Générales d’Utilisations', docs_download_path(name: 'CGU.pdf')
              - if @user.organization.addresses.select { |a| a.is_for_billing }.count == 0 || !@user.organization.try(:debit_mandate).try(:configured?)
                %br
                %br
                Merci de renseigner vos données de facturation :
                %ul
                  - if @user.organization.addresses.select { |a| a.is_for_billing }.count == 0
                    %li= link_to 'Adresse de facturation', account_organization_path(@user.organization, tab: 'addresses')
                  - unless @user.organization.try(:debit_mandate).try(:configured?)
                    %li= link_to 'Mode de paiement', account_organization_path(@user.organization, tab: 'payments')
                %span.red Votre compte pourra être suspendu si ces informations n’étaient pas complétées.
              .ie-message.mt-sm-5
                Nous vous recommandons d’utiliser iDocus avec un autre navigateur qu’Internet Explorer (Google Chrome, Mozilla Firefox, Safari…).
            - else
              Pour toute demande de support, merci d’écrire à
              = link_to 'support@idocus.com', 'mailto:support@idocus.com'
              %br
              %i
                Ce support est soumis à conditions. Merci de vous rapprocher de votre cabinet d’expertise-comptable pour en connaître le détail.
              .ie-message.mt-sm-5
                Nous vous recommandons d’utiliser iDocus avec un autre navigateur qu’Internet Explorer (Google Chrome, Mozilla Firefox, Safari…).

      .box.mt-sm-5.small-shadow.bg-light.derivationLeft
        %ul.nav.nav-tabs
          - if @user.is_prescriber || @user.options.try(:is_upload_authorized)
            - active = @dashboard_summary == 'last_uploads' ? 'active' : ''
            %li.nav-item{ class: active }
              = link_to "iDo Classique",   '#last_uploads', class: "last_uploads nav-link #{active}", data: { toggle: 'tab' }
          - if @user.is_prescriber || @user.is_dematbox_authorized
            - active = @dashboard_summary == 'last_dematbox_scans' ? 'active' : ''
            %li.nav-item{ class: active }
              = link_to "Dematbox",       '#last_dematbox_scans', class: "last_dematbox_scans nav-link #{active}", data: { toggle: 'tab' }
          - if @user.is_prescriber || @user.options.try(:is_retriever_authorized)
            - active = @dashboard_summary == 'last_retrieved' ? 'active' : ''
            %li.nav-item{ class: active }
              = link_to "Automates de récupération", '#last_retrieved', class: "last_retrieved nav-link #{active}", data: { toggle: 'tab' }
          - if @user.is_prescriber || @user.options.try(:is_upload_authorized)
            - active = @dashboard_summary == 'last_scans' ? 'active' : ''
            %li.nav-item{ class: active }
              = link_to "Courrier",  '#last_scans', class: "last_scans nav-link #{active}", data: { toggle: 'tab' }

        .tab-content.clearfix.border-right.border-left.border-bottom.bg-white.pb-sm-3{ style: "min-height: 400px" }
          - ['last_uploads', 'last_dematbox_scans', 'last_retrieved', 'last_scans'].each do |view_name|
            - if @user.is_prescriber || (view_name.in?(%w(last_scans last_uploads)) && @user.options.try(:is_upload_authorized)) || (view_name == 'last_dematbox_scans' && @user.is_dematbox_authorized) || (view_name == 'last_retrieved' && @user.options.try(:is_retriever_authorized))
              .tab-pane{ id: view_name, class: ('active' if @dashboard_summary == view_name)}
                .alignright
                  - if @user.options.try(:dashboard_summary) == view_name
                    %i.badge.badge-light{ style: 'font-size: 12px' } Vue par défaut
                  - else
                    = link_to 'Définir comme vue par défaut', choose_default_summary_account_account_index_path(service_name: view_name), method: :post, class: 'btn btn-light'
                .content{ class: view_name }
                  .loading-data

    .col-md-6
      .row.derivationRight
        .col-md-12
          .card
            .card-header
              %h4 Derniers documents traités
            .card-content.retractable.slidedown
              %table.table.table-striped.table-condensed.mb-sm-0
                %thead
                  %tr.bg-brown.text-white
                    %th.date Date
                    %th Lot
                %tbody
                  - @last_packs.each do |pack|
                    %tr
                      %td.date= l(pack.updated_at)
                      %td= link_to pack.name.sub(' all', ''), account_documents_path(pack_name: pack.name)
            .card-footer
              .float-right
                = link_to 'Tous les documents', account_documents_path
      - if @user.is_prescriber || @user.authorized_upload?
        .row.mt-sm-5.derivationRight
          .col-md-12
            .card
              .card-header
                %h4 Derniers documents en cours de traitement
              .card-content.retractable.slidedown
                %table.table.table-striped.table-condensed.mb-sm-0
                  %thead
                    %tr.bg-brown.text-white
                      %th Date
                      %th Lot
                      %th Nombre de page
                  %tbody
                    - @last_temp_packs.each do |temp_pack|
                      %tr
                        %td.date= l(temp_pack.updated_at)
                        %td= link_to temp_pack.basename, account_documents_path(pack_name: temp_pack.name)
                        %td= temp_pack.temp_documents.not_published.sum(:pages_number).to_i
              .card-footer
                .float-right
                  = link_to 'Tous les documents', account_documents_path

      - if @user.is_prescriber && @user.organization.try(:ibiza).try(:configured?)
        .row.mt-sm-5.derivationRight
          .col-md-12
            .card
              .card-header
                %h4 Dernières erreurs rencontrées à la livraison de la pré-affectation
              .card-content.retractable.slidedown
                %table.table.table-striped.table-condensed.mb-sm-0
                  %thead
                    %tr.bg-brown.text-white
                      %th.date Date
                      %th.name Lot
                      %th.count Nb.
                      %th.message Erreur
                  %tbody
                    - @errors.each_with_index do |object, index|
                      %tr
                        %td.date
                          - if object.date
                            - if object.date.today?
                              = l(object.date, format: '%H:%M')
                            - else
                              = l(object.date, format: '%d %B %Y %H:%M')
                          - else
                            \-
                        %td.name= link_to object.name, account_pre_assignment_delivery_errors_path
                        %td.count= object.document_count
                        %td.message= object.message == false ? '-' : sanitize(object.message, :tags => %w(br))
              .card-footer
                .float-right
                  = link_to 'Toutes les erreurs', account_pre_assignment_delivery_errors_path
