#welcome.container-fluid
  .alerts
    = render partial: 'shared/messages'

  .row-fluid
    .span12.box
      %h2 Bienvenue sur votre espace client iDocus !

  .row-fluid
    .span6
      .box
        .row-fluid
          .span12
            - if @user.is_prescriber
              Pour toute demande de support, merci d’écrire à
              = link_to 'support@idocus.com', 'mailto:support@idocus.com'
              %br
              %i
                Ce support est soumis à conditions. Voir les
                = link_to 'Conditions Générales d’Utilisations', 'https://docs.idocus.com/CGU.pdf'
              - if @user.organization && (@user.organization.addresses.select { |a| a.is_for_billing }.count == 0 || !@user.organization.leader.try(:debit_mandate).try(:is_configured?))
                %br
                %br
                Merci de renseigner vos données de facturation :
                %ul
                  - if @user.organization.addresses.select { |a| a.is_for_billing }.count == 0
                    %li= link_to 'Adresse de facturation', account_organization_path(@user.organization, tab: 'addresses')
                  - if !@user.organization.leader.try(:debit_mandate).try(:is_configured?)
                    %li= link_to 'Mode de paiement', account_profile_path(panel: 'payment_management')
                %span.red Votre compte pourra être suspendu si ces informations n’étaient pas complétées.
              .ie-message.margin1top
                Nous vous recommandons d’utiliser iDocus avec un autre navigateur qu’Internet Explorer (Google Chrome, Mozilla Firefox, Safari…).
            - else
              Pour toute demande de support, merci d’écrire à
              = link_to 'support@idocus.com', 'mailto:support@idocus.com'
              %br
              %i
                Ce support est soumis à conditions. Merci de vous rapprocher de votre cabinet d’expertise-comptable pour en connaître le détail.
              .ie-message.margin1top
                Nous vous recommandons d’utiliser iDocus avec un autre navigateur qu’Internet Explorer (Google Chrome, Mozilla Firefox, Safari…).
      .box.paper_process
        .row-fluid
          .span12
            %h4 Derniers kits envoyés
            %table.table.table-striped.table-condensed.table-bordered.margin0bottom
              %thead
                %tr
                  %th.date Date
                  - if @user.is_prescriber
                    %th Code client
                    %th Société
                  %th N° de suivi
              %tbody
                %br
                - @last_kits.each do |kit|
                  %tr
                    %td.date= l kit.updated_at, format: '%d %B %Y'
                    - if @user.is_prescriber
                      %td
                        - if kit.user && kit.user.organization
                          = link_to kit.customer_code, account_organization_customer_path(kit.user.organization, kit.user)
                        - else
                          = kit.customer_code
                      %td= kit.user.try(:company)
                    %td
                      = link_to_paper_tracking(kit) if kit.tracking_number.present?
            .pull-right= link_to 'Tous les kits envoyés', account_paper_processes_path(paper_process_contains: { type: 'kit' })
        .row-fluid.margin1top
          .span12
            %h4 Dernières enveloppes reçues
            %table.table.table-striped.table-condensed.table-bordered.margin0bottom
              %thead
                %tr
                  %th.date Date
                  - if @user.is_prescriber
                    %th Code client
                    %th Société
                  %th N° de suivi
              %tbody
                %br
                - @last_receipts.each do |receipt|
                  %tr
                    %td.date= l receipt.updated_at, format: '%d %B %Y'
                    - if @user.is_prescriber
                      %td
                        - if receipt.user && receipt.user.organization
                          = link_to receipt.customer_code, account_organization_customer_path(receipt.user.organization, receipt.user)
                        - else
                          = receipt.customer_code
                      %td= receipt.user.try(:company)
                    %td
                      = link_to_paper_tracking(receipt) if receipt.tracking_number.present?
            .pull-right= link_to 'Toutes les enveloppes reçues', account_paper_processes_path(paper_process_contains: { type: 'receipt' })
        .row-fluid.margin1top
          .span12
            %h4 Derniers documents numérisés
            %table.table.table-striped.table-condensed.table-bordered.margin0bottom
              %thead
                %tr
                  %th.date Date
                  %th Nom
              %tbody
                %br
                - @last_scanned.each do |document|
                  %tr
                    %td.date= l document.scanned_at, format: '%d %B %Y'
                    %td
                      - if document.pack
                        = link_to document.name, account_documents_path(pack_name: document.name), target: '_blank'
                      - else
                        = document.name
            .pull-right= link_to 'Tous les documents numérisés', account_paper_processes_path(paper_process_contains: { type: 'scan' })
        .row-fluid.margin1top
          .span12
            %h4 Dernières enveloppes retournées
            %table.table.table-striped.table-condensed.table-bordered.margin0bottom
              %thead
                %tr
                  %th.date Date
                  - if @user.is_prescriber
                    %th Code client
                    %th Société
                  %th N° de suivi
              %tbody
                %br
                - @last_returns.each do |ret|
                  %tr
                    %td.date= l ret.updated_at, format: '%d %B %Y'
                    - if @user.is_prescriber
                      %td
                        - if ret.user && ret.user.organization
                          = link_to ret.customer_code, account_organization_customer_path(ret.user.organization, ret.user)
                        - else
                          = ret.customer_code
                      %td= ret.user.try(:company)
                    %td
                      = link_to_paper_tracking(ret) if ret.tracking_number.present?
            .pull-right= link_to 'Toutes les enveloppes retournées', account_paper_processes_path(paper_process_contains: { type: 'return' })
    .span6.box
      .row-fluid.margin1top
        .span12
          %h4 Derniers documents traités
          %table.table.table-striped.table-condensed.table-bordered.margin0bottom
            %thead
              %tr
                %th.date Date
                %th Lot
            %tbody
              %br
              - @last_packs.each do |pack|
                %tr
                  %td.date= l(pack.updated_at)
                  %td= pack.name.sub(' all', '')
          .pull-right
            = link_to 'Tous les documents', account_documents_path
      .row-fluid.margin2top
        .span12
          %h4 Derniers documents en cours de traitement
          %table.table.table-striped.table-condensed.table-bordered.margin0bottom
            %thead
              %tr
                %th Date
                %th Lot
                %th Nombre de piece
            %tbody.btn-group
              %br
              - @last_temp_packs.each do |temp_pack|
                %tr
                  %td.date= l(temp_pack.updated_at)
                  %td= temp_pack.basename
                  %td= temp_pack.temp_documents.not_published.count
          .pull-right
            = link_to 'Tous les documents', account_documents_path

      - if @user.is_prescriber && @user.organization.try(:ibiza).try(:is_configured?)
        .row-fluid.margin1top
          .span12
            %h4 Dernières erreurs rencontrées à la livraison de la pré-affectation
            %table.table.table-striped.table-condensed.table-bordered.margin0bottom.margin1top
              %thead
                %tr
                  %th.date Date
                  %th.name Lot
                  %th.count Nb.
                  %th.message Erreur
              %tbody
                - @errors.each_with_index do |object, index|
                  %tr
                    %td.date
                      - if object.date
                        - if object.date.today?
                          = l(object.date, format: '%H:%M')
                        - else
                          = l(object.date, format: '%d %B %Y %H:%M')
                      - else
                        \-
                    %td.name= object.name
                    %td.count= object.document_count
                    %td.message= object.message == false ? '-' : object.message
            .pull-right
              = link_to 'Toutes les erreurs', account_organization_pre_assignment_delivery_errors_path(@user.organization)
