#welcome.container-fluid
  .alerts
    = render partial: 'shared/messages'

  .row-fluid
    .span12.box
      %h2 Bienvenue sur votre espace client iDocus !

  .row-fluid
    .span6
      .box
        .row-fluid
          .span12
            - if @user.is_prescriber
              Pour toute demande de support, merci d’écrire à
              = link_to 'support@idocus.com', 'mailto:support@idocus.com'
              %br
              %i
                Ce support est soumis à conditions. Voir les
                = link_to 'Conditions Générales d’Utilisations', 'https://docs.idocus.com/CGU.pdf'
              - if @user.organization.addresses.select { |a| a.is_for_billing }.count == 0 || !@user.organization.debit_mandate.configured?
                %br
                %br
                Merci de renseigner vos données de facturation :
                %ul
                  - if @user.organization.addresses.select { |a| a.is_for_billing }.count == 0
                    %li= link_to 'Adresse de facturation', account_organization_path(@user.organization, tab: 'addresses')
                  - unless @user.organization.debit_mandate.configured?
                    %li= link_to 'Mode de paiement', account_organization_path(@user.organization, tab: 'payments')
                %span.red Votre compte pourra être suspendu si ces informations n’étaient pas complétées.
              .ie-message.margin1top
                Nous vous recommandons d’utiliser iDocus avec un autre navigateur qu’Internet Explorer (Google Chrome, Mozilla Firefox, Safari…).
            - else
              Pour toute demande de support, merci d’écrire à
              = link_to 'support@idocus.com', 'mailto:support@idocus.com'
              %br
              %i
                Ce support est soumis à conditions. Merci de vous rapprocher de votre cabinet d’expertise-comptable pour en connaître le détail.
              .ie-message.margin1top
                Nous vous recommandons d’utiliser iDocus avec un autre navigateur qu’Internet Explorer (Google Chrome, Mozilla Firefox, Safari…).

      .box
        %ul.nav.nav-tabs
          - if @user.is_prescriber || @user.options.try(:is_upload_authorized)
            %li{ class: ('active' if @user.options.dashboard_summary == 'last_scans') }
              = link_to "iDo'Courrier",  '#last_scans',          class: 'last_scans',          data: { toggle: 'tab' }
            %li{ class: ('active' if @user.options.dashboard_summary == 'last_uploads') }
              = link_to "iDo'Basique",   '#last_uploads',        class: 'last_uploads',        data: { toggle: 'tab' }
          - if @user.is_prescriber || @user.is_dematbox_authorized
            %li{ class: ('active' if @user.options.dashboard_summary == 'last_dematbox_scans') }
              = link_to "iDo'Box",       '#last_dematbox_scans', class: 'last_dematbox_scans', data: { toggle: 'tab' }
          - if @user.is_prescriber || @user.options.try(:is_retriever_authorized)
            %li{ class: ('active' if @user.options.dashboard_summary == 'last_retrieved') }
              = link_to "iDo'FacBanque", '#last_retrieved',      class: 'last_retrieved',      data: { toggle: 'tab' }

        .tab-content
          - ['last_scans', 'last_uploads', 'last_dematbox_scans', 'last_retrieved'].each do |view_name|
            - if @user.is_prescriber || (view_name.in?(%w(last_scans last_uploads)) && @user.options.try(:is_upload_authorized)) || (view_name == 'last_dematbox_scans' && @user.is_dematbox_authorized) || (view_name == 'last_retrieved' && @user.options.try(:is_retriever_authorized))
              .tab-pane{ id: view_name, class: ('active' if @user.options.dashboard_summary == view_name)}
                .alignright
                  - if @user.options.dashboard_summary == view_name
                    %i.label Vue par défaut
                  - else
                    = link_to 'Définir comme vue par défaut', choose_default_summary_account_account_index_path(service_name: view_name), method: :post, class: 'btn btn-mini'
                .content{ class: view_name }

    .span6.box
      .row-fluid.margin1top
        .span12
          %h4 Derniers documents traités
          %table.table.table-striped.table-condensed.table-bordered.margin0bottom
            %thead
              %tr
                %th.date Date
                %th Lot
            %tbody
              %br
              - @last_packs.each do |pack|
                %tr
                  %td.date= l(pack.updated_at)
                  %td= pack.name.sub(' all', '')
          .pull-right
            = link_to 'Tous les documents', account_documents_path
      - if @user.is_prescriber || @user.options.try(:is_upload_authorized)
        .row-fluid.margin2top
          .span12
            %h4 Derniers documents en cours de traitement
            %table.table.table-striped.table-condensed.table-bordered.margin0bottom
              %thead
                %tr
                  %th Date
                  %th Lot
                  %th Nombre de page
              %tbody.btn-group
                %br
                - @last_temp_packs.each do |temp_pack|
                  %tr
                    %td.date= l(temp_pack.updated_at)
                    %td= temp_pack.basename
                    %td= temp_pack.temp_documents.not_published.sum(:pages_number).to_i
            .pull-right
              = link_to 'Tous les documents', account_documents_path

      - if @user.is_prescriber && @user.organization.try(:ibiza).try(:is_configured?)
        .row-fluid.margin1top
          .span12
            %h4 Dernières erreurs rencontrées à la livraison de la pré-affectation
            %table.table.table-striped.table-condensed.table-bordered.margin0bottom.margin1top
              %thead
                %tr
                  %th.date Date
                  %th.name Lot
                  %th.count Nb.
                  %th.message Erreur
              %tbody
                - @errors.each_with_index do |object, index|
                  %tr
                    %td.date
                      - if object.date
                        - if object.date.today?
                          = l(object.date, format: '%H:%M')
                        - else
                          = l(object.date, format: '%d %B %Y %H:%M')
                      - else
                        \-
                    %td.name= object.name
                    %td.count= object.document_count
                    %td.message= object.message == false ? '-' : object.message
            .pull-right
              = link_to 'Toutes les erreurs', account_organization_pre_assignment_delivery_errors_path(@user.organization)
