//DocumentComposer widget
#documentcomposer
  //Actionbar
  .actionbar
    .feedback.inactive.floattoleft.margin1left
      %span.out
        Aucun traitement
    %a.do-download.button.whitebtn.floattoright.margin1right{ :href => "#{@composition.content.url}", :title => "Au format Pdf", :target => "_blank"}
      %span
        Télécharger la composition
  //Page browser
  .pagesbrowser.scrollpane
    .titlebar.margin1top
      %h1.floattoleft
        Composition #{@composition.name}
      %h2.floattoright.margin2right
        #{@documents.size} pages
    %ul.pageslist.clearfix
      - @nb = 0
      != render @documents
.hide
  .newCompositionDialog
    %p
      Nom
      %br
      != text_field_tag :name, nil, :id => "composition_name"
      != image_tag "application/spinner_gray.gif", :id => "new_composition_spinner", :class => "hide"

:javascript
  var composition_id = '#{@composition.id}';

  $(document).ready(function () {
    $("a.zoom").lightBox();
    
    $("a.do-deleteDocumentFromComposition").click(function(){
      if (confirm('Êtes-vous sûr de vouloir supprimer ce document de la composition ?')) {
        node = $(this);
        li = node.parents("li.document").first();
        did = li.attr("id").split("_")[1];
        url = "/account/compositions/" + composition_id + "/delete_document";
        hsh = {"_method": "delete", document_id: did};
        $.ajax({
          url: url,
          data: hsh,
          dataType: "json",
          type: "POST",
          beforeSend: function() {
            logBeforeAction("Recomposition en cours");
          },
          success: function(data){
            li.remove();
            logAfterAction();
          }
        });
      }
      return false;
    });

    $(".pageslist").sortable({
      handle: '.handle',
      update: function (event, ui) {
        var ary = $(this).sortable('toArray');
        var document_ids = _.map(ary, function(str){ return str.split("_")[1] });
        hsh = {document_ids: document_ids};
        $.ajax({
          url: "/account/compositions/"+composition_id+"/reorder",
          data: hsh,
          dataType: "json",
          type: "POST",
          beforeSend: function() {
            logBeforeAction("Recomposition en cours");
          },
          success: function(data){
            logAfterAction();
          }
        });
      }
    });
  });
