- if period
  .organization_quota
    %span= format_price_00(period.organization_excesses_price) + " €"
    .details.box.hide
      %table.table.table-condensed
        %thead
          %tr
            %th Dépassement
            %th.center Pièces
            %th.center Feuilles
            %th.center Pages
            %th.center Attaches
            %th.center Hors format
        %tbody
          %tr
            %td Téléversement
            %td.center -
            %td.center -
            %td.center= period.excess_uploaded_pages
            %td.center -
            %td.center -
          %tr
            %td Numérisation
            %td.center -
            %td.center= period.excess_sheets
            %td.center -
            %td.center= period.excess_paperclips
            %td.center= period.excess_oversized
          %tr
            %td iDocus'Box
            %td.center -
            %td.center -
            %td.center= period.excess_dematbox_scanned_pages
            %td.center -
            %td.center -
          %tr
            %td Pré-affectation
            %td.center= period.excess_compta_pieces
            %td.center -
            %td.center -
            %td.center -
            %td.center -
- else
  = '-'