- months = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"]

#reporting.container-fluid
  .row.derivationRight
    .col-md-12
      .box.actionbar.small-shadow.clearfix{ style: 'margin-bottom: 20px' }
        .float-left
          .title
            %h3
              Reporting : 
              %span.text-info.fs-origin= @user.organization.name
          .legend
            %span.badge.badge-info.fs-origin Légende : 
            %span.delivery_state.back_red
            \: Aucun documents reçus
            %span.delivery_state
              .half-delivery_state.left.received
              .half-delivery_state.right.not_received
            \: Documents papier reçus
            %span.delivery_state
              .half-delivery_state.left.not_received
              .half-delivery_state.right.received
            \: Documents téléversés reçus
            %span.delivery_state
              .half-delivery_state.left.received
              .half-delivery_state.right.received
            \: Documents papier reçus et document téléversés reçus
        .float-right
          = link_to image_tag('application/icon-xls.png', alt: 'Export xls', style: 'position:relative;top:-2px;') + ' Export xls', account_reporting_path(format: :xls, year: @year, organization_id: params[:organization_id]), class: 'btn btn-light'

  - annual_summary = []
  - 12.times do
    - annual_summary << { :pieces => 0, :sheets => 0, :pages => 0, :excess_sheets => 0, :uploaded_pieces => 0, :uploaded_pages => 0, :excess_uploaded_pages => 0, :dematbox_scanned_pieces => 0, :dematbox_scanned_pages => 0, :excess_dematbox_scanned_pages => 0, :retrieved_pieces => 0, :retrieved_pages => 0, :compta_pieces => 0, :excess_compta_pieces => 0, :paperclips => 0, :oversized => 0, :price_in_cents => 0, :price_in_cents_of_excess => 0, :delivery_status => [0,0,0], :active_user => 0 }

  .row.retractable.with-filter.derivationLeft
    .col-md-12.retractable-content
      .card
        .card-header.py-md-3
          = label_tag :value_filter, "Affichage par : "
          - options = []
          - if @user.collaborator? || @user.organization.try(:is_detail_authorized)
            - options += [["Montant facture (€ HT)",8], ["Dépassement (€ HT)",9]]
          - options += [["Feuilles numérisées",0],["Pièces numérisées",1],["Pages numérisées",2],["Dépassement numérisation",10],["Pièces téléversées",4],["Pages téléversées",5],["Dépassement téléversement",11],["Pièces iDocus'Box",14],["Pages iDocus'Box",15],["Dépassement iDocus'Box",16],["Pièces Automatique",17],["Pages Automatique",18],["Pièces pré-affectées",12],["Dépassement pré-affectation",13],["Attaches",6],["Hors format",7]]
          = select_tag :value_filter, options_for_select(options)
        .card-body
          %table.table.table-condensed.table-dark
            %thead
              %tr
                %th{ :style => "width:15%;" }
                  = link_to((@year - 1), account_reporting_path(year: (@year - 1), organization_id: params[:organization_id]))
                  %span.margin1left.margin1right #{@year}
                  = link_to((@year + 1), account_reporting_path(year: (@year + 1), organization_id: params[:organization_id]))
                - months.each do |month|
                  %th.month
                    #{month}
            %tbody.retractable.slidedown
              - row = 0
              - accounts.each_with_index do |user|
                - periods = annual_periods_for_user(@periods_by_users[user.id] || [])
                - if active_year_for_user?(@year, user, periods)
                  - row += 1
                  %tr{ :id => "user_#{user.id}", :class => "user" }
                    %td.align-middle
                      #{[user.code,user.company].join(" - ")}
                    - periods.each_with_index do |period,index|
                      - if period
                        - period_billing = Billing::PeriodBilling.new(period)
                        - period.duration.times do |i|
                          - if period.duration == 1 || period_billing.amount_in_cents_wo_vat(i + 1) != 0
                            - annual_summary[period.start_date.month + i - 1][:active_user] += 1
                        %td.align-middle.block{ :colspan => period.duration }
                          %a.do-show{ href: "#" }
                            - pos = []
                            - period.duration.times do |i|
                              - pos << "pos_#{row}_#{(index + i + 1)}"
                            .period.clearfix{ id: period.id, user_id: user.id, class: pos.join(' '), duration: period.duration, month: index+1, row: row}
                              - if period.scanned_pages == 0 && period.uploaded_pages == 0
                                - annual_summary[period.end_date.month - 1][:delivery_status][0] += 1
                                .delivery_state.back_red
                              - elsif period.delivery_state == "received"
                                - annual_summary[period.end_date.month - 1][:delivery_status][1] += 1
                                .delivery_state.back_orange
                              - else
                                - annual_summary[period.end_date.month - 1][:delivery_status][2] += 1
                                .delivery_state
                                  .half-delivery_state.left{ class: (period.scanned_pages > 0 ? 'received' : 'not_received') }
                                  .half-delivery_state.right{ class: (period.uploaded_pages > 0 ? 'received' : 'not_received') }
                              - if period.documents_name_tags && period.documents_name_tags.is_a?(Array)
                                - period.documents_name_tags.each do |tags|
                                  %span{ :class => tags }
                              .value{ class: "duration-#{period.duration}" }
                                %span{ :class => "hide pieces value_1" }
                                  - period.duration.times do |i|
                                    %div{ class: "period_#{i+1}" }= period_billing.data(:scanned_pieces, i+1)
                                %span{ :class => "sheets value_0" }
                                  - period.duration.times do |i|
                                    %div{ class: "period_#{i+1}" }= period_billing.data(:scanned_sheets, i+1)
                                %span{ :class => "hide pages value_2" }
                                  - period.duration.times do |i|
                                    %div{ class: "period_#{i+1}" }= period_billing.data(:scanned_pages, i+1)
                                %span{ :class => "hide uploaded_pieces value_4" }
                                  - period.duration.times do |i|
                                    %div{ class: "period_#{i+1}" }= period_billing.data(:uploaded_pieces, i+1)
                                %span{ :class => "hide uploaded_pages value_5" }
                                  - period.duration.times do |i|
                                    %div{ class: "period_#{i+1}" }= period_billing.data(:uploaded_pages, i+1)
                                %span{ :class => "hide dematbox_scanned_pieces value_14" }
                                  - period.duration.times do |i|
                                    %div{ class: "period_#{i+1}" }= period_billing.data(:dematbox_scanned_pieces, i+1)
                                %span{ :class => "hide dematbox_scanned_pages value_15" }
                                  - period.duration.times do |i|
                                    %div{ class: "period_#{i+1}" }= period_billing.data(:dematbox_scanned_pages, i+1)
                                %span{ :class => "hide retrieved_pieces value_17" }
                                  - period.duration.times do |i|
                                    %div{ class: "period_#{i+1}" }= period_billing.data(:retrieved_pieces, i+1)
                                %span{ :class => "hide retrieved_pages value_18" }
                                  - period.duration.times do |i|
                                    %div{ class: "period_#{i+1}" }= period_billing.data(:retrieved_pages, i+1)
                                %span{ :class => "hide paperclips value_6" }
                                  - period.duration.times do |i|
                                    %div{ class: "period_#{i+1}" }= period_billing.data(:paperclips, i+1)
                                %span{ :class => "hide oversized value_7" }
                                  - period.duration.times do |i|
                                    %div{ class: "period_#{i+1}" }= period_billing.data(:oversized, i+1)
                                %span{ :class => "hide excess_sheets value_10" }
                                  - period.duration.times do |i|
                                    %div{ class: "period_#{i+1}" }= period_billing.data(:excess_sheets, i+1)
                                %span{ :class => "hide excess_uploaded_pages value_11" }
                                  - period.duration.times do |i|
                                    %div{ class: "period_#{i+1}" }= period_billing.data(:excess_uploaded_pages, i+1)
                                %span{ :class => "hide excess_dematbox_scanned_pages value_16" }
                                  - period.duration.times do |i|
                                    %div{ class: "period_#{i+1}" }= period_billing.data(:excess_dematbox_scanned_pages, i+1)
                                %span{ :class => "hide compta_pieces value_12" }
                                  - period.duration.times do |i|
                                    %div{ class: "period_#{i+1}" }= period_billing.data(:compta_pieces, i+1)
                                %span{ :class => "hide excess_compta_pieces value_13" }
                                  - period.duration.times do |i|
                                    %div{ class: "period_#{i+1}" }= period_billing.data(:excess_compta_pieces, i+1)
                                - if @user.collaborator? || @user.organization.try(:is_detail_authorized)
                                  %span{ :class => "hide price value_8" }
                                    - period.duration.times do |i|
                                      %div{ class: "period_#{i+1}" }
                                        #{format_price_00(period_billing.amount_in_cents_wo_vat(i+1))} €
                                  %span{ :class => "hide excess_price value_9" }
                                    - period.duration.times do |i|
                                      %div{ class: "period_#{i+1}" }
                                        #{format_price_00(period_billing.data(:excesses_amount_in_cents_wo_vat, i+1))} €

                              - period.duration.times do |i|
                                - annual_summary[period.start_date.month + i - 1][:pieces] += period_billing.data(:scanned_pieces, i+1)
                                - annual_summary[period.start_date.month + i - 1][:sheets] += period_billing.data(:scanned_sheets, i+1)
                                - annual_summary[period.start_date.month + i - 1][:pages] += period_billing.data(:scanned_pages, i+1)
                                - annual_summary[period.start_date.month + i - 1][:excess_sheets] += period_billing.data(:excess_sheets, i+1)
                                - annual_summary[period.start_date.month + i - 1][:uploaded_pieces] += period_billing.data(:uploaded_pieces, i+1)
                                - annual_summary[period.start_date.month + i - 1][:uploaded_pages] += period_billing.data(:uploaded_pages, i+1)
                                - annual_summary[period.start_date.month + i - 1][:excess_uploaded_pages] += period_billing.data(:excess_uploaded_pages, i+1)
                                - annual_summary[period.start_date.month + i - 1][:dematbox_scanned_pieces] += period_billing.data(:dematbox_scanned_pieces, i+1)
                                - annual_summary[period.start_date.month + i - 1][:dematbox_scanned_pages] += period_billing.data(:dematbox_scanned_pages, i+1)
                                - annual_summary[period.start_date.month + i - 1][:excess_dematbox_scanned_pages] += period_billing.data(:excess_dematbox_scanned_pages, i+1)
                                - annual_summary[period.start_date.month + i - 1][:retrieved_pieces] += period_billing.data(:retrieved_pieces, i+1)
                                - annual_summary[period.start_date.month + i - 1][:retrieved_pages] += period_billing.data(:retrieved_pages, i+1)
                                - annual_summary[period.start_date.month + i - 1][:compta_pieces] += period_billing.data(:compta_pieces, i+1)
                                - annual_summary[period.start_date.month + i - 1][:excess_compta_pieces] += period_billing.data(:excess_compta_pieces, i+1)
                                - annual_summary[period.start_date.month + i - 1][:paperclips] += period_billing.data(:paperclips, i+1)
                                - annual_summary[period.start_date.month + i - 1][:oversized] += period_billing.data(:oversized, i+1)
                                - annual_summary[period.start_date.month + i - 1][:price_in_cents] += period_billing.amount_in_cents_wo_vat(i+1)
                                - annual_summary[period.start_date.month + i - 1][:price_in_cents_of_excess] += period_billing.data(:excesses_amount_in_cents_wo_vat, i+1)
                      - else
                        %td.align-middle.block
                          \-
              - if @user.collaborator?
                %tr#total
                  %td
                    %b.value
                      %span{ :class => "sheets value_0" }
                        Nb de feuilles numérisées
                      %span{ :class => "hide pieces value_1" }
                        Nb de pièces numérisées
                      %span{ :class => "hide pages value_2" }
                        Nb de pages numérisées
                      %span{ :class => "hide excess_sheets value_10" }
                        Dépassement numérisation
                      %span{ :class => "hide uploaded_pieces value_4" }
                        Nb de pièces téléversées
                      %span{ :class => "hide uploaded_pages value_5" }
                        Nb de pages téléversées
                      %span{ :class => "hide excess_uploaded_pages value_11" }
                        Dépassement téléversement
                      %span{ :class => "hide dematbox_scanned_pieces value_14" }
                        Nb de pièces iDocus'Box
                      %span{ :class => "hide dematbox_scanned_pages value_15" }
                        Nb de pages iDocus'Box
                      %span{ :class => "hide excess_dematbox_scanned_pages value_16" }
                        Dépassement iDocus'Box
                      %span{ :class => "hide retrieved_pieces value_17" }
                        Nb de pièces Automatique
                      %span{ :class => "hide retrieved_pages value_18" }
                        Nb de pages Automatique
                      %span{ :class => "hide compta_pieces value_12" }
                        Nb de pièces pré-affectées
                      %span{ :class => "hide excess_compta_pieces value_13" }
                        Dépassement pré-affectation
                      %span{ :class => "hide paperclips value_6" }
                        Nb d'attaches
                      %span{ :class => "hide oversized value_7" }
                        Nb de hors formats
                      %span{ :class => "hide price value_8" }
                        Montant facture (€ HT)
                      %span{ :class => "hide price value_9" }
                        Dépassement (€ HT)
                    %br
                    %span{ :style => "color:red;" } Non reçus
                    |
                    %span{ :style => "color:#F89406;" } Reçus
                    |
                    %span{ :style => "color:#468847;" } Traités
                    %br
                    Nombre de clients actifs
                    %br
                    Facture
                  - annual_summary.each_with_index do |month,index|
                    %td{ :style => "width:7%;text-align:center;padding-right:5px;" }
                      %b.value
                        %span{ :class => "hide pieces value_1" }
                          #{month[:pieces]}
                        %span{ :class => "sheets value_0" }
                          #{month[:sheets]}
                        %span{ :class => "hide pages value_2" }
                          #{month[:pages]}
                        %span{ :class => "hide excess_sheets value_10" }
                          #{month[:excess_sheets]}
                        %span{ :class => "hide uploaded_pieces value_4" }
                          #{month[:uploaded_pieces]}
                        %span{ :class => "hide uploaded_pages value_5" }
                          #{month[:uploaded_pages]}
                        %span{ :class => "hide excess_uploaded_pages value_11" }
                          #{month[:excess_uploaded_pages]}
                        %span{ :class => "hide dematbox_scanned_pieces value_14" }
                          #{month[:dematbox_scanned_pieces]}
                        %span{ :class => "hide dematbox_scanned_pages value_15" }
                          #{month[:dematbox_scanned_pages]}
                        %span{ :class => "hide excess_dematbox_scanned_pages value_16" }
                          #{month[:excess_dematbox_scanned_pages]}
                        %span{ :class => "hide retrieved_pieces value_17" }
                          #{month[:retrieved_pieces]}
                        %span{ :class => "hide retrieved_pages value_18" }
                          #{month[:retrieved_pages]}
                        %span{ :class => "hide compta_pieces value_12" }
                          #{month[:compta_pieces]}
                        %span{ :class => "hide excess_compta_pieces value_13" }
                          #{month[:excess_compta_pieces]}
                        %span{ :class => "hide paperclips value_6" }
                          #{month[:paperclips]}
                        %span{ :class => "hide oversized value_7" }
                          #{month[:oversized]}
                        %span{ :class => "hide price value_8" }
                          - time = Time.local(@year,(index+1),15,0,0)
                          - if @user.leader? && (@user.has_one_organization? || @user.scoped?)
                            - price = price_of_period_by_time(@user.organization.periods,time)
                            - month[:price_in_cents] = month[:price_in_cents] + price
                          - elsif @user.leader? && !params[:organization_id].present?
                            - price = 0
                            - @user.organizations.each{|organization| price += price_of_period_by_time(organization.periods, time)}
                            - month[:price_in_cents] = month[:price_in_cents] + price
                          #{format_price_00 month[:price_in_cents]} €
                        %span{ :class => "hide price value_9" }
                          #{format_price_00 month[:price_in_cents_of_excess]} €
                      %br
                      %span{ :style => "color:red;" }= month[:delivery_status][0]
                      |
                      %span{ :style => "color:#F89406;" }= month[:delivery_status][1]
                      |
                      %span{ :style => "color:#468847;" }= month[:delivery_status][2]
                      %br
                      %span{ :style => "padding-right:3px;" }= month[:active_user]
                      .invoice{ :style => "padding-right:3px;" }
                        - if @user.leader? && (@user.has_one_organization? || @user.scoped?) && @user.organization.invoices.count > 0
                          - start_time = Time.local(@year, index+1, 1) + 1.month
                          - end_time = start_time.end_of_month

                          - invoice  = @user.organization.invoices.where("created_at > ? AND created_at < ?", start_time, end_time).first
                          - if invoice
                            - if invoice.cloud_content_object.try(:url)
                              %a{ :href => organization_invoice_path(invoice.id, invoice.organization.id), :class => "icon-download-alt", :style => "width:16px;height:16px;" }
                              %a{ :href => organization_invoice_path(invoice.id, invoice.organization.id), :title => "#{invoice.number}.pdf", :class => "icon-eye-open do-showInvoice" }
                %tr.global_excess
                  %td
                    Dépassement dossiers mensuels
                  - 12.times do |time|
                    %td.text-center{ id: "period_#{time}"}
                      - date = (Time.local(@year) + time.month).to_date
                      = render partial: 'organization_quota', locals: { period: @user.organization.subscription.find_period(date) }
              %tfooter
                %tr
                  %th{ :style => "width:15%;" }
                    = link_to((@year - 1), account_reporting_path(year: (@year - 1), organization_id: params[:organization_id]))
                    %span.margin1left.margin1right #{@year}
                    = link_to((@year + 1), account_reporting_path(year: (@year + 1), organization_id: params[:organization_id]))
                  - months.each do |month|
                    %th.month{ :style => "width:7%;padding-right:7px;" }
                      #{month}
    .card.retractable-filter
      %form#filter.form-filter
        .card-header.clearfix
          .float-left
            %h3 Filtres
          .float-right.margin1left
            %a.locker{ href: "#", title: "Cacher le Filtre" }= glyphicon('layers')
        .retractable-filter-content
          .card-body
            #filter_results{ :style => "color:green;" }
            .form-group
              .label-section
                = label_tag :user_filter, "Utilisateur : "
              .control-section
                = select_tag(:user_filter, options_for_select( [["Tous",0]] + filter_list_of_users(accounts, @year) ), disabled: !has_multiple_accounts?)
            .form-group
              .label-section
                = label_tag :account_book_filter, "Journal : "
              .control-section
                = text_field_tag :account_book_filter, ""
            .form-group
              .label-section
                = label_tag :year_filter, "Année : "
              .control-section
                = text_field_tag :year_filter, ""
            .form-group
              .label-section
                = label_tag :month_filter, "Mois : "
              .control-section
                = text_field_tag :month_filter, ""
            .form-group
              .label-section
                = label_tag :quarter_filter, "Trimestre : "
              .control-section
                = text_field_tag :quarter_filter, ""
          .card-footer
            .form-actions
              = submit_tag 'Valider', :class => "btn btn-primary"
              %a#reset_filter.btn.btn-light
                = glyphicon('x')


.modal.fade{ id: "periodModal" }
  .modal-dialog
    .modal-content
      .modal-header
        %table
          %tr
            %td.user
              %h4
            %td.period
              %h3
        %a{ class: "close", "data-dismiss" => "modal" } ×
        = hidden_field_tag :year, @year
      .modal-body.clearfix
      .modal-footer
        .actions
          %span.legend
            Légende : Total (Téléversées, Numérisées, iDocus'Box, Automatique)
          .float-right
            %a.left.btn.btn-light
              = glyphicon('chevron-left')
            %a.up.btn.btn-light
              = glyphicon('chevron-top')
            %a.down.btn.btn-light
              = glyphicon('chevron-bottom')
            %a.right.btn.btn-light
              = glyphicon('chevron-right')

.modal.fade.in{ :id=>"invoiceDialog", :style => "height:500px;" }
  .modal-dialog
    .modal-content
      .modal-header
        %a{ :class=>"close", "data-dismiss"=>"modal" } ×
        %h3
      .modal-body{ :style => "max-height:450px;" }
        %iframe{:src => "", :id => "invoice-show", :style => "width:843px; height:415px;" }

%script{ :type => "text/x-tmpl", :id => "tmpl-period" }
  :plain
    <div class="documentslist">
      <table class="table table-condensed">
        <tr>
          <th>Nom des documents</th>
          <th class="center">Pièces</th>
          <th class="center">Pré-aff.</th>
          <th class="center">Feuilles</th>
          <th class="center">Pages</th>
          <th class="center">Attaches</th>
          <th class="center">Hors format</th>
          <th class="last"></th>
        </tr>
        {% for(var i=0; i<o.documents.list.length; i++) {
            var content = "<table class='historic table table-striped table-condensed'><tr><th>N°</th><th>Date</th><th class='right'>Télév.</th><th class='right'>Num.</th><th class='right'>iDocus'Box</th><th class='right'>Auto.</th></tr>";
            for(var k=0; k<o.documents.list[i].historic.length; k++) {
              content += "<tr>";
              content += "<td>"+(k+1)+"</td>";
              content += "<td>"+o.documents.list[i].historic[k].date+"</td>";
              content += "<td class='right'>"+o.documents.list[i].historic[k].uploaded+"</td>";
              content += "<td class='right'>"+o.documents.list[i].historic[k].scanned+"</td>";
              content += "<td class='right'>"+o.documents.list[i].historic[k].dematbox_scanned+"</td>";
              content += "<td class='right'>"+o.documents.list[i].historic[k].retrieved+"</td>";
              content += "</tr>";
            }
            content += "</table>";
          %}
          <tr>
            <td class="name first">
              <a href="#" class="do-popover" data-content="{%= content %}" data-original-title="Historique des ajouts de pages :"><i class="icon-info-sign" style="margin-right:3px;"></i></a>
              {% if(o.documents.list[i].link != "#") { %}
                <a href="{%= o.documents.list[i].link%}">{%= o.documents.list[i].name %}</a>
              {% } else { %}
                {%= o.documents.list[i].name %}
              {% } %}
            </td>
            <td class="center">{%= o.documents.list[i].pieces %} ({%= o.documents.list[i].uploaded_pieces %}, {%= o.documents.list[i].scanned_pieces %}, {%= o.documents.list[i].dematbox_scanned_pieces %}, {%= o.documents.list[i].retrieved_pieces %})</td>
            <td class="center">{%= o.documents.list[i].pre_assignments %}</td>
            <td class="center">{%= o.documents.list[i].scanned_sheets %}</td>
            <td class="center">{%= o.documents.list[i].pages %} ({%= o.documents.list[i].uploaded_pages %}, {%= o.documents.list[i].scanned_pages %}, {%= o.documents.list[i].dematbox_scanned_pages %}, {%= o.documents.list[i].retrieved_pages %})</td>
            <td class="center">{%= o.documents.list[i].paperclips %}</td>
            <td class="center">{%= o.documents.list[i].oversized %}</td>
            <td class="last">
              {% if(o.documents.list[i].report_id != "#") { %}
                {% if(o.documents.list[i].report_type == "NDF") { %}
  = link_to(image_tag('application/icon-xls.png', title: 'Notes de frais', alt: 'NDF.xlsx'),"/account/report/expenses/{%= o.documents.list[i].report_id %}.xlsx")
  = link_to(image_tag('application/icon-pdf.png', title: 'Notes de frais', alt: 'NDF.pdf'),"/account/report/expenses/{%= o.documents.list[i].report_id %}.pdf")
  :plain
                {% } else { %}
  = link_to(image_tag('application/icon-csv.png', title: 'Fichier de pré-affectation comptable', alt: '{%= o.documents.list[i].report_type %}.csv'),"/account/report/preseizures/{%= o.documents.list[i].report_id %}.csv")
  :plain
                {% } %}
              {% } %}
            </td>
          </tr>
        {% } %}
        <tr>
          <td><b>Total</b></td>
          <td class="center"><b>{%= o.documents.total.pieces %} ({%= o.documents.total.uploaded_pieces %}, {%= o.documents.total.scanned_pieces %}, {%= o.documents.total.dematbox_scanned_pieces %}, {%= o.documents.total.retrieved_pieces %})</b></td>
          <td class="center"><b>{%= o.documents.total.pre_assignments %}<b/></td>
          <td class="center"><b>{%= o.documents.total.scanned_sheets %}</b></td>
          <td class="center"><b>{%= o.documents.total.pages %} ({%= o.documents.total.uploaded_pages %}, {%= o.documents.total.scanned_pages %}, {%= o.documents.total.dematbox_scanned_pages %}, {%= o.documents.total.retrieved_pages %})</b></td>
          <td class="center"><b>{%= o.documents.total.paperclips %}</b></td>
          <td class="center"><b>{%= o.documents.total.oversized %}</b></td>
          <td class="last"></td>
        </tr>
      </table>
      <hr/>
      {% if (!o.documents.is_valid_for_quota_organization)
        { %}
        <table class="table table-condensed">
          <tr>
            <th>Dépassement</th>
            <th class="center">Pièces</th>
            <th class="center">Feuilles</th>
            <th class="center">Pages</th>
            <th class="center">Attaches</th>
            <th class="center">Hors format</th>
          </tr>
          <tr>
            <td>Téléversement</td>
            <td class="center">-</td>
            <td class="center">-</td>
            <td class="center">{%= o.documents.excess.uploaded_pages %}</td>
            <td class="center">-</td>
            <td class="center">-</td>
          </tr>
          <tr>
            <td>Numérisation</td>
            <td class="center">-</td>
            <td class="center">{%= o.documents.excess.sheets %}</td>
            <td class="center">-</td>
            <td class="center">{%= o.documents.excess.paperclips %}</td>
            <td class="center">{%= o.documents.excess.oversized %}</td>
          </tr>
          <tr>
            <td>iDocus'Box</td>
            <td class="center">-</td>
            <td class="center">-</td>
            <td class="center">{%= o.documents.excess.dematbox_scanned_pages %}</td>
            <td class="center">-</td>
            <td class="center">-</td>
          </tr>
          <tr>
            <td>Pré-affectation</td>
            <td class="center">{%= o.documents.excess.compta_pieces %}</td>
            <td class="center">-</td>
            <td class="center">-</td>
            <td class="center">-</td>
            <td class="center">-</td>
          </tr>
        </table>
      {% } %}
    </div>
  - if @user.collaborator? || @user.organization.try(:is_detail_authorized)
    :plain
      <div class="optionslist">
        <table class="table table-condensed table-dark">
          <tr>
            <th class="header">Paramètre</th>
            <th class="header">Valeur</th>
            <th class="header" style="text-align:right; width: 25%;">Prix HT</th>
          </tr>
          {% for(var i=0; i<o.options.list.length; i++) { %}
            <tr>
              <td>{%# o.options.list[i].group_title %}</td>
              <td>{%# o.options.list[i].title %}</td>
              <td style="text-align:right;">{%= o.options.list[i].price %} €</td>
            </tr>
          {% } %}
          {% if (!o.documents.is_valid_for_quota_organization)
            { %}
            <tr>
              <td>Dépassement téléversement</td>
              <td></td>
              <td style="text-align:right;">{%= o.options.excess_uploaded_pages%} €</td>
            </tr>
            <tr>
              <td>Dépassement numérisation</td>
              <td></td>
              <td style="text-align:right;">{%= o.options.excess_scan%} €</td>
            </tr>
            <tr>
              <td>Dépassement iDocus'Box</td>
              <td></td>
              <td style="text-align:right;">{%= o.options.excess_dematbox_scanned_pages%} €</td>
            </tr>
            <tr>
              <td>Dépassement pré-affectation</td>
              <td></td>
              <td style="text-align:right;">{%= o.options.excess_compta_pieces%} €</td>
            </tr>
            <tr>
              <td>Dépassement attaches</td>
              <td></td>
              <td style="text-align:right;">{%= o.options.excess_paperclips%} €</td>
            </tr>
          {% } %}
          <tr>
            <td></td>
            <td><b>Total :</b></td>
            <td style="text-align:right;">{%= o.options.total%} €</td>
          </tr>
          <tr>
            <td></td>
            <td>Facture(s) :</td>
            <td>
              {% if (o.options.invoices != []) { %}
                {% for (i=0;i<o.options.invoices.length;i++) { %}
                  <a href="{%= o.options.invoices[i]['link'] %}" class="icon-download-alt" style="width:16px;height:16px;"></a>
                  <a href="{%= o.options.invoices[i]['link'] %}" class="icon-eye-open do-showInvoice" style="width:16px;height:16px;" title="{%= o.options.invoices[i]['number'] %}.pdf"></a>
                  <br/>
                {% } %}
              {% } %}
            </td>
          </tr>
      </div>

= render "help"
