!!!
%html
  %head
    %title [iDocus] Erreur récupérateur - INSANE
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-type' }
  %body
    %h3= "Total : #{@insane_retrievers.count}"
    %table{ border: '1' }
      %thead
        %tr
          %th Utilisateur
          %th Type
          %th Récupérateur
      %tbody
        - @insane_retrievers.each do |retriever|
          %tr
            %td= link_to retriever.user.code, account_retrievers_url(user_code: retriever.user.code)
            %td
              - if retriever.provider_and_bank?
                Doc. et Op. Bancaires
              - elsif retriever.provider?
                Documents
              - elsif retriever.bank?
                Op. bancaires
              - end
            %td= "#{retriever.name} - (#{retriever.service_name})"
