#invoices
  .row-fluid
    .span12.margin1bottom
      %h3 Liste des factures (#{@invoices.count})

  .row-fluid
    .span9
      = render partial: 'shared/list_options', locals: { collection: @invoices }
      %table.table.table-bordered.table-condensed.table-striped.margin1top.margin0bottom
        %thead
          %tr
            %th= sortable :number, t('mongoid.models.invoice.attributes.number')
            %th= sortable :created_at, t('mongoid.models.common.attributes.created_at')
            %th= sortable :organization_id, t('mongoid.models.user.attributes.code')
            %th.price= sortable :amount_in_cents_w_vat, t('mongoid.models.invoice.attributes.amount_w_vat')
            %th= sortable :requested_at, t('mongoid.models.invoice.attributes.requested_at')
            %th= sortable :received_at, t('mongoid.models.invoice.attributes.received_at')
            %th.actions= t('actions.name')
        %tbody
          - @invoices.each do |invoice|
            %tr{ id: "invoice_#{invoice.number}" }
              %td= invoice.number
              %td= l(invoice.created_at)
              %td= owner_invoice_link(invoice)
              %td.price
                - if invoice.amount_in_cents_w_vat
                  = format_price_00(invoice.amount_in_cents_w_vat) + ' €'
              %td.dynamic_date
                .input-append.date.datepicker
                  = text_field_tag 'invoice[requested_at]', invoice.requested_at.try(:strftime, "%Y-%m-%d"), class: 'select-date requested_at'
                  %span.add-on
                    %i.icon-th
              %td.dynamic_date
                .input-append.date.datepicker
                  = text_field_tag 'invoice[received_at]', invoice.received_at.try(:strftime, "%Y-%m-%d"), class: 'select-date received_at'
                  %span.add-on
                    %i.icon-th
              %td.actions
                = link_to icon_show, admin_invoice_path(invoice), class: 'do-showInvoice', title: "#{invoice.number}.pdf"
                = icon_link_to admin_invoice_path(invoice), { icon: 'download' }, { target: '_blank' }
      = render partial: 'shared/list_options', locals: { collection: @invoices }
    .span3
      = render partial: 'sidebar'

  #showInvoice.modal.hide.fade
    .modal-header
      %a.close{ data: { dismiss: :modal } } ×
      %h3
    .modal-body
      %iframe{ src: '' }
