.block
  .secondary-navigation
    %ul.wat-cf
      %li.first!= link_to "Index", admin_dropboxs_path
  .content
    %h2.title
      Editing user
      != @user.email
    .inner
      - form_for [:admin,@user], :url => admin_dropbox_path(@user), :html => { :method => :put, :class => :form } do |f|
        .group
          != f.label :dropbox_delivery_folder, "Nom du dossier de livraison dropbox : ", :class => :label
          != f.text_field :dropbox_delivery_folder, :class => 'text_field'
          
        .group.navform.wat-cf
          %button.button{:type => 'submit'}
            != image_tag("web-app-theme/tick.png", :alt => "Save")
            Save
          != link_to image_tag("web-app-theme/cross.png", :alt => "Cancel") + "Cancel", admin_dropboxs_path, :class => "button"