.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active!= link_to "Index", admin_dropboxs_path
  .content
    %h2.title Configure dropbox
    .inner
      - session = DropboxExtended.get_session
      - if session.authorized?
        Le compte DropboxExtended est déjà configuré, si vous voulez le reparamétrer cliquez
      - else
        Pour parametrer l'envoie automatique par iDocus des documents via l'application Dropbox-Extended, cliquez
      != link_to "ici", authorize_url_admin_dropboxs_path
      \.
      %br
      %br
      %table.table
        %tr
          %th Identifier
          %th
            Company
            %br
            Code
          %th
            Delivery folder
          %th.last &nbsp;
        - @users.each do |user|
          %tr{:class => cycle("odd", "even")}
            %td
              != link_to user.email, [:admin, user]
              - if user.first_name || user.last_name
                %br
                != user.first_name rescue ""
                - if user.first_name
                  #{" "}
                != user.last_name rescue ""
            %td
              != user.company rescue ""
              - if user.company
                %br
              != user.code rescue ""
            %td
              != user.dropbox_delivery_folder
            %td.last
              != link_to image_tag("web-app-theme/application_edit.png", :alt => "Edit"), edit_admin_dropbox_path(user)
      .actions-bar.wat-cf
        .actions
        != will_paginate @users
        
- # content_for :sidebar, render(:partial => 'sidebar')