= semantic_form_for [:admin2, @homepage_pad] do |f|
  = f.inputs 'Informations du pavet' do
    != f.input :caption, label: 'Titre' 
    != f.input :content, as: :text, label: 'Contenu'
    = f.input :position, label: 'Position'
    != f.input :model, label: 'Modèle'
  
  = f.inputs 'Option gauche' do
    != f.input :is_left_active, as: Boolean, label: 'Activer ?' 
    != f.input :left_link_name, label: 'Nom du lien gauche' 
    != f.input :left_link_url, label: 'Url du lien gauche'
    
  =  f.inputs 'Option droite' do
    != f.input :is_right_active, as: Boolean, label: 'Activer ?' 
    != f.input :right_link_name, label: 'Nom du lien droit' 
    != f.input :right_link_url, label: 'Url du lien droit'
 
  = f.buttons
