- if current_user.is_admin?
  .row-fluid
    .span12.box
      - if action_name == 'index' || (controller_name == 'organizations' && action_name == 'show') || (controller_name == 'reporting' && action_name == 'show')
        %form{ action: current_url, method: "GET", class: 'form-inline margin0bottom' }
          = label_tag :code, 'Visualiser et agir en tant que :'
          = text_field_tag :code, (session[:acts_as] ||= ''), class: 'input-medium search-query', placeholder: 'code'
          = submit_tag 'Valider', class: 'btn btn-primary'
          = link_to 'Annuler', current_url(code: current_user.code), class: 'btn'
      - else
        Visualiser et agir en tant que : #{current_user_info}