- if current_user.is_admin?
  .row
    .col-md-12.box
      - if action_name == 'index' || (controller_name == 'organizations' && action_name == 'show') || (controller_name == 'reporting' && action_name == 'show') || controller_name == 'profiles'
        %form{ action: current_url, method: 'GET', class: 'form-inline margin0bottom' }
          = label_tag :user_code, 'Visualiser et agir en tant que :', class: 'mr-sm-2'
          = text_field_tag :user_code, session[:user_code].presence, class: 'input-medium mr-sm-2', placeholder: 'code utilisateur'
          = submit_tag t('actions.submit'), class: 'btn btn-primary mr-sm-2'
          = link_to 'Réinitialiser', current_url(Hash[:user_code, current_user.memberships.first&.code]), class: 'btn btn-light'
      - else
        Visualiser et agir en tant que :
        %span.badge.badge-secondary.fs-origin #{current_user_info}
        = link_to 'Réinitialiser', current_url(Hash[:user_code, current_user.memberships.first&.code]), class: 'btn btn-light'
