- if current_user.is_admin?
  .row-fluid
    .span12
      - if params[:action] == 'index'
        %form.well{ action: current_url, method: "GET" }
          = label_tag :code, "Visualiser et agir en tant que :", class: "pull-left margin1right margin0bottom"
          = text_field_tag :code, "", class: "pull-left margin1right margin0bottom", style: "width:200px;height:13px;font-size:11px;", value: session[:acts_as] ||= ""
          = submit_tag "valider", class: "btn margin1right margin0bottom", style: "height:23px;padding-top:2px;font-size:11px;"
          = link_to "annuler", current_url(code: current_user.code), class: 'btn margin0bottom', style: "height:15px;padding-top:2px;"
      - else
        .well
          Visualiser et agir en tant que : #{current_user_info}