= form_tag account_organization_customer_retriever_transactions_path(@organization, @customer), method: :get, class: 'form form-horizontal filter margin0bottom' do
  = label_tag 'transaction_contains[created_at][$gte]',    'Date de début'
  .input-prepend.date.datepicker
    %span.add-on
      %i.icon-th
    = text_field_tag 'transaction_contains[created_at][$gte]', (params[:transaction_contains][:created_at]['$gte'] rescue '')

  = label_tag 'transaction_contains[created_at][$lte]',    'Date de fin'
  .input-prepend.date.datepicker
    %span.add-on
      %i.icon-th
    = text_field_tag 'transaction_contains[created_at][$lte]', (params[:transaction_contains][:created_at]['$lte'] rescue '')

  = label_tag 'transaction_contains[custom_service_name]', 'Service'
  = text_field_tag 'transaction_contains[custom_service_name]', (params[:transaction_contains][:custom_service_name] rescue ''), class: 'span12'

  = label_tag 'transaction_contains[type]',                'Type'
  = select_tag 'transaction_contains[type]', options_for_select([['Documents', 'provider'], ['Opérations bancaires', 'bank']], (params[:transaction_contains][:type] rescue nil)), include_blank: true, class: 'span12'

  = label_tag 'transaction_contains[status]',              'Statut'
  = select_tag 'transaction_contains[status]', transaction_status_for_select((params[:transaction_contains][:status] rescue nil)), include_blank: true, class: 'span12'

  .margin2top
  = submit_tag t('filters.action'), class: 'btn btn-primary'
  = link_to t('filters.reset'), account_organization_customer_retriever_transactions_path(@organization, @customer), class: 'btn'
