#retriever_transactions
  .row-fluid
    .span12.box
      %h3 Liste des transactions du client #{link_to @customer, account_organization_customer_retrievers_path(@organization, @customer)} (#{@transactions.count})
  .row-fluid
    .span9.box
      = render partial: 'shared/list_options', locals: { collection: @transactions }
      %table.table.table-bordered.table-condensed.table-striped.margin1top.margin0bottom
        %thead
          %tr
            %th= sortable :created_at,          'Date'
            %th= sortable :custom_service_name, 'Service'
            %th= sortable :type,                'Type'
            %th= sortable :status,              'Statut'
            %th Quantité
        %tbody
          - @transactions.each do |transaction|
            %tr
              %td= l(transaction.created_at)
              %td
                - if transaction.retriever.nil?
                  %span.label supprimé
                = transaction.custom_service_name
              %td= t("mongoid.models.fiduceo_retriever.attributes.type_values.#{transaction.type}")
              %td= link_to t('mongoid.state_machines.fiduceo_transaction.status.' + transaction.status.downcase).capitalize, account_organization_customer_retriever_transaction_path(@organization, @customer, transaction)
              %td
                - if transaction.retrieved_document_ids.count > 0
                  = link_to transaction.retrieved_document_ids.count, account_organization_customer_retrieved_documents_path(@organization, @customer, document_contains: { transaction_id: transaction.id })
                - else
                  \-
      = render partial: 'shared/list_options', locals: { collection: @transactions }
    .span3.box
      = render 'sidebar'
