= simple_form_for @group, url: (action_name.in?(%w(new create)) ? account_organization_groups_path(@organization) : account_organization_group_path(@organization, @group)), html: { class: ' form-horizontal label-small' } do |f|
  .card-body
    .row
      - if @user.leader?
        .field{ class: (@user.is_admin? ? 'col-md-4' : 'col-md-6') }
          .box.bg-light.height_groups.groups_1
            %h4 Informations
            %hr
            = f.input :name, label: t('activerecord.models.group.attributes.name')
            = f.input :description, as: :text, label: t('activerecord.models.group.attributes.description')
        - if @user.is_admin
          .field.col-md-4
            .box.bg-light.height_groups.groups_1
              %h4 Dropbox Extended
              %hr
              = f.input :dropbox_delivery_folder, label: t('activerecord.models.group.attributes.dropbox_delivery_folder'), input_html: { class: 'input-xxlarge' }
              = f.input :is_dropbox_authorized, as: :boolean, label: t('activerecord.models.group.attributes.is_dropbox_authorized')
      .field{ class: (@user.admin? ? 'col-md-4' : (@user.leader? ? 'col-md-6' : 'col-md-12') ) }
        - content_for :assignation do
          %h4 Assignation #{ 'des clients' if not @user.leader? }
          %hr
          - if @user.leader?
            = f.association :members, collection: @organization.members.order(:code), label_method: :info, input_html: { class: 'searchable-option-list show-selection-below-list show-select-all' }
          = f.association :customers, collection: @organization.customers.order(:code), label_method: :info, input_html: { class: 'searchable-option-list' }

        - if @user.leader?
          .box.bg-light.height_groups.groups_1
            = content_for :assignation
        - else
          = content_for :assignation
  .card-footer
    .form-actions.margin0bottom
      = f.submit t('actions.submit'), class: 'btn btn-primary'
      = link_to t('actions.cancel'), account_organization_groups_path(@organization), class: 'btn btn-light'
