= simple_form_for @group, url: (action_name.in?(%w(new create)) ? account_organization_groups_path(@organization) : account_organization_group_path(@organization)), html: { class: 'form form-horizontal margin0' } do |f|
  - if is_leader?
    %fieldset
      %legend Informations
      = f.input :name, label: t('mongoid.models.group.attributes.name')
      = f.input :description, as: :text, label: t('mongoid.models.group.attributes.description')
    - if @user.is_admin
      %fieldset
        %legend Dropbox Extended
        = f.input :dropbox_delivery_folder, label: t('mongoid.models.group.attributes.dropbox_delivery_folder'), input_html: { class: 'input-xxlarge' }
        = f.input :is_dropbox_authorized, as: :boolean, label: t('mongoid.models.group.attributes.is_dropbox_authorized')
        = f.input :file_type_to_deliver, label: t('mongoid.models.group.attributes.file_type_to_deliver'), collection: file_type_to_deliver_options, include_blank: false
    %fieldset
      %legend Assignation
      .control-group
        .controls
          .span6
            %label
              %b= t('mongoid.models.group.attributes.collaborators')
            %br
            - members = @group.collaborators.entries
            - @organization.collaborators.asc(:code).each do |collaborator|
              = check_box_tag 'group[member_tokens][]', collaborator.id, members.include?(collaborator), id: "group_member_tokens_#{collaborator.id}"
              %label{ for: "group_member_tokens_#{collaborator.id}" }= collaborator.info
          .span6
            %label
              %b= t('mongoid.models.group.attributes.customers')
            %br
            - members = @group.customers.entries
            - @organization.customers.asc(:code).each do |customer|
              = check_box_tag 'group[member_tokens][]', customer.id, members.include?(customer), id: "group_member_tokens_#{customer.id}"
              %label{ for: "group_member_tokens_#{customer.id}" }= customer.info
          = hidden_field_tag 'group[member_tokens][]', ''
  - else
    %fieldset
      %legend Assignation des clients
      .control-group
        %label.control-label= t('mongoid.models.group.attributes.customers')
        .controls
          - members = @group.customers.entries
          - @user.customers.asc(:code).each do |customer|
            = check_box_tag 'group[customer_tokens][]', customer.id, members.include?(customer), id: "group_customer_tokens_#{customer.id}"
            %label{ for: "group_customer_tokens_#{customer.id}" }= customer.info
          = hidden_field_tag 'group[customer_tokens][]', ''
  .form-actions.margin0bottom
    = f.submit t('actions.submit'), class: 'btn btn-primary'
    = link_to t('actions.cancel'), account_organization_groups_path(@organization), class: 'btn'
