= simple_form_for @group, url: (action_name.in?(%w(new create)) ? account_organization_groups_path(@organization) : account_organization_group_path(@organization, @group)), html: { class: 'form form-horizontal margin0' } do |f|
  - if @user.leader?
    %fieldset
      %legend Informations
      = f.input :name, label: t('activerecord.models.group.attributes.name')
      = f.input :description, as: :text, label: t('activerecord.models.group.attributes.description')
    - if @user.is_admin
      %fieldset
        %legend Dropbox Extended
        = f.input :dropbox_delivery_folder, label: t('activerecord.models.group.attributes.dropbox_delivery_folder'), input_html: { class: 'input-xxlarge' }
        = f.input :is_dropbox_authorized, as: :boolean, label: t('activerecord.models.group.attributes.is_dropbox_authorized')
  %fieldset
    %legend Assignation #{ 'des clients' if not @user.leader? }
    - if @user.leader?
      = f.association :members, collection: @organization.members.order(:code), label_method: :info, input_html: { class: 'searchable-option-list show-selection-below-list show-select-all' }
    = f.association :customers, collection: @organization.customers.order(:code), label_method: :info, input_html: { class: 'searchable-option-list' }
  .form-actions.margin0bottom
    = f.submit t('actions.submit'), class: 'btn btn-primary'
    = link_to t('actions.cancel'), account_organization_groups_path(@organization), class: 'btn'
