#groups
  .row-fluid.margin1bottom
    .span12.box
      .pull-left
        %h3 Liste des groupes
      .pull-right
        - if @organization.authorized?(@user, :new, :group)
          = link_to t('actions.new'), new_account_organization_group_path, class: 'btn btn-primary'
  .row-fluid
    .span9.box
      = render partial: 'list_options'
      .row-fluid
        .span12
          %table.table.table-bordered.table-condensed.table-striped.margin1top.margin0bottom
            %thead
              %tr
                %th= sortable :created_at, t('mongoid.models.common.attributes.created_at')
                %th= sortable :name, t('mongoid.models.group.attributes.name')
                %th= t('mongoid.models.group.attributes.collaborators_count')
                %th= t('mongoid.models.group.attributes.customers_count')
                %th.last= t('actions.name')
            %tbody
              - @groups.each do |group|
                %tr
                  %td= l(group.created_at)
                  %td= link_to group.name, account_organization_group_path(group)
                  %td= group.collaborators.count
                  %td= group.customers.count
                  %td.last
                    - if @organization.authorized?(@user, :edit, :group)
                      = icon_link_to edit_account_organization_group_path(group), { icon: 'edit' }, { class: 'btn btn-mini' }
                    - if @organization.authorized?(@user, :destroy, :group)
                      = icon_link_to account_organization_group_path(group), { icon: 'remove' }, { class: 'btn btn-mini', data: { method: 'DELETE', confirm: 'Etês vous sûr ?' } }
      = render partial: 'list_options'
    .span3.box
      = render partial: 'sidebar'
