#groups
  .row-fluid.margin1bottom
    .span12.box
      .pull-left
        %h3 Liste des groupes (#{@groups.count})
      .pull-right
        - if is_leader? && @organization.is_active
          = link_to icon_new + ' ' + t('actions.new'), new_account_organization_group_path(@organization), class: 'btn btn-primary'
  .row-fluid
    .span9.box
      = render partial: 'shared/list_options', locals: { collection: @groups }
      .row-fluid
        .span12
          %table.table.table-bordered.table-condensed.table-striped.margin1top.margin0bottom
            %thead
              %tr
                %th= sortable :created_at, t('mongoid.models.common.attributes.created_at')
                %th= sortable :name, t('mongoid.models.group.attributes.name')
                %th= t('mongoid.models.group.attributes.collaborators_count')
                %th= t('mongoid.models.group.attributes.customers_count')
                %th.last= t('actions.name')
            %tbody
              - @groups.each do |group|
                %tr
                  %td= l(group.created_at)
                  %td= link_to group.name, account_organization_group_path(@organization, group)
                  %td= group.collaborators.count
                  %td= group.customers.count
                  %td.last
                    - if @organization.is_active
                      - if is_leader? || @user.can_manage_groups?
                        = icon_link_to edit_account_organization_group_path(@organization, group), { icon: 'edit' }, { class: 'btn btn-mini' }
                      - if is_leader?
                        - if group.is_dropbox_authorized
                          - confirm = "Attention ! la suppression de ce groupe entraîne l'arrêt du déversement automatique de ses documents dans votre dropbox. Voulez-vous continuer ?"
                        - else
                          - confirm = 'Etês vous sûr ?'
                        = icon_link_to account_organization_group_path(@organization, group), { icon: 'remove' }, { class: 'btn btn-mini', data: { method: 'DELETE', confirm: confirm } }
      = render partial: 'shared/list_options', locals: { collection: @groups }
    .span3.box
      = render partial: 'sidebar'
