#group
  .row.derivationRight
    .col-md-12
      .box.clearfix
        .float-left
          %h3 #{@group}
        .float-right
          - if (@user.leader? || @user.manage_groups) && @organization.is_active
            = link_to t('actions.edit'), edit_account_organization_group_path(@organization, @group), class: 'btn btn-primary'

  .row.derivationLeft
    .col-md-12
      .box
        .row
          .col-md-4
            .box.bg-light.height_groups.groups_1
              %h4.margin1bottom Informations
              %hr
              %table.table.table-condensed.table-bordered-inner.table-striped.margin0bottom
                %tbody
                  %tr
                    %th= t('activerecord.models.common.attributes.created_at')
                    %td= l @group.created_at
                  %tr
                    %th= t('activerecord.models.group.attributes.name')
                    %td= @group.name
                  %tr
                    %th= t('activerecord.models.group.attributes.description')
                    %td= @group.description
          .col-md-4
            .box.bg-light.height_groups.groups_1
              %h4
                Liste des collaborateurs 
                %span.badge.badge-info.fs-origin= @group.collaborators.count
              %hr
              %ul
                - @group.collaborators.order(code: :asc).each do |collaborator|
                  %li= collaborator.info
          .col-md-4
            .box.bg-light.height_groups.groups_1
              %h4
                Liste des clients 
                %span.badge.badge-info.fs-origin= @group.customers.count
              %hr
              %ul
                - @group.customers.order(code: :asc).each do |customer|
                  %li= customer.info
