!= f.label :code, "Code client *:", :class => :label
!= f.text_field :code, :class => :text_field
%br
!= f.label :prescriber_code, "Code prescripteur *:", :class => :label
!= f.text_field :prescriber_code, :class => :text_field
%br
!= f.label :period_duration, "Type de période :", :class => :label
!= f.select :period_duration, [["mensuel",1],["trimestriel",3],["annuel",12]], :class => "select"
%br
!= f.label :payment_type, "Mode de paiement :", :class => :label
!= f.select :payment_type, [["prépayé",Subscription::PREPAYED],["prélèvement",Subscription::DEBIT]], :class => "select"
%br
!= f.label :end_in, "Durée (mois) :", :class => :label
!= f.text_field :end_in, :class => :text_field
%br
%br
!= render :partial => "product", :collection => @products
%br
%br
- if @scan_subscription.user.try(:is_prescriber)
  != f.label :is_to_spreading, "Propager les changements pour tout les clients ?", :class => :label
  != f.check_box :is_to_spreading
  %br
  %br
%button.button{:type => 'submit'}
  != image_tag("web-app-theme/tick.png", :alt => "Save")
  Save
!= link_to image_tag("web-app-theme/cross.png", :alt => "Cancel") + "Cancel", admin_scan_subscriptions_path, :class => "button"

%br

%em
  %b *
  mandatory fields.
