!= hidden_field_tag "option_#{option.id}_quantity", option.quantity
%span.product
  %label{ :for => option.id }
    != option.title
  != (option.description == "")? "" : " - #{option.description}"
%span.price
  %input{ :type => :hidden, :class => "original_option_price", :name => "original_option_price", :value => format_price(option.price_in_cents_wo_vat) }/
  %span.value{ :class => ((option.price_in_cents_wo_vat > 0)? "" : "hide") }
    #{format_price(option.price_in_cents_wo_vat) + " "}
  %span{ :class => ((option.price_in_cents_wo_vat > 0)? "" : "hide") }
    € HT