%fieldset{ :id => product_group.id, :style => "margin:7px;padding:7px;" }
  %legend
    != product_group.title + " " + product_group.description
  != hidden_field_tag "#{product_group.id}_DependantIds", product_group.product_required_for.collect{|g| g.id}.join('-')
  - if product_group.product_subgroups
    - product_group.product_subgroups.by_position.each do |product_subgroup|
      != render :partial => "product_group", :locals => { :product_group => product_subgroup, :product => product }
  - unless product_group.product_options.empty?
    - if product_group.is_option_dependent
      - product_group.product_options.by_position.each_with_index do |option,index|
        .row
          %span.radio
            != radio_button_tag "scan_subscription[product][#{product.id}][#{product_group.id}][]", option.id, ((index == 0)? true : false), :id => option.id, :class => "option"
          != render :partial => "product_option", :locals => { :option => option }
    - else
      - product_group.product_options.by_position.each_with_index do |option,index|
        .row
          %span.checkbox
            %input{ :type => :checkbox, :name => "scan_subscription[product][#{product.id}][#{product_group.id}][]", :value => option.id, :id => option.id, :class => "option" }
          != render :partial => "product_option", :locals => { :option => option }
