#subscription
  - if @subscription
    = simple_form_for [:admin, @user, @subscription], html: { class: 'form form-horizontal scan_subscription margin0' } do |f|
      .modal-body
        .row-fluid
          .span12
            %h4.aligncenter Base
            %br
            = f.input :period_duration, label: 'Type de période', collection: [["mensuel",1],["trimestriel",3],["annuel",12]], include_blank: false
            = f.input :payment_type, label: 'Mode de paiement', collection: [["prépayé",Subscription::PREPAYED],["prélèvement",Subscription::DEBIT]], include_blank: false
            = f.input :end_in, label: 'Durrée (mois)'
            %hr
            %h4.aligncenter Feuilles
            %br
            = f.input :max_sheets_authorized, label: 'Maximum', as: :integer
            = f.input :unit_price_of_excess_sheet, label: 'Prix unitaire d\'un dépassement (centime)', as: :integer
            %hr
            %h4.aligncenter Pages téléversées
            %br
            = f.input :max_upload_pages_authorized, label: 'Maximum', as: :integer
            = f.input :quantity_of_a_lot_of_upload, label: 'Nombre de pages comprises dans un lot', as: :integer
            = f.input :price_of_a_lot_of_upload, label: 'Prix d\'un lot excessif (centime)', as: :integer
            %hr
            %h4.aligncenter Pages iDocus'Box
            %br
            = f.input :max_dematbox_scan_pages_authorized, label: 'Maximum', as: :integer
            = f.input :quantity_of_a_lot_of_dematbox_scan, label: 'Nombre de pages comprises dans un lot', as: :integer
            = f.input :price_of_a_lot_of_dematbox_scan, label: 'Prix d\'un lot excessif (centime)', as: :integer
            %hr
            %h4.aligncenter Pièces presaisies
            %br
            = f.input :max_preseizure_pieces_authorized, label: 'Maximum', as: :integer
            = f.input :unit_price_of_excess_preseizure, label: 'Prix unitaire d\'un dépassement (centime)', as: :integer
            %hr
            %h4.aligncenter Pièces notes de frais
            %br
            = f.input :max_expense_pieces_authorized, label: 'Maximum', as: :integer
            = f.input :unit_price_of_excess_expense, label: 'Prix unitaire d\'un dépassement (centime)', as: :integer
            %hr
            %h4.aligncenter Attaches
            %br
            = f.input :max_paperclips_authorized, label: 'Maximum', as: :integer
            = f.input :unit_price_of_excess_paperclips, label: 'Prix unitaire d\'un dépassement (centime)', as: :integer
            %hr
            %h4.aligncenter Hors format
            %br
            = f.input :max_oversized_authorized, label: 'Maximum', as: :integer
            = f.input :unit_price_of_excess_oversized, label: 'Prix unitaire d\'un dépassement (centime)', as: :integer

        != render partial: "product", collection: @products
      .modal-footer
        = f.submit 'Valider', class: 'btn'
