.block
  .secondary-navigation
    %ul.wat-cf
      %li.first!= link_to "All subscriptions", admin_subscriptions_path
      %li.active!= link_to "All scan subscriptions", admin_scan_subscriptions_path
      %li!= link_to "Add scan subscription", new_admin_scan_subscription_path
  .content
    %h2.title All scan subscriptions
    .inner
      %table.table
        %tr
          %th N°
          %th Date
          %th Customer
          %th Progress
          %th Payment Type
          %th.last &nbsp;
        - @scan_subscriptions.each do |instance|
          %tr{:class => cycle("odd", "even")}
            %td!= link_to instance.number, [:admin, instance]
            %td!= link_to l(instance.created_at), [:admin, instance]
            %td
              != link_to instance.user.email, [:admin, instance.user]
              %br
              %span{ :title => instance.user.try(:name) }
                != [instance.user.try(:code), instance.user.try(:company)].join(" - ")
            %td
              #{instance.current_progress}/#{instance.end_in}
            %td
              - if instance.payment_type == Subscription::PREPAYED
                prépayé
              - elsif instance.payment_type == Subscription::DEBIT
                prélèvement
              - else
                prépayé
            %td.last
              != link_to image_tag("web-app-theme/application_edit.png", :alt => "Edit"), edit_admin_scan_subscription_path(instance)
        
      .actions-bar.wat-cf
        .actions
        != will_paginate @scan_subscriptions
- content_for :sidebar, render(:partial => 'sidebar')
