.block
  .secondary-navigation
    %ul.wat-cf
      %li.first!= link_to "All subscriptions", admin_subscriptions_path
      %li!= link_to "All scan subscriptions", admin_scan_subscriptions_path
      %li!= link_to "Add scan subscription", new_admin_scan_subscription_path
  .content
    .inner
      - @order = @scan_subscription.order
      %h2 Scan Subscription ##{@scan_subscription.number}
      %table.table
        %tr
          %th.first
          %th Datasheet
          %th
          %th.last
        %tr
          %td
          %td
            != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Created at', :value => l(@scan_subscription.created_at)}
            != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Updated at', :value => l(@scan_subscription.updated_at)}
            != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Progress', :value => "#{@scan_subscription.current_progress}/#{@scan_subscription.end_in}"}
            - if @order
              != render :partial =>'/admin/shared/show_field', :locals => {:key => 'N° de commande associée', :value => (link_to @order.number, [:admin, @order])}
              != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Product', :value => @order.product_order.title}
            - else
              != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Nombre de feuilles compris', :value => @scan_subscription.max_sheets_authorized}
              != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Nombre de pages téléversées compris', :value => @scan_subscription.max_upload_pages_authorized}
          %td
            != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Customer', :value => link_to(@scan_subscription.user.email, [:admin, @scan_subscription.user])}

            != render :partial =>'/admin/shared/show_field', :locals => {:key => 'VAT RATIO', :value => @scan_subscription.tva_ratio}
            != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Total without VAT', :value => format_price(@scan_subscription.price_in_cents_wo_vat)}
            != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Total with VAT', :value => format_price(@scan_subscription.price_in_cents_w_vat)}
            != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Total VAT', :value => format_price(@scan_subscription.total_vat)}
          %td
      %h3 Liste des options
      %table.table
        %tr
          %th.first
          %th Titre
          %th Prix
          %th Durée
          %th.last
        - @scan_subscription.product_option_orders.sort{ |a,b| a.position <=> b.position }.each do |option|
          %tr
            %td
            %td
              #{option.group_title} - #{option.title}
            %td
              #{format_price option.price_in_cents_wo_vat} € HT
              %br
              %small
                #{format_price(option.price_in_cents_wo_vat * 1.196)} € TTC
            %td!= option.duration
            %td
      %h3 Liste des documents
      %table.table
        %tr
          %th.first
          %th Date
          %th Nom
          %th Pièces
          %th Feuilles
          %th Page
          %th.last
        - total_pieces = 0
        - total_sheets = 0
        - total_pages = 0
        - @scan_subscription.documents.by_created_at.each do |document|
          %tr{:class => cycle("odd", "even")}
            %td
            %td!= document.created_at.strftime("%Y-%m-%d %H:%M")
            %td!= document.title
            %td!= document.pieces
            %td!= document.sheets
            %td!= document.pages
          - total_pieces += document.pieces
          - total_sheets += document.sheets
          - total_pages += document.pages
        %tr
          %td
          %td
          %td TOTAL
          %td!= total_pieces
          %td!= total_sheets
          %td!= total_pages
          %td
      
      .wat-cf
        != link_to image_tag("web-app-theme/application_edit.png", :alt => "Modifier") + "Modifier", edit_admin_scan_subscription_path(@scan_subscription), :class => "button"

- content_for :sidebar, render(:partial => 'sidebar')