.label{ class: ((@subscription && @subscription.request_action.present?) ? 'label-warning' : ''), style: 'padding:3px 5px 3px' }
  = link_to icon_edit, '#edit_scan_subscription', 'data-toggle' => 'modal'
  Abonnement en cours
  - if @period
    = @period.duration == 1 ? '(Mensuel)' : '(Trimestriel)'

%table.table.table-striped.table-bordered.table-condensed
  - if @period
    %tr
      %th Option
      %th Choix
      %th.price Prix HT
      %th.price Prix TTC
    - @period.product_option_orders.by_position.each do |option|
      %tr
        %td= option.group_title
        %td= option.title
        %td.price= format_price_00(option.price_in_cents_wo_vat) + ' €'
        %td.price= format_price_00(option.price_in_cents_wo_vat * @period.tva_ratio) + ' €'
    %tr
      %td Dépassement
      %td
      %td.price= format_price_00(@period.price_in_cents_of_total_excess) + ' €' rescue '0,00 €'
      %td.price= format_price_00(@period.price_in_cents_of_total_excess * @period.tva_ratio) + ' €' rescue '0,00 €'
    %tr
      %td
      %th.total Total
      %td.total.price= format_price_00(@period.total_price_in_cents_wo_vat) + ' €' rescue '0,00 €'
      %td.total.price= format_price_00(@period.total_price_in_cents_wo_vat * @period.tva_ratio) + ' €' rescue '0,00 €'
    %tr
      %td
      %th.total VAT (#{@period.tva_ratio})
      %td
      %td.total.price= format_price_00((@period.total_price_in_cents_wo_vat * @period.tva_ratio) - @period.total_price_in_cents_wo_vat) + ' €'
