#ibiza.edit.derivationRight
  .card
    .card-header
      %h3 Configuration de iBiza
    = simple_form_for (@ibiza || Software::Ibiza.new), url: account_organization_ibiza_path(@organization), html: { class: 'form-horizontal' } do |f|
      .card-body
        .card.margin1bottom
          .card-header
            %h4 Connexion à iBiza pour le transfert des écritures
          .card-body
            = f.input :specific_url_options, hint: "Pour connecter iBiZa à iDocus, Vous pouvez spécifier votre URL de connexion (Par défaut: https://webservice.irf-cloud.com/IRFService/services/IRFService.svc)", placeholder: 'https://webservice.irf-cloud.com/IRFService/services/IRFService.svc'
            = f.input :access_token, hint: "Pour connecter iBiZa à iDocus, rendez-vous sur l'iBiZStore pour récupérer votre jeton d'accès."
            = f.input :access_token_2, hint: "Pour connecter iBiZa à iDocus, rendez-vous sur l'iBiZStore pour récupérer votre jeton d'accès."
            = f.input :auto_deliver, as: :boolean, hint: 'Cette option peut être ré-écrite au niveau de chaque dossier.'
            = f.input :is_analysis_activated, as: :boolean, hint: 'Cette option peut être ré-écrite au niveau de chaque dossier.'
            = f.input :is_analysis_to_validate, as: :boolean, hint: "Cette option suspend l'envoi en pré-affectation des pièces, en passant par une validation manuelle des analyses comptables, Les pièces téléversées via le site ou mobile ne sont pas concernées (peut être ré-écrite au niveau de chaque dossier)."
        .card.margin1bottom
          .card-header
            %h4 Format de nom de la pièce iDocus dans iBiza (par défaut: colonne "Pièce" dans iBiza)
          .card-body
            %table.table.table-condensed
              %thead
                %tr.bg-brown.text-white
                  %th Valeur
                  %th Position
              %tbody
                %tr
                  %td
                    %label.checkbox
                      = check_box_tag "software_ibiza[piece_name_format][code][is_used]", 1, (@ibiza.piece_name_format['code']['is_used'] rescue false)
                      %span.text Code complet
                  %td= number_field_tag "software_ibiza[piece_name_format][code][position]", (@ibiza.piece_name_format['code']['position'] rescue 1)
                %tr
                  %td
                    %label.checkbox
                      = check_box_tag "software_ibiza[piece_name_format][code_wp][is_used]", 1, (@ibiza.piece_name_format['code_wp']['is_used'] rescue false)
                      %span.text Code dossier sans code cabinet
                  %td= number_field_tag "software_ibiza[piece_name_format][code_wp][position]", (@ibiza.piece_name_format['code_wp']['position'] rescue 1)
                %tr
                  %td
                    %label.checkbox
                      = check_box_tag "software_ibiza[piece_name_format][journal][is_used]", 1, (@ibiza.piece_name_format['journal']['is_used'] rescue false)
                      %span.text Journal
                  %td= number_field_tag "software_ibiza[piece_name_format][journal][position]", (@ibiza.piece_name_format['journal']['position'] rescue 1)
                %tr
                  %td
                    %label.checkbox
                      = check_box_tag "software_ibiza[piece_name_format][period][is_used]", 1, (@ibiza.piece_name_format['period']['is_used'] rescue false)
                      %span.text Période de traitement
                  %td= number_field_tag "software_ibiza[piece_name_format][period][position]", (@ibiza.piece_name_format['period']['position'] rescue 1)
                %tr
                  %td
                    %label.checkbox
                      = check_box_tag "software_ibiza[piece_name_format][number][is_used]", 1, (@ibiza.piece_name_format['number']['is_used'] rescue false)
                      %span.text Numéro
                  %td= number_field_tag "software_ibiza[piece_name_format][number][position]", (@ibiza.piece_name_format['number']['position'] rescue 1)
            = f.input :piece_name_format_sep
        .card.margin1bottom
          .card-header
            %h4 Format de l'écriture comptable dans iBiza
          .card-body
            %table.table.table-condensed
              %thead
                %tr.bg-brown.text-white
                  %th Valeur
                  %th Position
                  %th
              %tbody
                %tr
                  %td
                    %label.checkbox
                      = check_box_tag "software_ibiza[description][operation_label][is_used]", 1, true, readonly: true
                      %span.text Libellé de l'opération bancaire
                  %td= number_field_tag "software_ibiza[description][operation_label][position]", (@ibiza.description['operation_label']['position'] rescue 1)
                  %td Obligatoire pour une opération provenant d'un automate bancaire.
                %tr
                  %td
                    %label.checkbox
                      = check_box_tag "software_ibiza[description][date][is_used]", 1, (@ibiza.description['date']['is_used'] rescue false)
                      %span.text Date réelle
                  %td= number_field_tag "software_ibiza[description][date][position]", (@ibiza.description['date']['position'] rescue 1)
                  %td
                %tr
                  %td
                    %label.checkbox
                      = check_box_tag "software_ibiza[description][third_party][is_used]", 1, (@ibiza.description['third_party']['is_used'] rescue false)
                      %span.text Tiers
                  %td= number_field_tag "software_ibiza[description][third_party][position]", (@ibiza.description['third_party']['position'] rescue 1)
                  %td
                %tr
                  %td
                    %label.checkbox
                      = check_box_tag "software_ibiza[description][amount][is_used]", 1, (@ibiza.description['amount']['is_used'] rescue false)
                      %span.text Montant d'origine
                  %td= number_field_tag "software_ibiza[description][amount][position]", (@ibiza.description['amount']['position'] rescue 1)
                  %td
                %tr
                  %td
                    %label.checkbox
                      = check_box_tag "software_ibiza[description][currency][is_used]", 1, (@ibiza.description['currency']['is_used'] rescue false)
                      %span.text Devise
                  %td= number_field_tag "software_ibiza[description][currency][position]", (@ibiza.description['currency']['position'] rescue 1)
                  %td
                %tr
                  %td
                    %label.checkbox
                      = check_box_tag "software_ibiza[description][conversion_rate][is_used]", 1, (@ibiza.description['conversion_rate']['is_used'] rescue false)
                      %span.text Taux de conversion
                  %td= number_field_tag "software_ibiza[description][conversion_rate][position]", (@ibiza.description['conversion_rate']['position'] rescue 1)
                  %td
                %tr
                  %td
                    %label.checkbox
                      = check_box_tag "software_ibiza[description][observation][is_used]", 1, (@ibiza.description['observation']['is_used'] rescue false)
                      %span.text Remarque
                  %td= number_field_tag "software_ibiza[description][observation][position]", (@ibiza.description['observation']['position'] rescue 1)
                  %td
                %tr
                  %td
                    %label.checkbox
                      = check_box_tag "software_ibiza[description][journal][is_used]", 1, (@ibiza.description['journal']['is_used'] rescue false)
                      %span.text Journal
                  %td= number_field_tag "software_ibiza[description][journal][position]", (@ibiza.description['journal']['position'] rescue 1)
                  %td
                %tr
                  %td
                    %label.checkbox
                      = check_box_tag "software_ibiza[description][piece_name][is_used]", 1, (@ibiza.description['piece_name']['is_used'] rescue false)
                      %span.text Nom de pièce (iDocus)
                  %td= number_field_tag "software_ibiza[description][piece_name][position]", (@ibiza.description['piece_name']['position'] rescue 1)
                  %td
                %tr
                  %td
                    %label.checkbox
                      = check_box_tag "software_ibiza[description][piece_number][is_used]", 1, (@ibiza.description['piece_number']['is_used'] rescue false)
                      %span.text Numéro de pièce d'origine
                  %td= number_field_tag "software_ibiza[description][piece_number][position]", (@ibiza.description['piece_number']['position'] rescue 1)
                  %td
            = f.input :description_separator
        .card.margin1bottom
          .card-header
            %h4 Champ utilisé dans la colonne "Ref. pièce" et "Piece" dans Ibiza
          .card-body
            %table.table.table-condensed
              %thead
                %tr.bg-brown.text-white
                  %th Format
              %tbody
                %tr
                  %td
                    = radio_button_tag "software_ibiza[voucher_ref_target]", 'piece_number', (@ibiza.try(:voucher_ref_target) == 'piece_number' ? true : false), class: "voucher_ref_radio piece_number"
                    %span.text
                      Format n°1 :
                      %strong Ref. pièce =
                      %i Numéro de pièce d'origine
                      et
                      %strong Pièce =
                      %i Nom de la pièce (iDocus)
                %tr
                  %td
                    = radio_button_tag "software_ibiza[voucher_ref_target]", 'piece_name', (@ibiza.try(:voucher_ref_target) == 'piece_name' ? true : false), class: "voucher_ref_radio piece_name"
                    %span.text
                      Format n°2 :
                      %strong Ref. pièce =
                      %i Nom de la pièce (iDocus)
                      et
                      %strong Pièce =
                      %i Numéro de pièce d'origine
      .card-footer
        .form-actions.margin0bottom
          = f.submit 'Valider', class: 'btn btn-primary'
          = link_to t('actions.cancel'), account_organization_path(@organization, tab: 'ibiza'), class: 'btn btn-light'
