.box.small-shadow
  .header_box.mb-5.text-center.border_bottom
    Plan comptable
  .body_box
    .row.mb-5
      .col-md-12.text-center              
        = form_tag import_fec_account_organization_customer_accounting_plan_path(@organization, @customer), method: 'patch', multipart: true, class: 'form-horizontal clearfix label-auto' do
          .form-group.clearfix.mt-5
            %input{ type: :hidden, name: "new_create_book_type", value: "1"}
            .control-section{ style: "float:none !important;" }
              = file_field_tag :fec_file, class: 'filestyle', data: { classButton: 'btn btn-warning text-bold small-shadow mt-5', input: true, buttonText: glyphicon('file') + '' }, style: "width:10%"
              %button.btn.btn-primary.small-shadow.text-bold#import_vatp_account
                %span.mrc-5
                  = glyphicon('data-transfer-download')  
                %span
                  Charger un FEC
              %span.badge.badge-info.fs-origin .txt

    .row.mb-10
      .col-md-6
        .row
          .header_box.text-left.col-md-4{ style: "padding-left: 34px; padding-top: 10px"} Fournisseurs
          .file_import.text-right.col-md-8
            = form_tag import_account_organization_customer_accounting_plan_path(@organization, @customer), method: 'patch', multipart: true, class: 'form-horizontal clearfix label-auto' do
              .form-group.clearfix{ style: "margin-bottom: 0 !important" }
                %input{ type: :hidden, name: "new_create_book_type", value: "1"}
                .control-section{ style: "float:none !important;" }
                  = file_field_tag :providers_file, class: 'filestyle', data: { classButton: 'btn btn-warning text-bold small-shadow mt-5', input: true, buttonText: glyphicon('file') + ' CSV' }, style: "width:10%"
                  %button.btn.btn-primary.small-shadow.text-bold#import_vatp_account
                    %span.mrc-5
                      = glyphicon('data-transfer-download')  
                    %span
                      Importer

        .box
          %table.table.table-striped.table-bordered-inner.table-condensed#table_vatp_account
            %thead
              %tr.bg-brown.text-white
                %th Nom du tiers
                %th Compte de tiers
                %th Compte de contrepartie
                %th Code TVA
            %tbody
            - @customer.accounting_plan.providers.each do |provider|
              %tr.provider
                %td.id.hide
                  = text_field_tag 'edit_account_id', provider.id, { placeholder: '', class: 'entry_id hide' }
                %td
                  %div.vat_code= provider.third_party_name
                  = text_field_tag 'edit_account_third_party_name', provider.third_party_name, { placeholder: '', class: 'input_edition tp_name hide' }
                %td
                  %div.vat_code= provider.third_party_account
                  = text_field_tag 'edit_account_third_party_account', provider.third_party_account, { placeholder: '', class: 'input_edition tp_account hide' }
                %td
                  %div.vat_code= provider.conterpart_account
                  = text_field_tag 'edit_account_conterpart', provider.conterpart_account, { placeholder: '', class: 'input_edition conterpart hide' }
                %td
                  %div.vat_code= provider.code
                  = text_field_tag 'edit_account_vat_code', provider.code, { placeholder: '', class: 'input_edition vat_code hide' }

          .box_footer.text-right
            %button.btn.btn-info.small-shadow.text-bold#add_vatp_account
              %span.mrc-5
                = glyphicon('plus')  
              %span
                Ajouter un compte

      .col-md-6
        .row
          .header_box.text-left.col-md-4{ style: "padding-left: 34px; padding-top: 10px"} Clients
          .file_import.text-right.col-md-8
            = form_tag import_account_organization_customer_accounting_plan_path(@organization, @customer), method: 'patch', multipart: true, class: 'form-horizontal clearfix label-auto' do
              .form-group.clearfix{ style: "margin-bottom: 0 !important" }
                %input{ type: :hidden, name: "new_create_book_type", value: "1"}
                .control-section{ style: "float:none !important;" }
                  = file_field_tag :customers_file, class: 'filestyle', data: { classButton: 'btn btn-warning text-bold small-shadow mt-5', input: true, buttonText: glyphicon('file') + ' CSV' }, style: "width:10%"
                  %button.btn.btn-primary.small-shadow.text-bold#import_vatc_account
                    %span.mrc-5
                      = glyphicon('data-transfer-download')  
                    %span
                      Importer
        .box
          %table.table.table-striped.table-bordered-inner.table-condensed#table_vatc_account
            %thead
              %tr.bg-brown.text-white
                %th Nom du tiers
                %th Compte de tiers
                %th Compte de contrepartie
                %th Code TVA
            %tbody
            - @customer.accounting_plan.customers.each do |customer|
              %tr.customer
                %td.id.hide
                  = text_field_tag 'edit_account_id', customer.id, { placeholder: '', class: 'entry_id hide' }
                %td
                  %div.vat_code= customer.third_party_name
                  = text_field_tag 'edit_account_third_party_name', customer.third_party_name, { placeholder: '', class: 'input_edition tp_name hide' }
                %td
                  %div.vat_code= customer.third_party_account
                  = text_field_tag 'edit_account_third_party_account', customer.third_party_account, { placeholder: '', class: 'input_edition tp_account hide' }
                %td
                  %div.vat_code= customer.conterpart_account
                  = text_field_tag 'edit_account_conterpart', customer.conterpart_account, { placeholder: '', class: 'input_edition conterpart hide' }
                %td
                  %div.vat_code= customer.code
                  = text_field_tag 'edit_account_vat_code', customer.code, { placeholder: '', class: 'input_edition vat_code hide' }

          .box_footer.text-right
            %button.btn.btn-info.small-shadow.text-bold#add_vatc_account
              %span.mrc-5
                = glyphicon('plus')  
              %span
                Ajouter un compte

    %table.hidden_insertion_table.hide
      %tbody
        %tr
          %td.id.hide
            = text_field_tag 'edit_account_id', nil, { placeholder: '', class: 'entry_id hide' }
          %td
            %div.vat_code Cliquez ici pour modifier
            = text_field_tag 'edit_account_third_party_name', nil, { placeholder: '', class: 'input_edition tp_name hide' }
          %td
            %div.vat_code Cliquez ici pour modifier
            = text_field_tag 'edit_account_third_party_account', nil, { placeholder: '', class: 'input_edition tp_account hide' }
          %td
            %div.vat_code Cliquez ici pour modifier
            = text_field_tag 'edit_account_conterpart', nil, { placeholder: '', class: 'input_edition conterpart hide' }
          %td
            %div.vat_code Cliquez ici pour modifier
            = text_field_tag 'edit_account_vat_code', nil, { placeholder: '', class: 'input_edition vat_code hide' }