= simple_form_for @journal, url: '', html: { class: 'form-horizontal label-50', id: "account_book_type"} do |f|
  .row
    %input#new_create_book_type{ type: :hidden, value: "1", name: "new_create_book_type"}
    %input#customer_id{ type: :hidden, value: "#{@customer.id}", name: "customer_id"}
    .col-md-6
      .box.small-shadow
        = f.input :name, hint: journal_name_hint, input_html: { disabled: is_journal_name_disabled, class: "can_be_required" }
        - if @customer && @customer.uses_api_softwares?
          - is_ibiza_configured = @organization.ibiza.configured?

          - if is_ibiza_configured || @customer.exact_online.try(:fully_configured?) || @customer.try(:my_unisoft).try(:used?)
            .row
              .block_input.clearfix.col-md-11
                = f.input :pseudonym, wrapper_html: { class: "external_account_book_type" }
              %a.col-md-1{href: '#', style:"padding: 0 15px 5px 9px", id: "toogle_external_journal_list"}
                = glyphicon('chevron-bottom')
            .form-group.clearfix{ style: 'margin-bottom: 18px' }
              .label-section
                %label
              .control-section
                .block_selection_journals
                  .help-block{style: 'margin-top: 2px; margin-left: 0px'}= external_journal_title
                  = select_tag 'select_external_journal', options_for_select(journals_for_select(@journal.pseudonym), @journal.pseudonym), size: 8, style: "height: auto"
                %i.help-block si différent de "Code journal" ci-dessus
            - if is_ibiza_configured && !@customer.try(:my_unisoft).try(:used?)
              = f.input :use_pseudonym_for_import, wrapper_html: { class: 'pseudonyme_for_import' }, collection: [['Oui', true], ['Non', false]], as: :radio_buttons, hint: "Utiliser le code journal comptable comme répértoire d'import (Ibiza box), Si non, utiliser le code journal iDocus"
          - elsif !is_ibiza_configured && @customer.uses?(:ibiza)
            .form-group.clearfix
              .label-section
                %label.control-label= t('simple_form.labels.account_book_type.pseudonym')
              .control-section
                %select.select.disabled{ disabled: 'disabled' }
                %p
                  = render 'shared/ibiza_not_configured_warning'
        - else
          = f.input :pseudonym, hint: 'Si différent de "Code journal iDocus"'
        = f.input :description, label: 'Nom du journal comptable iDocus', hint: 'Inscrivez ici entre parenthès le nom du journal comptable iDocus. Exemple (Achats). Ceci est nécessaire pour les utilisateurs du forfait iDo’Courrier notamment.', input_html: { class: "can_be_required" }
        - if !@customer || @customer.subscription.is_package?('mail_option')
          = f.input :instructions, as: :text, input_html: { maxlength: 400 }

        #error_reports.hide

    .col-md-6
      .box.small-shadow
        .header_box.text-left.mb-5.border_bottom Pré-saisie comptable
        = f.input :entry_type, label: 'Sélectionnez le type de pré-saisie comptable pour le journal', collection: account_book_type_entry_type_for_select(@organization, @customer), include_blank: false, input_html: { class: 'not_persisted' }
        #pre-assignment-attributes{ class: "#{@journal.entry_type.in?([0,1]) ? 'hide' : '' }"}
          = f.input :currency, collection: journal_currencies, include_blank: false, selected: "EUR", hint: "Les écritures seront converties vers cette devise avec le taux de change de la date de facture"
          = f.input :account_type, label: 'Souhaitez-vous configurer le journal en compte d’attente ou compte par défaut?', collection: [["Compte d'attente", 'waiting'], ["Compte par défaut", 'default']], include_blank: false
          .form-group.clearfix
            .label-section
              %label
            .control-section
              .account_type_help.margin2bottom
                %i
                  %u Compte d’attente:
                la pré-saisie comptable sera effectuée avec les informations issues du plan comptable de votre outil comptable. Si il n’y a pas d’informations dans ce plan de compte, iDocus saisira les écritures dans les comptes d’attente paramétrés ici.
                %br
                %i
                  %u Compte par défaut:
                iDocus saisira
                %b systématiquement
                toutes les factures déposées dans le journal comptable sur les comptes paramétrés sans se référer au plan comptable.
          = f.input :meta_account_number, input_html: { class: 'can_be_required' }
          = f.input :meta_charge_account, input_html: { class: 'can_be_required' }
          = f.input :anomaly_account, label: 'Quel est le compte à utiliser en cas d’anomalie ?', input_html: { class: 'can_be_required' }, hint: 'si aucune information claire dans la pièce, si la pièce n’est pas une facture, …'
          = f.input :jefacture_enabled, input_html: { class: 'can_be_required' }
          %fieldset{class: 'border p-2', style: 'border:1px solid #999; border-radius:0px; box-shadow:1px 11px 10px #999; padding: 17px !important'}
            %legend{class: 'w-auto vat_account_field', style: 'padding: 0.2em 0.5em; font-size:90%; text-align:center; position: relative'} Compte de TVA
            - if !@customer || @customer.options.is_taxable
              - hint = !@customer ? 'obligatoire mais ne sera utilisé que pour les clients assujettis à la TVA' : ''
              = hidden_field_tag 'required_new_vat_accounts_element', 'can_be_required', hint_input: hint, hint_label: 'Quel est le compte de TVA par défaut attribué au Journal Comptable iDocus (le cas échéant) ? Exemple: 445660'
              = f.input :vat_accounts, as: :hidden, input_html: { id: 'account-book-type-vat-accounts-hidden' }
              = link_to 'Ajouter un compte de TVA', '#', class: 'btn btn-primary add_vat_account_field float-right'