= simple_form_for [:account, @user], html: { class: 'form form-horizontal' } do |f|
  %h2 Informations
  = f.input :code, label: 'Code'
  = f.input :company, label: 'Société'
  = f.input :first_name, label: 'Prénom'
  = f.input :last_name, label: 'Nom'
  = f.input :email, label: 'Email'
  .form-actions
    = f.submit t('actions.submit'), class: 'btn'
    = link_to t('actions.cancel'), account_user_path(@user.id), class: 'btn'