= simple_form_for @customer, url: customer_form_url(@customer), html: { class: 'form form-horizontal margin0' } do |f|
  .row-fluid
    .span6
      = f.input :code,                label: t('mongoid.models.user.attributes.code')
      = f.input :knowings_code
      = f.input :knowings_visibility, collection: knowings_visibility_options, include_blank: false
      = f.input :company,             label: t('mongoid.models.user.attributes.company')
      = f.input :first_name,          label: t('mongoid.models.user.attributes.first_name')
      = f.input :last_name,           label: t('mongoid.models.user.attributes.last_name')
      = f.input :email,               label: t('mongoid.models.user.attributes.email'), hint: "Correspond à l'identifiant de connexion de votre client"
    - if action_name.in?(%w(new create))
      .span6
        = f.input :group_ids, collection: groups(@user).map { |g| [g.name, g.id] }, as: :check_boxes, label: t('mongoid.models.group.name').pluralize
  .form-actions.margin0bottom
    = f.submit t('actions.submit'), class: 'btn btn-primary'
    - if params[:action].in?(%w(new create))
      = link_to t('actions.cancel'), account_organization_customers_path, class: 'btn'
    - else
      = link_to t('actions.cancel'), account_organization_customer_path(@customer.id), class: 'btn'
