= simple_form_for @customer, url: customer_form_url(@organization, @customer), html: { class: 'form form-horizontal margin0' } do |f|
  .card-body
    .row
      .col-md-6
        .box.bg-light.height_groups.groups_1
          %h4 Information de base
          %hr
          = f.input :code, hint: "Doit impérativement commencer par : #{@organization.code}%, 15 caractères alphanumériques maximum, code cabinet inclus.", input_html: { disabled: ('disabled' if action_name.in? %w(edit update)) }
          = f.input :group_ids, collection: @user.groups.order(name: :asc), as: :check_boxes, label: 'A quel groupe, le dossier doit-il être attribué ?'
          = f.association :manager, collection: managers_options_for_select, include_blank: false, label: 'Quel est le collaborateur en charge du dossier?', hint: 'IMPORTANT! Indiquer le collaborateur en charge du dossier permettra à iDocus de le contacter en cas de soucis. Autrement tous les mails seront adressés à l’administrateur de l’organisation.'
          = f.input :company
          - unless @organization.specific_mission
            = f.input :jefacture_account_id
      .col-md-6
        .box.bg-light.height_groups.groups_1
          %h4 Contact principal
          %hr
          = f.input :first_name
          = f.input :last_name
          = f.input :phone_number
          = f.input :email, hint: "Le courriel sert d’identifiant à iDocus et de contact principal en cas de besoin de la part d’iDocus"
          - unless @organization.specific_mission
            = f.input :is_pre_assignement_displayed, collection: [[t('yes_value'), true], [t('no_value'), false]], as: :radio_buttons, required: true
            = f.input :act_as_a_collaborator_into_pre_assignment, collection: [[t('yes_value'), true], [t('no_value'), false]], as: :radio_buttons, required: true
            = f.simple_fields_for :options do |o|
              = o.hidden_field :id
              = o.input :is_taxable, collection: [['Oui', true], ['Non', false]], as: :radio_buttons, hint: "Non (aucune TVA ne sera reportée en pré-saisie)."
  .card-footer
    .form-actions.margin0bottom
      - if params[:action].in?(%w(new create))
        = f.submit t('actions.next_step'), class: 'btn btn-primary'
        = link_to t('actions.cancel'), account_organization_customers_path(@organization), class: 'btn btn-light'
      - else
        = f.submit t('actions.submit'), class: 'btn btn-primary'
        = link_to t('actions.cancel'), account_organization_customer_path(@organization, @customer), class: 'btn btn-light'
