.row
  .col-md-12
    .box.clearfix
      .float-left
        - if @customer.inactive?
          %span.badge.badge-danger.float-left.margin1right.closed_account Dossier clôturé
        %h3.float-left
          = @customer.info
        - if @customer.last_configuration_step.present?
          = link_to glyphicon('wrench') + ' Reprendre la configuration', resume_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-secondary margin1left'
      .float-right
        - if @customer.active?
          = link_to glyphicon('x') + ' Clôturer le dossier', account_close_confirm_account_organization_customer_path(@organization, @customer), class: 'btn btn-danger'
        - else
          = link_to glyphicon('floder') + ' Réouvrir le dossier', account_reopen_confirm_account_organization_customer_path(@organization, @customer), class: 'btn btn-primary'
        - if @user.is_admin && (@customer.active? || @customer.inactive_at > Time.now)
          = link_to glyphicon('x') + ' Clôturer le dossier maintenant !', account_close_confirm_account_organization_customer_path(@organization, @customer, close_now: 1), class: 'btn btn-danger'
