= link_to 'Rafraîchir', refresh_account_organization_customer_ibizabox_folders_path(@organization, @customer), method: :patch, class: 'btn btn-primary margin1right'
= link_to 'Historique des documents', account_organization_customer_ibizabox_documents_path(@organization, @customer), class: 'btn btn-secondary margin1right'
= link_to 'Sélection des documents', select_account_organization_customer_ibizabox_documents_path(@organization, @customer), class: 'btn btn-secondary'

%hr
%h3.margin2bottom 
  Liste des répertoires accessibles
  %span.badge.badge-info= @customer.ibizabox_folders.count
%table.table.table-striped.table-condensed.margin1bottom.table-bordered-inner.table-detachable-head
  %thead
    %tr.bg-brown.text-white
      %th Code journal idocus
      %th Répertoire Ibiza
      %th Périodes accessibles
      %th Statut
      %th Actions
  %tbody.retractable.slidedown
    - ibiza_journals = FileImport::Ibizabox.get_accessible_journals(@customer)
    - @customer.ibizabox_folders.includes(:journal).each do |folder|
      - journal = folder.journal
      %tr
        %td
          = journal.name
          - unless ibiza_journal_accessible?(folder, ibiza_journals)
            %i
              %strong (Journal inexistant ou inaccessible depuis la ged ibiza)
        %td= journal.use_pseudonym_for_import ? journal.pseudonym : journal.name
        %td= FileImport::Ibizabox.new(folder).accessible_ibiza_periods.join(" - ")
        %td= ibizabox_folder_state(folder)
        %td
          - if ibiza_journal_accessible?(folder, ibiza_journals)
            = link_to "#{folder.active? ? 'Désactiver' : 'Activer'}", account_organization_customer_ibizabox_folder_path(@organization, @customer, folder), method: 'patch', class: "btn btn-light btn-#{folder.active? ? 'danger' : 'primary'}"
          - else
            = link_to "Journal ibiza inaccessible", '#', class: "btn btn-light btn-primary", disabled: true