.label{ style: 'padding:3px 5px 3px' }
  Informations
.row
  .col-md-7
    %table.table.table-striped.table-bordered.table-condensed.bestinplace
      %tbody.retractable.slidedown
        %tr
          %th.first= t('activerecord.models.common.attributes.created_at')
          %td= l(@user.created_at)
        %tr
          %th.first= t('activerecord.attributes.user.email')
          %td= @user.email
        %tr
          %th.first= t('activerecord.models.user.attributes.last_name')
          %td= @user.last_name
        %tr
          %th.first= t('activerecord.models.user.attributes.first_name')
          %td= @user.first_name
        %tr
          %th.first= t('activerecord.models.user.attributes.company')
          %td= @user.company
        %tr
          %th.first= t('activerecord.models.user.attributes.code')
          %td= @user.code
