%table.table.table-striped.table-condensed.margin0bottom
  %thead
    %th Option
    %th Choix
    %th.price Prix HT
    %th.price Prix TTC
  %tbody
    - @subscription.product_option_orders.by_position.each do |option|
      %tr
        %td= option.group_title
        %td= option.title
        %td.price= format_price_00(option.price_in_cents_wo_vat) + ' €'
        %td.price= format_price_00(option.price_in_cents_wo_vat * @subscription.tva_ratio) + ' €'
    %tr
      %td
      %th Total
      %td.price= format_price_00(@subscription.products_price_in_cents_wo_vat) + ' €' rescue '0,00 €'
      %td.price= format_price_00(@subscription.products_price_in_cents_w_vat) + ' €' rescue '0,00 €'
