.card.retractable-filter
  = form_tag account_organization_customers_path(@organization), method: :get, class: 'form-filter' do
    .card-header.clearfix
      .float-left
        %h3 Filtres
      .float-right.margin1left
        %a.locker{ href: "#", title: "Cacher le Filtre" }= glyphicon('layers')
    .retractable-filter-content
      .card-body   
        = hidden_field_tag :direction, sort_direction
        = hidden_field_tag :sort, sort_column
        = hidden_field_tag :per_page, per_page
        = hidden_field_tag :with_details, params[:with_details] || true
        .form-group
          .label-section
            = label_tag 'user_contains[company]', t('activerecord.models.user.attributes.company')
          .control-section
            = text_field_tag 'user_contains[company]', (params[:user_contains][:company] rescue '')
        .form-group
          .label-section
            = label_tag 'user_contains[code]', t('activerecord.models.user.attributes.code')
          .control-section
            = text_field_tag 'user_contains[code]', (params[:user_contains][:code] rescue '')
        .form-group
          .label-section
            = label_tag 'user_contains[last_name]', t('activerecord.models.user.attributes.last_name')
          .control-section
            = text_field_tag 'user_contains[last_name]', (params[:user_contains][:last_name] rescue '')
        .form-group
          .label-section
            = label_tag 'user_contains[first_name]', t('activerecord.models.user.attributes.first_name')
          .control-section
            = text_field_tag 'user_contains[first_name]', (params[:user_contains][:first_name] rescue '')
        .form-group
          .label-section
            = label_tag 'user_contains[email]', t('activerecord.models.user.attributes.email')
          .control-section
            = text_field_tag 'user_contains[email]', (params[:user_contains][:email] rescue '')
        - if @user.leader?
          .form-group
            .label-section
              = label_tag 'user_contains[collaborator_id]', 'Collaborateur'
            .control-section
              = select_tag 'user_contains[collaborator_id]', options_from_collection_for_select(@organization.collaborators.order(code: :asc), :id, :code, (params[:user_contains][:collaborator_id] rescue '')), include_blank: true
        .form-group.check_boxes
          .label-section
            = label_tag 'group_ids[]', t('activerecord.models.group.name').pluralize
          .control-section
            - if @groups.size > 0
              - @groups.each do |group|
                %span.checkbox
                  %label{ id: "label_group_ids_#{group.id}" }
                    = check_box_tag 'group_ids[]', group.id, (params[:group_ids].include?(group.id) rescue false), id: "group_ids_#{group.id}", class: 'no-relative', style: 'margin:0 5px 0 0'
                    = group
            - else
              %i [Aucun groupe]
        .form-group
          .label-section
            = label_tag 'user_contains[is_inactive]', t('activerecord.models.user.attributes.is_inactive')
          .control-section
            = select_tag 'user_contains[is_inactive]', options_for_select([[t('yes_value'), 1], [t('no_value'), 0]], (params[:user_contains][:is_inactive] rescue '')), include_blank: true
      .card-footer
        .form-actions
          = submit_tag t('filters.action'), class: 'btn btn-primary'
          = link_to glyphicon('x'), account_organization_customers_path(@organization), class: 'btn btn-light'
