.row-fluid
  %h3 Filtres

  = form_tag account_organization_customers_path, method: :get, html: { class: 'form form-vertical' } do
    %br
    = hidden_field_tag :direction, sort_direction
    = hidden_field_tag :sort, sort_column
    = hidden_field_tag :per_page, per_page
    = hidden_field_tag :with_details, params[:with_details] || true
    = label_tag 'user_contains[company]', t('mongoid.models.user.attributes.company')
    = text_field_tag 'user_contains[company]', (params[:user_contains][:company] rescue ''), class: 'span12'
    = label_tag 'user_contains[code]', t('mongoid.models.user.attributes.code')
    = text_field_tag 'user_contains[code]', (params[:user_contains][:code] rescue ''), class: 'span12'
    = label_tag 'user_contains[last_name]', t('mongoid.models.user.attributes.last_name')
    = text_field_tag 'user_contains[last_name]', (params[:user_contains][:last_name] rescue ''), class: 'span12'
    = label_tag 'user_contains[first_name]', t('mongoid.models.user.attributes.first_name')
    = text_field_tag 'user_contains[first_name]', (params[:user_contains][:first_name] rescue ''), class: 'span12'
    = label_tag 'user_contains[email]', t('mongoid.models.user.attributes.email')
    = text_field_tag 'user_contains[email]', (params[:user_contains][:email] rescue ''), class: 'span12'
    - if is_leader?
      = label_tag 'collaborator_id', 'Collaborateur'
      = select_tag 'collaborator_id', options_from_collection_for_select(@organization.collaborators.asc(:code), :id, :code, params[:collaborator_id]), include_blank: true
    = label_tag 'group_ids[]', t('mongoid.models.group.name').pluralize
    - if @groups.size > 0
      - @groups.each do |group|
        = check_box_tag 'group_ids[]', group.id, (params[:group_ids].include?(group.id) rescue false), id: "group_ids_#{group.id}"
        %label{ for: "group_ids_#{group.id}" }= group
    - else
      %i [Aucun groupe]
    %br
    %br
    = submit_tag t('filters.action'), class: 'btn'
    = link_to t('filters.reset'), account_organization_customers_path, class: 'btn'