.box.bg-light.height_groups.groups_1.clearfix.small-shadow
  %h4
    Abonnement
  %hr
  #personalize_subscription_package_form
    .center{ style: "text-align: center" }
      .notify-warning.fs-origin.mb-3.hide
        Disparaîtra le mois prochain
    .row
      .col-md-6
        .form-check.form-check-inline
          = radio_button_tag 'subscription[subscription_option]', 'is_idox_package_active', (@subscription.is_idox_package_active && !@subscription.is_idox_package_to_be_disabled), class: 'form-check-input idox-check-radio radio-button subscription-package-form-change package_radio', data: { original_value: ((@subscription.is_idox_package_active || @subscription.is_idox_package_to_be_disabled) ? 1 : 0) }
          = label_tag 'subscription[subscription_option]', "iDo'X", class: 'form-check-label'
      .col-md-6.form_check_idox_package
        .float-right
          .form-inline
            = label_tag 'user[jefacture_account_id]', "Identifiant Jefactrure (SIREN)", class: 'col-form-label'
            &nbsp;&nbsp;&nbsp;&nbsp;
            = text_field_tag 'user[jefacture_account_id]', @customer.jefacture_account_id, class: 'form-control subscription-package-form-change idox_option option_checkbox'
    - if current_user.is_admin || @organization.code.in?(['DPA','ADV','CRE','GMBA','AEC','EXTE','ACC','FBC','FIDA','FIDC','EG', '2AP', 'ACDA'])
      .row
        .col-md-6
          .form-check.form-check-inline
            = radio_button_tag 'subscription[subscription_option]', 'is_micro_package_active', (@subscription.is_micro_package_active && !@subscription.is_micro_package_to_be_disabled), class: "form-check-input micro-check-radio radio-button subscription-package-form-change package_radio #{'commitment_pending' if @customer.persisted? && !@customer.try(:subscription).try(:commitment_end?)}", data: { original_value: ((@subscription.is_micro_package_active || @subscription.is_micro_package_to_be_disabled) ? 1 : 0) }
            = label_tag 'subscription[subscription_option]', "iDo'Micro", class: 'form-check-label'
        .col-md-6.form_check_micro_package
          .float-right.micro-package-option
            .form-check.form-check-inline
              = check_box_tag 'subscription[is_mail_package_active]', true, (@subscription.is_mail_package_active && !@subscription.is_mail_package_to_be_disabled), class: 'form-check-input subscription-package-form-change option_checkbox micro_option', data: { original_value: ((@subscription.is_mail_package_active || @subscription.is_mail_package_to_be_disabled) ? 1 : 0) }
              = label_tag 'subscription[is_mail_package_active]', "Avec option courrier", class: 'form-check-label'
      .row
        .col-md-6
          .form-check.form-check-inline
            = radio_button_tag 'subscription[subscription_option]', 'is_mini_package_active', (@subscription.is_mini_package_active && !@subscription.is_mini_package_to_be_disabled), class: "form-check-input mini-check-radio radio-button subscription-package-form-change package_radio #{'commitment_pending' if @customer.persisted? && !@customer.try(:subscription).try(:commitment_end?)}", data: { original_value: ((@subscription.is_mini_package_active || @subscription.is_mini_package_to_be_disabled) ? 1 : 0) }
            = label_tag 'subscription[subscription_option]', "iDo'Mini", class: 'form-check-label'
        .col-md-6.form_check_mini_package
          .float-right{style: 'padding-right: 4.5em'}
            .form-check.form-check-inline
              = check_box_tag 'subscription[is_mail_package_active]', true, (@subscription.is_mail_package_active && !@subscription.is_mail_package_to_be_disabled), class: 'form-check-input subscription-package-form-change option_checkbox mini_option', data: { original_value: ((@subscription.is_mail_package_active || @subscription.is_mail_package_to_be_disabled) ? 1 : 0) }
              = label_tag 'subscription[is_mail_package_active]', "Avec option courrier", class: 'form-check-label'
            .form-check.form-check-inline
              = check_box_tag 'subscription[is_retriever_package_active]', true, (@subscription.is_retriever_package_active && !@subscription.is_retriever_package_to_be_disabled), class: 'form-check-input subscription-package-form-change option_checkbox mini_option', data: { original_value: ((@subscription.is_retriever_package_active || @subscription.is_retriever_package_to_be_disabled) ? 1 : 0), retriever_price_option: @subscription.retriever_price_option.to_s }
              = label_tag 'subscription[is_retriever_package_active]', "Avec option automate", class: 'form-check-label'
    .row
      .col-md-6
        .form-check.form-check-inline
          = radio_button_tag 'subscription[subscription_option]', 'is_basic_package_active', (!@subscription.configured? || (@subscription.is_basic_package_active && !@subscription.is_basic_package_to_be_disabled)), class: 'form-check-input basic-check-radio radio-button subscription-package-form-change package_radio', data: { original_value: ((@subscription.is_basic_package_active || @subscription.is_basic_package_to_be_disabled) ? 1 : 0) }
          = label_tag 'subscription[subscription_option]', "iDo'Classique", class: 'form-check-label'
      .col-md-6.form_check_basic_package
        .float-right{ style: 'padding-right: 4.5em' }
          .form-check.form-check-inline
            = check_box_tag 'subscription[is_mail_package_active]', true, (@subscription.is_mail_package_active && !@subscription.is_mail_package_to_be_disabled), class: 'form-check-input subscription-package-form-change option_checkbox basic_option', data: { original_value: ((@subscription.is_mail_package_active || @subscription.is_mail_package_to_be_disabled) ? 1 : 0) }
            = label_tag 'subscription[is_mail_package_active]', "Avec option courrier", class: 'form-check-label'
          .form-check.form-check-inline
            = check_box_tag 'subscription[is_retriever_package_active]', true, (@subscription.is_retriever_package_active && !@subscription.is_retriever_package_to_be_disabled), class: 'form-check-input subscription-package-form-change option_checkbox basic_option', data: { original_value: ((@subscription.is_retriever_package_active || @subscription.is_retriever_package_to_be_disabled) ? 1 : 0), retriever_price_option: @subscription.retriever_price_option.to_s }
            = label_tag 'subscription[is_retriever_package_active]', "Avec option automate", class: 'form-check-label'
    .row
      .col-md-12
        .form-check.form-check-inline
          = radio_button_tag 'subscription[subscription_option]', 'is_retriever_package_active', (@subscription.is_retriever_only? && !@subscription.is_retriever_package_to_be_disabled), class: 'form-check-input retriever-uniquess-check-radio radio-button subscription-package-form-change package_radio', data: { original_value: ((@subscription.is_retriever_only? && @subscription.is_retriever_package_to_be_disabled) ? 1 : 0), retriever_price_option: @subscription.retriever_price_option.to_s }
          = label_tag 'subscription[subscription_option]', "Automate uniquement", class: 'form-check-label'
    .row.mt-4
      .col-md-6
        .form-inline.form-check.form-check-inline
          .label-section
            = label_tag 'subscription[number_of_journals]', "Nombre de journaux", class: 'control-label required'
          .control-section
            .subscription_number_of_journals
              = number_field_tag 'subscription[number_of_journals]', @subscription.number_of_journals, class: 'form-control col-md-3 special_input subscription-package-form-change', min: 5, max: 30, style: 'font-weight:bold;margin-left: 20px', required: true, autofocus: true, pattern: '/^[0-9]+$/'

    %br
    %br
    %br
    - if current_user.is_admin
      .form-group.clearfix.radio_buttons.label-50
        .label-section
          = label_tag 'subscription[is_to_apply_now]', "Appliquer tout de suite les options à la baisse ?"
        .control-section
          %span.radio
            %label
              = radio_button_tag 'subscription[is_to_apply_now]', true
              Oui
          %span.radio
            %label
              = radio_button_tag 'subscription[is_to_apply_now]', false, true
              Non
    %hr
    .aligncenter
      %h4 Prix du forfait avec les options sélectionnées :
      %b.total_price{ style: 'font-size:20px' }
