.box.bg-light.height_groups.groups_1.clearfix.small-shadow
  %h4
    Abonnement
  %hr
  #packages_price
    %input{ id: 'subscription_packages_price', type: 'hidden', value: Subscription::Package::PRICES_LIST.to_json }
  #personalize_subscription_package_form
    - if @subscription
      - current_package = @subscription.futur_packages.present? ? @subscription.futur_packages : @subscription.current_packages
    - else
      - current_package = []

    .center{ style: "text-align: center" }
      .notify-warning.fs-origin.mb-3{ class: "#{(@subscription && @subscription.futur_packages.present? && @subscription.futur_packages != '[]') ? '' : 'hide' }" }
        Disparaîtra le mois prochain
    .row
      .col-md-6
        .form-check.form-check-inline{ class: "#{'notify-warning' if notify_warning(@subscription, 'ido_x')}", title: Subscription::Package.infos_of(:ido_x)[:tooltip], data: { toggle: 'tooltip', placement: 'right' }}
          = radio_button_tag 'subscription[subscription_option]', 'ido_x', current_package.include?('ido_x'), class: 'form-check-input ido_x radio-button', data: { package: "ido_x" }
          = label_tag 'subscription[subscription_option]', "iDo'X", class: 'form-check-label'
      .col-md-6.form_check_idox_package
        .float-right
          .form-inline
            = label_tag 'user[jefacture_account_id]', "Identifiant Jefactrure (SIREN)", class: 'col-form-label'
            &nbsp;&nbsp;&nbsp;&nbsp;
            = text_field_tag 'user[jefacture_account_id]', @customer.jefacture_account_id, class: 'form-control ido_x_option option_checkbox', disabled: !current_package.include?('ido_x')
    .row
      .col-md-6
        .form-check.form-check-inline{class: "#{'notify-warning' if notify_warning(@subscription, 'ido_nano')}", title: Subscription::Package.infos_of(:ido_nano)[:tooltip], data: { toggle: 'tooltip', placement: 'right' }}
          = radio_button_tag 'subscription[subscription_option]', 'ido_nano', current_package.include?('ido_nano'), class: "form-check-input ido_nano radio-button #{'commitment_pending' if @customer.persisted? && !@customer.try(:subscription).try(:commitment_end?)}", data: { package: "ido_nano" }
          = label_tag 'subscription[subscription_option]', "iDo'Nano", class: 'form-check-label'
      .col-md-6.form_check_nano_package
        .float-right{ style: 'padding-right: 17em' }
          .form-check.form-check-inline{ class: "#{ 'notify-warning' if notify_warning(@subscription, 'ido_nano', 'mail_option')}", title: Subscription::Package.infos_of(:mail_option)[:tooltip], data: { toggle: 'tooltip', placement: 'right' }}
            = check_box_tag 'subscription[mail_option]', true, (current_package.include?('ido_nano') && current_package.include?('mail_option')), class: "form-check-input option_checkbox ido_nano_option #{'active_option' if (current_package.include?('ido_nano') && current_package.include?('mail_option'))}", data: { package: "mail_option" }, disabled: !current_package.include?('ido_nano')
            = label_tag 'subscription[mail_option]', "Avec option courrier", class: 'form-check-label'
    .row
      .col-md-6
        .form-check.form-check-inline{class: "#{'notify-warning' if notify_warning(@subscription, 'ido_micro')}", title: Subscription::Package.infos_of(:ido_micro)[:tooltip], data: { toggle: 'tooltip', placement: 'right' }}
          = radio_button_tag 'subscription[subscription_option]', 'ido_micro', current_package.include?('ido_micro'), class: "form-check-input ido_micro radio-button #{'commitment_pending' if @customer.persisted? && !@customer.try(:subscription).try(:commitment_end?)}", data: { package: "ido_micro" }
          = label_tag 'subscription[subscription_option]', "iDo'Micro", class: 'form-check-label'
      .col-md-6.form_check_micro_package
        .float-right{ style: 'padding-right: 17em' }
          .form-check.form-check-inline{ class: "#{ 'notify-warning' if notify_warning(@subscription, 'ido_micro', 'mail_option')}", title: Subscription::Package.infos_of(:mail_option)[:tooltip], data: { toggle: 'tooltip', placement: 'right' }}
            = check_box_tag 'subscription[mail_option]', true, (current_package.include?('ido_micro') && current_package.include?('mail_option')), class: "form-check-input option_checkbox ido_micro_option #{'active_option' if (current_package.include?('ido_micro') && current_package.include?('mail_option'))}", data: { package: "mail_option" }, disabled: !current_package.include?('ido_micro')
            = label_tag 'subscription[mail_option]', "Avec option courrier", class: 'form-check-label'
    - if @user.is_admin || @organization.code.in?(['GAP'])
      .row
        .col-md-6
          .form-check.form-check-inline{ class: "#{'notify-warning' if notify_warning(@subscription, 'ido_mini')}", title: Subscription::Package.infos_of(:ido_mini)[:tooltip], data: { toggle: 'tooltip', placement: 'right' }}
            = radio_button_tag 'subscription[subscription_option]', 'ido_mini',current_package.include?('ido_mini'), class: "form-check-input ido_mini radio-button #{'commitment_pending' if @customer.persisted? && !@customer.try(:subscription).try(:commitment_end?)}", data: { package: "ido_mini" }
            = label_tag 'subscription[subscription_option]', "iDo'Mini", class: 'form-check-label'
        .col-md-6.form_check_mini_package
          .float-right{style: 'padding-right: 4.5em'}
            .form-check.form-check-inline{class: "#{ 'notify-warning' if notify_warning(@subscription, 'ido_mini', 'mail_option')}", title: Subscription::Package.infos_of(:mail_option)[:tooltip], data: { toggle: 'tooltip', placement: 'right' }}
              = check_box_tag 'subscription[mail_option]', true, (current_package.include?('ido_mini') && current_package.include?('mail_option')), class: "form-check-input option_checkbox ido_mini_option #{'active_option' if (current_package.include?('ido_mini') && current_package.include?('mail_option'))}", data: { package: "mail_option" }, disabled: !current_package.include?('ido_mini')
              = label_tag 'subscription[mail_option]', "Avec option courrier", class: 'form-check-label'
            .form-check.form-check-inline{ class: "#{ 'notify-warning' if notify_warning(@subscription, 'ido_mini', 'retriever_option')}", title: Subscription::Package.infos_of(:retriever_option)[:tooltip], data: { toggle: 'tooltip', placement: 'right' }}
              = check_box_tag 'subscription[retriever_option]', true, (current_package.include?('ido_mini') && current_package.include?('retriever_option')), class: "form-check-input option_checkbox ido_mini_option #{'active_option' if (current_package.include?('ido_mini') && current_package.include?('retriever_option'))}", data: { retriever_price_option: @subscription.try(:retriever_price_option).to_s.presence || 'retriever' }, disabled: !current_package.include?('ido_mini')
              = label_tag 'subscription[retriever_option]', "Avec option automate", class: 'form-check-label'
    .row
      .col-md-6
        .form-check.form-check-inline{ class: "#{'notify-warning' if notify_warning(@subscription, 'ido_classique')}", title: Subscription::Package.infos_of(:ido_classique)[:tooltip], data: { toggle: 'tooltip', placement: 'right' }}
          = radio_button_tag 'subscription[subscription_option]', 'ido_classique', ((@subscription && current_package.include?('ido_classique')) || !@subscription), class: 'form-check-input ido_classique radio-button', data: { package: "ido_classique" }
          = label_tag 'subscription[subscription_option]', "iDo'Classique", class: 'form-check-label'
      .col-md-6.form_check_basic_package
        .float-right{ style: 'padding-right: 4.5em' }
          .form-check.form-check-inline{class: "#{'notify-warning' if notify_warning(@subscription, 'ido_classique', 'mail_option')}", title: Subscription::Package.infos_of(:mail_option)[:tooltip], data: { toggle: 'tooltip', placement: 'right' }}
            = check_box_tag 'subscription[mail_option]', true, (current_package.include?('ido_classique') && current_package.include?('mail_option')), class: "form-check-input option_checkbox ido_classique_option #{'active_option' if (current_package.include?('ido_classique') && current_package.include?('mail_option'))}", data: { package: "mail_option" }, disabled: (!current_package.include?('ido_classique') && @subscription)
            = label_tag 'subscription[mail_option]', "Avec option courrier", class: 'form-check-label'
          .form-check.form-check-inline{class: "#{'notify-warning' if notify_warning(@subscription, 'ido_classique', 'retriever_option')}", title: Subscription::Package.infos_of(:retriever_option)[:tooltip], data: { toggle: 'tooltip', placement: 'right' }}
            = check_box_tag 'subscription[retriever_option]', true, (current_package.include?('ido_classique') && current_package.include?('retriever_option')), class: "form-check-input option_checkbox ido_classique_option #{'active_option' if (current_package.include?('ido_classique') && current_package.include?('retriever_option'))}", data: { retriever_price_option: @subscription.try(:retriever_price_option).to_s.presence || 'retriever' }, disabled: (!current_package.include?('ido_classique') && @subscription)
            = label_tag 'subscription[retriever_option]', "Avec option automate", class: 'form-check-label'
    .row
      .col-md-12
        .form-check.form-check-inline{ class: "#{'notify-warning' if notify_warning(@subscription, 'retriever_option')}", title: Subscription::Package.infos_of(:retriever_option)[:tooltip], data: { toggle: 'tooltip', placement: 'right' }}
          = radio_button_tag 'subscription[subscription_option]', 'retriever_option', (current_package.include?('retriever_option') && !current_package.include?('ido_classique') && !current_package.include?('ido_mini') && !current_package.include?('ido_micro') && !current_package.include?('ido_x')), class: 'form-check-input retriever-uniquess-check-radio radio-button', data: { retriever_price_option: @subscription.try(:retriever_price_option).to_s.presence || 'retriever' }
          = label_tag 'subscription[subscription_option]', "Automate uniquement", class: 'form-check-label'
    .row.mt-4.number_of_journals
      .col-md-6
        .form-inline.form-check.form-check-inline
          .label-section
            = label_tag 'subscription[number_of_journals]', "Nombre de journaux", class: 'control-label required'
          .control-section
            .subscription_number_of_journals
              = number_field_tag 'subscription[number_of_journals]', @subscription.try(:number_of_journals).presence || 5, class: 'form-control col-md-3 special_input ', min: 5, max: 30, style: 'font-weight:bold;margin-left: 20px', required: true, autofocus: true, pattern: '/^[0-9]+$/'
              &nbsp;
              %span{id: 'err-msg-input-number'}
              - if @customer.account_book_types.count > 5
                %div{ style: "clear:both;" }
                  %i Supprimez un journal comptable avant de baisser cette option.

    %br
    .form-group.clearfix.radio_buttons.label-50.pre_assignment{ class: "#{'notify-warning' if notify_warning(@subscription, @subscription.try(:current_package?).to_s, 'pre_assignment_option')} #{'hide' if ((@subscription && !@subscription.is_package?('ido_mini') && !@subscription.is_package?('ido_classique')) || ( @subscription && @subscription.try(:futur_packages).present? && !(@subscription.futur_packages.include?('ido_mini') || @subscription.futur_packages.include?('ido_classique'))))}", style: "#{'padding-top: 1.5%' if notify_warning(@subscription, @subscription.try(:current_package?).to_s, 'pre_assignment_option')}" }
      .label-section{style: 'width: 256px;'}
        = label_tag 'subscription[is_pre_assignment_active]', "Souhaitez-vous la pré-saisie comptable ?", class: 'subscription_is_pre_assignment_active_label'        
      .control-section
        %span.radio.pre-assignment-state{title: 'Pré-saisie comptable activée', data: { toggle: 'tooltip', placement: 'bottom' }}
          %label{ for: 'subscription_is_pre_assignment_active_true' }
            = radio_button_tag 'subscription[is_pre_assignment_active]', true, (!@subscription || current_package.include?('pre_assignment_option')), class: 'is_pre_assignment_active_true is_pre_assignment_active radio-button'
            Oui
        %span.radio.pre-assignment-state{title: 'Pré-saisie comptable désactivée', data: { toggle: 'tooltip', placement: 'bottom' }}
          %label{ for: 'subscription_is_pre_assignment_active_false' }
            = radio_button_tag 'subscription[is_pre_assignment_active]', false, (@subscription && !current_package.include?('pre_assignment_option')), class: 'is_pre_assignment_active_false is_pre_assignment_active radio-button'
            Non
    %br
    - if @user.is_admin
      .form-group.clearfix.radio_buttons.label-50
        .label-section
          = label_tag 'subscription[is_to_apply_now]', "Appliquer tout de suite les options à la baisse ?"
        .control-section
          %span.radio
            %label
              = radio_button_tag 'subscription[is_to_apply_now]', true
              Oui
          %span.radio
            %label
              = radio_button_tag 'subscription[is_to_apply_now]', false, true
              Non
    %hr
    .aligncenter
      %h4 Prix du forfait avec les options sélectionnées :
      %b.total_price{ style: 'font-size:20px' }
