.col-md-6
  .box
    %table.table.table-striped.table-bordered-inner.table-condensed#table_vatp_account
      %thead
        %tr.bg-brown.text-white
          %th Nom du tiers
          %th Compte de tiers
          %th Compte de contrepartie
          %th Code TVA
      %tbody
      - providers.each do |provider|
        %tr.provider
          %td.id.hide
            = text_field_tag 'edit_account_id', provider.id, { placeholder: '', class: 'entry_id hide' }
          %td
            %div.vat_code= provider.third_party_name
            = text_field_tag 'edit_account_third_party_name', provider.third_party_name, { placeholder: '', class: 'input_edition tp_name hide' }
          %td
            %div.vat_code= provider.third_party_account
            = text_field_tag 'edit_account_third_party_account', provider.third_party_account, { placeholder: '', class: 'input_edition tp_account hide' }
          %td
            %div.vat_code= provider.conterpart_account
            = text_field_tag 'edit_account_conterpart', provider.conterpart_account, { placeholder: '', class: 'input_edition conterpart hide' }
          %td
            %div.vat_code= provider.code
            = text_field_tag 'edit_account_vat_code', provider.code, { placeholder: '', class: 'input_edition vat_code hide' }

    .box_footer.text-right
      %button.btn.btn-info.small-shadow.text-bold#add_vatp_account
        %span.mrc-5
          = glyphicon('plus')
        %span
          Ajouter un compte

.col-md-6
  .box
    %table.table.table-striped.table-bordered-inner.table-condensed#table_vatc_account
      %thead
        %tr.bg-brown.text-white
          %th Nom du tiers
          %th Compte de tiers
          %th Compte de contrepartie
          %th Code TVA
      %tbody
      - customers.each do |customer|
        %tr.customer
          %td.id.hide
            = text_field_tag 'edit_account_id', customer.id, { placeholder: '', class: 'entry_id hide' }
          %td
            %div.vat_code= customer.third_party_name
            = text_field_tag 'edit_account_third_party_name', customer.third_party_name, { placeholder: '', class: 'input_edition tp_name hide' }
          %td
            %div.vat_code= customer.third_party_account
            = text_field_tag 'edit_account_third_party_account', customer.third_party_account, { placeholder: '', class: 'input_edition tp_account hide' }
          %td
            %div.vat_code= customer.conterpart_account
            = text_field_tag 'edit_account_conterpart', customer.conterpart_account, { placeholder: '', class: 'input_edition conterpart hide' }
          %td
            %div.vat_code= customer.code
            = text_field_tag 'edit_account_vat_code', customer.code, { placeholder: '', class: 'input_edition vat_code hide' }

    .box_footer.text-right
      %button.btn.btn-info.small-shadow.text-bold#add_vatc_account
        %span.mrc-5
          = glyphicon('plus')
        %span
          Ajouter un compte