#customer.account_close_confirm
  .row.derivationRight
    .col-md-12
      .box
        %h3= link_to @customer.info, account_organization_customer_path(@organization, @customer), class: 'fs-origin'

  .row.derivationLeft
    .col-md-12
      .box
        .warning.margin1top.margin2bottom
          Cette action est irréversible, voulez-vous réellement clôturer le dossier "#{@customer.info}" ?
        = form_tag close_account_account_organization_customer_path(@organization, @customer), method: 'patch', class: 'form-horizontal'  do
          - label = 'Clôturer le dossier'
          - if params[:close_now] == '1'
            = hidden_field_tag 'close_now', 1
            - label += ' maintenant !'
          = submit_tag label, class: 'btn btn-danger', data: { confirm: t('actions.confirm') }
          = link_to t('actions.cancel'), account_organization_customer_path(@organization, @customer), class: 'btn btn-light'
