#customer.edit.my_unisoft.derivationRight
  %input{ type: :hidden, id: "organization_id", value: "#{@organization.id}"}
  %input{ type: :hidden, id: "customer_id", value: "#{@customer.id}"}
  .card
    .card-header
      %h3
        Configuration My Unisoft pour le dossier : 
        %span.text-info.fs-origin= @customer

    = simple_form_for @customer, url: update_my_unisoft_account_organization_customer_path(@organization, @customer), html: { class:  'form-horizontal label-medium' } do |f|
      .card-body
        .row
          .col-md-12
            .card.accept_my_unisoft{ class: ('hide' unless @customer.try(:my_unisoft).try(:used?)) }
              .card-header
                %h4 Liaison avec My Unisoft
              .card-body
                = f.simple_fields_for :my_unisoft do |m|
                  = m.input :encrypted_api_token, required: false,  label: 'Veuillez entrer votre Clé API :', input_html: {  :value => "#{@customer.try(:my_unisoft).try(:encrypted_api_token)}", :style =>"width: 655px" }
                  = m.input :auto_deliver, as: :radio_buttons, collection: auto_deliver_options, label: 'Souhaitez-vous livrer automatiquement les écritures ? '
                  %input#auto_deliver_customer{ type: :hidden, name: "auto_deliver_customer", value: "#{@customer.try(:my_unisoft).try(:auto_deliver?)}"}
                  %input#check_api_token{ type: :hidden, name: "check_api_token", value: "#{@customer.try(:my_unisoft).try(:encrypted_api_token).present?}"}

      .card-footer
        .form-actions.margin0bottom
          = f.submit t('actions.submit'), class: 'btn btn-primary'
          = link_to t('actions.cancel'), account_organization_customer_path(@organization, @customer, tab: 'my_unisoft'), class: 'btn btn-light'
          .float-right.loading.hide
            %img{ src: "/assets/application/bar_loading.gif", alt: "chargement..."}
