#customer.edit.softwares
  - if @customer.configured?
    .row
      .col-md-12.box
        %h3 Edition des options #{@software} du client : #{link_to @customer, account_organization_customer_path(@organization, @customer, tab: @software)}
  - else
    = render 'account/customers/steps'
    .row
      .col-md-12.box
        %h3 Configuration #{@software} pour le dossier : #{@customer}

  .row
    .col-md-12.box
      = simple_form_for @customer, url: update_software_account_organization_customer_path(@organization, @customer), html: { class: 'form-horizontal' } do |c|
        = hidden_field_tag :software, @software
        = c.simple_fields_for :softwares do |f|
          -if @software == 'coala'
            = f.input :is_coala_auto_deliver, collection: auto_deliver_options, include_blank: false

          -if @software == 'quadratus'
            = f.input :is_quadratus_auto_deliver, collection: auto_deliver_options, include_blank: false

          -if @software == 'cegid'
            = f.input :is_cegid_auto_deliver, collection: auto_deliver_options, include_blank: false

          -if @software == 'csv_descriptor'
            = f.input :is_csv_descriptor_auto_deliver, collection: auto_deliver_options, include_blank: false

        .form-actions.margin0bottom
          - if @customer.configured?
            = c.submit t('actions.submit'), class: 'btn btn-primary'
            = link_to t('actions.cancel'), account_organization_customer_path(@organization, @customer, tab: @software), class: 'btn btn-light'
          - else
            = link_to t('actions.previous_step'), previous_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-light'
            = link_to t('actions.complete_later'), complete_later_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-light'
            = c.submit t('actions.next_step'), class: 'btn btn-primary'
