#customer.edit.exact_online.derivationRight
  - unless @customer.configured?
    .box
      = render 'account/customers/steps'
  .card
    .card-header
      - if @customer.configured?
        %h3 
          Edition des options Exact Online du client : 
          = link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'exact_online'), class: 'fs-origin'
      - else
        %h3
          Configuration Exact Online pour le dossier : 
          %span.text-info.fs-origin= @customer

    = simple_form_for @customer, url: update_exact_online_account_organization_customer_path(@organization, @customer), html: { class:  'form-horizontal label-medium' } do |f|
      .card-body
        .box.bg-light
          .row
            .col-md-7
              %h4 Clé API Exact Online
              %hr
              = f.simple_fields_for :exact_online do |e|
                = e.hidden_field :id
                = e.input :client_id
                = e.input :client_secret
                = e.input :auto_deliver, collection: auto_deliver_options, as: :radio_buttons
            .col-md-5
              Vous devez fournir votre identifiant api depuis votre compte "Exact Online" pour établir la liaison iDocus/Exact Online
              %br
              La création de votre clé api est disponible
              = link_to 'ici', 'https://apps.exactonline.com/fr/fr-FR/V2', target: '_blank'
              %br
              %br
              %span.badge.badge-warning.fs-origin
                Attention :
              &nbsp;&nbsp;L'URL de redirection de la clé api créée dans Exact Online doit être obligatoirement :
              %br
              %span.badge.badge-secondary.fs-origin
                = subscribe_account_exact_online_url
      .card-footer
        .form-actions.margin0bottom
          - if @customer.configured?
            = f.submit t('actions.submit'), class: 'btn btn-primary'
            = link_to t('actions.cancel'), account_organization_customer_path(@organization, @customer, tab: 'exact_online'), class: 'btn btn-light'
          - else
            = link_to t('actions.previous_step'), previous_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-secondary'
            = link_to t('actions.complete_later'), complete_later_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-light'
            = f.submit t('actions.next_step'), class: 'btn btn-primary', disabled: true
