#customer.edit_softwares_selection.derivationRight
  - unless @customer.configured?
    .box
      = render 'steps'

  .card
    .card-header
      %h3
        Séléction de logiciels comptables pour le dossier : 
        %span.text-info.fs-origin= @customer
    = simple_form_for @customer, url: update_softwares_selection_account_organization_customer_path(@organization, @customer), html: { class: 'form-horizontal' } do |c|
      .card-body
        = c.simple_fields_for :softwares do |f|
          .row
            .col-md-6
              %table.table.table-condensed.table-striped
                -if @organization.ibiza.try(:used?)
                  %tr
                    %td Ce dossier utilise Ibiza ?
                    %td= f.check_box :is_ibiza_used, class: 'softwares_setting', style: "position:unset"
                -if @organization.is_exact_online_used
                  %tr
                    %td Ce dossier utilise Exact Online ?
                    %td= f.check_box :is_exact_online_used, class: 'softwares_setting', style: "position:unset"
                -if @organization.is_coala_used
                  %tr
                    %td Ce dossier utilise Coala ?
                    %td= f.check_box :is_coala_used, style: "position:unset"
                -if @organization.is_quadratus_used
                  %tr
                    %td Ce dossier utilise Quadratus ?
                    %td= f.check_box :is_quadratus_used, style: "position:unset"
                -if @organization.is_cegid_used
                  %tr
                    %td Ce dossier utilise Cegid ?
                    %td= f.check_box :is_cegid_used, style: "position:unset"
                - if @organization.is_fec_agiris_used
                  %tr
                    %td Ce dossier utilise Fec Agiris ?
                    %td= f.check_box :is_fec_agiris_used, style: "position:unset"
                -if @organization.is_csv_descriptor_used
                  %tr
                    %td Ce dossier utilise un format d'export .csv ? (personnalisable)
                    %td= f.check_box :is_csv_descriptor_used, style: "position:unset"
          .card-footer
            .form-actions.margin0bottom
              = link_to t('actions.previous_step'), previous_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-secondary'
              = link_to t('actions.complete_later'), complete_later_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-light'
              = f.submit t('actions.next_step'), class: 'btn btn-primary'
= javascript_include_tag 'account/customers'