#customer.edit.softwares.derivationRight
  - unless @customer.configured?
    .box
      = render 'account/customers/steps'
  .card
    .card-header
      - if @customer.configured?
        %h3
          Edition des options #{@software} du client : 
          = link_to @customer, account_organization_customer_path(@organization, @customer, tab: @software), class: 'fs-origin'
      - else
        %h3
          Configuration #{@software} pour le dossier : 
          %span.text-info.fs-origin= @customer

    = simple_form_for @customer, url: update_software_account_organization_customer_path(@organization, @customer), html: { class: 'form-horizontal label-medium' } do |c|
      - softwares = ['coala', 'quadratus', 'cegid', 'fec_agiris', 'csv_descriptor']
      .card-body
        - softwares.each do |software|
          = hidden_field_tag :software, @software
          = c.simple_fields_for software.to_sym do |f|
            -if software.to_s == 'coala' && @software == 'coala'
              = hidden_field_tag :part, 'coala'
              = f.input :auto_deliver, collection: auto_deliver_options, as: :radio_buttons

            -if software.to_s == 'quadratus' && @software == 'quadratus'
              = hidden_field_tag :part, 'quadratus'
              = f.input :auto_deliver, collection: auto_deliver_options, as: :radio_buttons

            -if software.to_s == 'cegid' && @software == 'cegid'
              = hidden_field_tag :part, 'cegid'
              = f.input :auto_deliver, collection: auto_deliver_options, as: :radio_buttons

            -if software.to_s == 'fec_agiris' && @software == 'fec_agiris'
              = hidden_field_tag :part, 'fec_agiris'
              = f.input :auto_deliver, collection: auto_deliver_options, include_blank: false

            -if software.to_s == 'csv_descriptor' && @software == 'csv_descriptor'
              = hidden_field_tag :part, 'csv_descriptor'
              = f.input :auto_deliver, collection: auto_deliver_options, as: :radio_buttons
      .card-footer      
        .form-actions
          - if @customer.configured?
            = c.submit t('actions.submit'), class: 'btn btn-primary'
            = link_to t('actions.cancel'), account_organization_customer_path(@organization, @customer, tab: @software), class: 'btn btn-light'
          - else
            = link_to t('actions.previous_step'), previous_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-secondary'
            = link_to t('actions.complete_later'), complete_later_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-light'
            = c.submit t('actions.next_step'), class: 'btn btn-primary'
