#customer.edit.ibiza.derivationRight
  - unless @customer.configured?
    .box
      = render 'account/customers/steps'
  .card
    .card-header
      - if @customer.configured?
        %h3
          Edition des options iBiza du client : 
          = link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'ibiza'), class: 'fs-origin'
      - else
        %h3
          Configuration d'iBiza pour le dossier : 
          = @customer

    = simple_form_for @customer, url: update_ibiza_account_organization_customer_path(@organization, @customer), html: { class: 'form-horizontal label-medium' } do |f|
      .card-body
        = f.simple_fields_for :ibiza do |sf|
          = sf.hidden_field :id
          = sf.input :ibiza_id, label: 'Sélectionner le dossier correspondant dans iBiza', collection: [], input_html: { style: 'display:none', data: { original_value: @customer.try(:ibiza).try(:ibiza_id), users_list_url: account_organization_ibiza_users_path(@organization, format: 'json'), placeholder: 'Choisir un dossier' } }
          = sf.input :auto_deliver, collection: auto_deliver_options, as: :radio_buttons
          = sf.input :is_analysis_activated, collection: activate_compta_analytic_options, as: :radio_buttons
          = sf.input :is_analysis_to_validate, collection: activate_compta_analytic_options, as: :radio_buttons, hint: "Cette option suspend l'envoi en pré-affectation des pièces, en passant par une validation manuelle des analyses comptables, Les pièces téléversées via le site ou mobile ne sont pas concernées"
      .card-footer  
        .form-actions.margin0bottom
          - if @customer.configured?
            = f.submit t('actions.submit'), class: 'btn btn-primary', disabled: true
            = link_to t('actions.cancel'), account_organization_customer_path(@organization, @customer, tab: 'ibiza'), class: 'btn btn-light'
          - else
            = link_to t('actions.previous_step'), previous_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-secondary'
            = link_to t('actions.complete_later'), complete_later_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-light'
            = f.submit t('actions.next_step'), class: 'btn btn-primary', disabled: true
