#customer.edit_period_options.derivationRight
  - unless @customer.configured?
    .box
      = render 'steps'
  .card
    .card-header
      - if @customer.configured?
        %h3 
          Edition des options des périodes du client : 
          = link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'period_options'), class: 'fs-origin'
      - else
        %h3
          Paramètres de téléversement des pièces pour le dossier : 
          %span.badge.badge-info= @customer
    = simple_form_for @customer, url: update_period_options_account_organization_customer_path(@organization, @customer), html: { class: 'form-horizontal label-large' } do |f|
      .card-body
        = f.input :authd_prev_period,            as: :integer, input_html: { min: 0 }
        = f.input :auth_prev_period_until_day,   as: :integer, input_html: { min: 0, max: 28 }, hint: '0 à 28'
        - if @user.is_admin
          = f.input :auth_prev_period_until_month, as: :integer, input_html: { min: 0, max: 2 }, hint: '0 = actuel, 1 = le mois suivant, 2 = dans 2 mois'
      .card-footer
        .form-actions
          - if @customer.configured?
            = f.submit t('actions.submit'), class: 'btn btn-primary'
            = link_to t('actions.cancel'), account_organization_customer_path(@organization, @customer, tab: 'period_options'), class: 'btn btn-light'
          - else
            = link_to t('actions.previous_step'), previous_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-secondary'
            = link_to t('actions.complete_later'), complete_later_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-light'
            = f.submit t('actions.next_step'), class: 'btn btn-primary'
