#create_customer.derivationRight
  .card
    .card-header
      %h3
        %center Etape 1 - Création du dossier
    = form_tag customer_form_url(@organization, @customer), method: :post, class: 'simple_form form form-horizontal margin0' do
      .card-body{ style: 'font-size:12px' }
        .row
          .col-md-6
            .box.bg-light.height_groups.groups_1.clearfix.small-shadow
              %h4 Identification du client
              %hr
              .form-group.clearfix
                .label-section
                  = label_tag 'user[company]', "Nom de la société", class: 'required'
                .control-section
                  = text_field_tag 'user[company]', nil, class: 'form-control', :required => true
              .form-group.clearfix
                .label-section
                  = label_tag 'user[code]', "Code du dossier", class: 'required'
                .control-section
                  = text_field_tag 'user[code]', @organization.code.to_s + '%', class: 'form-control', :required => true
                  %i.help-block
                    Doit impérativement commencer par :
                    =@organization.code.to_s + '%'
                    , 15 caractères alphanumériques maximum, code cabinet inclus.
              .form-group.clearfix
                .label-section
                  = label_tag 'user[first_name]', "Prénom"
                .control-section
                  = text_field_tag 'user[first_name]', nil, class: 'form-control'
              .form-group.clearfix
                .label-section
                  = label_tag 'user[last_name]', "Nom"
                .control-section
                  = text_field_tag 'user[last_name]', nil, class: 'form-control'
              .form-group.clearfix
                .label-section
                  = label_tag 'user[phone_number]', "Numéro du téléphone"
                .control-section
                  = text_field_tag 'user[phone_number]', nil, class: 'form-control'
              .form-group.clearfix
                .label-section
                  = label_tag 'user[email]', "Courriel", class: 'required'
                .control-section
                  = text_field_tag 'user[email]', nil, class: 'form-control', :required => true
                  %i.help-block Le courriel sert d’identifiant à iDocus et de contact principal en cas de besoin de la part d’iDocus
          .col-md-6
            .box.bg-light.height_groups.groups_1.clearfix.small-shadow
              %h4 Paramètre de base
              %hr
              - unless @organization.specific_mission
                .form-group.clearfix.radio_buttons
                  .label-section
                    = label_tag 'user[is_pre_assignement_displayed]', t('activerecord.models.user.attributes.is_pre_assignement_displayed'), class: 'control-label required'
                  .control-section
                    %span.radio
                      %label
                        = radio_button_tag 'user[is_pre_assignement_displayed]', true, false
                        Oui
                    %span.radio
                      %label
                        = radio_button_tag 'user[is_pre_assignement_displayed]', false, true
                        Non
                .form-group.clearfix.radio_buttons
                  .label-section
                    = label_tag 'user[act_as_a_collaborator_into_pre_assignment]', t('activerecord.models.user.attributes.act_as_a_collaborator_into_pre_assignment'), class: 'control-label required'
                  .control-section
                    %span.radio
                      %label
                        = radio_button_tag 'user[act_as_a_collaborator_into_pre_assignment]', true, false
                        Oui
                    %span.radio
                      %label
                        = radio_button_tag 'user[act_as_a_collaborator_into_pre_assignment]', false, true
                        Non
              .form-group.clearfix.check_boxes
                .label-section
                  = label_tag 'user[group_ids][]', "A quel groupe, le dossier doit-il être attribué ?", class: 'control-label required'
                .control-section
                  - @user.groups.order(name: :asc).each do |group_id|
                    %span.checkbox
                      %label
                        = check_box_tag 'user[group_ids][]', group_id.id, false, class: 'form-control select optional'
                        = group_id.name
              .form-group.clearfix
                .label-section
                  = label_tag 'user[manager_id]', "Quel est le collaborateur en charge du dossier?", class: 'control-label required'
                .control-section
                  = select_tag 'user[manager_id]', options_for_select(managers_options_for_select), class: 'form-control select optional', include_blank: false
                  %i.help-block IMPORTANT! Indiquer le collaborateur en charge du dossier permettra à iDocus de le contacter en cas de soucis. Autrement tous les mails seront adressés à l’administrateur de l’organisation.
              - unless @organization.specific_mission
                .form-group.clearfix.radio_buttons
                  .label-section
                    = label_tag 'user[options_attributes][is_taxable]', "Le dossier est-il assujetti à TVA?"
                  .control-section
                    %span.radio
                      %label
                        = radio_button_tag 'user[options_attributes][is_taxable]', true, true
                        Oui
                    %span.radio
                      %label
                        = radio_button_tag 'user[options_attributes][is_taxable]', false, false
                        Non
                      %i.help-block Non (aucune TVA ne sera reportée en pré-saisie).

        %br
        .row
          - unless @organization.specific_mission
            .col-md-6
              = render 'subscription_options'

            .col-md-6
              .box.bg-light.height_groups.groups_1.clearfix.small-shadow
                %h4 Séléction de logiciels comptables pour le dossier
                %hr
                .row
                  .col-md-12
                    %table.table.table-condensed.table-striped
                      - if @organization.try(:ibiza).try(:used?)
                        %tr
                          %td
                            Ce dossier utilise Ibiza ?
                            .softwares-section
                              .form-group.clearfix.form-inline{ style: 'margin: 0' }
                                .label-section
                                  = label_tag 'user[ibiza_attributes][ibiza_id]', "Sélectionner le dossier correspondant dans iBiza", class: 'control-label'
                                .controls-section
                                  = select_tag 'user[ibiza_attributes][ibiza_id]', nil, class: 'form-control select optional ibiza-customers-list', placeholder: 'Choisir un dossier', data: { original_value: nil, users_list_url: account_organization_ibiza_users_path(@organization, format: 'json') }
                          %td= check_box_tag 'user[ibiza_attributes][is_used]', true, false, class: 'softwares_setting ibiza-customer-select', style: "position:unset"
                      - if @organization.try(:exact_online).try(:used?)
                        %tr
                          %td Ce dossier utilise Exact Online ?
                          %td= check_box_tag 'user[exact_online_attributes][is_used]', true, false, class: 'softwares_setting', style: "position:unset"
                      - if @organization.try(:my_unisoft).try(:used?)
                        %tr
                          %td Ce dossier utilise My Unisoft ?
                          %td= check_box_tag 'user[my_unisoft_attributes][is_used]', true, false, class: 'softwares_setting', style: "position:unset"
                      - if @organization.try(:coala).try(:used?)
                        %tr
                          %td Ce dossier utilise Coala ?
                          %td= check_box_tag 'user[coala_attributes][is_used]', true, false, style: "position:unset"
                      - if @organization.try(:quadratus).try(:used?)
                        %tr
                          %td Ce dossier utilise Quadratus ?
                          %td= check_box_tag 'user[quadratus_attributes][is_used]', true, false, style: "position:unset"
                      - if @organization.try(:cegid).try(:used?)
                        %tr
                          %td Ce dossier utilise Cegid ?
                          %td= check_box_tag 'user[cegid_attributes][is_used]', true, false, style: "position:unset"
                      - if @organization.try(:fec_agiris).try(:used?)
                        %tr
                          %td Ce dossier utilise Fec Agiris ?
                          %td= check_box_tag 'user[fec_agiris_attributes][is_used]', true, false, style: "position:unset"
                      - if @organization.try(:csv_descriptor).try(:used?)
                        %tr
                          %td Ce dossier utilise un format d'export .csv ? (personnalisable)
                          %td= check_box_tag 'user[csv_descriptor_attributes][is_used]', true, false, style: "position:unset"
      .card-footer
        .form-actions
          .for_submit
            .submit
              %center
                - if @organization.specific_mission
                  = submit_tag 'Créer', class: 'btn btn-primary small-shadow text-bold'
                - else
                  = submit_tag 'Créer et paramètrer la comptabilité', class: 'btn btn-primary small-shadow text-bold'
                  %span.text-bold= glyphicon('chevron-right', { color: '#007bff' })