#customers
  .row-fluid
    .span12.box
      .pull-left
        %h3 Liste des clients
      .pull-right
        = link_to t('actions.new'), new_account_organization_customer_path, class: 'btn btn-primary'
  .row-fluid
    .span9.box
      = render partial: 'list_options'
      .row-fluid
        .span12
          %table.table.table-bordered.table-condensed.table-striped.margin1top.margin0bottom
            %thead
              %tr
                %th
                %th.date= sortable :created_at, t('mongoid.models.common.attributes.created_at')
                %th= sortable :code, t('mongoid.models.user.attributes.formatted_identifier')
                %th
            %tbody
              - @members.each do |member|
                %tr
                  %td.active_state
                    - if member.is_inactive
                      = icon(icon: 'remove')
                    - elsif !is_editable?(member, @organization, @groups)
                      = icon(icon: 'lock')
                  %td.date= member.created_at.strftime('%d/%m/%Y %H:%M')
                  %td.user_info
                    %span.info
                      = link_to member.info, account_organization_customer_path(member)
                    - unless params[:with_details] == "false"
                      %ul.subscription_info
                        - period = @periods.select { |e| e.user == member }.first
                        - if period
                          - period.product_option_orders.each do |option|
                            %li
                              = option.group_title
                              \:
                              = option.title
                  %td.update_request_state
                    - if !member.is_inactive && member.request_type && member.request_type.is_a?(Integer)
                      - if member.request_type == User::ADDING
                        = icon(icon: 'plus', title: 'Ajouté')
                      - elsif member.request_type == User::UPDATING
                        = icon(icon: 'pencil', title: 'Modifié')
                      - elsif member.request_type == User::REMOVING
                        = icon(icon: 'minus', title: 'Supprimé')
      = render partial: 'list_options'
    .span3.box
      = render partial: 'sidebar'