.card.derivationRight
  .card-header
    %h3
      %center Etape 2 - Paramètrage comptable

  .card-body
    %input#organization_id{ type: :hidden, value: "#{@organization.id}"}
    %input#customer_id{ type: :hidden, value: "#{@customer.id}"}
      #book_type
        = render partial: '/account/customers/book_type'
    %br
    - if !@customer.uses_api_softwares?
      - if @customer.options.is_taxable
        #vat_account
          = render partial: '/account/customers/vat_account'
      %br
      #accounting_plan
        = render partial: '/account/customers/accounting_plan'
      
  .card-footer.text-center
    = link_to "Terminer", account_organization_customer_path(@organization, @customer), class: 'btn btn-success small-shadow text-bold'

.modal.fade{ :id=>"for_step_two" }
  .modal-dialog
    .modal-content
      .modal-header.clearfix
        %h3{style: "display: inline-block; float: left"}
          Ajouter
        %button.close{ data: { dismiss: "modal", aria: { label: "close" }}}
          %span{ aria: { hidden: "true" } } &times;
      .modal-dialog_box
      .modal-body
      .modal-footer
        #informations.mrc-5
        %button.small-shadow.text-bold#valider{ :class=>"btn btn-primary" } Valider

.alert_content_image.hide
  %img{ src: "/assets/application/bar_loading.gif", alt: "chargement..."}

.alert_danger_content.margin0.text-bold.alert.alert-danger.hide

.alert_warning_content.margin0.text-bold.alert.alert-warning.hide

.alert_success_content.margin0.text-bold.alert.alert-success.hide

.alert_info_content.margin0.text-bold.alert.alert-info.hide