#customer.edit.mcf
  .row-fluid
    .span12.box
      %h3 Listes des erreurs de récupération de documents depuis le storage MCF : #{link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'mcf')}

  .rwo-fluid
    .span12.box
      .span12
        .pull-right
          = paginate @mcf_documents_error
      #mcf_errors
        - if @mcf_documents_error.empty?
          .span12 Aucune erreur de récupération de document détéctée.
        - else
          %table.table.table-striped.table-condensed.margin0bottom
            %tr
              %th 
              %th= sortable :created_at, "Date"
              %th= sortable :original_file_name, "Nom du fichier"
              %th Journal
              %th Message erreur
            - @mcf_documents_error.each_with_index do |mcf_document, index|
              %tr
                %td= index + 1
                %td= mcf_document.created_at.strftime('%d/%m/%Y %H:%M')
                %td= mcf_document.original_file_name
                %td= mcf_document.journal
                %td= mcf_document.error_message
      .span12{style: "margin-left:0!important"}
        .pull-right
          = paginate @mcf_documents_error
