#emailed_documents
  .row.derivationRight
    .col-md-12
      .box
        %h3
          Adresse email d'envoi de documents : 
          = link_to @customer, account_organization_customer_path(@organization, @customer), class: 'fs-origin'

  .row.derivationLeft
    - period_service = Billing::Period.new user: @customer, current_time: Time.now.beginning_of_month
    .col-md-12
      .box
        .row
          .col-md-6
            Vous pouvez envoyer vos pièces comptables par mail.
            %br
            La plateforme iDocus intégrera les pièces jointes (#{UploadedDocument.valid_extensions}) de votre mail.
            %br
            %br
            Règles d'utilisation :
            %ul
              %li
                Format de l’objet du mail : [libellé court du journal comptable] [période]
                - if @customer.account_book_types.first && period_service.names.first
                  %br
                  exemple :
                  %b
                    %i #{@customer.account_book_types.first.name} #{period_service.names.first}
              %li
                La somme des tailles des pièces jointes de votre mail ne doit pas dépasser
                %b 10 Mo
                \.
          .col-md-6
            %h4 Vos journaux comptables accessibles :
            %hr
            %ul
              - @customer.account_book_types.each do |journal|
                %li
                  %b= journal.name
                  = "(#{journal.description.sub(/\A\s*\(/,'').sub(/\)\s*\z/,'')})"
            %h4 Vos périodes actuellement accessibles :
            %hr
            %ul
              - period_service.names.each do |name|
                %li
                  %b= name
        .row
          .col-md-12
            Voici votre adresse personnalisée à laquelle vous devez envoyer vos pièces :
            %b{ style: 'font-size: 16px;' }
              = "#{@customer.email_code}@fw.idocus.com"
            = link_to 'Générer une nouvelle adresse', regenerate_code_account_emailed_documents_path(customer: Base64.encode64(@customer.id.to_s)), class: 'btn btn-primary', data: { method: :post }, style: 'position:relative;top:-2px;'