.edit.preseizure_account
  = simple_form_for @account, url: '', method: 'get', html: { class: 'form-horizontal', id: 'preseizure_edition_form' } do |f|
    = hidden_field_tag 'preseizure_id', @account.preseizure.id
    = f.hidden_field :id
    = f.input :number
    = f.input :lettering