.row
  .col-md-12
    #presPanel1.box
      .header.clearfix.margin0left{style: "border-bottom: 1px solid #ddd; margin-bottom: 10px"}
        %h3.float-left
          Ecritures comptables
        - if @user.active?
          .actiongroup.float-right
            %a.do-deliverAllPreseizure.do-tooltip.hide{ href: '#', title: '' }
              = glyphicon('loop-circular', { size: '13px' })
            %a.do-exportSelectedPreseizures.do-tooltip{ href: '#exportSelectedPreseizures', title: 'Export écritures comptables', data: { toggle: 'modal' } }
              = glyphicon('share')
            - if @user.has_collaborator_action?
              %a.do-editSelectedPreseizures.do-tooltip.hide{href: '#editSelectedPreseizures', title: 'Edition multiple', style: 'border: 2px solid #058acd; padding: 5px 2px 5px 5px; border-radius: 3px', data: { toggle: 'modal' } }
                = glyphicon('pencil')
            |
            %a.do-selectAllPreseizures.do-tooltip{ :href => "#", :title => "Tous" }
              = glyphicon('check')
            %a.do-unselectAllPreseizures.do-tooltip{ :href => "#", :title => "Aucun" }
              = glyphicon('ban')
      .content.preseizures
        
