.preseizure.content_preseizure{ id: "div_#{preseizure.id}", style: 'display: none' }
  .name.row-fluid
    .span9.title.padding1
      %a.label.label-info.do-tooltip{ title: "position" }
        = sprintf '%03d', preseizure.position || 0
      %span.preseizure_label 
        %a.tip_details.do-tooltip{data: {id: preseizure.id}}
          - if @ibiza
            = IbizaAPI::Utils.description(preseizure, @ibiza.description, @ibiza.description_separator) || preseizure.piece_name
          - else
            = preseizure.piece_name
    .span3.actionbox.padding1
      %a.tip_edit.pull-right.do-tooltip{href: '#', title: "Edition", data: {id: preseizure.id}}
        %i.icon-edit
      - if (@user.collaborator? && @software != '' && preseizure.is_not_delivered? && !preseizure.is_locked)
        %a.tip_deliver.pull-right.do-tooltip{href: '#', title: "Livraison (#{@software_human_name})", data: {id: preseizure.id}}
          %i.icon-refresh
      %a.tip_selection.pull-right.do-tooltip{href: '#', title: "Sélection", data: {id: "div_#{preseizure.id}"}}
        %i.icon-ok
  .informations.row-fluid
    .span12
      %table.table.table-striped.table-condensed.margin0bottom.information
        %thead
          %tr
            %th.date.text-center Date
            %th.date.text-center Date d'échéance
            %th.date.text-center= "Date de dernière envoi #{@software_human_name}"
            %th.third_party.text-center Nom de tiers
            %th.erreur.text-center
              = "Message d'erreur d'envoi #{@software_human_name}"
        %tbody
          %tr
            %td.date.text-center#date{title: "#{@user.collaborator? ? 'Cliquez pour modifier' : ''}"}
              .content_date
                = preseizure.date.try(:to_formatted_s, :db)
              - if @user.collaborator?
                .edit_content_date.hide
                  %input.edit_content_date_number.margin0bottom{type: :text, placeholder: preseizure.date.try(:to_formatted_s, :db), readonly: :readonly}
            %td.date.text-center#deadline_date{title: "#{@user.collaborator? ? 'Cliquez pour modifier' : ''}"}
              .content_deadline_date
                = preseizure.deadline_date.try(:to_formatted_s, :db)
              - if @user.collaborator?
                .edit_content_deadline_date.hide
                  %input.edit_content_deadline_date_number.margin0{type: :text, placeholder: preseizure.deadline_date.try(:to_formatted_s, :db), readonly: :readonly}
            %td.date.text-center= preseizure.delivery_tried_at.try(:to_formatted_s, :db)
            %td.third_party.text-center{title: "#{preseizure.third_party}"}
              .content_third_party
                = preseizure.third_party.to_s[0..35]
              - if @user.collaborator?
                .edit_content_third_party.hide
                  %input.edit_content_third_party_number.margin0{type: :text, placeholder: preseizure.third_party}
            %td.text-center
              - software_erreur = @software != '' ? preseizure.get_delivery_message_of(@software).to_s : ''
              = software_erreur[0,35]
  .content_detail
    - preseizure_entries = preseizure.entries
    - pre_tax_amount = preseizure_entries.select{ |entry| entry.account.type == 2 }.try(:first).try(:amount) || 0
    - data_analytics = analytics_of preseizure
    
    %p{style: 'text-align: left;margin: 6px 0px 4px;'}
      Unité monétaire:
      %strong= preseizure.try(:unit) || 'EUR' 
      %input#preseizure_id{type: :hidden, value: preseizure.id}
    .row-fluid
      .entries{ class: (data_analytics.any? ? 'span6' : 'span12') }
        - if data_analytics.any?
          %strong Ecritures     
        %table.table.table-striped.table-condensed.table-bordered.margin0bottom
          %thead
            %tr
              %th.account Numéro de compte                 
              %th.entry.text-center Débit
              %th.entry.text-center Crédit
          %tbody.entries
            - preseizure_entries.each do |entry|
              %tr
                %td.account{title: "#{@user.collaborator? ? 'Cliquez pour modifier' : ''}"}
                  .content_account
                    = entry.account.number
                  - if @user.collaborator?
                    .edit_account.hide
                      %input.edit_account_number.margin0{type: :text, placeholder: entry.account.number}
                %input.account_id_hidden{type: :hidden, value: entry.account.id}
                %td.entry.text-center{title: "#{(@user.collaborator? && entry.type == 1) ? 'Cliquez pour modifier' : ''}"}
                  - if entry.type == 1
                    .content_amount
                      .content_amount_number
                        = entry.amount
                      - if @user.collaborator?
                        %span.debit_or_credit.hide.pull-right
                          %i.icon-arrow-right
                    - if @user.collaborator?
                      .edit_amount.hide
                        %input.margin0{type: :text, placeholder: entry.amount}
                        %input.entry_type{type: :hidden, value: entry.type}

                %td.entry.text-center{title: "#{(@user.collaborator? && entry.type == 2) ? 'Cliquez pour modifier' : ''}"}
                  - if entry.type == 2
                    .content_amount
                      - if @user.collaborator?
                        %span.debit_or_credit.hide.pull-left
                          %i.icon-arrow-left
                      &nbsp;&nbsp;
                      .content_amount_number
                        = entry.amount
                    - if @user.collaborator?
                      .edit_amount.hide
                        %input.margin0{type: :text, placeholder: entry.amount}
                        %input.entry_type{type: :hidden, value: entry.type}
                - if @user.collaborator?
                  %input.entry_id_hidden{type: :hidden, value: entry.id}
      - if data_analytics.any?
        .analytics.span6
          %strong Analyse comptable
          %table.table.table-striped.table-condensed.table-bordered.margin0bottom
            %thead
              %tr
                %th Analyse
                %th Axe
                %th Ventilation
                %th Montant ventilé
            %tbody.entries
              - data_analytics.each do |analysis|
                %tr
                  %td= analysis[:name]
                  %td
                    %ul
                      -if analysis[:axis1].present?
                        %li= analysis[:axis1]
                      -if analysis[:axis2].present?
                        %li= analysis[:axis2]
                      -if analysis[:axis3].present?
                        %li= analysis[:axis3]
                  %td= analysis[:ventilation] + " %"
                  %td= pre_tax_amount.to_f * (analysis[:ventilation].to_f / 100)
  