.preseizure_head  
  %span.pull-left.preseizure_name.check_modif_preseizure
    %input{class: "check_#{@preseizure.id} ",id: "_#{@preseizure.id}", type: :checkbox, style: "margin-top: -2px;margin-left: 5px;display:none;"}  
    - if @ibiza
      = IbizaAPI::Utils.description(@preseizure, @ibiza.description, @ibiza.description_separator) || @preseizure.piece_name
    - else 
      = @preseizure.piece_name  
  %span.choose_action_preseizure
    - if (@user.collaborator? && @software != '' && @preseizure.is_not_delivered? && !@preseizure.is_locked)    
      %a.tip_deliver.pull-right.do-tooltip.margin3{href: '#', title: "Livraison écriture comptable (#{@software_human_name})", data: {id: @preseizure.id}}
        %i.icon-refresh
    - if @user.collaborator?
      %a.pull-right.tip_edit.margin3{href: '#', title: "Edition", data: {id: @preseizure.id}}
        %i.icon-edit
%table.table.table-striped.table-condensed.margin0bottom
  %thead
    %tr
      %th.date Date de création
      %th.date Date de modification
      %th.date= "Date de dernière envoi #{@software_human_name}"
      %th= "Message d'erreur d'envoi #{@software_human_name}"
  %tbody    
    %tr
      %td.date= @preseizure.created_at.try(:to_formatted_s, :db) 
      %td.date= @preseizure.updated_at.try(:to_formatted_s, :db)
      %td.date= @preseizure.delivery_tried_at.try(:to_formatted_s, :db)
      %td= @software != '' ? @preseizure.get_delivery_message_of(@software) : ''

%p{style: 'text-align: left;margin: 6px 0px 4px;'}
  Unité monétaire:
  %strong= @unit 
  %a.tip_edit_entry_account.margin3{href: '#', title: "Edition compte-montant", data: {id: @preseizure.id}}
    %i.icon-edit{style: "margin-top: -2px;"}  
.row-fluid
  .entries{ class: (@data_analytics.any? ? 'span6' : 'span12') }
    - if @data_analytics.any?
      %strong Ecritures     
    %table.table.table-striped.table-condensed.table-bordered.margin0bottom
      %thead
        %tr
          %th.account Numéro de compte                 
          %th.entry Débit
          %th.entry Crédit          
      %tbody.entries
        - @preseizure_entries.each do |entry|
          %tr
            %td.account= entry.account.number
            - if @user.collaborator?
              %input.account_id_hidden{type: :hidden, value: entry.account.id}
            %td.entry
              - if entry.type == 1
                = entry.amount
            %td.entry
              - if entry.type == 2
                = entry.amount
            - if @user.collaborator?
              %input.account_id_hidden{type: :hidden, value: entry.id}              
  - if @data_analytics.any?
    .analytics.span6
      %strong Analyse comptable
      %table.table.table-striped.table-condensed.table-bordered.margin0bottom
        %thead
          %tr
            %th Analyse
            %th Axe
            %th Ventilation
            %th Montant ventilé
        %tbody.entries
          - @data_analytics.each do |analysis|
            %tr
              %td= analysis[:name]
              %td
                %ul
                  -if analysis[:axis1].present?
                    %li= analysis[:axis1]
                  -if analysis[:axis2].present?
                    %li= analysis[:axis2]
                  -if analysis[:axis3].present?
                    %li= analysis[:axis3]
              %td= analysis[:ventilation] + " %"
              %td= @pre_tax_amount.to_f * (analysis[:ventilation].to_f / 100)