- stamp_url = preseizure.get_state_to :image

.preseizure.content_preseizure{ id: "div_#{preseizure.id}", style: 'display: none' }
  .name.row
    .col-md-11.title.padding1
      %a.badge.badge-info.do-tooltip{ title: "position" }
        = sprintf '%03d', preseizure.position || 0
      %span.preseizure_label 
        %a.tip_details.do-tooltip{data: {id: preseizure.id}}
          - if @ibiza
            = IbizaLib::Api::Utils.description(preseizure, @ibiza.description, @ibiza.description_separator) || preseizure.piece_name
          - else
            = preseizure.piece_name
    .col-md-1.actionbox.padding1
      %a.tip_edit.float-right.do-tooltip{href: '#', title: "Edition", data: {id: preseizure.id}}
        = glyphicon('pencil')
      - if (@user.has_collaborator_action? && @software != '' && preseizure.is_not_delivered? && !preseizure.is_locked)
        %a.tip_deliver.float-right.do-tooltip{href: '#', title: "Livraison (#{@software_human_name})", data: {id: preseizure.id}}
          = glyphicon('loop-circular')
      %a.tip_selection.float-right.do-tooltip{href: '#', title: "Sélection", data: {id: "div_#{preseizure.id}"}}
        .do-selectPage-check-icon
          = glyphicon('check')
        .do-selectPage-ban-icon.hide
          = glyphicon('ban')
  .informations.row
    .information_section{ class: "#{preseizure.delivery_tried_at.present? ? 'col-md-6' : 'col-md-9'}" }
      %table.table.table-striped.table-condensed.margin0bottom.information
        %thead
          %tr
            %th.date.text-center Date
        %tbody
          %tr
            %td.date.text-center#date{title: "#{@user.has_collaborator_action? ? 'Cliquez pour modifier' : ''}"}
              .content_date
                = preseizure.date.try(:to_date)
              - if @user.has_collaborator_action?
                .edit_content_date.hide
                  %input.edit_content_date_number.margin0bottom{type: :text, value: preseizure.date.try(:to_date), placeholder: preseizure.date.try(:to_date), readonly: :readonly}
    - if preseizure.delivery_tried_at.present?
      .other_information.col-md-4
        %p      
          Dernière envoi  
          %strong
            = @software_human_name      
          le : 
          = preseizure.delivery_tried_at.try(:to_formatted_s, :db) 
        - software_erreur = @software != '' ? preseizure.get_delivery_message_of(@software) : ''
        - if software_erreur.present? && (!software_erreur.match(/already sent/i) || current_user.try(:is_admin))
          %p
            Message d'erreur (
            %strong
              = @software_human_name                 
            ) :
            %span.error_message{title: software_erreur}
              = software_erreur
    - else
      .col-md-1
    - if stamp_url.present?
      .stamp_image_content.col-md-1{class: "#{preseizure.delivery_tried_at.present? ? '' : 'ml-14'}"}
        .stamp_head= image_tag(stamp_url, alt: 'stamp_state', class: 'img_stamp')
  .content_detail
    - preseizure_entries = preseizure.entries
    - irregular_debit_credit_somme = verif_debit_credit_somme_of preseizure_entries
    - pre_tax_amount = preseizure_entries.select{ |entry| entry.account.type == 2 }.try(:first).try(:amount) || 0
    - data_analytics = analytics_of preseizure
    
    %p{style: 'text-align: left;margin: 6px 0px 4px;'}
      Unité monétaire:
      %strong= preseizure.try(:unit) || 'EUR' 
      %input#preseizure_id{type: :hidden, value: preseizure.id}
      %input.delivered_preseizure{type: :hidden, value: "#{preseizure.is_delivered? ? '1' : '0'}", id: "delivered_#{preseizure.id}"}
    .row
      .entries.col-sm-12
        - if data_analytics.any?
          %strong Ecritures
        %span.color_red.float-right{class: "#{irregular_debit_credit_somme ? '' : 'hide' }"}
          = glyphicon('info')
          balance non équilibrée     
        %table.table.table-striped.table-condensed.table-bordered.margin0bottom
          %thead
            %tr.bg-brown.text-white
              %th.account Numéro de compte                 
              %th.entry.text-center Débit
              %th.entry.text-center Crédit
          %tbody.entries
            - preseizure_entries.each do |entry|
              %tr
                %td.account
                  .content_account{title: "#{@user.has_collaborator_action? ? 'Cliquez pour modifier' : ''}"}
                    = entry.account.number
                  - if @user.has_collaborator_action?
                    .edit_account.hide
                      %input.edit_account_number.margin0{type: :text, placeholder: entry.account.number , value: entry.account.number}
                      .suggestion_account_list.hide
                %input.account_id_hidden{type: :hidden, value: entry.account.id}
                %td.entry.text-center{title: "#{(@user.has_collaborator_action? && entry.type == 1) ? 'Cliquez pour modifier' : ''}", class: "#{irregular_debit_credit_somme ? 'color_red' : '' }"}
                  - if entry.type == 1
                    .content_amount
                      .content_amount_number
                        = entry.amount.to_f
                      - if @user.has_collaborator_action?
                        %span.debit_or_credit.hide.float-right
                          = glyphicon('arrow-thick-right')
                    - if @user.has_collaborator_action?
                      .edit_amount.hide
                        %input.margin0{type: :text, placeholder: entry.amount, value: entry.amount}
                        %input.entry_type{type: :hidden, value: entry.type}

                %td.entry.text-center{title: "#{(@user.has_collaborator_action? && entry.type == 2) ? 'Cliquez pour modifier' : ''}", class: "#{irregular_debit_credit_somme ? 'color_red' : '' }"}
                  - if entry.type == 2
                    .content_amount
                      - if @user.has_collaborator_action?
                        %span.debit_or_credit.hide.float-left                          
                          = glyphicon('arrow-thick-left')
                      &nbsp;&nbsp;
                      .content_amount_number
                        = entry.amount.to_f
                    - if @user.has_collaborator_action?
                      .edit_amount.hide
                        %input.margin0{type: :text, placeholder: entry.amount, value: entry.amount}
                        %input.entry_type{type: :hidden, value: entry.type}
                - if @user.has_collaborator_action?
                  %input.entry_id_hidden{type: :hidden, value: entry.id}