.preseizure.bg-light{ id: preseizure.id, style: 'display: none' }
  - stamp_url = preseizure.get_state_to :image

  .name.row
    .col-md-9.title
      - if preseizure.piece
        %a.badge.fs-origin.badge-warning.piece_number.do-goToPiece.do-tooltip{ title: "Voir la pièce", data: { id: preseizure.piece_id } }
          = sprintf '%03d', preseizure.piece.try(:position) || preseizure.position || 0
      - else
        %a.badge.fs-origin.badge-info.do-tooltip{ title: "position" }
          = sprintf '%03d', preseizure.position || 0
      %span.preseizure_label
        %a.tip_details.do-tooltip{ href: '#', data: { id: preseizure.id } }
          - if @ibiza
            = IbizaAPI::Utils.description(preseizure, @ibiza.description, @ibiza.description_separator) || preseizure.piece_name
          - else
            = preseizure.piece_name
    .col-md-3.actionbox
      - if stamp_url.present?
        .stamp.bg-light= image_tag(stamp_url, alt: 'stamp_state', class: 'img_stamp')
      %a.tip_edit.float-right.do-tooltip{ href: '#', title: "Edition", data: { id: preseizure.id } }
        = glyphicon('pencil')
      - if (@user.collaborator? && @software != '' && preseizure.is_not_delivered? && !preseizure.is_locked)
        %a.tip_deliver.float-right.do-tooltip{href: '#', title: "Livraison écriture comptable (#{@software_human_name})", data: {id: preseizure.id}}
          = glyphicon('loop-circular')
      %a.tip_selection.float-right.do-tooltip{href: '#', title: "Sélection", data: {id: preseizure.id}}
        = glyphicon('check')
      - if preseizure.piece
        %a.custom_popover.float-right{ href: '#', "data-content" => html_piece_view(preseizure.piece) }
          = glyphicon('eye')
  .informations.row
    .col-md-12
      %table.table.table-striped.table-condensed.margin0bottom
        %thead
          %tr
            %th.date Date de création
            %th.date Date de modification
            %th.date= "Date de dernière envoi #{@software_human_name}"
            %th= "Message d'erreur d'envoi #{@software_human_name}"
        %tbody
          %tr
            %td.date= preseizure.created_at.try(:to_formatted_s, :db) 
            %td.date= preseizure.updated_at.try(:to_formatted_s, :db)
            %td.date= preseizure.delivery_tried_at.try(:to_formatted_s, :db)
            %td= @software != '' ? preseizure.get_delivery_message_of(@software) : ''

  .content_details{style: 'display: none'}