#dematbox_service
  = render 'admin/dematboxes/navigation'
  .row-fluid
    .span12
      - if @dematbox_service.type == 'service'
        %h3 Edition du service : #{@dematbox_service.name}
      - else
        %h3 Edition du groupe : #{@dematbox_service.name}
      = simple_form_for [:admin, @dematbox_service], html: { class: 'form form-vertical margin3top' } do |f|
        = f.input :is_for_current_period, as: :boolean
        - if @dematbox_service.type == 'service'
          = f.input :group_id, collection: DematboxService.groups, label_method: :name, value_method: :_id
        .form-ations
          = f.submit t('actions.submit'), class: 'btn'
          = link_to t('actions.cancel'), admin_dematbox_services_path, class: 'btn'