#dematboxes
  .row
    .col-md-12
      .box.small-shadow.clearfix
        = render 'admin/dematboxes/navigation'

  .card
    .card-header.clearfix
      .float-left
        %h3
          Services et Groupes
          .badge.badge-info.fs-origin #{@dematbox_services.count}
      .float-right
        = link_to 'Mettre à jour', load_from_external_admin_dematbox_services_path, class: 'btn btn-primary', data: { method: :post }
    .card-body
      %table.table.table-striped.table-bordered-inner.table-condensed.table-detachable-head
        %thead
          %tr.bg-brown.text-white
            %th Id
            %th Type
            %th Nom
            %th Etat
            %th Action
        %tbody.rectractable.slidedown
          - @dematbox_services.each do |dematbox_service|
            %tr
              %td= dematbox_service.pid
              %td= dematbox_type dematbox_service.type
              %td= dematbox_service.name
              %td= dematbox_state dematbox_service.state
              %td
                = link_to glyphicon('trash'), admin_dematbox_service_path(dematbox_service), title: 'Supprimer', data: { method: 'delete', confirm: t('actions.confirm') }
