.edit.derivationRight
  .card
    .card-header
      %h3 Edition des options des périodes
    = simple_form_for @organization, url: account_organization_period_options_path(@organization), html: { class: 'form-organization-period form-horizontal label-large' } do |f|
      .card-body
        = f.input :authd_prev_period,          as: :integer, input_html: { min: 0 }
        = f.input :auth_prev_period_until_day, as: :integer, input_html: { min: 0, max: 28 }, hint: '0 à 28'
        - if @user.is_admin
          = f.input :auth_prev_period_until_month, as: :integer, input_html: { min: 0, max: 2 }, hint: '0 = actuel, 1 = le mois suivant, 2 = dans 2 mois'
      .card-footer
        .form-actions.margin0bottom
          = f.submit t('actions.submit'), class: 'btn btn-primary'
          = link_to t('actions.cancel'), account_organization_path(@organization, tab: 'period_options'), class: 'btn btn-light'
