.card.derivationRight
  .card-header
    %h3 Propager les options des périodes aux clients suivants :
  = form_tag propagate_account_organization_period_options_path(@organization), method: :post, class: 'form form-horizontal margin0bottom' do
    .card-body
      %table.table.table-striped.table-condensed
        - @customers.each do |customer|
          %tr
            %td= check_box_tag 'customer_ids[]', customer.id, false, id: "customer_id_#{customer.id}"
            %td= label_tag "customer_id_#{customer.id}", customer.info
    .card-footer
      .form-actions.margin0bottom
        = submit_tag 'Propager', class: 'btn btn-primary'
        = link_to t('actions.cancel'), account_organization_path(@organization, tab: 'period_options'), class: 'btn btn-light'
