= hidden_field_tag :retriever_budgea_config, @bi_config
#form_new_provider_request
  #information.hide.badge.badge-important.margin1bottom{style: "padding: 10px"}
  = simple_form_for [:account, @new_provider_request], html: { class: 'form-horizontal' } do |f|
    .card-body
      .row
        .col-md-6
          = f.input :name
          = f.input :url
          = f.input :email
          .form-group.clearfix.login.new_provider_request_login
            .label-section
              %label.login.control-label{ for: 'new_provider_request_login' }
                %abbr{ title: 'champ_requis' } *
                Identifiant
            .control-section
              = text_field_tag 'new_provider_request[login]', nil, placeholder: '... si différent de Email', class: 'form-control string url'
          .form-group.clearfix.required.password.new_provider_request_password
            .label-section
              %label.password.required.control-label{ for: 'new_provider_request_password' }
                %abbr{ title: 'champ_requis' } *
                Mot de passe
            .control-section
              = text_field_tag 'new_provider_request[password]', nil, required: true, class: 'form-control string url required'
          = f.input :types, hint: 'Document, opération bancaire, les deux, autres...'
          = f.input :description, as: :text
        .col-md-6
          .box.bg-light
            %p
              Cher client,
              %br
              %br
              Le développement d'un nouvel <strong>automate bancaire</strong> est <strong>soumis à un devis</strong>.
              %br
              Votre demande sera faite auprès de notre partenaire, puis nous reviendrons vers vous avec le devis et le délai de création de cet automate.
              %br
              %br
              Le développement d'un <strong>automate fournisseur</strong> est quant à lui <strong>inclus</strong>. Le délai de création varie selon le type de fournisseur. 
              %br
              La demande se fait également avec le nom du fournisseur souhaité et vos identifiants.
              %br
              %br
              Merci,
              %br
              L'équipe technique iDocus.
    .card-footer
      .form-actions
        .actions
          = f.submit t('actions.submit'), class: 'btn btn-primary'
          = link_to t('actions.cancel'), account_new_provider_requests_path, class: 'btn btn-light'