#new_provider_requests_list.row
  .col-md-12
    .box
      %h3
        Mes demandes 
        %span.badge.badge-info= @new_provider_requests.size
    .box
      = render partial: 'shared/list_options', locals: { collection: @new_provider_requests }
      %table.table.table-bordered-inner.table-condensed.table-striped.margin1top.margin1bottom.table-detachable-head
        %thead
          %tr.bg-brown.text-white
            %th= sortable :created_at, t('activerecord.models.common.attributes.created_at')
            %th= sortable :updated_at, t('activerecord.models.common.attributes.updated_at')
            %th= sortable :state,      t('activerecord.models.new_provider_request.attributes.state')
            %th= sortable :name,       t('activerecord.models.new_provider_request.attributes.name')
            %th= t('activerecord.models.new_provider_request.attributes.url')
            %th= t('activerecord.models.new_provider_request.attributes.email')
            %th Détails
        %tbody.retractable.slidedown
          - @new_provider_requests.each do |new_provider_request|
            %tr{class: "detail_#{new_provider_request.id}" }
              %td.created_at= l(new_provider_request.created_at)
              %td.updated_at= l(new_provider_request.updated_at)
              %td._state= new_provider_request_state(new_provider_request)
              %td.name= new_provider_request.name
              %td.url= new_provider_request.url
              %td.email= new_provider_request.email
              %td.hide.types= new_provider_request.types
              %td.hide.description= new_provider_request.description
              %td
                = link_to glyphicon('eye'), '#', title: 'Afficher les détails', data: {id: new_provider_request.id}, class: 'show_provider_request btn btn-light'
      = render partial: 'shared/list_options', locals: { collection: @new_provider_requests }

#showProviderRequest.modal.hide.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h3 Détails de la demande
        %a.close{ data: { dismiss: :modal } } ×
      .modal-body
        %div.clearfix
          %label.head.float-left.margin1right= t('activerecord.models.common.attributes.created_at') + ':'
          .float-left.created_at
        %div.clearfix
          %label.head.float-left.margin7right= t('activerecord.models.new_provider_request.attributes.state') + ':'
          .float-left._state
        %div.margin1top.margin1bottom
          %table.table.table-bordered-inner.table-condensed.table-striped{style: "min-width:500px"}
            %thead
              %tr.bg-brown.text-white
                %th= t('activerecord.models.new_provider_request.attributes.name')
                %th= t('activerecord.models.new_provider_request.attributes.url')
                %th= t('activerecord.models.new_provider_request.attributes.email')
                %th= t('activerecord.models.new_provider_request.attributes.types')
            %tbody
              %tr
                %td.name
                %td.url
                %td.email
                %td.types
        %div
          %label.head= t('activerecord.models.new_provider_request.attributes.description') + ':'
          %p.padding1left.description