= render partial: 'navigation'
- content_for :titre_h1, "Synchronisation Zoho crm"
.panel-heading.clearfix
  %span.title_page
    ZohoCrm Sync
  
.panel-body
  %p
    = "Debut : #{@report[:time_start]} / Fin : #{DateTime.current}"
  .accounts 
    %p
      = "Synchronisation de #{@report[:organizations][:count]} Organisations"
      %ul
        %li
          = @report[:organizations][:success]
          Organisation(s) synchronisée(s)
        %li
          = @report[:organizations][:exist]
          Organisation(s) déjà existant
        %li
          = @report[:organizations][:error]
          Organisation(s) avec erreur
  %hr

  .users 
    %p
      = "Synchronisation de #{@report[:user_count]} Users"
      %ul
        %li
          = @report[:users][:success]
          User(s) synchronisée(s)
        %li
          = @report[:users][:exist]
          User(s) déjà existant
        %li
          = @report[:users][:error]
          User(s) avec erreur