.container.padding2bottom
  .row
    .span3.margin11top
      .well.sidebar-nav
        %ul{ :class=>"nav nav-list" }
          %li{ :class=> "nav-header" }
            #{@page_type.caption}
          - @all_page.each_with_index do |page, index|
            %li{ :class => ("active" if page.title == @page.title) }
              %a{ :title => "#{page.title}", :href => "#{page.slug}" } #{page.title}
    .span9
      - image = @cms_images.find_by_name(@page.image2).content.url rescue ""
      %img{ :src=>"#{image}", :alt => "#{@page.image_info || ''}", :class=>"margin1bottom" }
      
      %ul{ :id=>"tab", :class=>"subnav nav-tabs" }
        - @page.page_contents.each_with_index do |onglet, index|
          %li{ :class => ("active" if index == 0) }
            %a{ "data-toggle"=>"tab", :href => "#part_#{index+1}" } #{onglet.title}
       
      .tab-content
        - @page.page_contents.each_with_index do |onglet, index|
          .tab-pane{ :class => ("active" if index == 0), :id=>"part_#{index+1}" }
            .box_rub
              - onglet.page_content_items.asc(:position).each do |item|
                .clear
                .box
                  - image = @cms_images.find_by_name(item.image).content.url rescue ""
                  - if item.model == 1
                    %img.contenu_image{ :src => "#{image}", :alt => "#{item.image_info || ''}", :class => "imgfloatleft" }
                    %span{ :class => "contentfloatleft" }!=item.content
                  - elsif item.model == 2
                    %img.contenu_image{ :src => "#{image}", :alt => "#{item.image_info || ''}", :class => "imgfloatright" }
                    %span{ :class => "contentfloatright" }!=item.content
                  - else
                    %span!=item.content
                    