.container.padding2bottom
  .row
    .span3.margin11top
      .well.sidebar-nav
        %ul{ class: 'nav nav-list' }
          %li{ class: 'nav-header' }
            #{@page.tag}
          - @pages.each do |page|
            %li{ class: ('active' if page == @page) }
              = link_to page.title, page_path(page)
    .span9
      = image_tag image_url_for_page(@page), alt: @page.image.try(:description) , class: 'margin1bottom'
      
      %ul{ id: 'tab', class: 'subnav nav-tabs' }
        - @page.contents.by_position.distinct_tag.each_with_index do |tag, index|
          %li{ class: ('active' if index == 0) }
            = link_to tag, "#part_#{index+1}", 'data-toggle' => 'tab'
       
      .tab-content
        - @page.contents.by_position.distinct_tag.each_with_index do |tag, index|
          .tab-pane{ class: ('active' if index == 0), id: "part_#{index+1}" }
            .box_rub
              - @page.contents.where(tag: tag).by_position.each do |content|
                .clear
                .box
                  - url = CmsImage.find_by_name(content.thumb).try(:content).try(:url)
                  - if content.model == 1
                    = image_tag url, alt: content.thumb_info, class: 'contenu_image imgfloatleft'
                    %span{ class: 'contentfloatleft' }!= content.text
                  - elsif content.model == 2
                    = image_tag url, alt: content.thumb_info, class: 'contenu_image imgfloatright'
                    %span{ class: 'contentfloatright' }!= content.text
                  - else
                    %span!= content.text
                    