.row-fluid
  .span12
    .box
      %h3 Nouvelle demande
    .box{ style: 'padding-bottom:0;' }
      = simple_form_for [:account, @fiduceo_provider_wish], html: { class: 'form form-horizontal' } do |f|
        = f.input :name
        = f.input :url
        = f.input :login
        = f.input :password, required: true
        = f.input :custom_connection_info
        = f.input :description, as: :text
        .form-actions
          = f.submit t('actions.submit'), class: 'btn btn-primary'
          = link_to t('actions.cancel'), account_fiduceo_provider_wishes_path, class: 'btn'
