.card.retractable-filter
  = form_tag paper_set_orders_path, method: :get, class: 'form-filter' do
    .card-header.clearfix
      .float-left
        %h3 Filtres
      .float-right.margin1left
        %a.locker{ href: "#", title: "Cacher le Filtre" }= glyphicon('layers')
    .retractable-filter-content
      .card-body
        = hidden_field_tag :direction, sort_direction
        = hidden_field_tag :sort, sort_column
        = hidden_field_tag :per_page, per_page
        .form-group
          .label-section
            = label_tag 'order_contains[created_at][>=]', t('activerecord.models.common.attributes.created_at')
          .control-section
            .filter_date
              .input-prepend.date.datepicker
                %span.add-on.badge.badge-secondary.fs-origin.mr-md-1
                  >=
                = text_field_tag 'order_contains[created_at][>=]', (params[:order_contains][:created_at]['>='] rescue ''), style: 'width: 86.7%'
              .input-prepend.date.datepicker
                %span.add-on.badge.badge-secondary.fs-origin.mr-md-1
                  <=
                = text_field_tag 'order_contains[created_at][<=]', (params[:order_contains][:created_at]['<='] rescue ''), style: 'width: 86.7%'
        .form-group
          .label-section
            = label_tag 'order_contains[user_code]', t('activerecord.models.user.attributes.code')
          .control-section
            = text_field_tag 'order_contains[user_code]', (params[:order_contains][:user_code] rescue '')
        .form-group
          .label-section
            = label_tag 'order_contains[tracking_number]', t('activerecord.models.paper_process.attributes.tracking_number')
          .control-section
            = text_field_tag 'order_contains[tracking_number]', (params[:order_contains][:tracking_number] rescue '')
        .form-group
          .label-section
            = label_tag 'order_contains[state]', t('activerecord.models.order.attributes.state')
          .control-section
            = select_tag 'order_contains[state]', options_for_select([['Confirmé', 'confirmed'], ['Traitée', 'processed']], (params[:order_contains][:state] rescue '')), include_blank: true
      .card-footer
        .form-actions
          = submit_tag t('filters.action'), name: nil, class: 'btn btn-primary'
          = link_to glyphicon('x'), paper_set_orders_path, class: 'btn btn-light'
