.navbar
  .navbar-inner
    .container-fluid
      .nav-collapse
        %ul.nav
          %li{ class: ('active' if controller_name == 'retrievers' && action_name == 'index') }
            = link_to 'Mes récupérateurs', account_settings_fiduceo_retrievers_path
          %li{ class: ('active' if controller_name == 'retrievers' && action_name == 'new') }
            = link_to 'Ajouter', new_account_settings_fiduceo_retriever_path
          %li{ class: ('active' if controller_name == 'retrievers' && action_name == 'list') }
            = link_to 'Liste', list_account_settings_fiduceo_retrievers_path
          %li{ class: ('active' if controller_name == 'provider_wishes' && action_name == 'index') }
            = link_to 'Mes demandes', account_settings_fiduceo_provider_wishes_path
          %li{ class: ('active' if controller_name == 'provider_wishes' && action_name.in?(['new', 'create'])) }
            = link_to 'Demander', new_account_settings_fiduceo_provider_wish_path
