%h3.pull-left.margin1right Filtre :
= form_tag account_settings_fiduceo_retrievers_path, method: :get, class: 'retriever_seach form form-inline margin0bottom' do
  = label_tag 'fiduceo_retriever_contains[name]', t('mongoid.models.fiduceo_retriever.attributes.name')
  = text_field_tag 'fiduceo_retriever_contains[name]', (params[:fiduceo_retriever_contains][:name] rescue '')
  = submit_tag t('filters.action'), class: 'btn btn-primary'
  = link_to t('filters.reset'), account_settings_fiduceo_retrievers_path, class: 'btn reset_filter'
