#fiduceo_retriever#select_documents.container-fluid
  .row-fluid
    .span3
      = render partial: 'layouts/account/me/navigation'
    .span9
      = render partial: 'navigation'
      .alerts
        = render partial: 'shared/messages'
      .well
        %h2.aligncenter Sélection des documents à intégrer
        = form_tag update_documents_account_settings_fiduceo_retriever_path(@fiduceo_retriever), method: 'PUT', class: 'form form-horizontal' do
          .row-fluid
            .offset1
              .span10
                %table.table.table-striped.table-condensed
                  %thead
                    %tr
                      %th
                        = check_box_tag 'master_checkbox', 0, false
                      %th Nom
                      %th Date
                      %th Montant
                  %tbody
                    - @documents.each do |document|
                      %tr
                        %td
                          = hidden_field_tag "document_ids[#{document.id}]", 0, id: "document_#{document.id}"
                          = check_box_tag "document_ids[#{document.id}]", 1, false, class: 'checkbox'
                        %td= label_tag "document_ids[#{document.id}]", document.original_file_name
                        %td= label_tag "document_ids[#{document.id}]", document.fiduceo_metadata['date']
                        - if document.fiduceo_metadata['currency'].present?
                          %td= label_tag "document_ids[#{document.id}]", "#{document.fiduceo_metadata['amount']} #{document.fiduceo_metadata['currency']}"
                        - else
                          %td= label_tag "document_ids[#{document.id}]", number_to_currency(document.fiduceo_metadata['amount'])
          .form-actions
            = submit_tag t('actions.submit'), class: 'btn btn-primary'
            = link_to t('actions.cancel'), account_settings_fiduceo_retrievers_path, class: 'btn'
