%li
  .header
   
    - if billing
      %input{ :type => :radio, :name => :billing_address, :value =>  address.id, :id => "b_#{address.id}" }
    - else
      %input{ :type => :radio, :name => :shipping_address, :value =>  address.id, :id => "s_#{address.id}" }
    %span
      %a{ :href => "#"}
        %label{ :for => "#{ billing ? "b_" : "s_" }#{ address.id }" }
          Choisir cette adresse
  .content
    != render :partial => 'address_content', :locals => {:address => address}
  .footer
    != link_to "supprimer", tunnel_address_path(address), :class => 'red', :method => :delete, :confirm => 'Êtes vous sûr de vouloir supprimer cette addresse ?'
    != link_to "modifier", edit_tunnel_address_path(address)
