.leftcolon.margin4top.margin4bottom
  -#!= render :partial => '/shared/error_messages', :locals => {:object => @order}

  .tunnelcase
    %ul.progress
      %li.first
        %span
          Produits
          %br
      %li.second.current
        %span
          Options
      %li.third
        %span
          paiement

    - form_for @product, :url => tunnel_order_path, :html => {:method => :post, :class => 'clearfix'} do |f|
      %input{ :type => :hidden, :name => :product_id, :value => @product.id }
      %h2.margin2top
        #{(@product.category == 1)? "Numérisation : " : "Sauvegarde : "}
        != @product.title
      
      %br
      .margin2left.margin2right
        != @product.header_info
      
      - p = Proc.new do |group, block|
        .group{ :id => group.id }
          .title.margin05top.margin05bottom
            != group.title + " " + group.description
          !=hidden_field_tag "#{group.id}_DependantIds", group.required_for.collect{|g| g.id}.join('-')
          - if group.subgroups
            - group.subgroups.by_position.each do |subgroup|
              - block.call(subgroup, block)
          - unless group.product_options.empty?
            - if group.is_option_dependent
              %li
                - group.product_options.by_position.each_with_index do |option,index|
                  .row
                    %span.radio
                      !=radio_button_tag("option_#{group.id}", option.id, ((index == 0)? true : false), :id => option.id, :class => "option" )
                      !=hidden_field_tag "option_#{option.id}_quantity", option.quantity
                    %span.product
                      %label{ :for => option.id }
                        != option.title
                      != (option.description == "")? "" : " - #{option.description}"
                    - if option.price_in_cents_wo_vat > 0
                      %span.price
                        %input{ :type => :hidden, :class => "original_option_price", :name => "original_option_price", :value => format_price(option.price_in_cents_wo_vat) }/
                        %span
                          #{format_price option.price_in_cents_wo_vat}
                        € HT
                    - else
                      %span.price
                        %strong
                          -
            - else
              %li
                - group.product_options.each do |option|
                  .row
                    %span.checkbox
                      %input{ :type => :checkbox, :name => "option_#{group.id}_#{option.id}", :value => option.id, :id => option.id, :class => "option" }
                      !=hidden_field_tag "option_#{option.id}_quantity", option.quantity
                    %span.product
                      %label{ :for => option.id }
                        != option.title
                        != (option.description == "")? "" : " - #{option.description}"
                    - if option.price_in_cents_wo_vat > 0
                      %span.price
                        %input{ :type => :hidden, :class => "original_option_price", :name => "original_option_price", :value => format_price(option.price_in_cents_wo_vat) }/
                        %span
                          #{format_price option.price_in_cents_wo_vat}
                        € HT
                    - else
                      %span.price
                        %strong
                          -
                  
      - @product.groups.where(:supergroup_id => nil).by_position.entries.each do |group|
        .h-separator.light.margin2top.margin1bottom
        %ul.optionslist.margin2left.margin2top
          - p.call(group, p)
      
      .h-separator.light.margin2top.margin2bottom
      
      .margin2left.margin2right
        != @product.footer_info
        
      .buttonsrow.margin1bottom.margin4top
        %input.button.whitebtn.floattoright.margin2right.w125{ :type => "submit", :value => "Étape suivante"}
        %a.button.whitebtn.floattoleft.margin2left{ :href => new_tunnel_order_url}
          %span
            Étape précédente
      
.rightcolon.margin4top
  -#!= render :partial => '/tunnel/shared/cart'
  
:css
  .group{
    //border: 1px solid black;
    //margin: 10px 0 10px 10px;
    }
  .margin05top{
    margin-top: 5px; }
  .margin05bottom{
    margin-bottom: 5px; }
  .margin2bottom{
    margin-bottom: 20px; }
  .margin2left{
    margin-left: 20px; }
    
:javascript
  function set_total_price(){
    var total = 0;
    $("input[type=radio]:checked").each(function(){
      total += parseInt($(this).parent("span").parent("div").children(".price").children("span").text());
    });
    $("input[type=checkbox]:checked").each(function(){
      total += parseInt($(this).parent("span").parent("div").children(".price").children("span").text());
    });
    var total_w_vat = total * 1.196
    $("#cart_total_w_vat").text(total_w_vat.toFixed(2) + "€ TTC");
    $("#cart_total_wo_vat").text(total + "€ HT");
  }
  $(document).ready(function(){
    set_total_price();
    $("input.option").change(function(){
      id = $(this).attr("id");
      quantity = $("#option_"+id+"_quantity").val();
      id = $(this).parent("span").parent("div").parent("li").parent("div").attr("id");
      if ($("#"+id+"_DependantIds").val() != ""){
        ids = $("#"+id+"_DependantIds").val().split(/-/);
        if( ids.length != 0 ){
          for(i=0; i < ids.length; i++){
            group = $("#"+ids[i]);
            group.children("li").children("div").each(function(){
              option_price = $(this).children("span.price");
              price = option_price.children("input").val();
              new_price = price * quantity;
              option_price.children("span").text(new_price);
            });
          }
        }
      }
      set_total_price();
    });
  });

