.leftcolon.margin4top.margin4bottom
  -#!= render :partial => '/shared/error_messages', :locals => {:object => @order}
  .tunnelcase
    %ul.progress
      %li.first
        %span
          Produits
      %li.second
        %span
          Options
      %li.third.current
        %span
          Paiement


    %form.clearfix#choosepaymod{ :action => pay_tunnel_order_path, :method => :post }
      %input{ :type => :hidden, :name => :product_id, :value => @product.id }
      %input{ :type => :hidden, :name => :option_ids, :value => @option_ids.join(' ') }
      - if @billing_address_id && @shipping_address_id
        %input{ :type => :hidden, :name => :billing_address_id, :value => @billing_address_id }
        %input{ :type => :hidden, :name => :shipping_address_id, :value => @shipping_address_id }
      
      %h2.margin2top
        Récapitulatif de votre commande
      
      - if @not_ok
        .h-separator.light.margin2top
        .red.margin2left.margin2top
          Vous êtes déjà abonné, si vous voulez changer certaines options, constatez-nous à l'adresse suivante : 
          !=link_to "support@idocus.com", "mailto:support@idocus.com"
      
      .h-separator.light.margin2top
      
      - total_in_cents_wo_vat = 0.0
      %ul.optionslist.margin2left.margin2top
        %li
          .row
            %span.product
              %strong
                #{ (@product.category == 1)? "Numérisation" : "Sauvegarde" } : #{ @product.title }
            - if @product.price_in_cents_wo_vat > 0
              %span.price
                %strong
                  #{format_price @product.price_in_cents_wo_vat} € HT
                %span.smaller
                  #{format_price @product.price_in_cents_w_vat} € TTC
                  - total_in_cents_wo_vat += @product.price_in_cents_wo_vat
        
      - total = 0
      - p = Proc.new do |group, block|
        - if !group.product_options.empty?
          - options = group.product_options.any_in(:_id => @options.collect{|o| o.id}).entries
          - unless options.empty?
            .group.margin1top
              != group.title
              - options.each do |option|
                .row
                  %span.product
                    %div
                      != option.title
                  - if option.price_in_cents_wo_vat > 0
                    %span.price
                      - quantity = 1
                      - if option.group && option.group.require
                        - quantity = option.group.require.product_options.any_in(:_id => @options.collect{|o| o.id}).first.quantity
                      #{format_price option.price_in_cents_wo_vat * quantity} € HT
                      - total_in_cents_wo_vat += option.price_in_cents_wo_vat * quantity
                      - total += option.price_in_cents_wo_vat * quantity
        - elsif !group.subgroups.empty?
          .group.margin1top
            %strong
              != group.title
        - if group.subgroups
          - group.subgroups.by_position.each do |subgroup|
            - block.call(subgroup, block)
        
      - @product.groups.where(:supergroup_id => nil).entries.each do |group|
        - total = 0
        .h-separator.light.margin1top.margin1bottom
        %ul.optionslist.margin2left.margin2top
          %li
            - p.call(group,p)
          %li.margin1top
            .row
              %span.caption
                %strong
                  Total :
              %span.price
                %strong
                  #{format_price total} € HT
            .row
              %span.caption
              %span.price
                %span.smaller
                  #{format_price (total * 1.196)} € TTC
                
      .h-separator.light.margin2top
         
      %ul.optionslist.margin2left.margin2top
        %li
          .row
            %span
              %strong
                #{current_user.use_debit_mandate ? "Le total sera prélevé sur votre compte bancaire." : "Le total sera déduit de votre compte prépayé." }
        
        - unless current_user.use_debit_mandate
          %li
            .row
              %span.caption
                %strong
                  Solde actuel de mon compte :
              %span.price
                %strong
                  #{format_price current_user.balance_in_cents} €
          - new_balance = current_user.balance_in_cents - (total_in_cents_wo_vat * 1.196)
          %li
            .row
              %span.caption
                %strong
                  Solde de mon compte après cette opération :
              %span.price
                %strong
                  #{format_price (new_balance)} €
                
          - if new_balance < 0
            %li
              .row
                %span.orange
                  Votre compte a un solde insuffisant, veuillez le créditer 
                  !=link_to :ici, account_profile_url
          %li
            .row
              %span
                Si vous souhaitez régler par prélèvement bancaire cliquez
                !=link_to :ici, account_profile_url
        - else
          %li
            .row
              %span
                Si vous souhaitez régler par compte prépayé cliquez
                !=link_to :ici, account_profile_url
      
      - if @billing_address_id || @shipping_address_id
        .h-separator.light.margin1top.margin1bottom

        %ul.adresseslist.static.margin2left.margin1top.clearfix
          - if @billing_address_id
            %li
              .header
                %span
                  Adresse de facturation
              .content
                != render :partial => 'address_content', :locals => {:address => current_user.addresses.where(:_id => @billing_address_id).first}
          - if @shipping_address_id
            %li
              .header
                %span
                  Adresse de retour
              .content
                != render :partial => 'address_content', :locals => {:address => current_user.addresses.where(:_id => @shipping_address_id).first}

      .h-separator.strong.margin1top
      
      %p.margin2top
        != check_box_tag "cgv"
        J'accepte les #{ link_to "conditions générales de ventes", "/pages/c-g-v", :target => "_blank" }.

      .buttonsrow.margin1bottom.margin4top
        %input.button.whitebtn.floattoright.margin2right.w125{ :type => "submit", :value => "Payer maintenant"}
        %a.button.whitebtn.floattoleft.margin2left{ :href => new_tunnel_order_path}
          %span
            Étape précédente
            
:javascript
  $('#choosepaymod').submit(function(){
    if ($("#cgv").is(":checked")) {
      return true;
    } else {
      alert("Vous devez acceptez les conditions générales de ventes");
      return false;
    }

:css
  .margin05left{
    margin-left: 5px; }
  .margin1top{
    margin-top: 10px; }
  .red{
    color: red; }