- customers = @organization.customers
%td= link_to @organization.name, [:account, @organization]
- sum = sum_of_requested_kits(customers, @time)
%td.raw_text.aligncenter= sum
- sum = sum_of_sent_kits(@organization, @time)
%td.raw_text.aligncenter= sum
- sum = sum_of_receipts(@organization, @time)
%td.raw_text.aligncenter= sum
- sum = sum_of_scanned_sheets(@organization, @time)
%td.raw_text.aligncenter= sum
- sum = sum_of_oversized(customers, @time)
%td.raw_text.aligncenter= sum
- sum = sum_of_paperclips(customers, @time)
%td.raw_text.aligncenter= sum
- sum = sum_of_bundled(@organization, @time)
%td.raw_text.aligncenter= sum
- sum = sum_of_pre_assignments(@organization, @time)
%td.raw_text.aligncenter= sum
- sum = sum_of_returns_500(@organization, @time)
%td.raw_text.aligncenter= sum
- sum = sum_of_returns_1000(@organization, @time)
%td.raw_text.aligncenter= sum
- sum = sum_of_returns_3000(@organization, @time)
%td.raw_text.aligncenter= sum