#process_reporting
  .row
    .col-12
      .box.small-shadow.clearfix
        .float-left
          %h3
            Reporting des traitements de #{l(@time, format: '%B %Y')}

  .row
    .col-12
      .box
        %table.table.table-condensed.table-striped.table-bordered.table-striped.margin1top.margin1bottom.table-detachable-head.table-bordered-inner
          %thead
            %tr.bg-brown.text-white
              %th{ rowspan: 2 }
                = link_to l((@time - 1.month), format: '%b %Y').capitalize, "/admin/process_reporting/#{l((@time - 1.month), format: '%Y/%m')}"
                \-
                = l(@time, format: '%b %Y').capitalize
                \-
                = link_to l((@time + 1.month), format: '%b %Y').capitalize, "/admin/process_reporting/#{l((@time + 1.month), format: '%Y/%m')}"
              %th.aligncenter{ colspan: 2 } Kits
              %th.aligncenter{ rowspan: 2 } Réception plis
              %th.aligncenter{ colspan: 3 } Numérisation
              %th.aligncenter{ rowspan: 2 } Regroupement
              %th.aligncenter{ rowspan: 2 } Pré-aff
              %th.aligncenter{ colspan: 3 } Retours plis
            %tr.bg-brown-light.text-white
              %th.aligncenter Demandes
              %th.aligncenter Envois
              %th.aligncenter Feuilles
              %th.aligncenter Hors-formats
              %th.aligncenter Attaches
              %th.aligncenter LS500
              %th.aligncenter LS1000
              %th.aligncenter LS3000
          %tbody.organization_list.retractable.slidedown
            - @organizations.each do |organization|
              %tr{ id: "row-#{organization.id}", class: 'row_organizations' }
                %td{colspan: 12}
