= form_tag account_organization_customer_retrieved_documents_path(@organization, @customer), method: :get, class: 'form form-horizontal filter margin0bottom' do
  - if @transaction
    = label_tag 'document_contains[transaction_id]', 'Transaction'
    = l(@transaction.created_at)
    = hidden_field_tag 'document_contains[transaction_id]', @transaction.id

  = label_tag 'document_contains[service_name]', 'Service'
  - if @transaction
    = @transaction.custom_service_name
  - else
    = text_field_tag 'document_contains[service_name]', (params[:document_contains][:service_name] rescue ''), class: 'span12'

  = label_tag 'document_contains[date][$gte]', 'Date de début'
  .input-prepend.date.datepicker
    %span.add-on
      %i.icon-th
    = text_field_tag 'document_contains[date][$gte]', (params[:document_contains][:date]['$gte'] rescue '')

  = label_tag 'document_contains[date][$lte]', 'Date de fin'
  .input-prepend.date.datepicker
    %span.add-on
      %i.icon-th
    = text_field_tag 'document_contains[date][$lte]', (params[:document_contains][:date]['$lte'] rescue '')

  = label_tag 'document_contains[name]', 'Nom original'
  = text_field_tag 'document_contains[name]', (params[:document_contains][:name] rescue ''), class: 'span12'

  .margin2top
  = submit_tag t('filters.action'), class: 'btn btn-primary'
  = link_to t('filters.reset'), account_organization_customer_retrieved_documents_path(@organization, @customer), class: 'btn'
