- if action_name == 'index'
  - path = account_organization_customer_retrieved_documents_path(@organization, @customer)
- elsif action_name == 'select'
  - path = select_account_organization_customer_retrieved_documents_path(@organization, @customer)

= form_tag path, method: :get, class: 'form form-horizontal filter margin0bottom' do
  = hidden_field_tag :direction, sort_direction
  = hidden_field_tag :sort, sort_column
  = hidden_field_tag :per_page, per_page

  - if @transaction
    = label_tag 'document_contains[transaction_id]', 'Transaction'
    = l(@transaction.created_at)
    = hidden_field_tag 'document_contains[transaction_id]', @transaction.id
  - elsif @retriever
    = hidden_field_tag 'document_contains[retriever_id]', @retriever.id

  = label_tag 'document_contains[service_name]', 'Service'
  - if @transaction
    %span.label= @transaction.custom_service_name
  - elsif @retriever
    %span.label= @retriever.name
  - else
    = text_field_tag 'document_contains[service_name]', (params[:document_contains][:service_name] rescue ''), class: 'span12'

  = label_tag 'document_contains[date][>=]', 'Date de début'
  .input-prepend.date.datepicker
    %span.add-on
      %i.icon-th
    = text_field_tag 'document_contains[date][>=]', (params[:document_contains][:date]['>='] rescue '')

  = label_tag 'document_contains[date][<=]', 'Date de fin'
  .input-prepend.date.datepicker
    %span.add-on
      %i.icon-th
    = text_field_tag 'document_contains[date][<=]', (params[:document_contains][:date]['<='] rescue '')

  = label_tag 'document_contains[name]', 'Nom original'
  = text_field_tag 'document_contains[name]', (params[:document_contains][:name] rescue ''), class: 'span12'

  = label_tag 'document_contains[amount]', 'Montant'
  = text_field_tag 'document_contains[amount]', (params[:document_contains][:amount] rescue ''), class: 'span12'

  .margin2top
  = submit_tag t('filters.action'), class: 'btn btn-primary'
  = link_to t('filters.reset'), path, class: 'btn'
