#retrieved_documents.select
  - unless @customer.configured?
    .box
      = render 'account/customers/steps'

  .row
    .col-md-12.box
      %h3 Sélection de documents restant à intégrer du client #{link_to @customer, account_organization_customer_retrievers_path(@organization, @customer)} (#{@documents.total_count})
  .row-fluid
    .col-md-9.box{ style: 'padding-bottom:0;' }
      = form_tag validate_account_organization_customer_retrieved_documents_path, method: 'patch', class: 'form form-horizontal' do
        = hidden_field_tag 'document_contains[retriever_id]', @retriever.id if @retriever
        = hidden_field_tag 'document_contains[service_name]', (params[:document_contains][:service_name] rescue '')
        = hidden_field_tag 'document_contains[date][>=]',     (params[:document_contains][:date]['>='] rescue '')
        = hidden_field_tag 'document_contains[date][<=]',     (params[:document_contains][:date]['=>'] rescue '')
        = hidden_field_tag 'document_contains[name]',         (params[:document_contains][:name] rescue '')
        = hidden_field_tag 'document_contains[amount]',       (params[:document_contains][:amount] rescue '')
        = render 'shared/list_options', collection: @documents
        %table.table.table-bordered.table-condensed.table-striped.margin1top.margin0bottom
          %thead
            %tr
              %th= check_box_tag 'master_checkbox', 0, false
              %th= sortable :created_at,         'Date de la récupération'
              %th= sortable :retriever_id,       'Service'
              %th= sortable :date,               'Date'
              %th= sortable :name,               'Nom original'
              %th.pages= sortable :pages_number, 'Nb. pages'
              %th.amount= sortable :amount,      'Montant'
          %tbody
            - @documents.each do |document|
              %tr
                %td= check_box_tag "document_ids[]", document.id, false, class: 'checkbox'
                %td= l(document.created_at)
                %td
                  - if document.retriever.nil?
                    %span.label supprimé
                  = document.retriever_name
                %td= l(document.metadata['date'], format: '%d %b %Y') rescue ''
                %td= link_to document.metadata['name'] + '.pdf', account_retrieved_document_path(document)
                %td.pages= document.pages_number
                %td.amount= document.metadata['amount'].to_s + ' €'
        = render 'shared/list_options', collection: @documents
        .form-actions
          = submit_tag 'Intégrer les documents sélectionnés', class: 'btn btn-primary', data: { confirm: t('actions.confirm') }
    .col-md-3.box
      = render 'sidebar'
