= simple_nested_form_for [:admin, @organization, @account_book_type], html: { class: 'form form-horizontal account_book_type margin0' } do |f|
  .modal-body
    = f.input :name
    = f.input :pseudonym
    = f.input :description
    = f.input :domain, label: t('mongoid.models.account_book_type.attributes.domain'), collection: journal_domain_for_select, selected: @account_book_type['domain'], include_blank: false
    - collection = [[t('simple_form.labels.account_book_type.entry_type_0'),0],[t('simple_form.labels.account_book_type.entry_type_1'),1],[t('simple_form.labels.account_book_type.entry_type_2'),2],[t('simple_form.labels.account_book_type.entry_type_3'),3]]
    = f.input :entry_type, collection: collection, selected: @account_book_type['entry_type'], allow_blank: false
    = f.input :default_account_number
    = f.input :account_number
    = f.input :default_charge_account
    = f.input :charge_account
    = f.input :vat_account
    = f.input :anomaly_account
    = f.input :is_expense_categories_editable, as: :boolean
    .control-group
      %label.control-label= t('simple_form.labels.account_book_type.expense_categories')
      .controls
        = f.fields_for :expense_categories do |category|
          .well
            = category.link_to_remove icon_destroy, class: 'btn btn-mini'
            = category.input :name, label: t('simple_form.labels.account_book_type.expense_category.name')
            = category.input :description, label: t('simple_form.labels.account_book_type.expense_category.description'), as: :text, input_html: { rows: 3 }
        = f.link_to_add 'Ajouter une catégorie', :expense_categories, class: 'btn'
    = f.input :instructions, as: :text, input_html: { maxlength: 400 }
    = f.input :position, as: :integer
    = f.input :is_default, as: :boolean
    .control-group
      %label.control-label= t('simple_form.labels.account_book_type.clients')
      .controls
        - @organization.customers.active.asc(:code).each do |client|
          = check_box_tag 'account_book_type[client_ids][]', client.id, @account_book_type.clients.include?(client), id: "account_book_type_client_ids_#{client.id}", class: 'pull-left', style: 'margin-right:5px;position:relative;top:-2px;'
          %label{ for: "account_book_type_client_ids_#{client.id}" }= client.info
        = hidden_field_tag 'account_book_type[client_ids][]', ''
  .modal-footer
    = f.submit t('actions.submit'), class: 'btn'
