= simple_nested_form_for [:admin, @organization, @account_book_type], html: { class: 'form form-horizontal account_book_type margin0' } do |f|
  .modal-body
    - if @account_book_type.request && @account_book_type.request.attribute_changes.try(:[],'name').present?
      - hint = ''
      - hint << icon_link_to('#account_book_type_name', { icon: 'pencil' }, { class: 'assign_value' }) << ' '
      - hint << content_tag(:span, @account_book_type.request.attribute_changes.try(:[],'name'))
    - else
      - hint = ''
    = f.input :name, hint: hint

    - if @account_book_type.request && @account_book_type.request.attribute_changes.try(:[],'description').present?
      - hint = ''
      - hint << icon_link_to('#account_book_type_description', { icon: 'pencil' }, { class: 'assign_value' }) << ' '
      - hint << content_tag(:span, @account_book_type.request.attribute_changes.try(:[],'description'))
    - else
      - hint = ''
    = f.input :description, hint: hint

    - collection = [[t('simple_form.labels.account_book_type.entry_type_0'),0],[t('simple_form.labels.account_book_type.entry_type_1'),1],[t('simple_form.labels.account_book_type.entry_type_2'),2],[t('simple_form.labels.account_book_type.entry_type_3'),3]]
    - if @account_book_type.request
      - value = @account_book_type.request.attribute_changes.try(:[],'entry_type')
    - else
      - value = nil
    - if value.present?
      - hint = ''
      - hint << icon_link_to('#account_book_type_entry_type', { icon: 'pencil' }, { class: 'assign_value' }) << ' '
      - hint << content_tag(:span, collection[value][1], style: 'display:none')
      - hint << content_tag(:span, collection[value][0])
    - else
      - hint = ''
    = f.input :entry_type, collection: collection, selected: @account_book_type['entry_type'], allow_blank: false, hint: hint

    - if @account_book_type.request && @account_book_type.request.attribute_changes.try(:[],'default_account_number').is_a?(String)
      - hint = ''
      - hint << icon_link_to('#account_book_type_default_account_number', { icon: 'pencil' }, { class: 'assign_value' }) << ' '
      - hint << content_tag(:span, @account_book_type.request.attribute_changes.try(:[],'default_account_number'))
    - else
      - hint = ''
    = f.input :default_account_number, hint: hint

    - if @account_book_type.request && @account_book_type.request.attribute_changes.try(:[],'account_number').is_a?(String)
      - hint = ''
      - hint << icon_link_to('#account_book_type_account_number', { icon: 'pencil' }, { class: 'assign_value' }) << ' '
      - hint << content_tag(:span, @account_book_type.request.attribute_changes.try(:[],'account_number'))
    - else
      - hint = ''
    = f.input :account_number, hint: hint

    - if @account_book_type.request && @account_book_type.request.attribute_changes.try(:[],'default_charge_account').is_a?(String)
      - hint = ''
      - hint << icon_link_to('#account_book_type_default_charge_account', { icon: 'pencil' }, { class: 'assign_value' }) << ' '
      - hint << content_tag(:span, @account_book_type.request.attribute_changes.try(:[],'default_charge_account'))
    - else
      - hint = ''
    = f.input :default_charge_account, hint: hint

    - if @account_book_type.request && @account_book_type.request.attribute_changes.try(:[],'charge_account').is_a?(String)
      - hint = ''
      - hint << icon_link_to('#account_book_type_charge_account', { icon: 'pencil' }, { class: 'assign_value' }) << ' '
      - hint << content_tag(:span, @account_book_type.request.attribute_changes.try(:[],'charge_account'))
    - else
      - hint = ''
    = f.input :charge_account, hint: hint

    - if @account_book_type.request && @account_book_type.request.attribute_changes.try(:[],'vat_account').is_a?(String)
      - hint = ''
      - hint << icon_link_to('#account_book_type_vat_account', { icon: 'pencil' }, { class: 'assign_value' }) << ' '
      - hint << content_tag(:span, @account_book_type.request.attribute_changes.try(:[],'vat_account'))
    - else
      - hint = ''
    = f.input :vat_account, hint: hint

    - if @account_book_type.request && @account_book_type.request.attribute_changes.try(:[],'anomaly_account').is_a?(String)
      - hint = ''
      - hint << icon_link_to('#account_book_type_anomaly_account', { icon: 'pencil' }, { class: 'assign_value' }) << ' '
      - hint << content_tag(:span, @account_book_type.request.attribute_changes.try(:[],'anomaly_account'))
    - else
      - hint = ''
    = f.input :anomaly_account, hint: hint

    = f.input :is_expense_categories_editable, as: :boolean

    .control-group
      %label.control-label= t('simple_form.labels.account_book_type.expense_categories')
      .controls
        = f.fields_for :expense_categories do |category|
          .well
            = category.link_to_remove icon_destroy, class: 'btn btn-mini'
            = category.input :name, label: t('simple_form.labels.account_book_type.expense_category.name')
            = category.input :description, label: t('simple_form.labels.account_book_type.expense_category.description'), as: :text, input_html: { rows: 3 }
        = f.link_to_add 'Ajouter une catégorie', :expense_categories, class: 'btn'

    - if @account_book_type.request && @account_book_type.request.attribute_changes.try(:[],'instructions').is_a?(String)
      - hint = ''
      - hint << icon_link_to('#account_book_type_instructions', { icon: 'pencil' }, { class: 'assign_value' }) << ' '
      - hint << content_tag(:span, @account_book_type.request.attribute_changes.try(:[],'instructions'))
    - else
      - hint = ''
    = f.input :instructions, as: :text, hint: hint, input_html: { maxlength: 400 }

    = f.input :position, as: :integer
    = f.input :is_default, as: :boolean
    .control-group
      %label.control-label= t('simple_form.labels.account_book_type.clients')
      .controls
        - @organization.customers.active.asc(:code).each do |client|
          = check_box_tag 'account_book_type[client_ids][]', client.id, @account_book_type.clients.include?(client), id: "account_book_type_client_ids_#{client.id}", class: 'pull-left', style: 'margin-right:5px;position:relative;top:-2px;'
          - marker = ''
          - if client.in?(@account_book_type.requested_clients) && !client.in?(@account_book_type.clients)
            - marker = icon(icon: 'plus', class: 'display:inline', style: 'margin-left:5px')
          - elsif !client.in?(@account_book_type.requested_clients) && client.in?(@account_book_type.clients)
            - marker = icon(icon: 'remove', class: 'display:inline', style: 'margin-left:5px')
          %label{ for: "account_book_type_client_ids_#{client.id}" }!= client.info + marker
        = hidden_field_tag 'account_book_type[client_ids][]', ''

    - if params[:action] == 'edit'
      = f.input :force_assignment, as: :boolean
  .modal-footer
    = f.submit t('actions.submit'), class: 'btn'
