.container.margin4top.padding2top
  .row
    .span12.alerts
      - if flash[:notice].present?
        .alert.alert-success
          %a{ :class=>"close", "data-dismiss"=>"alert" } ×  
          %span= flash[:notice]
      - elsif flash[:credit_alert].present? || flash[:error].present?
        .alert.alert-error
          %a{ :class=>"close", "data-dismiss"=>"alert" } × 
          %span= flash[:credit_alert] || flash[:error]
  .row
    .span3
      - if current_user.is_dropbox_authorized
        .row
          .span3
            .well            
              %h3
                DROPBOX
              - session = DropboxSession.deserialize(current_user.my_dropbox.session) rescue nil
              - if session && session.authorized?
                Votre compte Dropbox est déjà configuré, si vous voulez le reparamétrer cliquez
              - else
                Pour autoriser l'envoi automatique par iDocus de vos documents sur votre compte Dropbox, cliquez
              != link_to "ici", authorize_url_account_dropbox_path
              #{"."}
      .row
        .span3
          .well.change_pass_parent
            %h3 Changer mon mot de passe
            %br/
            .change_pass
              - form_for @user, :url => account_profile_path do |f|
                - if flash[:alert].present?
                  .alert-container
                    .alert.alert-error
                      %a{ :class=>"close", "data-dismiss"=>"alert" } × 
                      %span
                        %ul
                          %li
                            Mots de passe invalides
          
                != f.label "Mot de passe actuel :"
                = f.password_field :current_password, :label => "Ancien mot de passe"
                != f.label "Nouveau mot de passe :"
                = f.password_field :password, :label => "Nouveau mot de passe"
                != f.label "Confirmation du mot de passe :"
                = f.password_field :password_confirmation, :label => "Confirmation du nouveau mot de passe"
                != f.submit "Modifier", :class => "btn blue"
    .span6.gray.well.paymentslist_container
      %div
        %h3.aligncenter Mode de paiement
        %br/
        .row
          .span3
            .paymentslist
              .header
                !=radio_button_tag( "use_debit_mandate", "false", ( @user.use_debit_mandate ? false : true ), :id => :pp )
                %span
                  %a{ :href => "#" }
                    %label{ :for => "pp" } compte prépayé                
              %form{ :method => :get, :action => credit_account_payment_path }
                .content
                  %span
                    %label{ :for => "amount" } Somme à créditer (€):
                    %input#amount{ :name => "amount", :type => "text", :value => "0.00" }/
                    %br/
                    Payer avec :
                .footer
                  %input#amount.btn.btn-white.margin1right{ :name => "paypal", :type => "submit", :value => "Paypal" }/
                  %input#amount.btn.btn-white.margin1right{ :name => "cmcic", :type => "submit", :value => "CM-CIC" }/
          .span3
            .paymentslist
              .header
                !=radio_button_tag( "use_debit_mandate", "true", ( @user.use_debit_mandate ? true : false ), :id => :prlv )
                %span
                  %a{ :href => "#" }
                    %label{ :for => "prlv" } prélèvement
              .content
                %span
                  Etat : 
                  - if @user.debit_mandate
                    - if @user.debit_mandate.transactionStatus == "success"
                      ok
                    - else
                      information non valide
                  - else
                    non configuré
                %span
                  Banque : #{@user.debit_mandate.bic rescue ""}
              .footer.padding1bottom
                %form{ :method => :get, :action => "https://prlv.idocus.com/form.php" }
                  %input.btn.btn-white.margin1right{ :name => :email, :type => "hidden", :value => @user.email }/
                  %input.btn.btn-white.margin1right{ :name => "", :type => "submit", :value => "Configurer" }/
      %div
        %h3.aligncenter Factures
        %br/
        %table.table.table-striped.table-bordered.table-condensed
          %thead
            %tr.aligncenter
              %th Date
              %th Montant facture
              %th N°
              %th Détails
          %tbody
            - @user.events.limit(10).order_by([[:created_at,:desc]]).each do |event|
              %tr.aligncenter{ :class => (event.type_number == 0? "green" : "red") }
                %td #{event.created_at.strftime("%Y-%m-%d")}
                %td
                  - if event.amount_in_cents == 0
                    #{"-"}
                  - else
                    #{format_price event.amount_in_cents} €
                %td #{event.invoice.number rescue ""}
                %td.information{ :title => event.description }
                  ?