.container
  .row
    .span12.alerts
      - if flash[:notice].present?
        .alert.alert-success
          %a{ :class=>"close", "data-dismiss"=>"alert" } ×  
          %span= flash[:notice]
      - elsif flash[:credit_alert].present? || flash[:error].present?
        .alert.alert-error
          %a{ :class=>"close", "data-dismiss"=>"alert" } × 
          %span= flash[:credit_alert] || flash[:error]
  .row
    .span3
      .well.change_pass_parent
        %h3 Changer mon mot de passe
        %br/
        .change_pass
          = form_for @user, :url => account_profile_path do |f|
            - if flash[:alert].present?
              .alert-container
                .alert.alert-error
                  %a{ :class=>"close", "data-dismiss"=>"alert" } × 
                  %span
                    %ul
                      %li
                        Mots de passe invalides
      
            != f.label "Mot de passe actuel :"
            = f.password_field :current_password, :label => "Ancien mot de passe"
            != f.label "Nouveau mot de passe :"
            = f.password_field :password, :label => "Nouveau mot de passe"
            != f.label "Confirmation du mot de passe :"
            = f.password_field :password_confirmation, :label => "Confirmation du nouveau mot de passe"
            != f.submit "Modifier", :class => "btn blue"
    .span7
      .row
        .span6.gray.well.paymentslist_container
          %h3.aligncenter Mode de paiement
          %br/
          .row
            .span3
              .paymentslist
                .header
                  !=radio_button_tag( "use_debit_mandate", "false", ( @user.use_debit_mandate ? false : true ), :id => :pp )
                  %span
                    %a{ :href => "#" }
                      %label{ :for => "pp" } compte prépayé                
                %form{ :method => :get, :action => credit_account_payment_path }
                  .content
                    %span
                      %label{ :for => "amount" } Somme à créditer (€):
                      %input#amount{ :name => "amount", :type => "text", :value => "0.00" }/
                      %br/
                      Payer avec :
                  .footer
                    %input#amount.btn.btn-white.margin1right{ :name => "paypal", :type => "submit", :value => "Paypal" }/
                    %input#amount.btn.btn-white.margin1right{ :name => "cmcic", :type => "submit", :value => "CM-CIC" }/
            .span3
              .paymentslist
                .header
                  !=radio_button_tag( "use_debit_mandate", "true", ( @user.use_debit_mandate ? true : false ), :id => :prlv )
                  %span
                    %a{ :href => "#" }
                      %label{ :for => "prlv" } prélèvement
                .content
                  %span
                    Etat : 
                    - if @user.debit_mandate
                      - if @user.debit_mandate.transactionStatus == "success"
                        ok
                      - else
                        information non valide
                    - else
                      non configuré
                  %span
                    Banque : #{@user.debit_mandate.bic rescue ""}
                .footer.padding1bottom
                  %form{ :method => :get, :action => "https://prlv.idocus.com/form.php" }
                    %input.btn.btn-white.margin1right{ :name => :email, :type => "hidden", :value => @user.email }/
                    %input.btn.btn-white.margin1right{ :name => "", :type => "submit", :value => "Configurer" }/
      
      - if @external_file_storage.authorized > 0
        - services_authorized_count = @external_file_storage.services_authorized_count
        - nb = 0
        :javascript
          var is_path_used = #{@external_file_storage.is_path_used ? "true" : "false"};
        .row
          .span6.well
            %h3.aligncenter Stockage externe des documents
            %br
            %form.margin0bottom{ :class => "", :action => update_path_settings_account_external_file_storage_path, :method => "POST" }
              != hidden_field_tag "authenticity_token", form_authenticity_token
              != check_box_tag "use_global_path", 1, @external_file_storage.is_path_used, :style => "margin:11px 5px  0 0;", :class => "pull-left"
              Chemin de livraison identique pour tous les services : 
              != text_field_tag "external_file_storage[path]", @external_file_storage.path, :style => "margin:5px 0 5px 0;font-size:11px;", :class => "global_path"
              != submit_tag "valider", :style => "margin:5px 0 5px 0;font-size:11px;", :class => "global_path"
            %hr{ :style => "margin:5px 0 5px 0;" }
            - if @external_file_storage.is_dropbox_basic_authorized?
              - nb += 1
              - service_number = ExternalFileStorage::F_DROPBOX
              - is_service_used = @external_file_storage.is_used?(service_number)
              %div
                .row
                  .span6
                    != check_box_tag :enable_dropbox, 1, is_service_used, :id => "service_#{service_number}", :class => "checkbox use_service", :style => "float:left;margin-right:5px;margin-top:0;"
                    %b
                      != label_tag :"service_#{service_number}", "DROPBOX"
                .row{ :class => "service_config_#{service_number} #{!is_service_used ? 'hide' : ''}" }
                  .span6
                    - if @external_file_storage.dropbox_basic.is_configured?
                      Votre compte iDocus est connecté à votre compte Dropbox. 
                      != link_to "Paramètres", authorize_url_account_dropbox_path
                    - else
                      Pour connecter iDocus à votre compte Dropbox, cliquez
                      != link_to "ici", authorize_url_account_dropbox_path
                    #{"."}
                    %form.margin0bottom{ :action => update_path_settings_account_external_file_storage_path, :method => "POST" }
                      != hidden_field_tag "authenticity_token", form_authenticity_token
                      != label_tag "external_file_storage[dropbox_basic][path]", "Chemin de livraison : ", :class => "pull-left margin1top", :style => "margin-right:4px;"
                      != text_field_tag "external_file_storage[dropbox_basic][path]", "#{@external_file_storage.dropbox_basic.path}", :style => "margin:5px 0 5px 0;font-size:11px;", :class => "other_path"
                      != submit_tag "valider", :style => "margin:5px 0 5px 0;font-size:11px;", :class => "other_path"
            
            - if nb < services_authorized_count
              %hr{ :style => "margin:5px 0 5px 0;" }
            
            - if @external_file_storage.is_google_docs_authorized?
              - nb += 1
              - service_number = ExternalFileStorage::F_GOOGLE_DOCS
              - is_service_used = @external_file_storage.is_used?(service_number)
              %div
                .row
                  .span6
                    != check_box_tag :enable_google_docs, 1, is_service_used, :id => "service_#{service_number}", :class => "checkbox use_service", :style => "float:left;margin-right:5px;margin-top:0;"
                    %b
                      != label_tag :"service_#{service_number}", "GOOGLE DRIVE"
                .row{ :class => "service_config_#{service_number} #{!is_service_used ? 'hide' : ''}" }
                  .span6
                    - if @external_file_storage.google_doc.is_configured?
                      Votre compte iDocus est connecté à votre compte Google Drive. 
                      != link_to "Paramètres", authorize_url_account_google_doc_path
                    - else
                      Pour connecter iDocus à votre compte Google Drive, cliquez
                      != link_to "ici", authorize_url_account_google_doc_path
                    #{"."}
                    %form.margin0bottom{ :action => update_path_settings_account_external_file_storage_path, :method => "POST" }
                      != hidden_field_tag "authenticity_token", form_authenticity_token
                      != label_tag "external_file_storage[google_doc][path]", "Chemin de livraison : ", :class => "pull-left margin1top", :style => "margin-right:4px;"
                      != text_field_tag "external_file_storage[google_doc][path]", "#{@external_file_storage.google_doc.path}", :style => "margin:5px 0 5px 0;font-size:11px;", :class => "other_path"
                      != submit_tag "valider", :style => "margin:5px 0 5px 0;font-size:11px;", :class => "other_path"
            
            - if nb < services_authorized_count
              %hr{ :style => "margin:5px 0 5px 0;" }
            
            - if @external_file_storage.is_ftp_authorized?
              - nb += 1
              - service_number = ExternalFileStorage::F_FTP
              - is_service_used = @external_file_storage.is_used?(service_number)
              %div
                .row
                  .span6
                    != check_box_tag :enable_ftp, 1, is_service_used, :id => "service_#{service_number}", :class => "checkbox use_service", :style => "float:left;margin-right:5px;margin-top:0;"
                    %b
                      != label_tag :"service_#{service_number}", "FTP"
                .row{ :class => "service_config_#{service_number} #{!is_service_used ? 'hide' : ''}" }
                  .span6
                    - if @external_file_storage.ftp.is_configured?
                      Votre compte iDocus est connecté à votre compte FTP. 
                      != link_to "Paramètres", "#ftpDialog", "data-toggle" => "modal"
                    - else
                      Pour connecter iDocus à votre compte FTP, cliquez
                      != link_to "ici", "#ftpDialog", "data-toggle" => "modal"
                    \.
                    %form.margin0bottom{ :action => update_path_settings_account_external_file_storage_path, :method => "POST" }
                      != hidden_field_tag "authenticity_token", form_authenticity_token
                      != label_tag "external_file_storage[ftp][path]", "Chemin de livraison : ", :class => "pull-left margin1top", :style => "margin-right:4px;"
                      != text_field_tag "external_file_storage[ftp][path]", "#{@external_file_storage.ftp.path}", :style => "margin:5px 0 5px 0;font-size:11px;", :class => "other_path"
                      != submit_tag "valider", :style => "margin:5px 0 5px 0;font-size:11px;", :class => "other_path"

        .modal.fade{ :id=>"ftpDialog", :style => "width:333px;height:250px;margin: -125px 0 0 -166px;" }
          .modal-header
            %a{ :class=>"close", "data-dismiss"=>"modal" } ×
            %h3 Configuration du service FTP
          %form.margin0bottom{ :action => configure_account_ftp_path, :method => "POST" }
            .modal-body
              %table
                %tr
                  %td.alignright
                    != label_tag "ftp[host]", "Hôte : "
                  %td
                    != text_field_tag "ftp[host]", @external_file_storage.ftp.host
                %tr
                  %td.alignright
                    != label_tag "ftp[login]", "Identifiant : "
                  %td
                    != text_field_tag "ftp[login]", @external_file_storage.ftp.login
                %tr
                  %td.alignright
                    != label_tag "ftp[password]", "Mots de passe : "
                  %td
                    != password_field_tag "ftp[password]", @external_file_storage.ftp.password
            .modal-footer{ :style => "height: 29px;padding-bottom:12px;" }
              != submit_tag "Valider", :class => "btn"
              %a{ :href=>"#", :class=>"modal-close btn" } Fermer

= render "help"