.box.bg-light
  %h6 Choisir le(s) groupe(s) et/ou client(s) affectés par la règle.
  %hr
  .row
    .form-group
      .controls.users
        .col-md-6
          Groupes
          %br
          (
          = link_to 'Tous', '#', class: 'all_groups'
          \/
          = link_to 'Aucun', '#', class: 'no_groups'
          )
          %br
          - @organization.groups.includes(:members).order(name: :asc).each do |group|
            = check_box_tag 'account_number_rule[group][]', group.members.map{ |m| m.id.to_s }, false, id: "account_number_rule_group_#{group.id}"
            %label{ for: "account_number_rule_group_#{group.id}" }= group.name
        .col-md-6
          = t('activerecord.models.account_number_rule.attributes.users')
          %br
          (
          = link_to 'Tous', '#', class: 'all_users'
          \/
          = link_to 'Aucun', '#', class: 'no_users'
          )
          %br
          - users = @account_number_rule.present? ? @account_number_rule.users : []
          - @organization.customers.active.order(code: :asc).each do |user|
            = check_box_tag 'account_number_rule[user_ids][]', user.id, users.include?(user),id: "account_number_rule_user_ids_#{user.id}"
            %label{ for: "account_number_rule_user_ids_#{user.id}" }= user.info