= simple_form_for [:account, @organization, @account_number_rule], html: { class: 'form form-horizontal margin0' } do |f|
  .row-fluid
    .span6
      = f.input :name
      = f.input :affect, collection: affect_options_for_select, include_blank: false, disabled: action_name.in?(%w(edit update)), hint: ('Ne pourra plus être changé par la suite.' if action_name.in?(%w(new create)))
      = f.input :rule_type, collection: rule_type_options_for_select, include_blank: false, hint: 'Effectue une recherche ou une correction du plan de compte avec le champ "Contenu" ci-dessous.'
      = f.input :content
      = f.input :priority, as: :integer, hint: 'Plus le nombre est petit plus la règle est importante.'
      = f.input :third_party_account, required: true, hint: 'Le numéro qui sera assigné si la recherche est un succès.'
    
    .span6.affect_to
      %h6 Choisir le(s) groupe(s) et/ou client(s) affectés par la règle.
      .row-fluid
        .control-group
          .controls.users
            .span6
              Groupes
              %br
              (
              = link_to 'Tous', '#', class: 'all_groups'
              \/
              = link_to 'Aucun', '#', class: 'no_groups'
              )
              %br
              - @organization.groups.asc(:name).each do |group|
                = check_box_tag 'account_number_rule[group][]', group.members.map{ |m| m.id.to_s }, false, id: "account_number_rule_group_#{group.id}"
                %label{ for: "account_number_rule_group_#{group.id}" }= group.name
            .span6
              = t('mongoid.models.group.attributes.user')
              %br
              (
              = link_to 'Tous', '#', class: 'all_users'
              \/
              = link_to 'Aucun', '#', class: 'no_users'
              )
              %br
              - users = @account_number_rule.users.entries
              - @organization.customers.asc(:code).each do |user|
                = check_box_tag 'account_number_rule[user_ids][]', user.id, users.include?(user),id: "account_number_rule_user_ids_#{user.id}"
                %label{ for: "account_number_rule_user_ids_#{user.id}" }= user.info

  .form-actions.margin0bottom
    = f.submit t('actions.submit'), class: 'btn btn-primary'
    = link_to t('actions.cancel'), account_organization_path(@organization, tab: 'account_number_rules'), class: 'btn'
