#account_number_rules.row-fluid
  .span12.box
    = link_to icon_new + ' Nouvelle ', new_account_organization_account_number_rule_path(@organization), class: 'btn btn-primary pull-right'
    %p
      Les règles (#{@organization.account_number_rules.size}) ci-dessous s'appliquent aux opérations récupérées depuis les automates.
    %table.table.table-striped.table-condensed.margin0bottom
      %thead
        %tr
          %th= t('mongoid.models.account_number_rule.attributes.priority')
          %th= t('mongoid.models.account_number_rule.attributes.name')
          %th= t('mongoid.models.account_number_rule.attributes.affect')
          %th= t('mongoid.models.account_number_rule.attributes.rule_type')
          %th= t('mongoid.models.account_number_rule.attributes.content')
          %th= t('mongoid.models.account_number_rule.attributes.third_party_account')
      %tbody
        - @account_number_rules.each do |rule|
          %tr
            %td= rule.priority
            %td= rule.name
            %td
              = t('mongoid.models.account_number_rule.attributes.affect_values.' + rule.affect)
              - if rule.affect == 'user'
                - if rule.users.size == 1
                  (#{rule.users.first.code})
                - else
                  (#{rule.users.size})
            %td= t('mongoid.models.account_number_rule.attributes.rule_type_values.' + rule.rule_type)
            %td= rule.content
            %td= rule.third_party_account
            %td
              = link_to icon(icon: 'plus'), new_account_organization_account_number_rule_path(@organization, template: rule), class: 'btn btn-mini', title: 'Créer une règle en se basant sur cette règle'
              = link_to icon_show, account_organization_account_number_rule_path(@organization, rule), class: 'btn btn-mini', title: 'Voir'
              = link_to icon_edit, edit_account_organization_account_number_rule_path(@organization, rule), class: 'btn btn-mini', title: 'Editer'
              = link_to icon_destroy, account_organization_account_number_rule_path(@organization, rule), class: 'btn btn-mini', method: :delete, data: { confirm: t('actions.confirm') }, title: 'Supprimer'
