#account_number_rules.select_to_download
  .row.derivationRight
    .col-md-12
      .box.clearfix
        .float-left
          %h3
            Liste des règles d'affectations bancaires - iDo'FacBanque
            %span.badge.badge-info= @account_number_rules_count
        .float-right
          = link_to 'Ajouter une règle ', new_account_organization_account_number_rule_path(@organization), class: 'btn btn-primary'
          = link_to 'Importer des règles  ', import_form_account_organization_account_number_rules_path(@organization), class: 'btn btn-primary'
  .row.retractable.with-filter.derivationLeft
    .col-md-12.retractable-content
      .box
        = form_tag(export_or_destroy_account_organization_account_number_rules_path(@organization), method: :post) do
          .head.clearfix
            .float-left
              %p Les règles ci-dessous s'appliquent aux opérations récupérées depuis les automates. Vous pouvez exporter les règles sélectionnées ou les supprimer.
            .float-right
              %button(type="submit" name="export_or_destroy" value="export" class="btn btn-primary")
                = 'Exporter sur Excel'
              %button(type="submit" name="export_or_destroy" value="destroy" class="btn btn-danger" data-confirm="Etes-vous sûr de vouloir supprimer les règles sélectionnées ?")
                = 'Supprimer les règles'
              %a{ href:'#skipAccountingPlan', title:'Paramètres avancées', style: 'margin-left: 20px', class: 'btn btn-secondary btn-filter', data: {toggle: :modal} }
                = 'Paramètres avancés'
          = render partial: 'shared/list_options', locals: { collection: @account_number_rules }
          %table.table.table-condensed.table-striped.margin1top.margin1bottom.table-detachable-head.table-bordered-inner
            %thead
              %tr.bg-brown.text-white
                %th= check_box_tag 'master_checkbox', 0, false, style: 'top:0;'
                %th= sortable :name, t('activerecord.models.account_number_rule.attributes.name')
                %th= sortable :affect, t('activerecord.models.account_number_rule.attributes.affect')
                %th= t('activerecord.models.account_number_rule.attributes.rule_type')
                %th= sortable :categorization, t('activerecord.models.account_number_rule.attributes.categorization')
                %th= sortable :content, t('activerecord.models.account_number_rule.attributes.content')
                %th= t('activerecord.models.account_number_rule.attributes.third_party_account')
                %th Actions
            %tbody.retractable.slidedown
              - @account_number_rules.each do |rule|
                %tr
                  %td= check_box_tag 'rules[rule_ids][]', rule.id, false, id: "rule_#{rule.id}", style: 'top:0;', class: 'checkbox'
                  %td= rule.name
                  %td
                    = t('activerecord.models.account_number_rule.attributes.affect_values.' + rule.affect)
                    - if rule.affect == 'user'
                      - if rule.users.size == 1
                        (#{rule.users.first.code})
                      - else
                        (#{rule.users.size})
                  %td= t('activerecord.models.account_number_rule.attributes.rule_type_values.' + rule.rule_type) + " (#{rule.priority})"
                  %td= rule.categorization
                  %td= rule.content
                  %td= rule.third_party_account
                  %td
                    = link_to glyphicon('plus'), new_account_organization_account_number_rule_path(@organization, template: rule), class: 'btn btn-light', title: 'Créer une règle en se basant sur cette règle'
                    = link_to glyphicon('eye'), account_organization_account_number_rule_path(@organization, rule), class: 'btn btn-light', title: 'Voir'
                    = link_to glyphicon('pencil'), edit_account_organization_account_number_rule_path(@organization, rule), class: 'btn btn-light', title: 'Editer'
                    = link_to glyphicon('x'), account_organization_account_number_rule_path(@organization, rule), class: 'btn btn-light', method: :delete, data: { confirm: t('actions.confirm') }, title: 'Supprimer'
        = render partial: 'shared/list_options', locals: { collection: @account_number_rules }
    = render partial: 'sidebar'
  = render partial: 'modal_form_skip_accounting_plan'
