#account_number_rule
  .row.derivationRight
    .col-md-12
      .box.clearfix
        .float-left
          %h3
            Informations sur la règle : 
            %span.text-info.fs-origin= @account_number_rule.name
        .float-right
          = link_to t('actions.edit'), edit_account_organization_account_number_rule_path(@organization, @account_number_rule), class: 'btn btn-primary'
          = link_to t('actions.destroy'), account_organization_account_number_rule_path(@organization, @account_number_rule), class: 'btn btn-danger', method: :delete, data: { confirm: t('actions.confirm') }
          = link_to t('actions.return'), account_organization_account_number_rules_path(@organization), class: 'btn btn-light'
  .row.derivationLeft
    .col-md-12
      .box
        %table.table.table-striped.table-condensed.margin0bottom
          %tbody
            %tr
              %th= t('activerecord.models.account_number_rule.attributes.rule_target')
              %td= t('activerecord.models.account_number_rule.attributes.rule_target_values.' + @account_number_rule.rule_target)
            %tr
              %th= t('activerecord.models.account_number_rule.attributes.affect')
              %td= t('activerecord.models.account_number_rule.attributes.affect_values.' + @account_number_rule.affect)
            %tr
              %th= t('activerecord.models.account_number_rule.attributes.rule_type')
              %td= t('activerecord.models.account_number_rule.attributes.rule_type_values.' + @account_number_rule.rule_type)
            %tr
              %th= t('activerecord.models.account_number_rule.attributes.categorization')
              %td= @account_number_rule.categorization
            %tr
              %th= t('activerecord.models.account_number_rule.attributes.content')
              %td= @account_number_rule.content
            %tr
              %th= t('activerecord.models.account_number_rule.attributes.priority')
              %td= @account_number_rule.priority
            - if @account_number_rule.rule_type == 'match'
              %tr
                %th= t('activerecord.models.account_number_rule.attributes.third_party_account')
                %td= @account_number_rule.third_party_account
            - if @account_number_rule.users.count > 0
              %th Clients concernés (#{@account_number_rule.users.size})
              %td
                - @account_number_rule.users.order(code: :asc).each do |user|
                  = link_to user.info, account_organization_customer_path(@organization, user)
                  %br
