= form_for @ibiza, url: admin_organization_ibiza_path(@organization), html: { class: 'form form-horizontal' } do |f|
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th
          %h3 Options Ibiza
    %tbody
      %tr
        %th= t('mongoid.models.ibiza.attributes.state').capitalize
        %td
          %span{ class: "label #{ibiza_state_label(@ibiza)}" } #{ibiza_state(@ibiza)}
      %tr
        %th= t('mongoid.models.ibiza.attributes.token').capitalize
        %td
          = f.text_field :token
          = f.submit 'Valider', class: 'btn btn-mini'