= semantic_form_for [:admin2, @homepage_slide] do |f|
  = f.inputs 'Informations' do
    = f.input :name, label: "Nom de l'image ( taille 912*180 pixels ) ( exemple : soleil.jpg )"
    = f.input :description, label: 'Déscription'
    = f.input :link, label: "lien de l'image"
    = f.input :position, label: 'Position'
    = f.input :is_invisible, as: Boolean, label: 'Cacher ?'
    
  = f.buttons
