#group_organizations.container-fluid
  .alerts
    = render partial: 'shared/messages'
  .row.derivationLeft
    .col-md-12
      .box.small-shadow.clearfix
        .float-left
          %h3
            Liste des groupes d'organisation &nbsp;
            %span.badge.badge-info= @organization_groups.total_count
        .float-right
          = link_to t('actions.new'), new_account_group_organization_path, class: 'btn btn-primary'

  .row.derivationRight
    .col-md-12
      .box
        = render partial: 'shared/list_options', locals: { collection: @organization_groups }
        .row
          .col-md-12
            %table.table.table-condensed.table-striped.margin1top.margin1bottom.table-detachable-head.table-bordered-inner
              %thead
                %tr.bg-brown.text-white
                  %th= t('activerecord.models.common.attributes.created_at')
                  %th= t('activerecord.models.common.attributes.updated_at')
                  %th Nom
                  %th Membres
                  %th Actions
              %tbody.retractable.slidedown
                - @organization_groups.each do |group|
                  %tr
                    %td= l(group.created_at)
                    %td= l(group.updated_at)
                    %td= group.name
                    %td
                      - group.organizations.order(:name).each_with_index do |organization, index|
                        = ',' if index != 0
                        = link_to organization.name, account_organization_path(organization)
                    %td
                      = link_to 'Éditer', edit_account_group_organization_path(group), class: 'btn btn-light'
                      = link_to 'Supprimer', account_group_organization_path(group), method: 'delete', data: { confirm: t('actions.confirm') }, class: 'btn btn-light'
        = render partial: 'shared/list_options', locals: { collection: @organization_groups }
