#group_organizations.container-fluid
  .alerts
    = render partial: 'shared/messages'
  .row-fluid
    .span12.box
      .pull-left
        %h3 Liste des groupes d'organisation (#{@organization_groups.total_count})
      .pull-right
        = link_to icon_new + ' ' + t('actions.new'), new_account_group_organization_path, class: 'btn btn-primary'

  .row-fluid
    .span12.box
      = render partial: 'shared/list_options', locals: { collection: @organization_groups }
      .row-fluid
        .span12
          %table.table.table-condensed.table-striped.margin1top.margin0bottom
            %thead
              %tr
                %th= t('activerecord.models.common.attributes.created_at')
                %th= t('activerecord.models.common.attributes.updated_at')
                %th Nom
                %th Membres
                %th Actions
            %tbody
              - @organization_groups.each do |group|
                %tr
                  %td= l(group.created_at)
                  %td= l(group.updated_at)
                  %td= group.name
                  %td
                    - group.organizations.order(:name).each_with_index do |organization, index|
                      = ',' if index != 0
                      = link_to organization.name, account_organization_path(organization)
                  %td
                    = link_to icon_edit + 'Éditer', edit_account_group_organization_path(group), class: 'btn'
                    = link_to icon_destroy + 'Supprimer', account_group_organization_path(group), method: 'delete', data: { confirm: t('actions.confirm') }, class: 'btn'
      = render partial: 'shared/list_options', locals: { collection: @organization_groups }
