- ### TODO : HANDLE COMPOSITION DOCUMENTS OR PIECES
- Pack::Piece.delay_for(5.seconds, queue: :low).finalize_piece(document.id) unless document.is_finalized #process not finalized piece
- preseizures = document.preseizures
- preseizure_size = preseizures.length
- stamp_url = document.get_state_to :image

%li{ id: "#{@is_composition ? 'composition' : 'document'}_#{document.id}", class: "#{@is_composition ? 'composition' : 'alone'} pages", style: 'display: none' }
  .piece_head
    %span.position_label.badge.badge-warning.piece_number
      = sprintf '%03d', document.position
    %span.preseizure_label.tip_details.each.do-tooltip
      = document.name
    = document_delivery_label(document) if (preseizures.count > 0 && @user.pre_assignement_displayed?)
    - if @user.active?
      %span.choose_action_piece
        %a.float-right.piece.margin3.do-tooltip{href: '#', title: 'Supprimer la pièce', id: "#{document.id}"}
          = glyphicon('trash')
        %a.float-right.margin3.do-tooltip{href: document.cloud_content_object.url, title: 'Télécharger', target: '_blank'}
          = glyphicon('data-transfer-download')
        %a.float-right.select.do-selectPage.margin3.do-tooltip{href: '#', title: "Sélection"}
          .do-selectPage-check-icon
            = glyphicon('check')
          .do-selectPage-ban-icon.hide
            = glyphicon('ban')
        %a.float-right.margin3.do-tooltip.tag_piece{"data-toggle"=>"modal", href: '#', title: 'Taguer cette pièce', id: "#{document.id}"}
          = glyphicon('tag')
        .content_piece_tags.float-right.margin3
          - tags = document.get_tags
          %i{title: "#{tags}"}
            = tags.length < 30 ? tags : tags[0..30] + "..."
     
  .piece_body
    .piece_image
      %input{ type: :hidden, name: :page_number, value: document.position }
      %input{ type: :hidden, name: :tags, value: document.tags.try(:join, ' ') }         

      .pagethumb 
        .zoom.custom_popover{title: 'Visualiser la pièce', "data-content" => html_piece_view(document)}              
        .image_piece
          = image_tag document_thumb_url(document)        
      .foot
        %span
          - if (stamp_url.present? && @user.pre_assignement_displayed?)
            .stamp_head= image_tag(stamp_url, alt: 'stamp_state', class: 'img_stamp')     
    .preseizure_description
      - if @user.pre_assignement_displayed?
        - if preseizure_size > 0
          .content_details
            %input{type: :hidden, class: :list_preseizure_id, value: preseizures.ids}
            .tab_preseizures{class: "#{preseizure_size == 1 ? 'hide' : ''} "}
              - active = nil
              - preseizures.each do |preseizure|
                - if @ibiza
                  - preseizure_name = IbizaLib::Api::Utils.description(preseizure, @ibiza.description, @ibiza.description_separator) || preseizure.piece_name
                - else
                  - preseizure_name = preseizure.piece_name
                %div.word_wrap{id: "span_#{preseizure.id}", class: "#{(preseizure_size > 1) ? 'tab' : 'hide'} tab_preseizure_id #{(active.nil? && preseizure_size >1) ? 'tab_active' : ''}", title: "#{(preseizure_size > 1) ? preseizure_name : ''}"}
                  - if preseizure_size == 1
                    %input{type: :hidden, id: ""}
                  - else
                    %div.check_modif_preseizure{ title: "Sélection"}
                      %input{ id: "_#{preseizure.id}", type: :checkbox}
                    = preseizure_name
                - active = 1
          - preseizures.each do |preseizure|
            .content_preseizure{id: "div_#{preseizure.id}"}
        - else
          .content_details
            .no_preseizure
              Aucune &eacute;criture comptable
      - else
        /.content_details
        .no_preseizure
          %table.table.table-striped.table-condensed.margin0bottom.information
            %thead
              %tr
                %th.piece_name.text-center Nom
                %th.date.text-center Date de cr&eacute;ation
                %th.pages_number.text-center Nombre de pages
            %tbody
              %tr
                %td.piece_name.text-center#piece_name
                  .content_piece_name
                    = document.name
                %td.date.text-center#date
                  .content_date
                    = document.created_at.try(:to_date)
                %td.pages_number.text-center#pages_number
                  .content_pages_number
                    = document.pages_number