#panel1
  .header.clearfix.margin0left{style: "border-bottom: 1px solid #ddd; margin-bottom: 10px"}
    %h3.float-left
      Pieces
    - if @user.active?
      .actiongroup.float-right
        %a.download{ :title => "Télécharger", :target => "_blank", style: 'margin: 3px' }
          = glyphicon('data-transfer-download')
        %a.zip_download{ :title => "Télécharger une archive zip", :target => "_blank", style: 'margin: 3px' }
          = glyphicon('collapse-down')
  .content.pages
#panel2{ :style => "display: none" }
  .header.row
    .actiongroup.col-md-4.alignleft
      %a{ href: '#', class: 'backToPanel1 btn btn-light' }
        Retour
    .actiongroup.col-md-4.aligncenter{ style: 'margin-top:4px' }
      %a.do-prevPage{:href => "#"}
        pièce précédente
      \-
      %span.page_number
      \-
      %a.do-nextPage{:href => "#"}
        pièce suivante
    .actiongroup.col-md-4.alignright{ style: 'margin-top:4px' }
      %span.stamp.hide{ id: 'stamp_box' }= image_tag('', alt: 'tampon', class: 'img_stamp')
      %a.do-goToPreseizure.hide{ style: 'margin-right: 5px' }
        %span.badge.badge-info.fs-origin
          écriture
      %a#pageInformation.do-popover-left{"data-content" => "", :href => "#", :style => "margin-right:5px;"}
        %span.badge.badge-info.fs-origin
          tags
      - if @user.active?
        |
        %a.do-selectSinglePage.do-tooltip{:href => "#", :title => "Sélectionner"}
          = glyphicon('check')
        %a.do-unselectSinglePage.do-tooltip{:href => "#", :title => "Désélectionner"}
          = glyphicon('ban')
  .content
    %iframe{ :src => "", :class => "showPage", :style => "width:100%; min-height:550px;"}
#panel3{ :style => "display: none" }
  .header.row
    .actiongroup.col-md-4.alignleft
      %a{ href: '#', class: 'backToPanel1 btn btn-light' }
        Retour
    .actiongroup.col-md-4.aligncenter{ style: 'margin-top:4px' }
      %a.do-prevPage{:href => "#"}
        piece précédente
      \-
      %span.page_number
      \-
      %a.do-nextPage{:href => "#"}
        piece suivante
  .content
    %iframe{ :src => "", :class => "showPage", :style => "width:100%; min-height:550px;"}