- if @pieces_deleted.count > 0
  %span.badge.badge-danger.piece_deleted_count.hide
    = @pieces_deleted.count
    pièce(s) supprimée(s)
    .content-list-pieces-deleted.hide
      %ul
        - @pieces_deleted.each do |piece_deleted|
          %li{"data-content" => html_piece_view(piece_deleted), id: piece_deleted.id} #{piece_deleted.name} supprimée le #{piece_deleted.delete_at.try(:to_date)} par #{piece_deleted.delete_by}

  .piece_deleted_selection.hide
    .piece_deleted_selection_content
      %button.btn.btn-light.previous
        = glyphicon('arrow-thick-left')
        Préc
      %button.btn.btn-light.next
        Suiv
        = glyphicon('arrow-thick-right')
      %button.btn.btn-success.restore.float-right
        = glyphicon('share', {color: "white"})
        Restaurer
    %hr
#show_pieces.clearfix.box.bg-light
  %h4
  %ul.clearfix.padding0.margin0{ :id => "pieces" }
    = render :partial => "/account/documents/pieces/temp_document", :collection => @temp_documents
- if @documents.present?
  #show_pages.clearfix.box.bg-light
    .head.margin1bottom.clearfix
      %h4.float-left
      %span.pieces_total_count.hide= @documents.total_count
      - if @user.active?
        .actiongroup.float-right
          %a.do-tooltip.piece_tag{ "data-toggle"=>"modal", :href => "#", :title => "Taguer les pièces sélectionnées" }
            = glyphicon('tag')
          %a.delete_piece_composition.margin3.do-tooltip.hide{href: '#', title: 'Supprimer les pièces' }
            = glyphicon('trash')
          %a.composer.margin3.do-tooltip.hide{"data-toggle" => "modal", :href => "#compositionDialog", :title => "Composer"}
            = glyphicon('random')
          %a.compta_analysis_edition.margin3.do-tooltip.hide{"data-toggle" => "modal", :href => "#comptaAnalysisEdition", :title => "Editer compta analytique" }
            = glyphicon('pencil')
          %a.download.margin3.do-tooltip{ :title => "Télécharger", :target => "_blank" }
            = glyphicon('data-transfer-download')
          %a.zip_download.margin3.do-tooltip{ :title => "Télécharger une archive zip", :target => "_blank" }
            = glyphicon('cloud-download')
          |           
          - if (@user.pre_assignement_displayed? && @software != '' && @need_delivery != 'no')
            %a.do-deliverAllPreseizure.do-tooltip.margin3{href: '#', title: "Livraison écriture comptable (#{@software_human_name})"}
              = glyphicon('loop-circular')
          - if (@user.has_collaborator_action?)
            %a.tip_edit_multiple.do-editSelectedPreseizures.do-tooltip.margin3.hide{"data-toggle"=>"modal", :href => "#editSelectedPreseizures", :title => "Edition multiple"}
              = glyphicon('brush')
          - if @user.pre_assignement_displayed?
            %a.do-exportSelectedPreseizures.do-tooltip.margin3{href: '#exportSelectedPreseizures', title: 'Export écritures comptables', data: { toggle: 'modal' } }
              = glyphicon('share')
            |
          %a.do-selectAllPages.do-tooltip.margin3{:href => "#", :title => "Tous"}
            = glyphicon('check')
          %a.do-unselectAllPages.do-tooltip.margin3{:href => "#", :title => "Aucun"}
            = glyphicon('ban')
    #lists_pieces
      #lists_pieces_content.clearfix
        %ul.clearfix.padding0.margin0.margin2bottom{ :id => "pages" }
          = render :partial => "/account/documents/pieces/document", :collection => @documents
    .actionGroup.clearfix
      .loader.margin1top.float-left
        .feedback.inactive
          %span.out Aucun traitement

.data-content-view-pdf.hide
  .content{style: "width: 750px; padding: 10px"}
    %input{type: "hidden", class: "showPage", value: ""}
      .actiongroup.col-md-12.aligncenter
        %a.do-prevPage.left.btn.btn-info{href: "#"}
          = glyphicon('arrow-thick-left')
        %span.page_number
        %a.do-nextPage.right.btn.btn-info{href: "#"}
          = glyphicon('arrow-thick-right')
        .iframe-content
          %iframe.piece_view{src: "", style: "width:100%;min-height:550px; max-height: 600px; margin-top: 6px;"}
