#show_pieces.clearfix.box.bg-light
  %h4
  %ul.clearfix.padding0.margin0{ :id => "pieces" }
    = render :partial => "/account/documents/pieces/temp_document", :collection => @temp_documents

- if @documents.present?
  #show_pages.clearfix.box.bg-light
    .head.margin1bottom.clearfix
      %h4.float-left
      %span.pieces_total_count.hide= @documents.total_count
      - if @user.active?
        .actiongroup.float-right
          %a.do-tooltip{ "data-toggle"=>"modal", :href => "#pagesTaggingDialog", :title => "Tagger" }
            = glyphicon('tag')
          |
          %a.do-selectAllPages.do-tooltip{:href => "#", :title => "Tous"}
            = glyphicon('check')
          %a.do-unselectAllPages.do-tooltip{:href => "#", :title => "Aucun"}
            = glyphicon('ban')
    #lists_pieces
      #lists_pieces_content.clearfix
        %ul.clearfix.padding0.margin0.margin2bottom{ :id => "pages" }
          = render :partial => "/account/documents/pieces/document", :collection => @documents
    .actionGroup.clearfix
      .loader.margin1top.float-left
        .feedback.inactive
          %span.out Aucun traitement
      .showALLPieces.margin1top.float-right.hide
        %a{ href:'#', id: 'do-showAllPieces', style: 'font-size: 16px' } Afficher tout
