- file_sending_kit ||= @file_sending_kit
%div{ class: 'panel' }
  %h3 Informations
  %div{ class: 'panel_contents' }
    %div{ class: 'attributes_table file_sending_kit' }
      %table
        %tbody
          %tr
            %th Créer le
            %td= l(file_sending_kit.created_at)
          %tr
            %th Titre
            %td= file_sending_kit.title
          %tr
            %th Prescripteur
            %td= file_sending_kit.user.name
          %tr
            %th Code client
            %td= file_sending_kit.user.code
          %tr
            %th Société
            %td= file_sending_kit.user.company

%div{ class: 'panel' }
  %h3 Générateur
  %div{ class: 'panel_contents' }
    %div{ class: 'attributes_table file_sending_kit' }
      - if file_sending_kit.user.clients.active.present?
        = form_tag generate_admin_file_sending_kit_path do
          %table
            %tbody
              %tr
                %th Séléction
                %th Client
                %th Début
                %th Durée
              - file_sending_kit.user.clients.active.asc(:code).asc(:email).each do |client|
                %tr
                  %td= check_box_tag "users[#{client.id}][is_checked]", "true", false
                  %td= link_to [client.code.presence,client.company.presence,client.name].compact.join(' - '), [:admin, client]
                  %td= text_field_tag "users[#{client.id}][start_month]", 0
                  %td= text_field_tag "users[#{client.id}][offset_month]", 1
          %fieldset{ class: 'buttons' }
            %ol
              %li{ class: 'commit button' }
                %input{ class: 'create', name: 'submit', type: 'submit', value: 'Générer' }
              %li{ class: 'cancel' }
                = link_to t('active_admin.cancel'), admin_file_sending_kits_path
      - else
        .blank_slate_container{ colspan: 4 }
          %span.blank_slate Ajouter au moins un client avant de poursuivre.

- if session[:file_sending_kit][:is_generated]
  - session[:file_sending_kit][:is_generated] = nil
  %div{ class: 'panel' }
    %h3 Résultat
    %div{ class: 'panel_contents' }
      %div{ class: 'attributes_table file_sending_kit' }
        %ul
          %li
            %a{ href: '/system/data/folder.pdf', target: '_blank' } chemise
          %li
            %a{ href: '/system/data/mail.pdf', target: '_blank' } mail
          %li
            %a{ href: '/system/data/label.pdf', target: '_blank' } étiquette