.block
  %h3 File sending kit management
  .content
    %p
      Here you can
      %span.hightlight manage
      file sending kit
      
    %p
      %b Text formating balise:
      %ul.format
        %li
          = "<b>bold</b>"
          \: <b>bold</b>
        %li
          = "<i>italic</i>"
          \: <i>italic</i>
        %li
          = "<u>underline</u>"
          \: <u>underline</u>
        %li
          = "<strikethrough>text</strikethrough>"
          \: <del>text</del>
        %li
          = "This <sub>text</sub> is sub"
          \: This 
          %sub text
          is sub
        %li
          = "This <sup>text</sup> is sup"
          \: This 
          %sup text
          is sup
        %br
        %li
          = "font <font name='Courier'>Courier</font> :"
          %br
          \-> 
          %span{ :style => "font-family:Courier;" }
            Courier
        %li
          = "font <font size='16'>16</font> :"
          %br
          \-> font
          %span{ :style => "font-size:16px;" }
            16
        %li
          = "font <font character_spacing='3'>caracter spacing</font> :"
          %br
          \-> font
          %span{ :style => "letter-spacing:3px;" }
            caracter spacing
        %li
          = "color <color rgb='00FF00'>RGB 00FF00</color> and <color c='100' m='0' y='100' k='0'>CMYK 100 0 100 0</color> :"
          %br
          \-> color
          %span{ :style => "color:#00FF00" }
            RGB 00FF00
          and
          %span{ :style => "color:#00FF00" }
            CMYK 100 0 100 0
        %li
          = "link <link href='http://github.com/sandal/prawn/wiki/'> External </link> :"
          %br
          \-> link
          %a{ :href => 'http://github.com/sandal/prawn/wiki/' } External
        %li
          = "link <link anchor='Text Reference'> Internal </link> :"
          %br
          \-> link
          %a{ :href => "#" } Internal
  
:css
  .format li {
    margin-left: 16px; }