= simple_form_for [:admin, @organization, @file_sending_kit], html: { class: 'form form-horizontal file_sending_kit margin0' } do |f|
  .modal-body
    .well
      %h4= t('common.details')
      %hr
      = f.input :title, label: t('mongoid.models.file_sending_kit.attributes.title')
      = f.input :position, label: t('mongoid.models.file_sending_kit.attributes.position')
      = f.input :instruction, as: :text, label: t('mongoid.models.file_sending_kit.attributes.instruction'), input_html: { class: 'span7' }

    .well
      %h4= t('mongoid.models.file_sending_kit.attributes.logo.center')
      %hr
      = f.input :logo_path,   label: t('mongoid.models.file_sending_kit.attributes.logo.path'), input_html: { class: 'span6' }
      = f.input :logo_height, label: t('mongoid.models.file_sending_kit.attributes.logo.height')
      = f.input :logo_width,  label: t('mongoid.models.file_sending_kit.attributes.logo.width')

    .well
      %h4= t('mongoid.models.file_sending_kit.attributes.logo.left')
      %hr
      = f.input :left_logo_path,   label: t('mongoid.models.file_sending_kit.attributes.logo.path'), input_html: { class: 'span6' }
      = f.input :left_logo_height, label: t('mongoid.models.file_sending_kit.attributes.logo.height')
      = f.input :left_logo_width,  label: t('mongoid.models.file_sending_kit.attributes.logo.width')

    .well
      %h4= t('mongoid.models.file_sending_kit.attributes.logo.right')
      %hr
      = f.input :right_logo_path,   label: t('mongoid.models.file_sending_kit.attributes.logo.path'), input_html: { class: 'span6' }
      = f.input :right_logo_height, label: t('mongoid.models.file_sending_kit.attributes.logo.height')
      = f.input :right_logo_width,  label: t('mongoid.models.file_sending_kit.attributes.logo.width')

  .modal-footer
    = f.submit t('actions.submit'), class: 'btn'