= simple_form_for [:admin, @user, @file_sending_kit], html: { class: 'form form-horizontal file_sending_kit margin0' } do |f|
  .modal-body
    .well
      %h4 Détails
      = f.input :title, label: 'Titre'
      = f.input :position

    .well
      %h4 Logo
      .well
        %h4 Centre (affiché dans le mail)
        = f.input :logo_path, label: 'Chemin', input_html: { class: 'span6' }
        = f.input :logo_height, label: 'Hauteur'
        = f.input :logo_width, label: 'Largeur'

      .well
        %h4 Gauche
        = f.input :left_logo_path, label: 'Chemin', input_html: { class: 'span6' }
        = f.input :left_logo_height, label: 'Hauteur'
        = f.input :left_logo_width, label: 'Largeur'

      .well
        %h4 Droite
        = f.input :right_logo_path, label: 'Chemin', input_html: { class: 'span6' }
        = f.input :right_logo_height, label: 'Hauteur'
        = f.input :right_logo_width, label: 'Largeur'

    .well
      %h4 Instructions
      = f.input :instruction, as: :text, label: 'Instruction(s) de base', input_html: { class: 'span7' }
      = f.input :idocus_instruction, as: :text, label: 'Instruction(s) iDocus', input_html: { class: 'span7' }
  .modal-footer
    = f.submit 'Valider', class: 'btn'