.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active!= link_to "All file sending kits", admin_file_sending_kits_path
      %li!= link_to "Add file sending kit", new_admin_file_sending_kit_path
  .content
    %h2.title All file sending kits
    .inner
      %table.table
        %tr
          %th N°
          %th Created at
          %th Title
          %th Prescriber
          %th.last &nbsp;
        - @file_sending_kits.each do |file_sending_kit|
          %tr
            %td!= file_sending_kit.position
            %td!= l(file_sending_kit.created_at)
            %td!= link_to file_sending_kit.title, [:admin, file_sending_kit]
            %td!= link_to file_sending_kit.user.email, [:admin, file_sending_kit.user]
            %td.last
              != link_to image_tag("web-app-theme/application_edit.png", :alt => "Edit"), edit_admin_file_sending_kit_path(file_sending_kit)
              != link_to image_tag("web-app-theme/cross.png", :alt => "delete"), admin_file_sending_kit_path(file_sending_kit), :method => :delete, :confirm => "Êtes-vous sûr ?"
              
      .actions-bar.wat-cf
        .actions
        != will_paginate @file_sending_kits
        
- content_for :sidebar, render(:partial => 'sidebar')

