= form_tag generate_admin_organization_file_sending_kit_path(@organization), class: 'form form-horizontal file_sending_kit margin0' do
  .modal-body
    %table.table.table-striped.table-bordered.table-condensed
      %tr
        %th Sélection
        %th Nom
        %th Début
        %th Durée
      - @file_sending_kit.organization.customers.active.asc(:code).each do |client|
        %tr
          %td!= check_box_tag "users[#{client.id}][is_checked]", "true", false
          %td!= client.info
          %td!= number_field_tag "users[#{client.id}][start_month]", 0, style: 'width:50px;'
          %td!= number_field_tag "users[#{client.id}][offset_month]", 1, style: 'width:50px;'
    = check_box_tag 'one_workshop_labels_page_per_customer', 1, false, class: 'pull-left'
    = label_tag 'one_workshop_labels_page_per_customer', "Une page d'étiquette par client ?", class: 'margin2left'
  .modal-footer
    = submit_tag t('mongoid.models.file_sending_kit.actions.generate'), class: 'btn'
