%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th{ colspan: 2 }
        = link_to icon_edit, '#edit_file_sending_kit', 'data-toggle' => :modal, class: 'btn btn-small pull-right'
        = link_to content_tag(:i, '', class: 'icon-refresh'), '#select_file_sending_kit', 'data-toggle' => :modal, class: 'btn btn-small pull-right margin1right'
        %h3.pull-left= t('mongoid.models.file_sending_kit.name')
  %tbody
    %tr
      %th= t('mongoid.models.file_sending_kit.attributes.folders')
      %td
        - if File.exist? File.join(Rails.root, 'files', Rails.env, 'kit', 'folders.pdf')
          = link_to 'folders.pdf', folders_admin_organization_file_sending_kit_path, target: '_blank'
    %tr
      %th= t('mongoid.models.file_sending_kit.attributes.mails')
      %td
        - if File.exist? File.join(Rails.root, 'files', Rails.env, 'kit', 'mails.pdf')
          = link_to 'mails.pdf', mails_admin_organization_file_sending_kit_path, target: '_blank'
    %tr
      %th= t('mongoid.models.file_sending_kit.attributes.customer_labels')
      %td
        - if File.exist? File.join(Rails.root, 'files', Rails.env, 'kit', 'customer_labels.pdf')
          = link_to 'customer_labels.pdf', customer_labels_admin_organization_file_sending_kit_path, target: '_blank'
    %tr
      %th= t('mongoid.models.file_sending_kit.attributes.workshop_labels')
      %td
        - if File.exist? File.join(Rails.root, 'files', Rails.env, 'kit', 'workshop_labels.pdf')
          = link_to 'workshop_labels.pdf', workshop_labels_admin_organization_file_sending_kit_path, target: '_blank'