.label{ style: 'padding:3px 5px 3px' }
  - if @user.is_prescriber
    = link_to icon_edit, '#edit_file_sending_kit', 'data-toggle' => :modal
    = link_to content_tag(:i, '', class: 'icon-refresh'), '#select_file_sending_kit', 'data-toggle' => :modal
  Kit d'envoi de documents
- if @user.is_prescriber
  %table.table.table-striped.table-bordered.table-condensed
    %tbody
      %tr
        %th Chemise
        %td
          - if File.exist? "#{Rails.root}/files/kit/folder.pdf"
            = link_to 'folder.pdf', folder_admin_user_file_sending_kit_path
      %tr
        %th Mail
        %td
          - if File.exist? "#{Rails.root}/files/kit/mail.pdf"
            = link_to 'mail.pdf', mail_admin_user_file_sending_kit_path
      %tr
        %th Etiquette
        %td
          - if File.exist? "#{Rails.root}/files/kit/label.pdf"
            = link_to 'label.pdf', label_admin_user_file_sending_kit_path