!= f.label :name, "Label", :class => :label
!= f.text_field :name, :class => 'text_field'

%br
%br

!= f.label :user_id, "Prescripteur *", :class => :label
!= f.text_field :user_id, :class => 'text_area'

%br

!= f.label :delivery_day, "Jour de l'envoi", :class => :label
!= f.text_field :delivery_day, :class => 'text_field'

%br
%br

!= f.label :subject, "Objet *", :class => :label
!= f.text_field :subject, :class => 'text_field'

%br
%br

!= f.label :content, "Contenu *", :class => :label
!= f.text_area :content, :class => 'text_area'

%br
%br

.navform.wat-cf
  %button.button{:type => 'submit'}
    != image_tag("web-app-theme/tick.png", :alt => "Save")
    Save
  != link_to image_tag("web-app-theme/cross.png", :alt => "Cancel") + "Cancel", admin_reminder_emails_path, :class => "button"
  
%br

%em
  %b *
  Champs obligatoire.

:javascript
  $(document).ready(function(){
    $("#reminder_email_user_id").tokenInput("/admin/users/search.json?prescriber=true", {
      prePopulate: [#{users_to_tokeninput_field([@reminder_email.user]) rescue ""}],
      tokenLimit: 1,
      searchDelay: 500,
      minChars: 1,
      preventDuplicates: true,
      hintText: "Rechercher un prescripteur",
      noResultsText: "Aucun résultat",
      searchingText: "Recherche en cours..."
    });
  });