= semantic_form_for [:admin, @reminder_email] do |f|
  = f.inputs 'Informations' do
    = f.input :name, label: 'Nom'
    = f.input :user, label: 'Prescripteur'
    = f.input :subject, as: :text, label: 'Objet'
    = f.input :content, as: :text, label: 'Contenu'
  
  = f.buttons do
    = f.commit_button
    = content_tag(:li, (link_to t('active_admin.cancel'), admin_reminder_emails_path), class: 'cancel')
    
:javascript
  $(document).ready(function(){
    $("#reminder_email_user_id").tokenInput("/admin/users/search_by_code.json", {
      prePopulate: [#{users_to_tokeninput_field([@reminder_email.user]) rescue ""}],
      tokenLimit: 1,
      searchDelay: 500,
      minChars: 1,
      preventDuplicates: true,
      hintText: "Rechercher un prescripteur",
      noResultsText: "Aucun résultat",
      searchingText: "Recherche en cours..."
    });
  });