.block
  .secondary-navigation
    %ul.wat-cf
      %li.first!= link_to "All reminder emails", admin_reminder_emails_path
      %li!= link_to "Add reminder email", new_admin_reminder_email_path
  .content
    .inner
      %table.table
        %tr
          %td
            != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Créer le', :value => l(@reminder_email.created_at)}
            != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Prescripteur', :value => @reminder_email.user.email}
            != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Jour de l\'envoi', :value => @reminder_email.delivery_day}
            != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Date de livraison', :value => (l(@reminder_email.delivered_at) rescue nil)}
            != render :partial =>'/admin/shared/show_field', :locals => {:key => 'Sujet', :value => @reminder_email.subject}
      
      .wat-cf
        != link_to image_tag("web-app-theme/application_edit.png", :alt => "Modifier") + "Modifier", edit_admin_reminder_email_path(@reminder_email), :class => "button"
        != link_to "Preview", preview_admin_reminder_email_path(@reminder_email), :class => "button", :target => "_blank"
        != link_to "Deliver now !", deliver_admin_reminder_email_path(@reminder_email), :class => "button"

- content_for :sidebar, render(:partial => 'sidebar')