#bank_accounts.select
  - unless @customer.configured?
    = render 'account/customers/steps'

  .row-fluid
    .span12.box
      %h3 Sélection des comptes bancaires #{link_to @customer, account_organization_customer_retrievers_path(@organization, @customer)} (#{@bank_accounts.try(:count).to_i})
  .row-fluid
    .span9
      .box{ style: 'padding-bottom:0;' }
        = form_tag update_multiple_account_organization_customer_bank_accounts_path(@organization, @customer), method: 'post', class: 'form form-horizontal' do
          = hidden_field_tag 'bank_account_contains[retriever_id]', (params[:bank_account_contains][:retriever_id] rescue nil)
          %table.table.table-bordered.table-condensed.table-striped.margin1top.margin0bottom
            %thead
              %tr
                %th= check_box_tag 'master_checkbox', 0, false
                %th Banque
                %th Numéro de compte
            %tbody
              - @bank_accounts.each do |bank_account|
                %tr
                  %td
                    - if bank_account.bank_name.present?
                      = check_box_tag 'bank_account_ids[]', bank_account.id, bank_account.is_used, class: 'checkbox', id: "bank_account_ids_#{bank_account.id}"
                  %td= label_tag "bank_account_ids[#{bank_account.id}]", bank_account.bank_name.presence || '(inconnu)'
                  %td= label_tag "bank_account_ids[#{bank_account.id}]", bank_account.number
          .form-actions
            = submit_tag 'Valider les changements', class: 'btn btn-primary', data: { confirm: t('actions.confirm') }
    .span3.box
      = render 'sidebar'
