#bank_accounts
  .row-fluid
    .span12.box
      %h3 Comptes bancaires du client : #{link_to @customer, account_organization_customer_path(@organization, @customer)}
  .row-fluid
    .span12.box
      %table.table.table-striped.table-condensed.margin0bottom
        %tr
          %th= t('mongoid.models.bank_account.attributes.bank_name')
          %th= t('mongoid.models.bank_account.attributes.name')
          %th= t('mongoid.models.bank_account.attributes.number')
          %th= t('mongoid.models.bank_account.attributes.journal')
          %th= t('mongoid.models.bank_account.attributes.accounting_number')
          %th Action
        - @bank_accounts.each do |bank_account|
          %tr
            %td= bank_account.bank_name
            %td= bank_account.name
            %td= bank_account.number
            %td= bank_account.journal
            %td= bank_account.accounting_number
            %td= icon_link_to edit_account_organization_customer_bank_account_path(@organization, @customer, bank_account), { icon: 'edit' }, { class: 'btn btn-mini' }
