= render partial: 'navigation'

.row-fluid
  .span9
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th= sortable :number,     "N °",            visit_contains
          %th= sortable :created_at, "Date de visite", visit_contains
          %th= sortable :user_id,    "Utilisateur",    visit_contains
          %th= sortable :path,       "Chemin",         visit_contains
          %th= sortable :ip_adress,  "Adresse IP",     visit_contains
      %tbody
        - @visits.each do |visit|
          %tr
            %td= visit.number
            %td= visit.created_at.strftime("%Y-%m-%d %H:%M")
            %td
              - if visit.user
                = link_to visit.user.info, admin_user_path(visit.user)
              - else
                Visiteur
            %td= visit.path
            %td= visit.ip_address

    = paginate @visits
  .span3
    .well
      = render partial: 'sidebar'