= semantic_form_for [:admin2, @homepage] do |f|
  != f.input :content,  as: :text, label: 'Contenu'
  != f.input :meta_description, as: :text, label: 'Meta-déscription' 

  != f.input :style, as: :text, label: 'Style CSS'
  
  = f.buttons
