.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active!= link_to "Overview", admin_homepages_path
      %li!= link_to "Add slide", new_admin_slide_path
      %li!= link_to "Add pavet", new_admin_pavet_path
  .content
    .inner
      %h2.title Homepage information
      %h3 Contenu
      %p.group.value!=@homepage.content rescue ""
      %h3 Meta-description
      %p.group.value!=@homepage.meta_description rescue ""
      %h3 Style CSS
      %p.group.value!=@homepage.style rescue ""
      - if !@homepage.nil?
        != link_to image_tag("web-app-theme/application_edit.png", :alt => "Edit" ) + "Edit", edit_admin_homepage_path(@homepage), :class => "button"
      - else
        != link_to image_tag("web-app-theme/application_edit.png", :alt => "New") + "New", new_admin_homepage_path, :class => "button"
      %br
      %br
      %br
      %h2.title Slides
      %br
      - if(!@slides.nil?)
        %table.table
          %tr
            %th Title
            %th Position
            %th Invisible?
            %th.last Action
          - @slides.each do |slide|
            %tr{ :class => cycle("odd", "even", :name => "stripes") }
              %td!= slide.name
              %td!= slide.position
              %td
                != check_box_tag 'is_invisible', slide.is_invisible, slide.is_invisible?, :class => "inplace slides", :id => slide.id
                != image_tag "lightbox-ico-loading.gif", :style => "display:none;", :id => "spinner_#{slide.id}"
              %td.last
                != link_to image_tag("web-app-theme/application_edit.png", :alt => "Edit"), edit_admin_slide_path(slide)
                |
                != link_to image_tag("web-app-theme/cross.png", :alt => "delete"), admin_slide_path(slide), :method => :delete, :confirm => "Êtes-vous sûr ?"
      %br
      %br
      %h2.title Pavets
      %br
      - if(!@pavets.nil?)
        %table.table
          %tr
            %th Title
            %th Position
            %th Invisible?
            %th.last Action
          - @pavets.each do |pavet|
            %tr{ :class => cycle("odd", "even", :name => "stripes") }
              %td!= pavet.caption
              %td!= pavet.position
              %td
                != check_box_tag 'is_invisible', pavet.is_invisible, pavet.is_invisible?, :class => "inplace pavets", :id => pavet.id
                != image_tag "lightbox-ico-loading.gif", :style => "display:none;", :id => "spinner_#{pavet.id}"
              %td.last
                != link_to image_tag("web-app-theme/application_edit.png", :alt => "Edit"), edit_admin_pavet_path(pavet)
                |
                != link_to image_tag("web-app-theme/cross.png", :alt => "delete"), admin_pavet_path(pavet), :method => :delete, :confirm => "Êtes-vous sûr ?"

- content_for :sidebar, render(:partial => 'sidebar')

:javascript
  $(document).ready(function () {
    $("input[type=checkbox].slides").click(function(){
      uid = $(this).attr('id');
      node = $(this);
      url = "/admin/slides/" + uid + "/update_is_invisible_status";
      hsh = {value: $(this).is(':checked')};
      spinner_id = "#spinner_"+uid;
      $.ajax({
        url: url,
        data: hsh,
        dataType: "json",
        type: "POST",
        beforeSend: function() {
          node.hide();
          $(spinner_id).show();
        },
        success: function(data){
          $(spinner_id).hide();
          node.show();
        }
      });
    });
    
    $("input[type=checkbox].pavets").click(function(){
      uid = $(this).attr('id');
      node = $(this);
      url = "/admin/pavets/" + uid + "/update_is_invisible_status";
      hsh = {value: $(this).is(':checked')};
      spinner_id = "#spinner_"+uid;
      $.ajax({
        url: url,
        data: hsh,
        dataType: "json",
        type: "POST",
        beforeSend: function() {
          node.hide();
          $(spinner_id).show();
        },
        success: function(data){
          $(spinner_id).hide();
          node.show();
        }
      });
    });

  });