.card.retractable-filter
  = form_tag account_organization_account_sharings_path(@organization), method: :get, class: 'form-filter' do
    .card-header.clearfix
      .float-left
        %h3 Filtres
      .float-right.margin1left
        %a.locker{ href: "#", title: "Cacher le Filtre" }= glyphicon('layers')
    .retractable-filter-content
      .card-body
        = hidden_field_tag :direction, sort_direction
        = hidden_field_tag :sort, sort_column
        = hidden_field_tag :per_page, per_page
        .form-group
          .label-section
            = label_tag 'account_sharing_contains[account]', 'Dossier'
          .control-section  
            = text_field_tag 'account_sharing_contains[account]', (params[:account_sharing_contains][:account] rescue ''), class: 'span12'
        .form-group
          .label-section
            = label_tag 'account_sharing_contains[collaborator]', 'Client ou contact'
          .control-section  
            = text_field_tag 'account_sharing_contains[collaborator]', (params[:account_sharing_contains][:collaborator] rescue ''), class: 'span12'
      .card-footer
        .form-actions
          = submit_tag t('filters.action'), class: 'btn btn-primary'
          = link_to glyphicon('x'), account_organization_account_sharings_path(@organization), class: 'btn btn-light'
