#account_sharings.derivationRight
  .row.retractable.with-filter
    .col-md-12
      .card
        .card-header
          %h3
            Dossiers partagés 
            %span.badge.badge-info= @account_sharings.count
        .card-body
          = render partial: 'navigation'
          .row
            .col-md-12
              .box.border-top-0.bg-light
                = render partial: 'shared/list_options', locals: { collection: @account_sharings }
                %table.table.table-condensed.table-striped.margin1top.margin1bottom.table-detachable-head.table-bordered-inner
                  %thead
                    %tr.bg-brown.text-white
                      %th= sortable :created_at, 'Date'
                      %th Dossier
                      %th Client ou contact
                      %th Etat
                      %th Actions
                  %tbody.retractable.slidedown
                    - @account_sharings.each do |account_sharing|
                      %tr
                        %td.date= account_sharing.created_at.strftime('%d/%m/%Y %H:%M')
                        %td= link_to account_sharing.account.info, account_organization_customer_path(@organization, account_sharing.account)
                        %td
                          - if account_sharing.collaborator.is_guest
                            = account_sharing.collaborator.info
                          - else
                            = link_to account_sharing.collaborator.info, account_organization_customer_path(@organization, account_sharing.collaborator)
                        %td= account_sharing.is_approved? ? 'Partagé' : 'En attente de validation'
                        %td
                          - unless account_sharing.is_approved?
                            = link_to glyphicon('share'), accept_account_organization_account_sharing_path(@organization, account_sharing), method: :post, data: { confirm: "Êtes-vous sûr de vouloir partager le dossier \"#{account_sharing.account.info}\" au contact \"#{account_sharing.collaborator.info}\" ?" }, title: 'Accepter la demande de partage', class: 'btn btn-light'
                          = link_to glyphicon('x'), account_organization_account_sharing_path(@organization, account_sharing), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir annuler le partage du dossier \"#{account_sharing.account.info}\" au contact \"#{account_sharing.collaborator.info}\" ?" }, title: (account_sharing.is_approved? ? 'Supprimer' : 'Refuser la demande de partage'), class: 'btn btn-light'
                = render partial: 'shared/list_options', locals: { collection: @account_sharings }
                .alignright.margin1bottom
                  = link_to 'Partager un dossier', new_account_organization_account_sharing_path(@organization), class: 'btn btn-primary'
    = render partial: 'sidebar'
