#account_sharing.new.derivationRight
  .card
    .card-header
      %h3 Partager un dossier
    = simple_form_for [:account, @organization, @account_sharing], html: { class: 'form-horizontal' } do |f|
      .card-body
        = f.input :collaborator_id, input_html: { data: { path: search_account_organization_guest_collaborators_path(@organization, format: :json, full_info: true) } }, required: true
        = f.input :account_id, input_html: { data: { path: search_account_organization_customers_path(@organization, format: :json, full_info: true) } }, required: true
      .card-footer
        .form-actions.margin0bottom
          = f.submit t('actions.submit'), class: 'btn btn-primary'
          = link_to t('actions.cancel'), account_organization_account_sharings_path(@organization), class: 'btn btn-light'
