#connectors{ data: { connectors: @connectors.to_json, selected_connectors: [@retriever.connector.try(:public_attributes)].compact.to_json } }

= simple_form_for [:account, @retriever], html: { class: 'retriever_form form form-horizontal' } do |f|
  = f.input :connector_id, required: true, disabled: @retriever.persisted?
  = f.input :service_name, as: :hidden
  = f.input :capabilities, disabled: true
  = f.input :name
  - unless @retriever.persisted? && @retriever.bank?
    = f.input :journal_id, collection: @user.account_book_types.order(name: :asc), include_blank: false, required: true, wrapper_html: { style: 'display:none' }
  #params{ data: { connector_id: @retriever.connector_id, attributes: retriever_dyn_attrs(@retriever) } }
  .form-actions
    = f.submit t('actions.submit'), class: 'btn btn-primary'
    = link_to t('actions.cancel'), account_retrievers_path, class: 'btn'

= render partial: 'account/retrievers/form_template'
