= hidden_field_tag :retriever_budgea_config, @bi_config
= hidden_field_tag :retriever_user_token, @user_token
= hidden_field_tag :retriever_bi_token, @bi_token
= hidden_field_tag :retriever_journals, @journals

= hidden_field_tag :retriever_connector_id, @retriever.try(:budgea_connector_id) || params[:connector_id] || nil
= hidden_field_tag :retriever_custom_name, @retriever.try(:name) || nil
= hidden_field_tag :retriever_journal_id, @retriever.try(:journal_id) || nil
= hidden_field_tag :retriever_budgea_id, @retriever.try(:budgea_id) || nil
= hidden_field_tag :retriever_skip_step1, @retriever.try(:waiting_additionnal_info?) ? 1 : 0

= hidden_field_tag :contact_company, @contact_company || nil
= hidden_field_tag :contact_name, @contact_name || nil
= hidden_field_tag :contact_first_name, @contact_first_name || nil

#budgea_sync{ class: ('bridge' if (current_user.options &&current_user.options.banking_provider == 'bridge') || (@account && @account.options.banking_provider == 'bridge')) }
  #section1.row
    .col-md-6
      .box.derivationLeft
        %h4.aligncenter Connecteurs
        %hr.margin0top.margin3bottom
        #budgea_retrievers
    #section11.col-md-6
      .box.derivationRight
        %h4.aligncenter Informations basiques & Authentification
        %hr.margin0top.margin3bottom
        #budgea_information_fields
    #section12.col-md-6{style: 'display:none'}
      .box
        %h4.aligncenter Informations additionnelles
        %hr.margin0top.margin3bottom
        #budgea_additionnal_fields
  #section2.row{style: 'display:none'}
    .col-md-12
      .box.derivationRight
        %h4.aligncenter Séléction comptes bancaires
        %hr.margin0top.margin3bottom
        #budgea_bank_accounts


  #showCguBI.modal.hide.fade{data: { backdrop: "static" } }
    .modal-dialog
      .modal-content
        .modal-header
          %h3 Condition générale d'utilisation
        .modal-body
          #terms
        .modal-footer
          #controls.form-actions.clearfix
            .float-right
              .feedback.float-left
              =button_tag "J'accepte les conditions générales d'utilisation et j’accepte la transmission de mes transactions à Idocus", type: 'button', id: 'cgu_bi_validate', class: 'btn-primary btn'
              %a{href: account_retrievers_path, id: 'cgu_bi_exit', class: 'btn-danger btn', style: 'margin-left: 10px'} Sortir
