= hidden_field_tag :direction, sort_direction
= hidden_field_tag :sort, sort_column
= hidden_field_tag :per_page, per_page
= hidden_field_tag :page, page

= render partial: 'account/retrievers/list_options'
%table.table.table-bordered-inner.table-condensed.table-striped.margin1top.margin1bottom.table-detachable-head
  %thead
    %tr.bg-brown.text-white
      %th= sortable 'users.code', 'Dossier'
      %th= sortable :capabilities, t('activerecord.models.retriever.attributes.capabilities')
      %th= sortable :service_name, t('activerecord.models.retriever.attributes.service_name')
      %th= sortable :name,         t('activerecord.models.retriever.attributes.name')
      %th= sortable :journal_name, 'Journal'
      %th= sortable :state, t('activerecord.models.retriever.attributes.state')
      %th Actions
  %tbody
    - @retrievers.each do |retriever|
      - present retriever do |retriever_presenter|
        %tr
          %td= retriever_presenter.user
          %td= retriever_presenter.capabilities
          %td= retriever_presenter.service_name
          %td= retriever_presenter.name
          %td= retriever_presenter.journal.try(:name) || '-'
          %td{class: "state_field_#{retriever.id}"}= retriever_presenter.state(scope)
          %td
            = link_to glyphicon('info'), '#', class: 'btn btn-light', rel: 'popover', data: { 'original-title' => 'Date de création / modification', content: "#{l(retriever.created_at)} / #{l(retriever.updated_at)}", placement: 'left' }
            - if (retriever.ready? || retriever.waiting_additionnal_info?) || (retriever.error? && !retriever.budgea_error_message.in?(['SCARequired', 'decoupled']))
              - if retriever.budgea_id.present?
                = retriever_presenter.action_link
              = link_to glyphicon('pencil'), edit_account_retriever_path(retriever), title: 'Editer', rel: 'tooltip', class: 'btn btn-light'
            - if retriever.ready? || retriever.error? || retriever.unavailable? || retriever.waiting_additionnal_info? || retriever.destroying?
              = link_to glyphicon('x'), '#', class: "destroy_retriever destroy_retriever_#{retriever.id} btn btn-light", data: { id: retriever.id }, title: 'Supprimer', rel: 'tooltip'
            - if retriever.budgea_error_message == 'SCARequired'
              %button#SCARequired.btn.btn-primary.scarequire_decoupled_button{ data: { id: retriever.id } }
                Lancer la procédure d'authentification
            - if retriever.budgea_error_message == 'decoupled'
              %button#decoupled.btn.btn-success.scarequire_decoupled_button{ data: { id: retriever.id } }
                Valider la reprise de la synchronisation

= render partial: 'account/retrievers/list_options'
