= hidden_field_tag :direction, sort_direction
= hidden_field_tag :sort, sort_column
= hidden_field_tag :per_page, per_page
= hidden_field_tag :page, page

= render partial: 'account/retrievers/list_options'
%table.table.table-bordered.table-condensed.table-striped.margin1top.margin0bottom
  %thead
    %tr
      %th= sortable 'users.code', 'Dossier'
      %th= sortable :capabilities, t('activerecord.models.retriever.attributes.capabilities')
      %th= sortable :service_name, t('activerecord.models.retriever.attributes.service_name')
      %th= sortable :name,         t('activerecord.models.retriever.attributes.name')
      %th= sortable :journal_name, 'Journal'
      %th.retriever_state= sortable :state, t('activerecord.models.retriever.attributes.state')
      %th Actions
  %tbody
    - @retrievers.each do |retriever|
      - present retriever do |retriever_presenter|
        %tr
          %td= retriever_presenter.user
          %td= retriever_presenter.capabilities
          %td= retriever_presenter.service_name
          %td= retriever_presenter.name
          %td= retriever_presenter.journal.try(:name) || '-'
          %td.retriever_state{class: "state_field_#{retriever.id}"}!= retriever_presenter.state(scope)
          %td
            = icon_link_to '#', { icon: 'info-sign' }, { rel: 'popover', data: { 'original-title' => 'Date de création/modification', content: "#{l(retriever.created_at)}<br>#{l(retriever.updated_at)}", placement: 'left' } }
            - if retriever.ready? || retriever.error? || retriever.waiting_additionnal_info?
              - if retriever.budgea_id.present?
                = retriever_presenter.action_link
              = link_to icon_edit, edit_account_retriever_path(retriever), title: 'Editer', rel: 'tooltip'
            - if retriever.ready? || retriever.error? || retriever.unavailable? || retriever.waiting_additionnal_info?
              = link_to icon_destroy, '#', class: "destroy_retriever destroy_retriever_#{retriever.id}", data: { id: retriever.id }, title: 'Supprimer', rel: 'tooltip'
= render partial: 'account/retrievers/list_options'
