.row-fluid
  .span12
    .box
      .row-fluid
        .span6
          %h3 Mes automates (#{@fiduceo_retrievers.size})
        .span6
          = link_to "#{@is_filter_empty ? 'Afficher' : 'Cacher'} le filtre", '#', class: 'btn pull-right toggle_filter'
          = link_to 'Informations de sécurité', '#retrievers_security_informations', class: 'pull-right btn btn-danger margin1right', data: { toggle: 'modal' }
    .filter.box{ class: ('hide' if @is_filter_empty) }
      = form_tag account_fiduceo_retrievers_path, method: :get, class: 'retriever_seach form form-inline margin0bottom' do
        = label_tag 'fiduceo_retriever_contains[name]', t('mongoid.models.fiduceo_retriever.attributes.name') + ' :'
        = text_field_tag 'fiduceo_retriever_contains[name]', (params[:fiduceo_retriever_contains][:name] rescue '')
        = submit_tag t('filters.action'), class: 'btn btn-primary'
        = link_to icon(icon: 'remove'), account_fiduceo_retrievers_path, class: 'btn reset_filter', title: t('filters.reset')
    .retrievers_list.box

#retrievers_security_informations.modal.fade
  .modal-header
    %a{ class: 'close', 'data-dismiss' => 'modal' } ×
    %h3 INFORMATIONS DE SECURITE
  %form
    .modal-body
      %p
        Toutes vos informations de connexion (identifiants, mots de passe…) sont gérées de façon très sécurisée en utilisant un cryptage extrêmement puissant (RSA 4096) et un stockage géographiquement distinct de celui des informations de déchiffrage.
        %br
        En d’autres termes, personne chez iDocus n’est en mesure, à un instant T, de lire ces informations sensibles.
        %br
        %br
        Les téléchargements que nous effectuons sur les sites bancaires sont en lecture seule.
        %b Aucune opération bancaire ne peut être réalisée !
        %br
        %br
        Les serveurs utilisés pour les transactions d’import automatique sont tous dédiés et hébergés dans des datacenters ultra sécurisés, situés sur le territoire français et évidemment backupés en permanence.
        %br
        %br
        Toutes ces opérations effectuées par internet sont sécurisées par le protocole SSL (Secure Socket Layer), utilisé par la quasi-totalité des banques.
        %br
        Cela signifie que nos différents serveurs et votre navigateur créent à chaque connexion un canal crypté spécifique empêchant que l'information puisse être « détournée » en cours de navigation.
        %br
        Pour ce faire, serveurs et navigateur s'identifient à chaque fois à l'aide d'un certificat SSL.
        %br
        %br
        Nos outils sont bien sûr également protégés par des firewalls.
    .modal-footer
      %a{ class: 'btn', 'data-dismiss' => 'modal' } Fermer
