#select_bank_accounts.row-fluid
  .span12
    .box
      %h3.aligncenter Sélection des comptes bancaires
    .box{ style: 'padding-bottom:0;' }
      = form_tag create_bank_accounts_account_fiduceo_retriever_path(@fiduceo_retriever), method: 'POST', class: 'form form-horizontal' do
        .row-fluid
          .offset1
            .span10
              %table.table.table-striped.table-condensed
                %thead
                  %tr
                    %th
                      = check_box_tag 'master_checkbox', 0, false
                    %th Nom
                    %th Numéro
                %tbody
                  - @bank_accounts.each do |bank_account|
                    %tr
                      %td
                        = hidden_field_tag "bank_accounts[#{bank_account.id}]", 0, id: "bank_account_#{bank_account.id}"
                        = check_box_tag "bank_accounts[#{bank_account.id}]", 1, false, class: 'checkbox'
                      %td= label_tag "bank_accounts[#{bank_account.id}]", bank_account.name
                      %td= label_tag "bank_accounts[#{bank_account.id}]", bank_account.account_number
        .form-actions
          = submit_tag t('actions.submit'), class: 'btn btn-primary'
          = link_to t('actions.cancel'), account_fiduceo_retrievers_path, class: 'btn'
