#organization{ data: { slug: @organization.slug } }
  .row-fluid
    .span12.panel
      .pull-left
        %h2 Organisation #{'(test)' if @organization.is_test} : #{@organization.name}
      .pull-right
        .pull-right.margin1left
          = icon_link_to edit_admin_organization_path(@organization), { icon: 'edit' }, { class: 'btn' }
        .btn-group.pull-right
          = link_to 'CSV', '#edit_csv_outputter', data: { toggle: :modal }, class: 'btn btn-primary'
          = link_to icon_globe, '#propagate_csv_outputter', data: { toggle: :modal }, class: 'btn btn-primary'
      %br
  .row-fluid
    .span6
      %table.table.table-condensed.table-bordered.table-striped
        %thead
          %tr
            %th{ colspan: 2 }
              %h3 Informations
        %tbody
          %tr
            %th= t('mongoid.models.organization.attributes.name')
            %td= @organization.name
          %tr
            %th= t('mongoid.models.organization.attributes.description')
            %td= @organization.description
          %tr
            %th= t('mongoid.models.common.attributes.created_at')
            %td= l(@organization.created_at)
          %tr
            %th= t('mongoid.models.common.attributes.updated_at')
            %td= l(@organization.updated_at)
          %tr
            %th= t('mongoid.models.organization.attributes.leader')
            %td= @organization.leader.info
          %tr
            %th= t('mongoid.models.organization.attributes.collaborators_count')
            %td= @organization.collaborators.count
          %tr
            %th= t('mongoid.models.organization.attributes.customers_count')
            %td= @organization.customers.count
          %tr
            %th= t('mongoid.models.organization.attributes.centralized_customers_count')
            %td= @organization.customers.centralized.count
    .span6
      %table.table.table-condensed.table-bordered.table-striped
        %thead
          %tr
            %th{ colspan: 2 }
              %h3 Autorisations
        %tbody
          %tr
            %th= t('mongoid.models.organization.attributes.is_detail_authorized')
            %td= @organization.is_detail_authorized ? t('yes_value') : t('no_value')
      %table.table.table-condensed.table-bordered.table-striped
        %thead
          %tr
            %th{ colspan: 2 }
              %h3.pull-left Options des périodes
              = link_to icon_globe, '#propagate_period_options', 'data-toggle' => 'modal', class: 'btn btn-small pull-right'
        %tbody
          %tr
            %th= t('mongoid.models.organization.attributes.authd_prev_period')
            %td= @organization.authd_prev_period
          %tr
            %th= t('mongoid.models.organization.attributes.auth_prev_period_until_day')
            %td= @organization.auth_prev_period_until_day
          %tr
            %th= t('mongoid.models.organization.attributes.auth_prev_period_until_month')
            %td= @organization.auth_prev_period_until_month

  .row-fluid
    .span6
      %table.table.table-condensed.table-bordered.table-striped
        %thead
          %tr
            %th{ colspan: 5 }
              .pull-left
                %h3 Listes des groupes
              .pull-right
                = link_to t('actions.new'), new_admin_organization_group_path(@organization), class: 'btn btn-primary btn-small'
          %tr
            %th= t('mongoid.models.common.attributes.created_at')
            %th= t('mongoid.models.organization.attributes.name')
            %th= t('mongoid.models.organization.attributes.collaborators_count')
            %th= t('mongoid.models.organization.attributes.customers_count')
            %th.alignright= t('actions.name')
        %tbody
          - @organization.groups.asc(:name).each do |group|
            %tr
              %td= l(group.created_at)
              %td= link_to group.name, admin_organization_group_path(@organization, group)
              %td= group.collaborators.count
              %td= group.customers.count
              %td.alignright
                = icon_link_to edit_admin_organization_group_path(@organization, group), { icon: 'edit' }, { class: 'btn btn-mini' }
                = icon_link_to admin_organization_group_path(@organization, group), { icon: 'remove' }, { class: 'btn btn-mini', data: { method: 'DELETE', confirm: 'Etês vous sûr ?' } }
    .span6
      .row-fluid
        #scan_subscription.span12
      .row-fluid
        #reminder_emails.span12
      .row-fluid
        #file_sending_kit.span12
      .row-fluid
        #ibiza_options.span12
      .row-fluid
        #account_book_types.span12

= render partial: 'modals'