#retrievers
  .row
    .col-md-12
      .box.small-shadow.clearfix
        = render 'layouts/admin/retriever/navigation'

  .card
    .card-header
      %h3 Récupération de transactions utilisateur Budgea

    .card-body
      = form_tag fetcher_admin_retrievers_path, method: :post, class: 'form form-vertical margin0bottom' do
        = hidden_field_tag :post_action_budgea_fetcher, true

        %table.table.table-condensed.margin0bottom
          %thead
            %tr
              %th.field.text_field= label_tag 'budgea_fetcher_contains[type]', 'Type'
              %th.field.text_field= label_tag 'budgea_fetcher_contains[user_code]', 'Code client'
              %th.field.text_field= label_tag 'budgea_fetcher_contains[parser_ids]', 'Liste compte bancaire (IDs)'
              %th.field.date_field= label_tag 'budgea_fetcher_contains[min_date]', 'Date de début'
              %th.field.date_field= label_tag 'budgea_fetcher_contains[max_date]', 'Date de fin'
              %th
          %tbody
            %tr
              %td.field.text_field
                = select_tag 'budgea_fetcher_contains[type]', options_for_select([['Opérations', 'operation'], ['Documents', 'documents']], (params[:budgea_fetcher_contains][:type] rescue '')), include_blank: false, class: 'form-control'
              %td.field.text_field
                = text_field_tag 'budgea_fetcher_contains[user_code]', (params[:budgea_fetcher_contains][:user_code] rescue ''), class: 'form-control'
              %td.field.text_field
                = text_field_tag 'budgea_fetcher_contains[parser_ids]', (params[:budgea_fetcher_contains][:parser_ids] rescue ''), class: 'form-control'
                %p.help-block ID(s) de compte(Type: opérations) / ID(s) de connections(Type: documents) - séparés par virgule (exemple: 123456, 987654)
              %td.field.date_field
                .input-group
                  .input-group-prepend
                    %span.input-group-text= glyphicon('calendar')
                  = text_field_tag 'budgea_fetcher_contains[min_date]', (params[:budgea_fetcher_contains][:min_date] rescue ''), class: 'form-control date datepicker'
              %td.field.date_field
                .input-group
                  .input-group-prepend
                    %span.input-group-text= glyphicon('calendar')
                  = text_field_tag 'budgea_fetcher_contains[max_date]', (params[:budgea_fetcher_contains][:max_date] rescue ''), class: 'form-control date datepicker'
              %td
                = submit_tag 'Lancer la récupération', name: nil, class: 'btn btn-primary'

    - if @message
      .row
        .col-md-12{style: "background-color:#000; padding:12px; color:#FFF!important"}
          = simple_format(@message) || ''
