#retrievers
  .row-fluid
    .span12
      = render 'layouts/admin/fiduceo/navigation'

  .row-fluid.marginbottom
    .span12.margin1bottom
      %h3 Automates de récupérations

  .row-fluid
    .span12
      .filter.panel.margin1top
        = form_tag admin_fiduceo_retrievers_path, method: :get, class: 'form form-horizontal margin0bottom' do
          = hidden_field_tag :direction, sort_direction
          = hidden_field_tag :sort, sort_column
          = hidden_field_tag :per_page, per_page

          %table.table.table-condensed.margin0bottom
            %thead
              %tr
                %th Total
                %th.field.date_field= label_tag 'retriever_contains[created_at][$gte]', 'Créé le'
                %th.field.date_field= label_tag 'retriever_contains[updated_at][$gte]', 'Modifié le'
                %th.field.text_field= label_tag 'retriever_contains[user_code]', t('mongoid.models.user.name')
                %th.field= label_tag 'retriever_contains[type]', t('mongoid.models.fiduceo_retriever.attributes.type')
                %th.field.text_field= label_tag 'retriever_contains[service_name]', t('mongoid.models.fiduceo_retriever.attributes.service_name')
                %th.field.text_field= label_tag 'retriever_contains[name]', t('mongoid.models.fiduceo_retriever.attributes.name')
                %th.field= label_tag 'retriever_contains[state]', t('mongoid.models.fiduceo_retriever.attributes.state')
                %th.field.text_field= label_tag 'retriever_contains[transaction_status]', t('mongoid.models.fiduceo_retriever.attributes.transaction_status')
                %th
            %tbody
              %tr
                %td
                  %b= @retrievers.count
                %td.field.date_field
                  .input-prepend.date.datepicker
                    %span.add-on
                      >=
                    = text_field_tag 'retriever_contains[created_at][$gte]', (params[:retriever_contains][:created_at]['$gte'] rescue '')
                  .input-prepend.date.datepicker
                    %span.add-on
                      <=
                    = text_field_tag 'retriever_contains[created_at][$lte]', (params[:retriever_contains][:created_at]['$lte'] rescue '')
                %td.field.date_field
                  .input-prepend.date.datepicker
                    %span.add-on
                      >=
                    = text_field_tag 'retriever_contains[updated_at][$gte]', (params[:retriever_contains][:updated_at]['$gte'] rescue '')
                  .input-prepend.date.datepicker
                    %span.add-on
                      <=
                    = text_field_tag 'retriever_contains[updated_at][$lte]', (params[:retriever_contains][:updated_at]['$lte'] rescue '')
                %td.field.text_field= text_field_tag 'retriever_contains[user_code]', (params[:retriever_contains][:user_code] rescue '')
                %td.field= select_tag 'retriever_contains[type]', options_for_select([['Document', :provider], ['Op. Bancaire', :bank]], (params[:retriever_contains][:type] rescue '')), include_blank: true
                %td.field.text_field= text_field_tag 'retriever_contains[service_name]', (params[:retriever_contains][:service_name] rescue '')
                %td.field.text_field= text_field_tag 'retriever_contains[name]', (params[:retriever_contains][:name] rescue '')
                %td.field= select_tag 'retriever_contains[state]', options_for_select(FiduceoRetriever.state_machine.states.map { |e| [e.human_name, e.name] }, (params[:retriever_contains][:state] rescue '')), include_blank: true
                %td.field.text_field= text_field_tag 'retriever_contains[transaction_status]', (params[:retriever_contains][:transaction_status] rescue '')
                %td
                  = submit_tag t('filters.action'), name: nil, class: 'btn btn-primary'
                  = link_to t('filters.reset'), admin_fiduceo_retrievers_path, class: 'btn'

  .row-fluid
    .span12
      .row-fluid
        .span6
          = render partial: 'shared/list_options', locals: { collection: @retrievers }
        .span6.alignright.padding1top
          = link_to admin_fiduceo_retrievers_path do
            %span.badge Tous
          = link_to admin_fiduceo_retrievers_path(retriever_contains: { created_at: { '$gte' => Time.now.beginning_of_month.strftime('%Y-%m-%d') } }, per_page: params[:per_page]) do
            %span.badge Récent
          = link_to admin_fiduceo_retrievers_path(retriever_contains: { state: 'scheduled' }, per_page: params[:per_page]) do
            %span.badge.badge-success Programmé
          = link_to admin_fiduceo_retrievers_path(retriever_contains: { state: 'ready' }, per_page: params[:per_page]) do
            %span.badge.badge-success Prêt
          = link_to admin_fiduceo_retrievers_path(retriever_contains: { state: 'processing' }, per_page: params[:per_page]) do
            %span.badge En cours
          = link_to admin_fiduceo_retrievers_path(retriever_contains: { state: 'wait_selection' }, per_page: params[:per_page]) do
            %span.badge Sélection
          = link_to admin_fiduceo_retrievers_path(retriever_contains: { state: 'error' }, per_page: params[:per_page]) do
            %span.badge.badge-important Erreur
      .row-fluid
        .span12
          %table.table.table-bordered.table-condensed.table-striped.margin1top.margin0bottom
            %thead
              %tr
                %th= sortable :created_at,         'Créé le'
                %th= sortable :updated_at,         'Modifié le'
                %th= sortable :user_id,            t('mongoid.models.user.name')
                %th= sortable :type,               t('mongoid.models.fiduceo_retriever.attributes.type')
                %th= sortable :service_name,       t('mongoid.models.fiduceo_retriever.attributes.service_name')
                %th= sortable :name,               t('mongoid.models.fiduceo_retriever.attributes.name')
                %th Journal
                %th Mode
                %th= t('mongoid.models.fiduceo_retriever.attributes.state')
                %th= sortable :transaction_status, t('mongoid.models.fiduceo_retriever.attributes.transaction_status')
                %th Action
            %tbody
              - @retrievers.each do |retriever|
                - present retriever do |retriever_presenter|
                  %tr
                    %td= l(retriever.created_at, format: '%d %b %Y %H:%M')
                    %td= l(retriever.updated_at, format: '%d %b %Y %H:%M')
                    %td= link_to retriever.user.code, [:admin, retriever.user]
                    %td= t("mongoid.models.fiduceo_retriever.attributes.type_values.#{retriever_presenter.type}")
                    %td= retriever_presenter.service_name
                    %td= retriever_presenter.name
                    %td= retriever_presenter.journal.try(:name) || '-'
                    %td= retriever_presenter.mode
                    %td!= retriever_presenter.state(:observer)
                    %td= retriever_presenter.transaction_status
                    %td= link_to icon(icon: 'eye-open'), account_fiduceo_retrievers_path(user_code: retriever.user.code)
      = render partial: 'shared/list_options', locals: { collection: @retrievers }
