#exercises
  - if @customer.configured?
    .row-fluid.derivationRight
      .span12.box
        .row-fluid
          .span12
            .pull-left
              %h3 Exercices comptable du client : #{link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'accounting_plan')}
            .pull-right
              = link_to icon_new + ' Nouveau', new_account_organization_customer_exercise_path(@organization, @customer), class: 'btn btn-primary'
  - else
    = render 'account/customers/steps'
    .row-fluid.derivationRight
      .span12.box
        .pull-left
          %h3 Exercices comptables pour le dossier : #{@customer}
        .pull-right
          = link_to t('actions.previous_step'), previous_account_organization_customer_setup_path(@organization, @customer), class: 'btn'
          = link_to t('actions.complete_later'), complete_later_account_organization_customer_setup_path(@organization, @customer), class: 'btn'
          = link_to t('actions.next_step'), next_account_organization_customer_setup_path(@organization, @customer), class: 'btn btn-primary'

  .row-fluid.derivationLeft
    .span12.box
      %table.table.table-striped.table-condensed.margin0bottom
        %tr
          %th Date de début
          %th Date de fin
          %th Fermé ?
          %th Actions
        - @exercises.each do |exercise|
          %tr
            %td= l(exercise.start_date, format: :long)
            %td= l(exercise.end_date, format: :long)
            %td= exercise.is_closed ? t('yes_value') : t('no_value')
            %td
              = icon_link_to edit_account_organization_customer_exercise_path(@organization, @customer, exercise), { icon: 'edit' }, { class: 'btn btn-mini' }
              = icon_link_to account_organization_customer_exercise_path(@organization, @customer, exercise), { icon: 'remove' }, { class: 'btn btn-mini', data: { method: 'DELETE', confirm: t('actions.confirm') } }
      - unless @customer.configured?
        .pull-right.margin2top
          = link_to icon_new + ' Nouveau', new_account_organization_customer_exercise_path(@organization, @customer), class: 'btn btn-primary'
