#job_processing
  .row
    .col-md-12
      .box.small-shadow.clearfix
        .float-left
          %h3
            Job processing
        .float-right
          %input#flag_temp_start_stop{ value: '0', type: 'hidden' }
          %button.btn.btn-success#real_temp.font-weight-bold
            Temps réel
        .float-right
          = link_to 'Lancer data verificator', launch_data_verif_admin_job_processing_index_path, class: 'mr-1 btn btn-light font-weight-bold'

  .row.retractable.with-filter
    .col-md-12
      .box
        .row
          .col.mt-4
            = render partial: 'shared/list_options', locals: { collection: @jobs }
        = render partial: 'real_time_event', locals: { collection: @jobs }

        %br
        .row
          .col.mb-4
            = render partial: 'shared/list_options', locals: { collection: @jobs }
    = render partial: 'sidebar'