#retriever_transactions.row-fluid
  .span12
    .box
      .row-fluid
        .span6
          %h3 Transactions (#{@transactions_count})
        .span6
          = link_to "#{@is_filter_empty ? 'Afficher' : 'Cacher'} le filtre", '#', class: 'btn pull-right toggle_filter'
    .filter.box{ class: ('hide' if @is_filter_empty) }
      = form_tag account_retriever_transactions_path, method: :get, class: 'form form-vertical margin0bottom' do
        %table.table-condensed
          %thead
            %tr
              %th= label_tag 'transaction_contains[created_at][>=]',    'Date de début'
              %th= label_tag 'transaction_contains[created_at][<=]',    'Date de fin'
              %th= label_tag 'transaction_contains[custom_service_name]', 'Service'
              %th= label_tag 'transaction_contains[type]',                'Type'
              %th= label_tag 'transaction_contains[status]',              'Statut'
              %th
          %tbody
            %tr
              %td
                .input-append.date.datepicker
                  = text_field_tag 'transaction_contains[created_at][>=]', (params[:transaction_contains][:created_at]['>='] rescue ''), class: 'input-small'
                  %span.add-on
                    %i.icon-th
              %td
                .input-append.date.datepicker
                  = text_field_tag 'transaction_contains[created_at][<=]', (params[:transaction_contains][:created_at]['<='] rescue ''), class: 'input-small'
                  %span.add-on
                    %i.icon-th
              %td= text_field_tag 'transaction_contains[custom_service_name]', (params[:transaction_contains][:custom_service_name] rescue ''), class: 'input-small'
              %td= select_tag 'transaction_contains[type]', options_for_select([['Documents', 'provider'], ['Opérations bancaires', 'bank']], (params[:transaction_contains][:type] rescue nil)), include_blank: true
              %td= select_tag 'transaction_contains[status]', transaction_status_for_select((params[:transaction_contains][:status] rescue nil)), include_blank: true
              %td
                = submit_tag t('filters.action'), class: 'btn btn-primary'
                = link_to icon(icon: 'remove'), account_retriever_transactions_path, class: 'btn', title: t('filters.reset')
    .box
      = render partial: 'shared/list_options', locals: { collection: @transactions }
      %table.table.table-bordered.table-condensed.table-striped.margin1top.margin0bottom
        %thead
          %tr
            %th= sortable :created_at,          'Date'
            %th= sortable :custom_service_name, 'Service'
            %th= sortable :type,                'Type'
            %th= sortable :status,              'Statut'
            %th Quantité
        %tbody
          - @transactions.each do |transaction|
            %tr
              %td= l(transaction.created_at)
              %td
                - if transaction.retriever.nil?
                  %span.label supprimé
                = transaction.custom_service_name
              %td= t("activerecord.models.fiduceo_retriever.attributes.type_values.#{transaction.type}")
              %td= link_to t('activerecord.state_machines.fiduceo_transaction.status.' + transaction.status.downcase).capitalize, account_retriever_transaction_path(transaction)
              %td
                - if transaction.retrieved_document_ids.count > 0
                  = link_to transaction.retrieved_document_ids.count, account_retrieved_documents_path(document_contains: { transaction_id: transaction.id })
                - else
                  \-
      = render partial: 'shared/list_options', locals: { collection: @transactions }
