.navbar
  .navbar-inner
    .container-fluid
      .nav-collapse
        %ul.nav
          %li{ class: ('active' if controller_name == 'products' && action_name == 'index') }
            = link_to 'Index', admin_products_path
          %li{ class: ('active' if controller_name == 'products' && action_name == 'new') }
            = link_to 'Ajouter un produit', new_admin_product_path
          %li{ class: ('active' if controller_name == 'product_options' && action_name == 'new') }
            = link_to 'Ajouter une option', new_admin_product_option_path
          %li{ class: ('active' if controller_name == 'product_groups' && action_name == 'new') }
            =  link_to 'Ajouter un groupe', new_admin_product_group_path
          %li{ class: ('active' if controller_name == 'products' && action_name == 'propagation_options') }
            =  link_to 'Propager', propagation_options_admin_products_path
