%td{ style: 'width:400px;' } #{option.title} #{option.description}
%td.price.right{ style: 'width:auto;' } #{format_price(option.price_in_cents_wo_vat)} € HT
%td.right= option.position
%td.right= option.quantity
%td.right= option.duration
%td.right= option.is_default ? t('yes_value') : t('no_value')
%td.right{ style: 'width:auto;' }
  = link_to icon_edit, edit_admin_product_option_path(option)
  = link_to icon_destroy, admin_product_option_path(option), method: 'delete', data: { confirm: t('actions.confirm') }
