.row-fluid
  .span12.panel.padding0
    %fieldset{ id: product_group.id, style: 'padding:7px;' }
      .row-fluid
        .span6
          %h4= "#{product_group.position} - #{product_group.title} #{product_group.description}"
        .span6
          .pull-right
            = link_to icon_edit, edit_admin_product_group_path(product_group)
            = link_to icon_destroy, admin_product_group_path(product_group), method: 'delete', data: { confirm: t('actions.confirm') }

      = hidden_field_tag "#{product_group.id}_DependantIds", product_group.product_required_for.collect{|g| g.id}.join('-')
      - if product_group.product_subgroups
        - product_group.product_subgroups.by_position.each do |product_subgroup|
          = render partial: 'product_group', locals: { product_group: product_subgroup, product: product }
      - unless product_group.product_options.empty?
        %table.table.table-condensed.table-striped.margin0bottom
          %tr
            %th
            %th Libellé
            %th.right Prix
            %th.right Position
            %th.right Quantité
            %th.right Durée
            %th
          - if product_group.is_option_dependent
            - product_group.product_options.by_position.each_with_index do |option,index|
              %tr
                %td.right{ style: 'width:25px;' }
                  %span
                    = radio_button_tag "product_options[]", option.id, ((index == 0)? true : false), id: option.id, class: "option", disabled: 'disabled'
                = render partial: 'product_option', locals: { option: option }
          - else
            - product_group.product_options.by_position.each_with_index do |option,index|
              %tr
                %td.right{ style: 'width:20px;' }
                  %span.checkbox
                    %input{ type: :checkbox, name: "product_options[]", value: option.id, id: option.id, class: 'option', disabled: 'disabled' }
                = render partial: 'product_option', locals: { option: option }
