#products
  = render partial: 'navigation'

  .row-fluid
    .span12
      .row-fluid
        .span12.panel
          %h2 Preview
          = render partial: 'product', collection: @products

      .row-fluid
        .span12.panel
          %h2 Produits
          %table.table.table-condensed.table-striped.margin0bottom
            %thead
              %tr
                %th.right= t('mongoid.models.product.attributes.position')
                %th.right= t('mongoid.models.product.attributes.title')
                %th.right= t('mongoid.models.product.attributes.price_in_cents_wo_vat')
                %th.right= t('actions.name')
            %tbody
              - @products.each do |product|
                %tr
                  %td.right= product.position
                  %td.right= product.title
                  %td.right.price= format_price_00(product.price_in_cents_wo_vat) + ' €'
                  %td.right
                    = link_to icon_edit, edit_admin_product_path(product)
                    = link_to icon_destroy, admin_product_path(product), data: { confirm: 'Voulez vous vraiment suprimer ce produit ?' }, method: 'delete'

      .row-fluid
        .span12.panel
          %h2 Options
          %table.table.table-condensed.table-striped.margin0bottom
            %thead
              %tr
                %th.right= t('mongoid.models.product_option.attributes.position')
                %th.right= t('mongoid.models.product_option.attributes.name')
                %th.right= t('mongoid.models.product_option.attributes.title')
                %th.right= t('mongoid.models.product_option.attributes.price_in_cents_wo_vat')
                %th.right= t('mongoid.models.product_option.group')
                %th.right= t('actions.name')
            %tbody
              - @product_options.each do |product_option|
                %tr
                  %td.right= product_option.position
                  %td.right= product_option.name
                  %td.right= product_option.title
                  %td.right.price= format_price_00(product_option.price_in_cents_wo_vat) + ' €'
                  %td.right= product_option.product_group.try(:name)
                  %td.right
                    = link_to icon_edit, edit_admin_product_option_path(product_option)
                    = link_to icon_destroy, admin_product_option_path(product_option), data: { confirm: 'Voulez vous vraiment suprimer cette option ?' }, method: 'delete'

      .row-fluid
        .span12.panel
          %h2 Groupes
          %table.table.table-condensed.table-striped.margin0bottom
            %thead
              %tr
                %th.right= t('mongoid.models.product_group.attributes.position')
                %th.right= t('mongoid.models.product_group.attributes.name')
                %th.right= t('mongoid.models.product_group.attributes.title')
                %th.right= t('mongoid.models.product.name').pluralize
                %th.right Nombre d'option(s)
                %th.right= t('actions.name')
            %tbody
              - @product_groups.each do |product_group|
                %tr
                  %td.right= product_group.position
                  %td.right= product_group.name
                  %td.right= product_group.title
                  %td.right= product_group.products.map { |e| e.title }.join(', ')
                  %td.right= product_group.product_options.count
                  %td.right
                    = link_to icon_edit, edit_admin_product_group_path(product_group)
                    = link_to icon_destroy, admin_product_group_path(product_group), data: { confirm: 'Voulez vous vraiment suprimer ce groupe ?' }, method: 'delete'
