%h3 Filtres

= form_tag admin_gray_labels_path, method: :get, html: { class: 'form form-vertical' } do
  = label_tag 'gray_label_contains[name]', t('mongoid.models.gray_label.attributes.name')
  = text_field_tag 'gray_label_contains[name]', (params[:gray_label_contains][:name] rescue '')

  %br
  = submit_tag t('filters.action'), class: 'btn'
  = link_to t('filters.cancel'), admin_gray_labels_path, class: 'btn'
