.block
  %h3 Dashboard
  .content
    %p
      Filtrer sur un utilisateur pour voir ses documents.
    
    %br
    
    %p
      %form{ :method => "GET", :action => admin_documents_path }
        != render :partial =>'/admin/shared/filter', :locals => {:link_back => admin_documents_path}
        
    %br
    
    %h4 Statut du processus
    %p
      Vignettes &agrave; g&eacute;n&eacute;rer restante : 
      != Document.without_original.not_clean.count
    %p
      Contenu &agrave; extraire : 
      != Document.without_original.not_extracted.count
    %p
      Non ind&eacute;x&eacute;s : 
      != Document.without_original.not_indexed.count
    %p
      Etat : 
      != BackgroundProcess.status ? "D&eacute;marr&eacute;" : "Arr&ecirc;t&eacute;"
    %p
      != link_to "Démarrer", run_background_process_admin_documents_path