.block
  .content
    %h2.title Documents Viewer
    .inner
      %form{ :method => "GET", :action => admin_documents_path }
        %h3 Filtre
        %table.table
          %tr
            %th
              %label{ :for => :company } Company
            %th
              %label{ :for => :code } Code
            %th
              %label{ :for => :first_name } Nom
            %th
              %label{ :for => :last_name } Prénom
            %th.last
              %label{ :for => :email } Email
          %tr
            %td
              %input{ :type => :text, :name => :company, :id => :company, :value => (params[:company] rescue "") }
            %td
              %input{ :type => :text, :name => :code, :id => :code, :value => (params[:code] rescue "") }
            %td
              %input{ :type => :text, :name => :first_name, :id => :first_name, :value => (params[:first_name] rescue "") }
            %td
              %input{ :type => :text, :name => :last_name, :id => :last_name, :value => (params[:last_name] rescue "") }
            %td.last
              %input{ :type => :text, :name => :email, :id => :email, :value => (params[:email] rescue "") }
              
        .group.navform.wat-cf
          %button.button{:type => 'submit'}
            != image_tag("web-app-theme/tick.png", :alt => "Valider")
            Valider
          != link_to image_tag("web-app-theme/cross.png", :alt => "Effacer le filtre") + "Effacer le filtre", admin_users_path, :class => "button"
      
      %br
      %br
      %br
      %table.table
        %tr
          %th Created at
          %th Name
          %th Documents number
          %th.last &nbsp;
        - @packs.each do |pack|
          %tr{:class => cycle("odd", "even")}
            %td= pack.created_at.strftime("%Y-%m-%d %H:%M:%S")
            %td= link_to pack.name, pack.documents.originals.first.content.url rescue pack.name
            %td= pack.documents.count - 1 rescue "inconnu"
            %td.last
      
      .actions-bar.wat-cf
        .actions
        != will_paginate @packs


