.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active!= link_to "All account book types", admin_account_book_types_path
      %li!= link_to "Add account book type", new_admin_account_book_type_path
  .content
    %h2.title All account book types
    .inner
      %table.table
        %tr
          %th Position
          %th Name
          %th.last &nbsp;
        - @account_book_types.each do |account_book_type|
          %tr{:class => cycle("odd", "even")}
            %td!= account_book_type.position
            %td!= account_book_type.name
            %td.last
              != link_to image_tag("web-app-theme/application_edit.png", :alt => "Edit"), edit_admin_account_book_type_path(account_book_type)
              |
              != link_to image_tag("web-app-theme/cross.png", :alt => "delete"), admin_account_book_type_path(account_book_type), :method => :delete, :confirm => "Êtes-vous sûr ?"
        
- content_for :sidebar, render(:partial => 'sidebar')

