.label{ style: 'padding:3px 5px 3px' }
  - if @user.is_prescriber
    = link_to icon_new, '#new_account_book_type', 'data-toggle' => :modal
  Type de journaux comptable
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th N°
      %th Nom
      %th Déscription
  %tbody
    - @account_book_types.each do |account_book_type|
      %tr{ id: account_book_type.slug }
        %td= account_book_type.position
        %td= account_book_type.name
        %td
          = account_book_type.description
          - if @user.is_prescriber
            .pull-right
              = link_to icon_edit, '#', class: 'edit_account_book_type'
              = link_to icon_destroy, admin_user_account_book_type_path(@user,account_book_type), method: :delete, data: { confirm: 'Etes vous sûr de vouloir supprimer ce type ?' }, class: 'destroy_account_book_type'