.group
  %h3 Information du pavet
  
  != f.label :caption, "Titre", :class => :label
  != f.text_field :caption, :class => 'text_field'
  
  != f.label :content, "Contenu", :class => :label
  != f.text_area :content, :class => 'text_area'
  
  != f.label :position, "Position", :class => :label
  != f.text_field :position, :class => 'text_field'
  
  != f.label :model, "Modele", :class => :label
  != f.text_field :model, :class => 'text_field'
  
.group
  != f.label :is_left_active, "Activer ?", :class => :label
  != f.check_box :is_left_active, :class => 'check_box'
  
  != f.label :left_link_name, "Nom du lien gauche", :class => :label
  != f.text_field :left_link_name, :class => 'text_field'
  
  != f.label :left_link_url, "Url du lien gauche", :class => :label
  != f.text_field :left_link_url, :class => 'text_field'

.group
  != f.label :is_right_active, "Activer ?", :class => :label
  != f.check_box :is_right_active, :class => 'check_box'
  
  != f.label :right_link_name, "Nom du lien droit", :class => :label
  != f.text_field :right_link_name, :class => 'text_field'
  
  != f.label :right_link_url, "Url du lien droit", :class => :label
  != f.text_field :right_link_url, :class => 'text_field'

.group.navform.wat-cf
  %button.button{:type => 'submit'}
    != image_tag("web-app-theme/tick.png", :alt => "Save")
    Save
  != link_to image_tag("web-app-theme/cross.png", :alt => "Cancel") + "Cancel", admin_slides_path, :class => "button"

.group
  %em
    %b *
    mandatory fields.