= semantic_form_for [:admin2, @homepage_base] do |f|
  = f.inputs 'Informations' do
    = f.input :name, label: 'Nom'
    = f.input :style, as: :text, label: 'Style'
    = f.input :content, as: :text, label: 'Contenu'
    = f.input :meta_description, as: :text, label: 'Méta-description'
  = f.buttons