= simple_form_for [:admin, @organization, @group], html: { class: 'form form-horizontal' } do |f|
  %fieldset
    %legend Informations
    = f.input :name, label: t('mongoid.models.group.attributes.name')
    = f.input :description, as: :text, label: t('mongoid.models.group.attributes.description')
  %fieldset
    %legend Dropbox Extended
    = f.input :dropbox_delivery_folder, label: t('mongoid.models.group.attributes.dropbox_delivery_folder'), input_html: { class: 'input-xxlarge' }
    = f.input :is_dropbox_authorized, as: :boolean, label: t('mongoid.models.group.attributes.is_dropbox_authorized')
    = f.input :file_type_to_deliver, label: t('mongoid.models.group.attributes.file_type_to_deliver'), collection: file_type_to_deliver_options, include_blank: false
  %fieldset
    %legend Assignation
    .control-group
      .controls
        .span6
          %label
            %b= t('mongoid.models.group.attributes.collaborators')
          %br
          - @organization.collaborators.asc(:code).each do |collaborator|
            = check_box_tag 'group[member_tokens][]', collaborator.id, @group.collaborators.include?(collaborator), id: "group_member_tokens_#{collaborator.id}"
            %label{ for: "group_member_tokens_#{collaborator.id}" }= collaborator.info
        .span6
          %label
            %b= t('mongoid.models.group.attributes.customers')
          %br
          - @organization.customers.asc(:code).each do |customer|
            = check_box_tag 'group[member_tokens][]', customer.id, @group.customers.include?(customer), id: "group_member_tokens_#{customer.id}"
            %label{ for: "group_member_tokens_#{customer.id}" }= customer.info
        = hidden_field_tag 'group[member_tokens][]', ''
  .form-actions
    = f.submit 'Valider', class: 'btn'
    = link_to 'Annuler', admin_organization_path(@organization), class: 'btn'