!!!
%html
  %head
    %title [iDocus] Traitement de vos demandes de nouveaux automates de récupération
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-type' }
  %body
    Bonjour #{@user.name},
    %br
    %br
    Vous avez demandé la création de nouveau(x) automates(s) de récupération.
    %br
    %br
    - if @accepted.any?
      Les automates suivants ont été développés et sont déjà disponibles dans votre interface. Vous pouvez maintenant les configurer :
      %br
      %ul
        - @accepted.each do |new_provider_request|
          %li= new_provider_request.name
      %br
    - if @rejected.any?
      Les automates suivants n’ont pas pu être développés :
      %ul
        - @rejected.each do |new_provider_request|
          %li
            = new_provider_request.name
            \:
            = " #{new_provider_request.message}"
      %br
    - if @processing.any?
      Les automates suivants sont en cours d’analyse :
      %ul
        - @processing.each do |new_provider_request|
          %li= new_provider_request.name
      %br
    Cordialement,
    %br
    L'équipe iDocus.
    %br
    = link_to 'support@idocus.com', 'mailto:support@idocus.com'
