.pannel.margin1top.margin1bottom
  %h4= product_group.title
  - product_subgroups = product_group.product_subgroups
  - if @subscription.organization
    - product_subgroups = product_subgroups.where(:position.gte => 1000)
  - elsif !@user.is_admin
    - product_subgroups = product_subgroups.where(:position.lt => 1000)
  - product_subgroups.by_position.each do |product_subgroup|
    = render partial: 'account/subscriptions/product_group', locals: { product_group: product_subgroup, product: product }
  - if product_group.product_options.any?
    %table.table.table-condensed.table-striped.margin1top.margin0bottom{ id: product_group.id, class: ("depend_on_#{product_group.product_require.id}" if product_group.product_require) }
      %tbody
        - if product_group.is_option_dependent
          - product_group.product_options.by_position.each_with_index do |option,index|
            %tr
              %td.input= radio_button_tag "subscription[product][#{product.id}][#{product_group.id}][]", option.id, is_product_option_checked?(index, option, @options), id: option.id, class: "option#{retrievers_option_warning_class(@customer, option)}", disabled: (is_product_option_disabled?(option, product_group, @options) ? 'disabled' : nil)
              = render partial: 'account/subscriptions/product_option', locals: { option: option }
        - else
          - product_group.product_options.by_position.each_with_index do |option,index|
            %tr
              %td.input= check_box_tag "subscription[product][#{product.id}][#{product_group.id}][]", option.id, is_product_option_checked?(index, option, @options), id: option.id, class: "option#{retrievers_option_warning_class(@customer, option)}", disabled: (is_product_option_disabled?(option, product_group, @options) ? 'disabled' : nil)
              = render partial: 'account/subscriptions/product_option', locals: { option: option }
