.pannel.margin1top.margin1bottom{ class: "product period_duration_#{product.period_duration}" }
  .pull-left
    = radio_button_tag "scan_subscription[product][id]", product.id
  = label_tag "scan_subscription_product_id_#{product.id}", class: 'margin2left' do
    %h4= product.title

  - product_groups = product.product_groups.where(:product_supergroup_ids.size => 0)
  - if @subscription.organization
    - product_groups = product_groups.where(:position.gte => 1000)
  - elsif !@user.is_admin
    - product_groups = product_groups.where(:position.lt => 1000)
  - product_groups.by_position.entries.each do |product_group|
    = render partial: 'account/subscriptions/product_group', locals: { product_group: product_group, product: product }
