#subscriptions.edit.derivationRight
  .card
    = form_tag account_organization_customer_subscription_path(@organization, @customer), method: :patch, class: 'simple_form form form-horizontal margin0', :data => {:"is_recently_created" => @customer.recently_created? } do
      .card-header
        - if @customer.configured?
          %h3
            Edition de l'abonnement du client :
            = link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'subscription'), class: 'fs-origin'
        - else
          %h3
            Sélection forfait(s)/option(s) pour le dossier :
            %span.text-info.fs-origin= @customer

      .card-body
        = render 'account/customers/subscription_options'

      .card-footer
        .form-actions
          = submit_tag "Valider", class: 'btn btn-primary small-shadow'
          = link_to 'Annuler', account_organization_customer_path(@organization, @customer, tab: 'subscription'), class: 'btn btn-light'