#subscription
  .row-fluid
    .span12.box
      .row-fluid
        .span2
        .span8
          %h3.aligncenter Paramètres par défaut des abonnements
        .span2.alignright
          - if @possessed_user.is_editable
            = icon_link_to edit_account_organization_subscription_path(@organization.leader), { icon: 'edit' }, { class: 'btn' }

  .box
    .row-fluid
      .span6
        %h4.aligncenter
          Configuration actuelle
          = @subscription.period_duration == 1 ? '(Périodicité mensuelle)' : '(Périodicité trimestrielle)'
        = render partial: 'account/customers/options'

      - if @subscription.is_update_requested?
        .span6
          %h4.aligncenter
            Configuration souhaitée
            = @subscription.period_duration == 1 ? '(Périodicité mensuelle)' : '(Périodicité trimestrielle)'
          = render partial: 'account/customers/requested_options'