= simple_form_for @exercice, url: exercice_form_url(@organization, @customer, @exercice), html: { class: 'form form-horizontal margin0' } do |f|
  .control-group
    = label_tag 'exercice[start_date]', 'Date de début', class: 'control-label'
    .controls
      .input-prepend.date.datepicker
        %span.add-on
          %i.icon-th
        = text_field_tag 'exercice[start_date]', @exercice.start_date
  .control-group
    = label_tag 'exercice[end_date]', 'Date de fin', class: 'control-label'
    .controls
      .input-prepend.date.datepicker
        %span.add-on
          %i.icon-th
        = text_field_tag 'exercice[end_date]', @exercice.end_date
  = f.input :is_closed, as: :boolean
  .form-actions.margin0bottom
    = f.submit t('actions.submit'), class: 'btn btn-primary'
    = link_to t('actions.cancel'), account_organization_customer_exercices_path(@organization, @customer), class: 'btn'
