= simple_form_for @exercice, url: exercice_form_url(@customer, @exercice), html: { class: 'form form-horizontal margin0' } do |f|
  = f.input :start_date, as: :date
  = f.input :end_date, as: :date
  = f.input :is_closed, as: :boolean
  .form-actions.margin0bottom
    = f.submit t('actions.submit'), class: 'btn btn-primary'
    = link_to t('actions.cancel'), account_organization_customer_exercices_path(@customer), class: 'btn'
