#exercices
  .row-fluid
    .span12.box
      .row-fluid
        .span12
          .pull-left
            %h3 Exercices comptable de l'utilisateur : #{link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'others')}
          .pull-right
            = link_to icon_new + ' Nouveau', new_account_organization_customer_exercice_path(@organization, @customer), class: 'btn btn-primary'

  .row-fluid
    .span12.box
      %table.table.table-striped.table-condensed.margin0bottom
        %tr
          %th Date de début
          %th Date de fin
          %th Fermé ?
          %th Actions
        - @exercices.each do |exercice|
          %tr
            %td= l(exercice.start_date, format: :long)
            %td= l(exercice.end_date, format: :long)
            %td= exercice.is_closed ? t('yes_value') : t('no_value')
            %td
              = icon_link_to edit_account_organization_customer_exercice_path(@organization, @customer, exercice), { icon: 'edit' }, { class: 'btn btn-mini' }
              = icon_link_to account_organization_customer_exercice_path(@organization, @customer, exercice), { icon: 'remove' }, { class: 'btn btn-mini', data: { method: 'DELETE', confirm: t('actions.confirm') } }
