%table.table.table-striped.table-bordered-inner.table-condensed.margin0bottom
  %thead.label
    %tr.bg-brown.text-white
      %th{ colspan: 2 }
        - if single
          = t('activerecord.models.address.attributes.' + type)
        - else
          .float-left
            - if address.is_for_billing || address.is_for_paper_return || address.is_for_paper_set_shipping
              - if address.is_for_billing
                = t('activerecord.models.address.attributes.billing')
                - if address.is_for_paper_return || address.is_for_paper_set_shipping
                  %br
              - if address.is_for_paper_return
                = t('activerecord.models.address.attributes.paper_return')
                - if address.is_for_paper_set_shipping
                  %br
              - if address.is_for_paper_set_shipping
                = t('activerecord.models.address.attributes.paper_set_shipping')
            - else
              Adresse non attribuée
          .float-right
            = link_to glyphicon('pencil'), edit_account_organization_address_path(@organization, address), class: 'btn btn-light', style: 'color: #3e2f24'
            = link_to glyphicon('x'), account_organization_address_path(@organization, address), method: 'delete', data: { confirm: t('actions.confirm') }, class: 'btn btn-light', style: 'color: #3e2f24'
  - if address
    %tbody
      %tr
        %th= t('activerecord.models.address.attributes.company')
        %td= address.company
      %tr
        %th= t('activerecord.models.address.attributes.first_name')
        %td= address.first_name
      %tr
        %th= t('activerecord.models.address.attributes.last_name')
        %td= address.last_name
      %tr
        %th= t('activerecord.models.address.attributes.address_1')
        %td= address.address_1
      %tr
        %th= t('activerecord.models.address.attributes.address_2')
        %td= address.address_2
      %tr
        %th= t('activerecord.models.address.attributes.city')
        %td= address.city
      %tr
        %th= t('activerecord.models.address.attributes.zip')
        %td= address.zip
