= simple_form_for @address, url: customer_address_form_url(@organization, @customer, @address), html: { class: 'form form-horizontal margin0' } do |f|
  .card-body
    .row
      .col-md-6
        = f.input :company
        = f.input :first_name, required: true
        = f.input :last_name,  required: true
        = f.input :address_1,  required: true
        = f.input :address_2
        = f.input :city
        = f.input :zip
      .col-md-6
        = f.input :is_for_paper_return,       as: :boolean
        = f.input :is_for_paper_set_shipping, as: :boolean
        - if @address.is_for_dematbox_shipping || @customer.is_dematbox_authorized
          = f.input :is_for_dematbox_shipping,  as: :boolean
    .row
      .col-md-12
        - if @address.is_for_dematbox_shipping || @customer.is_dematbox_authorized
          .dematbox_only{ style: 'display:none;' }
            .box.bg-light
              %h4 Pour la livraison de l'iDocus Box uniquement
              %hr
              = f.input :company_number
              = f.input :phone
              = f.input :place_called_or_postal_box
              = f.input :building
              = f.input :door_code
              = f.input :other
  .card-footer
    .form-actions
      = f.submit t('actions.submit'), class: 'btn btn-primary'
      - link_name = action_name == 'new' ? t('actions.return').capitalize : t('actions.cancel').capitalize
      = link_to link_name, account_organization_customer_addresses_path(@organization, @customer), class: 'btn btn-light'
