.row-fluid
  .span12
    .box
      .row-fluid
        .span6
          %h3 Opérations bancaires #{@operations ? "(#{@operations.count})" : nil}
        .span6
          = link_to "#{@is_filter_empty ? 'Afficher' : 'Cacher'} le filtre", '#', class: 'btn pull-right toggle_filter'
    .filter.box{ class: ('hide' if @is_filter_empty) }
      = form_tag account_retrieved_banking_operations_path, method: :get, class: 'form form-vertical margin0bottom' do
        %table.table-condensed
          %thead
            %tr
              %th= label_tag 'banking_operation_contains[date][$gte]', 'Date de début'
              %th= label_tag 'banking_operation_contains[date][$lte]', 'Date de fin'
              %th= label_tag 'banking_operation_contains[label]',      'Libellé'
              %th
          %tbody
            %tr
              %td
                .input-append.date.datepicker
                  = text_field_tag 'banking_operation_contains[date][$gte]', (params[:banking_operation_contains][:date]['$gte'] rescue ''), class: 'input-small'
                  %span.add-on
                    %i.icon-th
              %td
                .input-append.date.datepicker
                  = text_field_tag 'banking_operation_contains[date][$lte]', (params[:banking_operation_contains][:date]['$lte'] rescue ''), class: 'input-small'
                  %span.add-on
                    %i.icon-th
              %td= text_field_tag 'banking_operation_contains[label]', (params[:banking_operation_contains][:label] rescue ''), class: 'input-medium'
              %td
                = submit_tag t('filters.action'), class: 'btn btn-primary'
                = link_to icon(icon: 'remove'), account_retrieved_banking_operations_path, class: 'btn', title: t('filters.reset')
    .box
      = render partial: 'list_options'
      %table.table.table-bordered.table-condensed.table-striped.margin1top.margin0bottom
        %thead
          %tr
            %th Date Op
            %th Date Val
            %th Service
            %th Compte
            %th Catégorie
            %th Libellé
            %th.amount Montant
        %tbody
          - @operations.each do |operation|
            %tr
              %td= l(operation.date, format: '%d %b %Y')
              %td= l(operation.value_date, format: '%d %b %Y')
              %td= operation.bank_account.bank_name if operation.bank_account
              %td= operation.bank_account.number    if operation.bank_account
              %td= operation.category
              %td= operation.label
              %td.amount= format_price_00(operation.amount * 100) + ' €'
      = render partial: 'list_options'
