.row-fluid
  .span12
    .box
      .row-fluid
        .span6
          %h3 Opérations bancaires #{@operations ? "(#{@operations.total_count})" : nil}
        .span6
          = link_to "#{@is_filter_empty ? 'Afficher' : 'Cacher'} le filtre", '#', class: 'btn pull-right toggle_filter'
    .filter.box{ class: ('hide' if @is_filter_empty) }
      = form_tag account_retrieved_banking_operations_path, method: :get, class: 'form form-vertical margin0bottom' do
        %table.table-condensed
          %thead
            %tr
              %th= label_tag 'banking_operation_contains[date][from]', 'Date de début'
              %th= label_tag 'banking_operation_contains[date][to]', 'Date de fin'
              %th= label_tag 'banking_operation_contains[label]',      'Libellé'
              %th
          %tbody
            %tr
              %td
                .input-append.date.datepicker
                  = text_field_tag 'banking_operation_contains[date][from]', (params[:banking_operation_contains][:date]['from'] rescue ''), class: 'input-small'
                  %span.add-on
                    %i.icon-th
              %td
                .input-append.date.datepicker
                  = text_field_tag 'banking_operation_contains[date][to]', (params[:banking_operation_contains][:date]['to'] rescue ''), class: 'input-small'
                  %span.add-on
                    %i.icon-th
              %td= text_field_tag 'banking_operation_contains[label]', (params[:banking_operation_contains][:label] rescue ''), class: 'input-medium'
              %td
                = submit_tag t('filters.action'), class: 'btn btn-primary'
                = link_to icon(icon: 'remove'), account_retrieved_banking_operations_path, class: 'btn', title: t('filters.reset')
    .box
      - if @operations
        = render partial: 'list_options'
        %table.table.table-bordered.table-condensed.table-striped.margin1top.margin0bottom
          %thead
            %tr
              %th Date Op
              %th Date Val
              %th Service
              %th Compte
              %th Catégorie
              %th Libellé
              %th.amount Montant
          %tbody
            - @operations.each do |operation|
              %tr
                %td= l(operation.date_op, format: '%d %b %Y')
                %td= l(operation.date_val, format: '%d %b %Y')
                %td= operation.bank_account.bank_name if operation.bank_account
                %td= operation.bank_account.number    if operation.bank_account
                %td= operation.category
                %td= operation.label
                %td.amount= format_price_00(operation.amount * 100) + ' €'
        = render partial: 'list_options'
      - else
        .aligncenter Service temporairement indisponible.
