.row-fluid
  .span12
    .box
      .row-fluid
        .span6
          %h3 Opérations bancaires #{@operations ? "(#{@operations.total_count})" : nil}
        .span6
          %a{ href: '#', class: 'btn pull-right toggle_filter' }
            %i.icon-filter
            %span= "#{@is_filter_empty ? 'Afficher' : 'Cacher'} le filtre"
          - if current_user.collaborator? && !@account.try(:options).try(:operation_processing_forced?)
            = link_to "Forcer la pré-affectation de #{@waiting_operations_count} opération(s)", force_processing_account_retrieved_banking_operations_path(banking_operation_contains: params[:banking_operation_contains]), method: :post, class: 'btn btn-danger pull-right margin1right', data: { confirm: "Ces opérations peuvent encore être modifiés par la/les banque(s). Êtes-vous sûr ?" }
    .filter.box{ style: ('display: none' if @is_filter_empty) }
      = form_tag account_retrieved_banking_operations_path, method: :get, class: 'form form-vertical margin0bottom' do
        %table.table.table-condensed.table-striped.table-bordered.table-filter
          %thead
            %tr
              %th= label_tag 'banking_operation_contains[date][>=]',              'Date de début'
              %th= label_tag 'banking_operation_contains[date][<=]',              'Date de fin'
              %th= label_tag 'banking_operation_contains[bank_account][bank_name]', 'Service'
              %th= label_tag 'banking_operation_contains[bank_account][number]',    'Compte'
              %th= label_tag 'banking_operation_contains[category]',                'Catégorie'
              %th= label_tag 'banking_operation_contains[label]',                   'Libellé'
              - if current_user.collaborator?
                %th= label_tag 'banking_operation_contains[pre_assigned]',                   'Pré-affectation'
              %th
          %tbody
            %tr
              %td
                .input-append.date.datepicker
                  = text_field_tag 'banking_operation_contains[date][>=]', (params[:banking_operation_contains][:date]['>='] rescue ''), class: 'input-small'
                  %span.add-on
                    %i.icon-th
              %td
                .input-append.date.datepicker
                  = text_field_tag 'banking_operation_contains[date][<=]', (params[:banking_operation_contains][:date]['<='] rescue ''), class: 'input-small'
                  %span.add-on
                    %i.icon-th
              %td= text_field_tag 'banking_operation_contains[bank_account][bank_name]', (params[:banking_operation_contains][:bank_account][:bank_name] rescue ''), class: 'input-small'
              %td= text_field_tag 'banking_operation_contains[bank_account][number]',    (params[:banking_operation_contains][:bank_account][:number] rescue ''),    class: 'input-small'
              %td= text_field_tag 'banking_operation_contains[category]', (params[:banking_operation_contains][:category] rescue ''), class: 'input-small'
              %td= text_field_tag 'banking_operation_contains[label]',    (params[:banking_operation_contains][:label] rescue ''),    class: 'input-medium'
              - if current_user.collaborator?
                %td= select_tag 'banking_operation_contains[pre_assigned]', options_for_select({"" => "", "Oui" => "pre_assigned", "Non" => "not_pre_assigned", "En attente" => "is_waiting"}, (params[:banking_operation_contains][:pre_assigned] rescue nil)), class: 'input-medium'
              %td
                = submit_tag t('filters.action'), class: 'btn btn-primary'
                - if current_user.is_admin && params[:banking_operation_contains].present?
                  = link_to 'Débloquer les opérations', unlock_operations_account_retrieved_banking_operations_path(banking_operation_contains: params[:banking_operation_contains]), method: :post, class: 'btn btn-danger', data: { confirm: "Êtes-vous sûr de vouloir débloquer ces opérations?"}
                = link_to icon(icon: 'remove'), account_retrieved_banking_operations_path, class: 'btn', title: t('filters.reset')
    .box
      = render partial: 'shared/list_options', locals: { collection: @operations }
      %table.table.table-bordered.table-condensed.table-striped.margin1top.margin0bottom
        %thead
          %tr
            %th= sortable :date,                     'Date Op'
            %th= sortable 'bank_accounts.bank_name', 'Service'
            %th= sortable 'bank_accounts.number',    'Compte'
            %th= sortable :category,                 'Catégorie'
            %th= sortable :label,                    'Libellé'
            %th.amount= sortable :amount,            'Montant'
            - if current_user.collaborator?
              %th Pré-affecté
        %tbody
          - @operations.each do |operation|
            %tr
              %td= l(operation.date, format: '%d %b %Y')
              %td= operation.bank_account.bank_name if operation.bank_account
              %td= operation.bank_account.number    if operation.bank_account
              %td= operation.category
              %td= operation.label
              %td.amount= format_price_00((operation.amount * 100).round) + " #{operation.currency["symbol"] || '€'}"
              - if @user.collaborator?
                %td= is_operation_pre_assigned(operation)
      = render partial: 'shared/list_options', locals: { collection: @operations }
