- if address
  %br
    #{address.first_name.upcase} #{address.last_name}
  - if address.company.present?
    %br
      #{address.company}
  %br
    #{address.address_1}
    - if address.address_2.present?
      %br
      #{address.address_2}
  %br
    #{address.zip} #{address.city.upcase}
  - if address.country.present?
    %br
      #{address.country}
  - if address.phone.present?
    %br
    %br
      %strong tel:
      #{address.phone}
  - if address.phone_mobile.present?
    %br
      %strong mobile:
      #{address.phone_mobile}
