.label{ style: 'padding:3px 5px 3px' }
  = link_to icon_edit, '#edit_csv_outputter', 'data-toggle' => :modal
  Documents
%table.table.table-striped.table-bordered.table-condensed.margin0bottom
  %tr
    %th= t('mongoid.models.user.attributes.is_access_by_token_active')
    %td.value= check_box_tag 'user[is_access_by_token_active]', 1, @user.is_access_by_token_active
  %tr
    %th= t('mongoid.models.user.attributes.is_dematbox_authorized')
    %td.value= check_box_tag 'user[is_dematbox_authorized]', 1, @user.is_dematbox_authorized
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th
      %th Nombre
      %th Vignettes
      %th Extraction
  %tbody
    %tr
      %th Propre
      %td= @user.own_packs.count
      - documents = get_documents(@user.own_packs)
      %td= documents.not_clean.count
      %td= documents.not_extracted.count
    %tr
      %th Total
      - packs = Pack.any_in(:user_ids => [@user.id])
      %td= packs.count
      - documents = get_documents(packs)
      %td= documents.not_clean.count
      %td= documents.not_extracted.count
