= semantic_form_for [:admin, @user] do |f|
  = f.inputs 'Informations' do
    = f.input :email, label: 'E-mail'
    = f.input :first_name, label: 'Prénom'
    = f.input :last_name, label: 'Nom'
    = f.input :code, label: 'Code client'
    = f.input :company, label: 'Société'

  = f.inputs 'Autorisations' do
    = f.input :is_admin, as: Boolean, label: 'Est administrateur ?'

    = f.semantic_fields_for :external_file_storage do |efs|
      = efs.input :is_google_docs_authorized, as: Boolean, label: 'Autoriser Google Docs ?'
      = efs.input :is_ftp_authorized, as: Boolean, label: 'Autoriser FTP ?'
      = efs.input :is_dropbox_basic_authorized, as: Boolean, label: 'Autoriser Dropbox?'

    = f.input :is_dropbox_extended_authorized, as: Boolean, label: 'Autoriser Dropbox Extended ?'
    = f.input :dropbox_delivery_folder, as:  String, label: 'Dropbox Extended chemin de livraison', wrapper_html: { class: 'if_dropbox_extended_authorized' }
    
  = f.inputs 'Gestion clients' do
    = f.input :is_prescriber, as: Boolean, label: 'Est prescripteur ?'
    = f.input :is_centraliser, as: Boolean, label: 'Est centraliseur ?', wrapper_html: { class: 'for_prescriber' }
    = f.input :is_detail_authorized, as: Boolean, label: 'Autoriser les details pour les clients ?', wrapper_html: { class: 'for_prescriber' }
    = f.input :client_ids, label: 'Email du (des) client(s)', wrapper_html: { class: 'for_prescriber' }

  = f.buttons do
    = f.commit_button
    = content_tag(:li, (link_to t('active_admin.cancel'), admin_users_path), class: 'cancel')

:javascript
  $(document).ready(function(){;
    $("#user_client_ids").tokenInput("/admin/users/search_by_code.json", {
      prePopulate: [
        #{user_codes_to_tokeninput_field @user.clients}
      ],
      searchDelay: 500,
      minChars: 1,
      preventDuplicates: true,
      hintText: "Tapez un code client à rechercher",
      noResultsText: "Aucun résultat",
      searchingText: "Recherche en cours..."
    });

    if (!$("#user_is_prescriber").is(":checked"))
      $(".for_prescriber").hide();

    $("#user_is_prescriber").change(function(){
      if($(this).is(":checked")) {
        $(".for_prescriber").show();
      } else {
        $(".for_prescriber").hide();
      }
    });

    if (!$("#user_is_dropbox_extended_authorized").is(":checked"))
      $("#user_dropbox_delivery_folder").attr('disabled','disabled');

    $("#user_is_dropbox_extended_authorized").change(function(){
      if($(this).is(":checked")) {
        $("#user_dropbox_delivery_folder").removeAttr('disabled');
      } else {
        $("#user_dropbox_delivery_folder").attr('disabled','disabled');
      }
    });
  });
