.group
  != f.label :email, "Email *", :class => :label
  != f.text_field :email, :class => 'text_field'
  %br
  != f.label :first_name, "Nom", :class => :label
  != f.text_field :first_name, :class => 'text_field'
  %br
  != f.label :last_name, "Prénom", :class => :label
  != f.text_field :last_name, :class => 'text_field'
  %br        
  != f.label :code, "Code client", :class => :label
  != f.text_field :code, :class => 'text_field'
  %br
  != f.label :company, "Société", :class => :label
  != f.text_field :company, :class => 'text_field'
  
.group
  != f.check_box :is_admin, :class => 'checkbox floattoleft'
  != f.label :is_admin, "Administrateur ?", :class => :label
  %br
  != f.check_box :is_inactive, :class => 'checkbox floattoleft', :checked => (!@user.inactive_at.nil? ? "checked" : "")
  != f.label :is_inactive, "Marquer inactif ? #{ @user.is_inactive? ? '(' + l(@user.inactive_at) + ')' : '' }", :class => :label
  
.group
  != f.check_box :is_dropbox_authorized, :class => 'checkbox floattoleft'
  != f.label :is_dropbox_authorized, "Autoriser Dropbox ?", :class => :label
  %br
  != f.check_box :is_dropbox_extended_authorized, :class => 'checkbox floattoleft'
  != f.label :is_dropbox_extended_authorized, "Autoriser Dropbox Extended ?", :class => :label
  
.group
  != f.check_box :is_prescriber, :class => 'checkbox floattoleft'
  != f.label :is_prescriber, "Est prescripteur ?", :class => :label
  %br
  .clients
    != f.label :client_ids, "Email du (des) client(s)", :class => :label
    != f.text_field :client_ids, :class => 'text_field', :value => ""

.group.navform.wat-cf
  %button.button{:type => 'submit'}
    != image_tag("web-app-theme/tick.png", :alt => "Save")
    Save
  != link_to image_tag("web-app-theme/cross.png", :alt => "Cancel") + "Cancel", admin_users_path, :class => "button"

.group
  %em
    %b *
    mandatory fields.
    
.group
  %h3
    Delivery state for
  
  - monthly = @user.find_or_create_reporting.monthly
  - current_monthly = monthly.current
  - previous_monthly = monthly.previous
  
  current month : 
  %br
  %select{ :name => :delivery_state_1, :id => "#{@user.id}_1", :class => :delivery_state }
    - Reporting::Delivery::STATES.each do |state|
      - same = (current_monthly.delivery.state == state[1]) rescue false
      - if same
        %option{ :value => state[1], :selected => :selected }
          !=state[0]
      - else
        %option{ :value => state[1] }
          !=state[0]
  != image_tag "lightbox-ico-loading.gif", :style => "display:none;", :id => "spinner_#{@user.id}_1"
  
  %br
  %br
  previous month :
  %br
  %select{ :name => :delivery_state_2, :id => "#{@user.id}_2", :class => :delivery_state }
    - Reporting::Delivery::STATES.each do |state|
      - same = (previous_monthly.delivery.state == state[1]) rescue false
      - if same
        %option{ :value => state[1], :selected => :selected }
          !=state[0]
      - else
        %option{ :value => state[1] }
          !=state[0]
  != image_tag "lightbox-ico-loading.gif", :style => "display:none;", :id => "spinner_#{@user.id}_2"
  - if !previous_monthly
    no delivery for previous month
    
:javascript
  $(document).ready(function(){
    
    if (!$("#user_is_prescriber").is(":checked"))
      $(".group .clients").hide();
    
    $("#user_is_prescriber").change(function(){
      if($(this).is(":checked")) {
        $(".group .clients").show();
      } else {
        $(".group .clients").hide();
      }
    });
    
    $("#user_client_ids").tokenInput("/admin/users/search.json", {
      prePopulate: [
        #{users_to_tokeninput_field(@user.all_clients - [@user])}
      ],
      searchDelay: 1000,
      minChars: 1,
      preventDuplicates: true,
      hintText: "Tapez une adresse email à rechercher",
      noResultsText: "Aucun résultat",
      searchingText: "Recherche en cours..."
    });
    
    $("select").change(function(){
      uid = $(this).attr('id').split('_')[0];
      un = $(this).attr('id').split('_')[1]
      current_month = (un == 1) ? true : false;
      node = $(this);
      url = "/admin/users/" + uid + "/update_delivery_status";
      hsh = {value: $(this).val(), current_month: current_month};
      spinner_id = "#spinner_"+uid+"_"+un;
      $.ajax({
        url: url,
        data: hsh,
        dataType: "json",
        type: "POST",
        beforeSend: function() {
          node.hide();
          $(spinner_id).show();
        },
        success: function(data){
          $(spinner_id).hide();
          node.show();
        },
        error: function(data){
          $(spinner_id).hide();
          //node.show();
        }
      });
    });
    
  });

:css
  .floattoleft {
    float: left; }