.group
  != f.label :email, "Email *", :class => :label
  != f.text_field :email, :class => 'text_field'
  %br
  != f.label :first_name, "Nom", :class => :label
  != f.text_field :last_name, :class => 'text_field'
  %br
  != f.label :last_name, "Prénom", :class => :label
  != f.text_field :first_name, :class => 'text_field'
  %br        
  != f.label :code, "Code client", :class => :label
  != f.text_field :code, :class => 'text_field'
  %br
  != f.label :company, "Société", :class => :label
  != f.text_field :company, :class => 'text_field'
  
.group
  != f.check_box :is_admin, :class => 'checkbox floattoleft'
  != f.label :is_admin, "Administrateur ?", :class => :label
  %br
  != f.check_box :is_inactive, :class => 'checkbox floattoleft', :checked => (!@user.inactive_at.nil? ? "checked" : "")
  != f.label :is_inactive, "Marquer inactif ? #{ @user.is_inactive? ? '(' + l(@user.inactive_at) + ')' : '' }", :class => :label
  
.group
  != hidden_field_tag "external_file_storage[default]", 0
  != check_box_tag "external_file_storage[is_dropbox_basic_authorized]", ExternalFileStorage::F_DROPBOX, @user.external_file_storage.try("is_dropbox_basic_authorized?"), :class => 'checkbox floattoleft'
  != label_tag "external_file_storage[is_dropbox_basic_authorized]", "Autoriser Dropbox?", :class => :label
  %br
  != f.check_box :is_dropbox_extended_authorized, :class => 'checkbox floattoleft'
  != f.label :is_dropbox_extended_authorized, "Autoriser Dropbox Extended ?", :class => :label
  %br
  != check_box_tag "external_file_storage[is_google_docs_authorized]", ExternalFileStorage::F_GOOGLE_DOCS, @user.external_file_storage.try("is_google_docs_authorized?"), :class => 'checkbox floattoleft'
  != label_tag "external_file_storage[is_google_docs_authorized]", "Autoriser Google Docs ?", :class => :label
  
.group
  != check_box_tag :is_new_subscription_detail_entry, "true", false, :class => 'checkbox floattoleft'
  != label_tag :is_new_subscription_detail_entry, "Nouvelle entrée ?", :class => :label
  %br
  != check_box_tag :is_parent_subscription_detail, "true", false, :class => 'checkbox floattoleft'
  != label_tag :is_parent_subscription_detail, "Propager les changements pour tout les clients ?", :class => :label
  %br
  != label_tag "subscription_detail[base_price_in_cents]", "Prix de base de l'abonnement en centime : ", :class => :label
  != text_field_tag "subscription_detail[base_price_in_cents]", (@user.scanning_subscription.detail.base_price_in_cents rescue 0), :class => 'text_field'
  %br
  != label_tag "subscription_detail[max_number_of_sheets]", "Nombre de feuilles compris dans l'abonnement : ", :class => :label
  != text_field_tag "subscription_detail[max_number_of_sheets]", (@user.scanning_subscription.detail.max_number_of_sheets rescue 0), :class => 'text_field'
  %br
  != label_tag "subscription_detail[max_uploaded_pages]", "Nombre de pages téléversées compris dans l'abonnement : ", :class => :label
  != text_field_tag "subscription_detail[max_uploaded_pages]", (@user.scanning_subscription.detail.max_uploaded_pages rescue 0), :class => 'text_field'
  
.group
  != f.check_box :is_prescriber, :class => 'checkbox floattoleft'
  != f.label :is_prescriber, "Est prescripteur ?", :class => :label
  %br
  %br
  .for-prescriber
    != f.check_box :is_centraliser, :class => 'checkbox floattoleft'
    != f.label :is_centraliser, "Est centraliseur ?", :class => :label
    %br
    != f.check_box :is_detail_authorized, :class => 'checkbox floattoleft'
    != f.label :is_detail_authorized, "Autoriser les details pour les clients ?", :class => :label
    %br
    != f.label :client_ids, "Email du (des) client(s)", :class => :label
    != f.text_field :client_ids, :class => 'text_field', :value => ""

.group.navform.wat-cf
  %button.button{:type => 'submit'}
    != image_tag("web-app-theme/tick.png", :alt => "Save")
    Save
  != link_to image_tag("web-app-theme/cross.png", :alt => "Cancel") + "Cancel", admin_users_path, :class => "button"

.group
  %em
    %b *
    mandatory fields.
    
:javascript
  $(document).ready(function(){
    
    if (!$("#user_is_prescriber").is(":checked"))
      $(".group .for-prescriber").hide();
    
    $("#user_is_prescriber").change(function(){
      if($(this).is(":checked")) {
        $(".group .for-prescriber").show();
      } else {
        $(".group .for-prescriber").hide();
      }
    });
    
    $("#user_client_ids").tokenInput("/admin/users/search.json", {
      prePopulate: [
        #{users_to_tokeninput_field(@user.all_clients - [@user])}
      ],
      searchDelay: 1000,
      minChars: 1,
      preventDuplicates: true,
      hintText: "Tapez une adresse email à rechercher",
      noResultsText: "Aucun résultat",
      searchingText: "Recherche en cours..."
    });
    
  });

:css
  .floattoleft {
    float: left; }