.label{ style: 'padding:3px 5px 3px' } Informations
.row-fluid
  .span4
    %table.table.table-striped.table-bordered.table-condensed.bestinplace
      %tbody
        %tr
          %th.first= t('mongoid.models.common.attributes.created_at')
          %td= l(@user.created_at)
        %tr
          %th.first= t('mongoid.attributes.user.email')
          %td= render partial: 'text_field', locals: { value: @user.email, name: 'user[email]' }
        %tr
          %th.first= t('mongoid.models.user.attributes.last_name')
          %td= render partial: 'text_field', locals: { value: @user.last_name, name: 'user[last_name]' }
        %tr
          %th.first= t('mongoid.models.user.attributes.first_name')
          %td= render partial: 'text_field', locals: { value: @user.first_name, name: 'user[first_name]' }
        %tr
          %th.first= t('mongoid.models.user.attributes.company')
          %td= render partial: 'text_field', locals: { value: @user.company, name: 'user[company]' }
        %tr
          %th.first= t('mongoid.models.user.attributes.code')
          %td= render partial: 'text_field', locals: { value: @user.code, name: 'user[code]' }
        %tr
          %th.first= t('mongoid.models.user.attributes.knowings_code')
          %td= render partial: 'text_field', locals: { value: @user.knowings_code, name: 'user[knowings_code]' }
        %tr
          %th.first= t('mongoid.models.user.attributes.knowings_visibility')
          %td= render partial: 'text_field', locals: { value: @user.knowings_visibility, name: 'user[knowings_visibility]' }
        %tr
          %th.first= t('mongoid.models.user.attributes.short.balance_in_cents')
          %td.value= format_price_00(@user.balance_in_cents) + ' €'
        %tr
          %th.first= t('mongoid.models.organization.name')
          %td
            = organization_link(@user)
            = (result = organization_status(@user)) ? "(#{result})" : ''
        %tr
          %th.first= t('mongoid.models.scanning_provider.name')
          %td
            - if @user.scanning_provider
              .pull-left= link_to @user.scanning_provider, [:admin, @user.scanning_provider]
              .pull-right= link_to icon_edit, [:edit, :admin, @user.scanning_provider], target: '_blank'
  .span8
    .row-fluid
      .span12
        %table.table.table-striped.table-bordered.table-condensed
          %tbody
            %tr.user_status
              %th
                %span= t('mongoid.models.user.attributes.is_inactive_since')
              %td
                .input-prepend.date.datepicker
                  %span.add-on
                    %i.icon-th
                  = text_field_tag 'user[inactive_at]', @user.inactive_at.try(:strftime, "%Y-%m-%d"), class: 'select-date'
            %tr
              %th= t('mongoid.models.user.attributes.is_prescriber')
              %td.value= check_box_tag 'user[is_prescriber]', 1, @user.is_prescriber
            %tr
              %th= t('mongoid.models.user.attributes.is_fake_prescriber')
              %td.value= check_box_tag 'user[is_fake_prescriber]', 1, @user.is_fake_prescriber
            %tr
              %th= t('mongoid.models.user.attributes.use_debit_mandate')
              %td.value= check_box_tag 'user[use_debit_mandate]', 1, @user.use_debit_mandate
            %tr
              %th= t('mongoid.models.user.attributes.is_reminder_email_active')
              %td.value= check_box_tag 'user[is_reminder_email_active]', 1, @user.is_reminder_email_active
            %tr
              %th= t('mongoid.models.user.attributes.is_document_notifier_active')
              %td.value= check_box_tag 'user[is_document_notifier_active]', 1, @user.is_document_notifier_active
            - if @user.is_centralized_changed?
              %tr
                %th
                  .label.label-warning= t('mongoid.models.user.attributes.is_centralized')
                %td.value
                  = icon(icon: 'pencil')
                  = @user.is_centralized ? t('yes_value') : t('no_value')
                  = check_box_tag 'user[is_centralized]', 1, @user.is_centralized_was
            - else
              %tr
                %th= t('mongoid.models.user.attributes.is_centralized')
                %td.value
                  = check_box_tag 'user[is_centralized]', 1, @user.is_centralized
            %tr
              %th= t('mongoid.models.user.attributes.is_fiduceo_authorized')
              %td.value
                = check_box_tag 'user[is_fiduceo_authorized]', 1, @user.is_fiduceo_authorized
            %tr
              %th= t('mongoid.models.user.attributes.is_computed_date_used')
              %td.value
                = check_box_tag 'user[is_computed_date_used]', 1, @user.is_computed_date_used
            %tr
              %th= t('mongoid.models.user.attributes.is_exercice_computed_date_used')
              %td.value
                = check_box_tag 'user[is_exercice_computed_date_used]', 1, @user.is_exercice_computed_date_used
            %tr
              %th= t('mongoid.models.user.attributes.is_access_by_token_active')
              %td.value= check_box_tag 'user[is_access_by_token_active]', 1, @user.is_access_by_token_active
            %tr
              %th= t('mongoid.models.user.attributes.is_dematbox_authorized')
              %td.value= check_box_tag 'user[is_dematbox_authorized]', 1, @user.is_dematbox_authorized
            %tr
              %th Stamp - Nom
              %td
                = render partial: 'text_field', locals: { name: 'user[stamp_name]', value: @user.stamp_name }
            %tr
              %th Stamp - Fond présent ?
              %td= check_box_tag 'user[is_stamp_background_filled]', 1, @user.is_stamp_background_filled
