.label{ class: (@user.update_request.try(:values).present? ? 'label-warning' : ''), style: 'padding:3px 5px 3px' }
  Informations
  - if @user.update_request.try(:values).present?
    = link_to 'Appliquer les changements', accept_admin_user_path(@user), method: :put, data: { confirm: 'Etes vous sûr ?' }, class: 'btn btn-mini btn-danger'
.row-fluid
  .span7
    %table.table.table-striped.table-bordered.table-condensed.bestinplace
      %tbody
        %tr
          %th.first= t('mongoid.models.common.attributes.created_at')
          %td= l(@user.created_at)
        %tr
          %th.first= t('mongoid.attributes.user.email')
          %td= render partial: 'text_field2', locals: { instance: @user, key: :email, name: 'user[email]' }
        %tr
          %th.first= t('mongoid.models.user.attributes.last_name')
          %td= render partial: 'text_field2', locals: { instance: @user, key: :last_name, name: 'user[last_name]' }
        %tr
          %th.first= t('mongoid.models.user.attributes.first_name')
          %td= render partial: 'text_field2', locals: { instance: @user, key: :first_name, name: 'user[first_name]' }
        %tr
          %th.first= t('mongoid.models.user.attributes.company')
          %td= render partial: 'text_field2', locals: { instance: @user, key: :company, name: 'user[company]' }
        %tr
          %th.first= t('mongoid.models.user.attributes.code')
          %td= render partial: 'text_field2', locals: { instance: @user, key: :code, name: 'user[code]' }
        %tr
          %th.first= t('mongoid.models.user.attributes.short.balance_in_cents')
          %td.value= format_price_00(@user.balance_in_cents) + ' €'
        %tr
          %th.first= t('mongoid.models.organization.name')
          %td
            = organization_link(@user)
            = (result = organization_status(@user)) ? "(#{result})" : ''
  .span5
    .row-fluid
      .span12
        %table.table.table-striped.table-bordered.table-condensed
          %tbody
            %tr
              %td.user_status{ colspan: 2 }
                - if !@user.update_request.try(:values).try(:[],'is_inactive').nil?
                  %div.alignright.padding1right
                    %span.label.label-warning
                      - if @user.update_request.try(:values).try(:[],'is_inactive')
                        Arrêt demandé
                      - else
                        Rétablissement demandé
                %div
                  %b.title.pull-left
                    = t('mongoid.models.user.attributes.is_inactive_since')
                  .input-append.date.datepicker.pull-right
                    = text_field_tag 'user[inactive_at]', @user.inactive_at.try(:strftime, "%Y-%m-%d"), class: 'select-date'
                    %span.add-on
                      %i.icon-th
            %tr
              %th= t('mongoid.models.user.attributes.is_admin')
              %td.value= check_box_tag 'user[is_admin]', 1, @user.is_admin
            %tr
              %th= t('mongoid.models.user.attributes.is_prescriber')
              %td.value= check_box_tag 'user[is_prescriber]', 1, @user.is_prescriber
            %tr
              %th= t('mongoid.models.user.attributes.is_fake_prescriber')
              %td.value= check_box_tag 'user[is_fake_prescriber]', 1, @user.is_fake_prescriber
            %tr
              %th= t('mongoid.models.user.attributes.is_editable')
              %td.value
                = check_box_tag 'user[is_editable]', 1, @user.is_editable
                #is_editable_propagation.pull-right= icon_link_to '#', { icon: 'globe' }, { title: 'Propager', data: { confirm: 'Voulez vous vraiment propager les changements vers tout les clients ?' } }
            %tr
              %th= t('mongoid.models.user.attributes.use_debit_mandate')
              %td.value= check_box_tag 'user[use_debit_mandate]', 1, @user.use_debit_mandate
            %tr
              %th= t('mongoid.models.user.attributes.is_reminder_email_active')
              %td.value= check_box_tag 'user[is_reminder_email_active]', 1, @user.is_reminder_email_active
            - if @user.is_centralized_changed?
              %tr
                %th
                  .label.label-warning= t('mongoid.models.user.attributes.is_centralized')
                %td.value
                  = icon(icon: 'pencil')
                  = @user.is_centralized ? t('yes_value') : t('no_value')
                  = check_box_tag 'user[is_centralized]', 1, @user.is_centralized_was
            - else
              %tr
                %th= t('mongoid.models.user.attributes.is_centralized')
                %td.value
                  = check_box_tag 'user[is_centralized]', 1, @user.is_centralized