%h3 Filtres

= form_tag admin_users_path, method: :get, html: { class: 'form form-vertical' } do
  %br
  - item = params[:user_contains][:organization_id] rescue ''
  = label_tag 'user_contains[organization_id]', t('mongoid.models.organization.name')
  = select_tag 'user_contains[organization_id]', options_from_collection_for_select(Organization.asc(:name), :id, :name, selected: item), include_blank: true
  = label_tag 'user_contains[request_action]', t('request.name')
  = select_tag 'user_contains[request_action]', options_for_select(request_options_for_select,(params[:user_contains][:request_action] rescue '')), include_blank: false
  = label_tag 'user_contains[company]', t('mongoid.models.user.attributes.company')
  = text_field_tag 'user_contains[company]', (params[:user_contains][:company] rescue '')
  = label_tag 'user_contains[code]', t('mongoid.models.user.attributes.code')
  = text_field_tag 'user_contains[code]', (params[:user_contains][:code] rescue '')
  = label_tag 'user_contains[last_name]', t('mongoid.models.user.attributes.last_name')
  = text_field_tag 'user_contains[last_name]', (params[:user_contains][:last_name] rescue '')
  = label_tag 'user_contains[first_name]', t('mongoid.models.user.attributes.first_name')
  = text_field_tag 'user_contains[first_name]', (params[:user_contains][:first_name] rescue '')
  = label_tag 'user_contains[email]', t('mongoid.models.user.attributes.email')
  = text_field_tag 'user_contains[email]', (params[:user_contains][:email] rescue '')

  %br
  = submit_tag t('filters.action'), class: 'btn'
  = link_to t('filters.cancel'), admin_users_path, class: 'btn'
