.static
  .pull-left.value
    = instance.send(key.to_s+'_was')
  .pull-right.link
    = edit_link
.prompt.hide
  = text_field_tag name, '', class: 'pull-left'
  .pull-right
    = ok_link
    = not_ok_link
.pull-right{ style: 'width:100%' }
  - if instance.send(key.to_s+'_changed?')
    = icon(icon: 'pencil')
    = instance.send(key)