.block
  .secondary-navigation
    %ul.wat-cf
      %li.first!= link_to "All users", admin_users_path
      %li!= link_to "Add user", new_admin_user_path
  .content
    %h2.title
      Editing user 
      != @user.email
    .inner
      - form_for [:admin, @user], :html => { :class => :form } do |f|
        != render :partial => "form", :locals => {:f => f}
        
      .group
        %h3
          Delivery state for
        
        - monthly = @user.find_or_create_reporting.monthly
        - current_monthly = monthly.current
        - previous_monthly = monthly.previous
        
        current month : 
        %br
        %select{ :name => :delivery_state_1, :id => "#{@user.id}_1", :class => :delivery_state }
          - Reporting::Delivery::STATES.each do |state|
            - same = (current_monthly.delivery.state == state[1]) rescue false
            - if same
              %option{ :value => state[1], :selected => :selected }
                !=state[0]
            - else
              %option{ :value => state[1] }
                !=state[0]
        != image_tag "lightbox-ico-loading.gif", :style => "display:none;", :id => "spinner_#{@user.id}_1"
        
        %br
        %br
        previous month :
        %br
        %select{ :name => :delivery_state_2, :id => "#{@user.id}_2", :class => :delivery_state }
          - Reporting::Delivery::STATES.each do |state|
            - same = (previous_monthly.delivery.state == state[1]) rescue false
            - if same
              %option{ :value => state[1], :selected => :selected }
                !=state[0]
            - else
              %option{ :value => state[1] }
                !=state[0]
        != image_tag "lightbox-ico-loading.gif", :style => "display:none;", :id => "spinner_#{@user.id}_2"
        - if !previous_monthly
          no delivery for previous month

:javascript
  $(document).ready(function(){
    $("select").change(function(){
      uid = $(this).attr('id').split('_')[0];
      un = $(this).attr('id').split('_')[1]
      current_month = (un == 1) ? true : false;
      node = $(this);
      url = "/admin/users/" + uid + "/update_delivery_status";
      hsh = {value: $(this).val(), current_month: current_month};
      spinner_id = "#spinner_"+uid+"_"+un;
      $.ajax({
        url: url,
        data: hsh,
        dataType: "json",
        type: "POST",
        beforeSend: function() {
          node.hide();
          $(spinner_id).show();
        },
        success: function(data){
          $(spinner_id).hide();
          node.show();
        },
        error: function(data){
          $(spinner_id).hide();
          //node.show();
        }
      });
    });
  });
  
- content_for :sidebar, render(:partial => 'sidebar')
