= render partial: 'navigation'

.row-fluid
  .span9
    %table.table.table-bordered.table-condensed.table-striped
      %thead
        %tr
          %th= sortable :created_at, t('mongoid.models.common.attributes.created_at'), { user_contains: user_contains }
          %th= sortable :code, t('mongoid.models.user.attributes.formatted_identifier'), { user_contains: user_contains }
          %th= sortable :request_type, t('request.name'), { user_contains: user_contains }
          %th= t('actions.name').pluralize
      %tbody
        - @users.each do |user|
          %tr
            %td= l(user.created_at)
            %td= user.info
            %td= t("request.#{user.request_status}") if user.request_status.present?
            %td
              = link_to icon_show, admin_user_path(user), alt: t('actions.show'), title: t('actions.show')
    .pull-right
      = paginate @users
  .span3.well
    = render partial: 'sidebar'