.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active!= link_to "All users", admin_users_path
      %li!= link_to "Add user", new_admin_user_path
  .content
    %h2.title All users
    .inner
      %table.table
        %tr
          %th Created at
          %th Identifier
          %th
            Company
            %br
            Code
          %th Admin?
          %th Confirmed?
          %th Status
          %th.last &nbsp;
        - @users.each do |user|
          %tr{:class => cycle("odd", "even")}
            %td!= l(user.created_at)
            %td
              != link_to user.email, [:admin, user]
              - if user.first_name || user.last_name
                %br
                != user.first_name rescue ""
                - if user.first_name
                  #{" "}
                != user.last_name rescue ""
            %td
              != user.company rescue ""
              - if user.company
                %br
              != user.code rescue ""
            %td!= (user.is_admin)? 'oui' : 'non'
            %td
              - if user.confirmed?
                oui
              - else
                non, confirmer ?
                != check_box_tag 'confirmed ?', true, false, :class => "inplace", :id => user.id
                != image_tag "lightbox-ico-loading.gif", :style => "display:none;", :id => "spinner_#{user.id}"
            %td
              - delivery = user.find_or_create_reporting.find_or_create_current_monthly.delivery
              %select{ :name => :delivery_state, :id => user.id, :class => :delivery_state }
                - Reporting::Delivery::STATES.each do |state|
                  - same = (delivery.state == state[1]) rescue false
                  - if same
                    %option{ :value => state[1], :selected => :selected }
                      !=state[0]
                  - else
                    %option{ :value => state[1] }
                      !=state[0]
              != image_tag "lightbox-ico-loading.gif", :style => "display:none;", :id => "spinner_2_#{user.id}"
            %td.last
              != link_to image_tag("web-app-theme/application_edit.png", :alt => "Edit"), edit_admin_user_path(user)
              -#|
              -#!= link_to image_tag("web-app-theme/cross.png", :alt => "delete"), admin_user_path(user), :method => :delete, :confirm => "Êtes-vous sûr ?"
      .actions-bar.wat-cf
        .actions
        != will_paginate @users
        
- content_for :sidebar, render(:partial => 'sidebar')

:javascript
  $(document).ready(function () {
    $("input[type=checkbox].inplace").click(function(){
      uid = $(this).attr('id');
      node = $(this);
      url = "/admin/users/" + uid + "/update_confirm_status";
      hsh = {value: $(this).is(':checked')};
      spinner_id = "#spinner_"+uid;
      $.ajax({
        url: url,
        data: hsh,
        dataType: "json",
        type: "POST",
        beforeSend: function() {
          node.hide();
          $(spinner_id).show();
        },
        success: function(data){
          $(spinner_id).hide();
          node.parent().html('oui');
        }
      });
    });
    
    $("select").change(function(){
      uid = $(this).attr('id');
      node = $(this);
      url = "/admin/users/" + uid + "/update_delivery_status";
      hsh = {value: $(this).val()};
      spinner_id = "#spinner_2_"+uid;
      $.ajax({
        url: url,
        data: hsh,
        dataType: "json",
        type: "POST",
        beforeSend: function() {
          node.hide();
          $(spinner_id).show();
        },
        success: function(data){
          $(spinner_id).hide();
          node.show();
        }
      });
    });
  });
  
:css
  .w50 {
    width: 50px; }
  .w75 {
    width: 75px; }