#user.new
  = render partial: 'navigation'

  .row-fluid
    .span12.panel
      %h3 Nouvel utilisateur

  .row-fluid
    .span12.panel
      = simple_form_for [:admin, @user], html: { class: 'form form-horizontal margin0 padding1top' } do |f|
        = f.input :email
        = f.input :password
        = f.input :password_confirmation
        = f.input :is_admin,      as: 'boolean'
        = f.input :is_prescriber, as: 'boolean'
        = f.input :first_name
        = f.input :last_name
        = f.input :code
        = f.input :company
        .form-actions.margin0bottom
          = f.submit t('actions.submit'), class: 'btn btn-primary'
          = link_to t('actions.cancel'), admin_users_path, class: 'btn'
