#user
  = render partial: 'navigation'

  .row-fluid
    .span12.well{ style: 'padding:5px 10px;' }
      .pull-left
        %h2= @user.info + (@user.inactive_at ? ' (Inactif)' : '')
      - if @user.is_new
        .pull-right
          - if @user.is_new
            = link_to 'Activer', activate_admin_user_path(@user), method: :put, data: { confirm: 'Etes vous sûr ?' }, class: 'btn btn-danger'
            = link_to 'Supprimer', admin_user_path(@user), method: :delete, data: { confirm: 'Etes vous sûr ?' }, class: 'btn btn-danger'

  .row-fluid
    #information.span6
      = render partial: 'information'
    #addresses.span6

  .row-fluid
    .span5
      .row-fluid
        .span12
          = render partial: 'prescriber_options'
      .row-fluid
        .span12
          #reminder_emails
      .row-fluid
        #file_sending_kit.span12
      .row-fluid
        .span12
          = render partial: 'stamp_personalisation'
    .span7
      .row-fluid
        #external_file_storage.span12
          = render partial: 'external_file_storage'
      .row-fluid
        .span8
          .row-fluid
            .span12
              = render partial: 'document'
          .row-fluid
            #scan_subscription.span12
        .span4
          #account_book_types.span12

= render partial: 'modal'

:javascript
  var user_id = "#{params[:id]}"
  var clients = [#{user_codes_to_tokeninput_field(@user.clients)}]