#user.show
  = render partial: 'navigation'

  .row-fluid
    .span12
      .row-fluid
        .span6
          - if @user.inactive?
            %span.label.label-important.pull-left.margin1right.closed_account Dossier clôturé
          %h2= @user.info

        .span6.alignright
          = link_to icon(icon: 'refresh') + ' ' + 'Réinitialiser le mot de passe', send_reset_password_instructions_admin_user_path(@user), method: :post, data: { confirm: t('actions.confirm') }, class: 'btn btn-primary', title: 'Envoie un email'
  #information.row-fluid.margin1top
    .span4
      %table.table.table-striped.table-bordered.table-condensed.bestinplace
        %tbody
          %tr
            %th.first= t('mongoid.models.common.attributes.created_at')
            %td= l(@user.created_at)
          %tr
            %th.first= t('mongoid.models.user.attributes.inactive_at')
            %td= l(@user.inactive_at) rescue nil
          %tr
            %th.first= t('mongoid.attributes.user.email')
            %td= render partial: 'text_field', locals: { value: @user.email, name: 'user[email]' }
          %tr
            %th.first= t('mongoid.models.user.attributes.last_name')
            %td= render partial: 'text_field', locals: { value: @user.last_name, name: 'user[last_name]' }
          %tr
            %th.first= t('mongoid.models.user.attributes.first_name')
            %td= render partial: 'text_field', locals: { value: @user.first_name, name: 'user[first_name]' }
          %tr
            %th.first= t('mongoid.models.user.attributes.company')
            %td= render partial: 'text_field', locals: { value: @user.company, name: 'user[company]' }
          %tr
            %th.first= t('mongoid.models.user.attributes.code')
            %td= @user.code
          %tr
            %th.first= t('mongoid.models.user.attributes.knowings_code')
            %td= render partial: 'text_field', locals: { value: @user.knowings_code, name: 'user[knowings_code]' }
          %tr
            %th.first= t('mongoid.models.user.attributes.knowings_visibility')
            %td= render partial: 'text_field', locals: { value: @user.knowings_visibility, name: 'user[knowings_visibility]' }
          %tr
            %th.first= t('mongoid.models.organization.name')
            %td
              = organization_link(@user)
              = (result = organization_status(@user)) ? "(#{result})" : ''
          %tr
            %th.first= t('mongoid.models.scanning_provider.name')
            %td
              - if @user.scanning_provider
                .pull-left= link_to @user.scanning_provider, [:admin, @user.scanning_provider]
                .pull-right= link_to icon_edit, [:edit, :admin, @user.scanning_provider], target: '_blank'
    .span8
      %table.table.table-striped.table-bordered.table-condensed
        %tbody
          %tr
            %th= t('mongoid.models.user.attributes.is_prescriber')
            %td.value= check_box_tag 'user[is_prescriber]', 1, @user.is_prescriber, disabled: true
          %tr
            %th= t('mongoid.models.user.attributes.is_fake_prescriber')
            %td.value= check_box_tag 'user[is_fake_prescriber]', 1, @user.is_fake_prescriber
          %tr
            %th= t('mongoid.models.user.attributes.is_reminder_email_active')
            %td.value= check_box_tag 'user[is_reminder_email_active]', 1, @user.is_reminder_email_active
          %tr
            %th= t('mongoid.models.user.attributes.is_document_notifier_active')
            %td.value= check_box_tag 'user[is_document_notifier_active]', 1, @user.is_document_notifier_active
          %tr
            %th= t('mongoid.models.user.attributes.is_centralized')
            %td.value
              = check_box_tag 'user[is_centralized]', 1, @user.is_centralized
          %tr
            %th= t('mongoid.models.user.attributes.is_fiduceo_authorized')
            %td.value
              = check_box_tag 'user[is_fiduceo_authorized]', 1, @user.is_fiduceo_authorized, disabled: true
          %tr
            %th= t('mongoid.models.user.attributes.is_access_by_token_active')
            %td.value= check_box_tag 'user[is_access_by_token_active]', 1, @user.is_access_by_token_active
          %tr
            %th= t('mongoid.models.user.attributes.is_dematbox_authorized')
            %td.value= check_box_tag 'user[is_dematbox_authorized]', 1, @user.is_dematbox_authorized, disabled: true
          %tr
            %th Stamp - Nom
            %td.value
              = render partial: 'text_field', locals: { name: 'user[stamp_name]', value: @user.stamp_name }
          %tr
            %th Stamp - Fond présent ?
            %td.value= check_box_tag 'user[is_stamp_background_filled]', 1, @user.is_stamp_background_filled

:javascript
  var user_id = "#{params[:id]}"
