#user.show
  = render partial: 'navigation'

  .row-fluid
    .span12.panel
      .pull-left
        %h2= @user.info + (@user.inactive_at ? ' (Inactif)' : '')

      .pull-right
        = link_to icon(icon: 'refresh') + ' ' + 'Réinitialiser le mot de passe', send_reset_password_instructions_admin_user_path(@user), method: :post, data: { confirm: t('actions.confirm') }, class: 'btn btn-primary', title: 'Envoie un email'
  .row-fluid
    #information.span12
      = render partial: 'information'

:javascript
  var user_id = "#{params[:id]}"
