%table.table.table-striped.table-condensed{ data: { total: collection.count }}
  %thead
    %tr
      %th.date Date
      %th.name Lot
      %th.count Nb.
      %th.message Origine / Service / Message
  %tbody
    - total = 0
    - if collection.count > 0
      - collection.each do |object|
        - total = total + object.document_count
        %tr
          %td.date
            - if object.date
              - if object.date.today?
                = l(object.date, format: '%H:%M')
              - else
                = l(object.date, format: '%d %b %Y %H:%M')
            - else
              \-
          %td.name= object.name
          %td.count= object.document_count
          %td.message= object.message == false ? '-' : sanitize(object.message, :tags => %w(br))
      %tr
        %td
        %td
        %td.count
          %strong= total
        %td
    - else
      %tr
        %td.aligncenter{ colspan: 4 }
          %i Aucun
