.retractable-content
%table.table.table-condensed.table-striped.margin1top.margin1bottom.table-detachable-head.table-bordered-inner{ data: { total: collection.count }}
  %thead
    %tr.bg-brown.text-white
      %th.aligncenter Date
      %th.aligncenter Lot
      %th.aligncenter Nb.
      %th.aligncenter Origine / Service / Message
  %tbody
    - total = 0
    - if collection.count > 0
      - collection.each do |object|
        - total = total + object.document_count
        %tr
          %td.aligncenter
            - if object.date
              - if object.date.today?
                = l(object.date, format: '%H:%M')
              - else
                = l(object.date, format: '%d %b %Y %H:%M')
            - else
              \-
          %td.aligncenter= object.name
          %td.aligncenter= object.document_count
          %td.aligncenter= object.message == false ? '-' : sanitize(object.message, :tags => %w(br))
      %tr
        %td
        %td
        %td.aligncenter
          %strong= total
        %td
    - else
      %tr
        %td.aligncenter{ colspan: 4 }
          %i Aucun
