.row-fluid
  .span4
    %h3.label{ style: 'padding:3px 5px 3px;' } Dernier documents
    %table.table.table-striped.table-condensed.table-bordered
      %thead
        %th Date
        %th Nom
        %th Pages
      %tbody
        - @last_packs.each do |pack|
          %tr
            %td= l(pack.updated_at)
            %td= pack.name
            %td= pack.documents.count - 1
  .span3
    %h3.label{ style: 'padding:3px 5px 3px;' } Etat des pages
    %table.table.table-striped.table-condensed.table-bordered
      %tbody
        %tr
          %th Total
          %td= Document.count
        %tr
          %th Numérisés
          %td= Document.scanned.count
        %tr
          %th Téléversés
          %td= Document.uploaded.count
        %tr
          %th Vignettes restante
          %td= Document.not_clean.without_original.count
        %tr
          %th Extraction restante
          %td= Document.not_extracted.without_original.count
