#dashboard
  .row
    .col-md-7
      .box.height_groups.groups_1
        %h4 Flux de traitement

        %hr

        .row
          .col-sm-4
            .box.bg-menu.small-shadow
              #v-pills-tab.nav.flex-column.nav-pills.nav-justified{"aria-orientation" => "vertical", :role => "tablist"}
                %a#v-ocr_needed_temp_packs.nav-link{"aria-controls": "v-ocr_needed_temp_packs", "aria-selected": "true", "data-toggle": "pill", href: "#ocr_needed_temp_packs", role: "tab"}
                  %span.badge-tags.badge-pill.badge-success.fs-origin OCR
                  %span.float-right.badge.badge-tags.badge-pill.badge-success.fs-origin -
                %a#v-bundle_needed_temp_packs.nav-link.active{"aria-controls": "v-bundle_needed_temp_packs", "aria-selected": "false", "data-toggle": "pill", href: "#bundle_needed_temp_packs", role: "tab"}
                  %span.badge-tags.badge-pill.badge-success.fs-origin Regroupement - En cours
                  %span.float-right.badge.badge-tags.badge-pill.badge-success.fs-origin -
                %a#v-processing_temp_packs.nav-link{"aria-controls": "v-processing_temp_packs", "aria-selected": "false", "data-toggle": "pill", href: "#processing_temp_packs", role: "tab"}
                  %span.badge-tags.badge-pill.badge-success.fs-origin Conversion en pièces
                  %span.float-right.badge.badge-tags.badge-pill.badge-success.fs-origin -
                %a#v-currently_being_delivered_packs.nav-link{"aria-controls": "v-currently_being_delivered_packs", "aria-selected": "false", "data-toggle": "pill", href: "#currently_being_delivered_packs", role: "tab"}
                  %span.badge-tags.badge-pill.badge-success.fs-origin Livraison GED client - En cours
                  %span.float-right.badge.badge-tags.badge-pill.badge-success.fs-origin -
                %a#v-failed_packs_delivery.nav-link{"aria-controls": "v-failed_packs_delivery", "aria-selected": "false", "data-toggle": "pill", href: "#failed_packs_delivery", role: "tab"}
                  %span.badge-tags.badge-pill.badge-danger.fs-origin Livraison GED client - Echecs (6 mois)
                  %span.float-right.badge.badge-tags.badge-pill.badge-danger.fs-origin -
                %a#v-awaiting_pre_assignments.nav-link{"aria-controls": "v-awaiting_supplier_recognition", "aria-selected": "false", "data-toggle": "pill", href: "#awaiting_supplier_recognition", role: "tab"}
                  %span.badge-tags.badge-pill.badge-success.fs-origin Reconaissance Fournisseur
                  %span.float-right.badge.badge-tags.badge-pill.badge-success.fs-origin -
                %a#v-blocked_pre_assignments.nav-link{"aria-controls": "v-blocked_pre_assignments", "aria-selected": "false", "data-toggle": "pill", href: "#blocked_pre_assignments", role: "tab"}
                  %span.badge-tags.badge-pill.badge-secondary.fs-origin Pré-affectation - En attente
                  %span.float-right.badge.badge-tags.badge-pill.badge-secondary.fs-origin -
                %a#v-awaiting_pre_assignments.nav-link{"aria-controls": "v-awaiting_pre_assignments", "aria-selected": "false", "data-toggle": "pill", href: "#awaiting_pre_assignments", role: "tab"}
                  %span.badge-tags.badge-pill.badge-success.fs-origin Pré-affectation - En cours
                  %span.float-right.badge.badge-tags.badge-pill.badge-success.fs-origin -
                %a#v-reports_delivery.nav-link{"aria-controls": "v-reports_delivery", "aria-selected": "false", "data-toggle": "pill", href: "#reports_delivery", role: "tab"}
                  %span.badge-tags.badge-pill.badge-success.fs-origin Livr. Pré-aff. - En cours
                  %span.float-right.badge.badge-tags.badge-pill.badge-success.fs-origin -
                %a#v-failed_reports_delivery.nav-link{"aria-controls": "v-failed_reports_delivery", "aria-selected": "false", "data-toggle": "pill", href: "#failed_reports_delivery", role: "tab"}
                  %span.badge-tags.badge-pill.badge-danger.fs-origin Livr. Pré-aff. - Echecs
                  %span.span.float-right.badge.badge-tags.badge-pill.badge-danger.fs-origin -
                %a#v-cedricom_orphans.nav-link{"aria-controls": "v-cedricom_orphans", "aria-selected": "false", "data-toggle": "pill", href: "#cedricom_orphans", role: "tab"}
                  %span.badge-tags.badge-pill.badge-danger.fs-origin Cédricom - Orphelins
                  %span.span.float-right.badge.badge-tags.badge-pill.badge-danger.fs-origin -
          .col-sm-8
            #v-pills-tabContent.tab-content
              #ocr_needed_temp_packs.tab-pane
              #bundle_needed_temp_packs.tab-pane.active
              #processing_temp_packs.tab-pane
              #currently_being_delivered_packs.tab-pane
              #failed_packs_delivery.tab-pane
              #awaiting_supplier_recognition.tab-pane
              #blocked_pre_assignments.tab-pane
              #awaiting_pre_assignments.tab-pane
              #reports_delivery.tab-pane
              #failed_reports_delivery.tab-pane
              #cedricom_orphans.tab-pane

    .col-md-5
      .box.height_groups.groups_1
        .text-center
          %h4
            Information dépuis
            %strong= I18n.l(30.days.ago)
            jusqu'à Aujourd'hui
          .clearfix
          %br
        - cache 'admin_right_panels', expires_in: 5.minutes do
          .row
            .col-sm-6
              %h5
                %strong
                  %u Traitement des documents
              %table.table.table-striped.table-condensed.table-bordered
                %tbody
                  %tr
                    %th Corrompus
                    %td= StatisticsManager.get_statistic('unreadable_temp_documents_count')
                  %tr
                    %th Bloqués
                    %td= StatisticsManager.get_statistic('locked_temp_documents_count')
                  %tr
                    %th En attente de sélection
                    %td= StatisticsManager.get_statistic('wait_selection_temp_documents_count')
                  %tr
                    %th OCR
                    %td= StatisticsManager.get_statistic('ocr_needed_temp_documents_count')
                  %tr
                    %th A regrouper
                    %td= StatisticsManager.get_statistic('bundle_needed_temp_documents_count')
                  %tr
                    %th Prêt à être intégrés
                    %td= StatisticsManager.get_statistic('ready_temp_documents_count')
                  %tr
                    %th Traités
                    %td= StatisticsManager.get_statistic('processed_temp_documents_count')
            .col-sm-6
              %h5
                %strong
                  %u Livraison des documents
              %table.table.table-striped.table-condensed.table-bordered
                %thead
                  %tr.bg-brown.text-white
                    %th Service
                    %th Restant
                    %th Echoué
                %tbody
                  %tr
                    %td Dropbox Ext.
                    %td= StatisticsManager.get_statistic('not_processed_retryable_dropbox_extended_remote_files_count')
                    %td= StatisticsManager.get_statistic('not_processed_not_retryable_dropbox_extended_remote_files_count')
                  %tr
                    %td Dropbox
                    %td= StatisticsManager.get_statistic('not_processed_retryable_dropbox_remote_files_count')
                    %td= StatisticsManager.get_statistic('not_processed_not_retryable_dropbox_remote_files_count')
                  %tr
                    %td Google Drive
                    %td= StatisticsManager.get_statistic('not_processed_retryable_google_drive_remote_files_count')
                    %td= StatisticsManager.get_statistic('not_processed_not_retryable_google_drive_remote_files_count')
                  %tr
                    %td Box
                    %td= StatisticsManager.get_statistic('not_processed_retryable_box_remote_files_count')
                    %td= StatisticsManager.get_statistic('not_processed_not_retryable_box_remote_files_count')
                  %tr
                    %td FTP
                    %td= StatisticsManager.get_statistic('not_processed_retryable_ftp_remote_files_count')
                    %td= StatisticsManager.get_statistic('not_processed_not_retryable_ftp_remote_files_count')
                  %tr
                    %td My Company Files
                    %td= StatisticsManager.get_statistic('not_processed_retryable_mcf_remote_files_count')
                    %td= StatisticsManager.get_statistic('not_processed_not_retryable_mcf_remote_files_count')
          .row
            .col-sm-12
              %h5
                %strong
                  %u Documents téléversés par api
              %table.table.table-striped.table-condensed.table-bordered
                %thead
                  %tr.bg-brown.text-white
                    %th Api
                    %th Nb. de documents
                %tbody
                  %tr
                    %td Aucun
                    %td= StatisticsManager.get_statistic('aucun_temp_documents_count')
                  %tr
                    %td fiduceo
                    %td= StatisticsManager.get_statistic('fiduceo_temp_documents_count')
                  %tr
                    %td budgea
                    %td= StatisticsManager.get_statistic('budgea_temp_documents_count')
                  %tr
                    %td ibiza
                    %td= StatisticsManager.get_statistic('ibiza_temp_documents_count')
                  %tr
                    %td web
                    %td= StatisticsManager.get_statistic('web_temp_documents_count')
                  %tr
                    %td email
                    %td= StatisticsManager.get_statistic('email_temp_documents_count')
                  %tr
                    %td dropbox
                    %td= StatisticsManager.get_statistic('dropbox_temp_documents_count')
                  %tr
                    %td ftp
                    %td= StatisticsManager.get_statistic('ftp_temp_documents_count')
                  %tr
                    %td mcf
                    %td= StatisticsManager.get_statistic('mcf_temp_documents_count')
                  %tr
                    %td mobile
                    %td= StatisticsManager.get_statistic('mobile_temp_documents_count')
                  %tr
                    %td invoice auto
                    %td= StatisticsManager.get_statistic('invoice_auto_temp_documents_count')
                  %tr
                    %td scan
                    %td= StatisticsManager.get_statistic('scan_temp_documents_count')
                  %tr
                    %td invoice setting
                    %td= StatisticsManager.get_statistic('invoice_setting_temp_documents_count')
                  %tr
                    %td jefacture
                    %td= StatisticsManager.get_statistic('jefacture_temp_documents_count')
                  %tr
                    %td sftp
                    %td= StatisticsManager.get_statistic('sftp_temp_documents_count')
                  %tr
                    %td Total
                    %td= StatisticsManager.get_statistic('total_temp_documents_count')
          .row
            .col-sm-12
              %h5.label
                %strong
                  %u Opérations bancaires
              %table.table.table-striped.table-condensed.table-bordered
                %thead
                  %tr.bg-brown.text-white
                    %th Etat
                    %th Budgea
                    %th Bridge
                    %th Manuel
                    %th Total
                %tbody
                  %tr
                    %td
                    %td= StatisticsManager.get_statistic('budgea_operations_count')
                    %td= StatisticsManager.get_statistic('bridge_operations_count')
                    %td= StatisticsManager.get_statistic('capidocus_operations_count')
                    %td= StatisticsManager.get_statistic('operations_count')
                  %tr
                    %td Traités
                    %td= StatisticsManager.get_statistic('budgea_processed_operations_count')
                    %td= StatisticsManager.get_statistic('bridge_processed_operations_count')
                    %td= StatisticsManager.get_statistic('capidocus_processed_operations_count')
                    %td= StatisticsManager.get_statistic('processed_operations_count')
                  %tr
                    %td En attente
                    %td= StatisticsManager.get_statistic('budgea_not_processed_not_locked_operations_count')
                    %td= StatisticsManager.get_statistic('bridge_not_processed_not_locked_operations_count')
                    %td= StatisticsManager.get_statistic('capidocus_not_processed_not_locked_operations_count')
                    %td= StatisticsManager.get_statistic('not_processed_not_locked_operations_count')
                  %tr
                    %td Bloqués
                    %td= StatisticsManager.get_statistic('budgea_not_processed_locked_operations_count')
                    %td= StatisticsManager.get_statistic('bridge_not_processed_locked_operations_count')
                    %td= StatisticsManager.get_statistic('capidocus_not_processed_locked_operations_count')
                    %td= StatisticsManager.get_statistic('not_processed_locked_operations_count')
        .row
          .col-sm-12
            %h5
              %strong
                %u Répartition des organisations et clients par logiciel comptable
            %table.table.table-striped.table-condensed.table-bordered
              %thead
                %tr.bg-brown.text-white
                  %th Logiciel Comptable
                  %th Organisation
                  %th Client
              %tbody
                %tr
                  %td iBiza
                  %td= StatisticsManager.get_statistic('ibiza_organizations_count')
                  %td= StatisticsManager.get_statistic('ibiza_users_count')
                %tr
                  %td Exact Online
                  %td= StatisticsManager.get_statistic('exact_online_organizations_count')
                  %td= StatisticsManager.get_statistic('exact_online_users_count')
                %tr
                  %td My Unisoft
                  %td= StatisticsManager.get_statistic('my_unisoft_organizations_count')
                  %td= StatisticsManager.get_statistic('my_unisoft_users_count')
                %tr
                  %td Coala
                  %td= StatisticsManager.get_statistic('coalaorganizations_count')
                  %td= StatisticsManager.get_statistic('coala_users_count')
                %tr
                  %td Quadratus
                  %td= StatisticsManager.get_statistic('quadratus_organizations_count')
                  %td= StatisticsManager.get_statistic('quadratus_users_count')
                %tr
                  %td Cegid
                  %td= StatisticsManager.get_statistic('cegid_organizations_count')
                  %td= StatisticsManager.get_statistic('cegid_users_count')
                %tr
                  %td Fec Agiris
                  %td= StatisticsManager.get_statistic('fec_agirisorganizations_count')
                  %td= StatisticsManager.get_statistic('fec_agiris_users_count')
                %tr
                  %td Autre(format d'export .csv)
                  %td= StatisticsManager.get_statistic('csv_descriptor_organizations_count')
                  %td= StatisticsManager.get_statistic('csv_descriptor_users_count')
        .row
          .col-sm-12
            %h5 Organisations facturées n'ayant pas d'adresse de facturation
            - @unbillable_organizations.each do |organization|
              = link_to organization, account_organization_path(organization, tab: 'addresses'), class: 'badge badge-danger fs-origin'
