#pack_report.select_to_download
  .row-fluid
    .span12.box
      %h3 Export du lot : #{@report.name}

  .row-fluid
    .span12.box
      = form_tag download_account_organization_pack_report_path(@organization, @report), method: :post, class: 'form form-horizontal margin0' do
        %h4 Veuillez sélectionner des pièces, à inclure dans l'export, ci-dessous :
        %table.table.table-striped.table-condensed.margin1top
          %thead
            %tr
              %th= check_box_tag 'master_checkbox', 1, true, style: 'top:0;'
              %th Position
              %th Date
              %th Description
          %tbody
            - @report.preseizures.by_position.each do |preseizure|
              %tr
                %td= check_box_tag 'download[preseizure_ids][]', preseizure.id, true, id: "preseizure_#{preseizure.id}", style: 'top:0;', class: 'checkbox'
                %td= label_tag "preseizure_#{preseizure.id}", ("%03d" % preseizure.position)
                %td= label_tag "preseizure_#{preseizure.id}", I18n.l(preseizure.created_at)
                - if @organization.ibiza
                  %td= label_tag "preseizure_#{preseizure.id}", IbizaAPI::Utils.description(preseizure, @organization.ibiza.description, @organization.ibiza.description_separator)
                - else
                  %td= label_tag "preseizure_#{preseizure.id}", preseizure.third_party
        .control-group
          = label_tag 'download[format]', 'Format', class: 'control-label'
          .controls
            - formats = [['CSV', 'csv']]
            - formats << ['XML', 'xml'] if @user.is_admin && @organization.ibiza.try(:configured?)
            - formats << ['ZIP (Quadratus)', 'zip'] if @organization.is_quadratus_used
            - formats << ['ZIP (Coala)', 'zip_coala'] if @organization.is_coala_used
            - formats << ['CSV (Coala)', 'csv_coala'] if @organization.is_coala_used
            = select_tag 'download[format]', options_for_select(formats), include_blank: false
        .form-actions.margin0top.margin0bottom
          = submit_tag t('actions.submit'), class: 'btn btn-primary'
