#subscriptions
  #detachable_header
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th.ths(colspan='3') Information
          %th.ths(colspan='7') Forfaits
          %th.ths(colspan='4') Utilisation
          %th.ths(colspan='3') Clients
        %tr
          %th.ths{style: 'width:4%'} période
          %th.ths organisation
          %th.ths{style: 'width:7%'} code
          %th.ths{style: 'width:5%'} basique
          %th.ths{style: 'width:5%'} courrier
          %th.ths{style: 'width:5%'} box
          %th.ths{style: 'width:5%'} automate
          %th.ths{style: 'width:5%'} mini
          %th.ths{style: 'width:5%'} micro
          %th.ths{style: 'width:5%'} annuel
          %th.ths{style: 'width:5%'} téléversement
          %th.ths{style: 'width:5%'} numérisation
          %th.ths{style: 'width:5%'} dematbox
          %th.ths{style: 'width:5%'} automate
          %th.ths{style: 'width:5%'} actifs
          %th.ths{style: 'width:5%'} nouveaux
          %th.ths{style: 'width:5%'} clôturés

  .row-fluid
    .span12
      = render 'layouts/admin/statistics/navigation'
  .row-fluid
    .span12
      %h3.margin1top.margin1bottom Récapitulatif des Forfaits actuels
      %table.table.table-condensed.table-striped.table-bordered
        %thead
          %tr
            %th
            %th iDo'Basique
            %th iDo'Courrier
            %th iDo'Box
            %th iDo'Mini
            %th iDo'Micro
            %th Pack Annuel
            %th Total
            %th iDo'FacBanque
            %th Pré-saisie
            %th Tamponnage du papier
        %tbody
          %tr
            %th Abonnés
            %td= link_to @basic_package_count, "#", class: 'do-showAccounts', title: "iDo'Basique", type: "basic_package"
            %td= link_to @mail_package_count, "#", class: 'do-showAccounts', title: "iDo'Courrier", type: "mail_package"
            %td= link_to @scan_box_package_count, "#", class: 'do-showAccounts', title: "iDo'Box", type: "scan_box_package"
            %td= link_to @mini_package_count, "#", class: 'do-showAccounts', title: "iDo'Mini", type: "mini_package"
            %td= link_to @micro_package_count, "#", class: 'do-showAccounts', title: "iDo'Micro", type: "micro_package"
            %td= link_to @annual_package_count, "#", class: 'do-showAccounts', title: "Pack Annuel", type: "annual_package"
            %td= @basic_package_count + @mail_package_count + @scan_box_package_count + @annual_package_count + @mini_package_count + @micro_package_count
            %td= link_to @retriever_package_count, "#", class: 'do-showAccounts', title: "iDo'FacBanque", type: "retriever_package"
            %td= link_to @pre_assignment_count, "#", class: 'do-showAccounts', title: "Pré-saisie", type: "pre_assignment_active"
            %td= link_to @stamp_count, "#", class: 'do-showAccounts', title: "Tamponnage du papier", type: "stamp_active"
  .row-fluid
    .span12
      %h3 Reporting détaillés
  .row-fluid
    .span12
      .filter.panel.margin1top
        = form_tag admin_subscriptions_path, method: :get, class: 'form form-vertical margin0bottom' do
          %table.table.table-condensed.margin0bottom
            %thead
              %tr
                %th Nb. Organisations
                %th.field.date_field= label_tag 'first_period', 'Première période'
                %th.field.date_field= label_tag 'second_period', 'Deuxième période'
                %th.field.text_field= label_tag 'organization', 'Organisation'
                %th= link_to image_tag('application/icon-xls.png', alt: 'Export xls', style: 'position:relative;top:-2px;') + ' Exporter vers XLS', "/admin/subscriptions.xls?first_period=#{params[:first_period]}&second_period=#{params[:second_period]}&organization=#{params[:organization]}"
            %tbody
              %tr
                %td
                  %b= @organization_count
                %td.field
                  = select_tag 'first_period', subscription_period_options_for_select(params[:first_period])
                %td.field
                  = select_tag 'second_period', subscription_period_options_for_select(params[:second_period])
                %td.field.text_field= text_field_tag 'organization', (params[:organization] rescue '')
                %td
                  = submit_tag t('filters.compare'), name: nil, class: 'btn btn-primary'
                  = link_to t('filters.reset'), admin_subscriptions_path, class: 'btn'
  .row-fluid
    .span12
      = render partial: 'shared/list_options', locals: { collection: @statistics }
  .row-fluid
    .span12
      %table#statistic_table.table.table-condensed.table-striped.table-bordered.margin1top
        %thead
          %tr
            %th(colspan='3') Information
            %th(colspan='7') Forfaits
            %th(colspan='4') Utilisation
            %th(colspan='3') Clients
          %tr
            %th{style: 'width:4%'} période
            %th organisation
            %th{style: 'width:7%'} code
            %th{style: 'width:5%'} basique
            %th{style: 'width:5%'} courrier
            %th{style: 'width:5%'} box
            %th{style: 'width:5%'} automate
            %th{style: 'width:5%'} mini
            %th{style: 'width:5%'} micro
            %th{style: 'width:5%'} annuel
            %th{style: 'width:5%'} téléversement
            %th{style: 'width:5%'} numérisation
            %th{style: 'width:5%'} dematbox
            %th{style: 'width:5%'} automate
            %th{style: 'width:5%'} actifs
            %th{style: 'width:5%'} nouveaux
            %th{style: 'width:5%'} clôturés
        %tbody
          - @statistics.each do |statistic|
            %tr
              %td= I18n.l(statistic.month, format: "%b%y").titleize
              %td= statistic.organization_name
              %td= statistic.organization_code
              %td
                %span= statistic.options[:basic_package]
                = subscription_diff_content_for(statistic.options[:basic_package_diff])
              %td
                %span= statistic.options[:mail_package]
                = subscription_diff_content_for(statistic.options[:mail_package_diff])
              %td
                %span= statistic.options[:scan_box_package]
                = subscription_diff_content_for(statistic.options[:scan_box_package_diff])
              %td
                %span= statistic.options[:retriever_package]
                = subscription_diff_content_for(statistic.options[:retriever_package_diff])
              %td
                %span= statistic.options[:mini_package]
                = subscription_diff_content_for(statistic.options[:mini_package_diff])
              %td
                %span= statistic.options[:micro_package]
                = subscription_diff_content_for(statistic.options[:micro_package_diff])
              %td
                %span= statistic.options[:annual_package]
                = subscription_diff_content_for(statistic.options[:annual_package_diff])
              %td= statistic.consumption[:upload]
              %td= statistic.consumption[:scan]
              %td= statistic.consumption[:dematbox_scan]
              %td= statistic.consumption[:retriever]
              %td= statistic.customers.size
              %td
                = subscription_customers_popover_content_for(statistic.new_customers, 'positive')
              %td
                = subscription_customers_popover_content_for(statistic.closed_customers, 'negative')
          %tr
            %td.total_footer -
            %td.total_footer -
            %td.total_footer -
            %td.total_footer= @statistics_total[:basic_package]
            %td.total_footer= @statistics_total[:mail_package]
            %td.total_footer= @statistics_total[:scan_box_package]
            %td.total_footer= @statistics_total[:retriever_package]
            %td.total_footer= @statistics_total[:mini_package]
            %td.total_footer= @statistics_total[:micro_package]
            %td.total_footer= @statistics_total[:annual_package]
            %td.total_footer= @statistics_total[:upload]
            %td.total_footer= @statistics_total[:scan]
            %td.total_footer= @statistics_total[:dematbox_scan]
            %td.total_footer= @statistics_total[:retriever]
            %td.total_footer= @statistics_total[:customers]
            %td.total_footer= @statistics_total[:new_customers]
            %td.total_footer= @statistics_total[:closed_customers]

  .row-fluid
    .span12
      = render partial: 'shared/list_options', locals: { collection: @statistics }

  #showAccounts.modal.hide.fade
    .modal-header
      %a.close{ data: { dismiss: :modal } } ×
      %h3
    .modal-body