#subscriptions
  .row
    .col-md-12
      .box.small-shadow.clearfix
        = render 'layouts/admin/statistics/navigation'
  .row
    .col-md-12
      .box
        %h3.margin1top.margin1bottom Récapitulatif des Forfaits actuels
        %table.table.table-condensed.table-striped.table-bordered
          %thead
            %tr.bg-brown.text-white
              %th
              %th iDo Classique
              %th iDo Mini
              %th iDo Micro
              %th iDo Nano
              %th Pack Annuel
              %th Total
              %th Forfait Courrier
              %th Forfait Automates
              %th Pré-saisie
          %tbody
            %tr
              %th Abonnés
              %td= link_to @basic_package_count, "#", class: 'do-showAccounts', title: "iDo Classique", type: "basic_package"
              %td= link_to @mini_package_count, "#", class: 'do-showAccounts', title: "iDo Mini", type: "mini_package"
              %td= link_to @micro_package_count, "#", class: 'do-showAccounts', title: "iDo Micro", type: "micro_package"
              %td= link_to @nano_package_count, "#", class: 'do-showAccounts', title: "iDo Nano", type: "nano_package"
              %td= link_to @annual_package_count, "#", class: 'do-showAccounts', title: "Pack Annuel", type: "annual_package"
              %td= @basic_package_count + @annual_package_count + @mini_package_count + @micro_package_count + @nano_package_count
              %td= link_to @mail_package_count, "#", class: 'do-showAccounts', title: "Fofait Courrier", type: "mail_package"
              %td= link_to @retriever_package_count, "#", class: 'do-showAccounts', title: "Forfait automates", type: "retriever_package"
              %td= link_to @pre_assignment_count, "#", class: 'do-showAccounts', title: "Pré-saisie", type: "pre_assignment_active"
  .row.retractable.with-filter
    .col-md-12.retractable-content
      .box.clearfix
        .row
          .col-md-12
            = render partial: 'shared/list_options', locals: { collection: @statistics }
        %table#statistic_table.table.table-condensed.table-striped.margin1top.table-detachable-head.table-bordered-inner
          %thead
            %tr.bg-brown.text-white
              %th(colspan='3') Information
              %th(colspan='7') Forfaits
              %th(colspan='4') Utilisation
              %th(colspan='3') Clients
            %tr.bg-brown-light.text-white
              %th période
              %th= sortable 'organization_name', 'organisation'
              %th= sortable 'organization_code', 'code'
              %th= sortable 'options.basic_package', 'basique'
              %th= sortable 'options.mail_package', 'courrier'
              %th= sortable 'options.retriever_package', 'automate'
              %th= sortable 'options.mini_package', 'mini'
              %th= sortable 'options.micro_package', 'micro'
              %th= sortable 'options.nano_package', 'nano'
              %th= sortable 'options.annual_package', 'annuel'
              %th= sortable 'consumption.upload', 'téléversement'
              %th= sortable 'consumption.scan', 'numérisation'
              %th= sortable 'consumption.dematbox_scan', 'dematbox'
              %th= sortable 'consumption.retriever', 'automate'
              %th= sortable 'customers', 'actifs'
              %th= sortable 'new_customers', 'nouveaux'
              %th= sortable 'closed_customers', 'clôturés'
          %tbody
            - @statistics.each do |statistic|
              %tr
                %td= I18n.l(statistic.month, format: "%b%y").titleize
                %td= statistic.organization_name
                %td= statistic.organization_code
                %td
                  %span= statistic.options[:basic_package]
                  = subscription_diff_content_for(statistic.options[:basic_package_diff])
                %td
                  %span= statistic.options[:mail_package]
                  = subscription_diff_content_for(statistic.options[:mail_package_diff])
                %td
                  %span= statistic.options[:retriever_package]
                  = subscription_diff_content_for(statistic.options[:retriever_package_diff])
                %td
                  %span= statistic.options[:mini_package]
                  = subscription_diff_content_for(statistic.options[:mini_package_diff])
                %td
                  %span= statistic.options[:micro_package]
                  = subscription_diff_content_for(statistic.options[:micro_package_diff])
                %td
                  %span= statistic.options[:nano_package]
                  = subscription_diff_content_for(statistic.options[:nano_package_diff])
                %td
                  %span= statistic.options[:annual_package]
                  = subscription_diff_content_for(statistic.options[:annual_package_diff])
                %td= statistic.consumption[:upload]
                %td= statistic.consumption[:scan]
                %td= statistic.consumption[:dematbox_scan]
                %td= statistic.consumption[:retriever]
                %td= statistic.customers.size
                %td
                  = subscription_customers_popover_content_for(statistic.new_customers, 'positive')
                %td
                  = subscription_customers_popover_content_for(statistic.closed_customers, 'negative')
            %tr
              %td.total_footer -
              %td.total_footer -
              %td.total_footer -
              %td.total_footer
                %span= @statistics_total[:basic_package]
                = subscription_diff_content_for(@statistics_total[:basic_package_diff])
              %td.total_footer
                %span= @statistics_total[:mail_package]
                = subscription_diff_content_for(@statistics_total[:mail_package_diff])
              %td.total_footer
                %span= @statistics_total[:retriever_package]
                = subscription_diff_content_for(@statistics_total[:retriever_package_diff])
              %td.total_footer
                %span= @statistics_total[:mini_package]
                = subscription_diff_content_for(@statistics_total[:mini_package_diff])
              %td.total_footer
                %span= @statistics_total[:micro_package]
                = subscription_diff_content_for(@statistics_total[:micro_package_diff])
              %td.total_footer
                %span= @statistics_total[:nano_package]
                = subscription_diff_content_for(@statistics_total[:nano_package_diff])
              %td.total_footer
                %span= @statistics_total[:annual_package]
                = subscription_diff_content_for(@statistics_total[:annual_package_diff])
              %td.total_footer= @statistics_total[:upload]
              %td.total_footer= @statistics_total[:scan]
              %td.total_footer= @statistics_total[:dematbox_scan]
              %td.total_footer= @statistics_total[:retriever]
              %td.total_footer= @statistics_total[:customers]
              %td.total_footer
                %span{ class: ("positive" if @statistics_total[:new_customers] > 0) }= @statistics_total[:new_customers]
              %td.total_footer
                %span{ class: ("negative" if @statistics_total[:closed_customers] > 0) }= @statistics_total[:closed_customers]
        %br
        .row
          .col-12
            = render partial: 'shared/list_options', locals: { collection: @statistics }
    .card.retractable-filter
      = form_tag admin_subscriptions_path, method: :get, class: 'form-filter' do
        .card-header.clearfix
          .float-left
            %h3 Filtres
          .float-right.margin1left
            %a.locker{ href: "#", title: "Cacher le Filtre" }= glyphicon('layers')
        .retractable-filter-content
          .card-body
            .form-group
              .label-section
                %span.badge.badge-info.fs-origin
                  = label_tag 'Nb. Organisations : '
                  = @organization_count
            .form-group
              .label-section
                = label_tag 'first_period', 'Première période'
              .control-section
                = select_tag 'first_period', subscription_period_options_for_select(params[:first_period]), class: 'form-control'
            .form-group
              .label-section
                = label_tag 'second_period', 'Deuxième période'
              .control-section
                = select_tag 'second_period', subscription_period_options_for_select(params[:second_period]), class: 'form-control'
            .form-group
              .label-section
                = label_tag 'organization', 'Organisation'
              .control-section
                = text_field_tag 'organization', (params[:organization] rescue ''), class: 'input-small'
          .card-footer
            .form-actions
              = submit_tag t('filters.compare'), name: nil, class: 'btn btn-primary'
              = link_to glyphicon('x'), admin_subscriptions_path, class: 'btn btn-light', title: t('filters.reset')

  #showAccounts.modal.fade
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          %h3
          %a.close{ data: { dismiss: :modal } } ×
        .modal-body