= simple_form_for @collaborator, url: collaborator_form_url(@organization, @collaborator), html: { class: 'form form-horizontal margin0bottom' } do |f|
  = f.input :code, hint: "Doit impérativement commencer par : #{@organization.code}%"
  = f.input :group_ids, collection: @organization.groups, as: :check_boxes, required: !is_leader?, label: t('activerecord.models.group.name').pluralize
  = f.input :company
  = f.input :first_name
  = f.input :last_name
  = f.input :email, hint: "Correspond à l'identifiant de connexion de votre collaborateur", disabled: @collaborator.is_admin
  .form-actions.margin0bottom
    = f.submit t('actions.submit'), class: 'btn btn-primary'
    - if action_name.in?(%w(new create))
      = link_to t('actions.cancel'), account_organization_collaborators_path(@organization), class: 'btn'
    - else
      = link_to t('actions.cancel'), account_organization_collaborator_path(@organization, @collaborator), class: 'btn'
