= simple_form_for @collaborator, url: collaborator_form_url(@organization, @collaborator), html: { class: 'form form-horizontal margin0bottom' } do |f|
  = f.input :code, label: 'Code'
  = f.input :company, label: 'Société'
  = f.input :first_name, label: 'Prénom'
  = f.input :last_name, label: 'Nom'
  = f.input :email, label: 'Email', hint: "Correspond à l'identifiant de connexion de votre collaborateur"
  .form-actions.margin0bottom
    = f.submit t('actions.submit'), class: 'btn btn-primary'
    - if action_name.in?(%w(new create))
      = link_to t('actions.cancel'), account_organization_collaborators_path(@organization), class: 'btn'
    - else
      = link_to t('actions.cancel'), account_organization_collaborator_path(@organization, @collaborator.id), class: 'btn'
