#collaborators
  .row.derivationRight
    .col-md-12
      .box.clearfix
        .float-left
          %h3
            Liste des collaborateurs 
            %span.badge.badge-info= @members.total_count
        .float-right
          -if @organization.is_active
            = link_to icon_new + ' ' + t('actions.new'), new_account_organization_collaborator_path(@organization), class: 'btn btn-primary'

  .row.retractable.with-filter.derivationLeft
    .col-md-12
      .box
        = render partial: 'shared/list_options', locals: { collection: @members }
        %table.table.table-condensed.table-striped.users_list.margin1top.margin1bottom.table-detachable-head.table-bordered-inner
          %thead
            %tr.bg-brown.text-white
              %th.date= sortable :created_at, t('activerecord.models.common.attributes.created_at')
              %th= sortable :code, t('activerecord.models.user.attributes.formatted_identifier')
              %th= sortable :role, t('activerecord.models.member.attributes.role')
              %th Action
          %tbody.retractable.slidedown
            - @members.each do |member|
              %tr
                %td.date= l member.created_at
                %td.user_info
                  %span.info= link_to member.info, account_organization_collaborator_path(@organization, member)
                %td= t('activerecord.models.member.attributes.role_values.' + member.role)
                %td
                  - if @organization.is_active && !member.user.is_admin && (@user.leader? || member.collaborator?)
                    = link_to 'supprimer', account_organization_collaborator_path(@organization, member), class: 'btn btn-light', data: { method: :delete, confirm: "Êtes-vous sûr de vouloir supprimer ce compte définitivement ? Cette action est irréversible." }
        = render partial: 'shared/list_options', locals: { collection: @members }
    = render partial: 'sidebar'
