#collaborators
  .row-fluid
    .span12.box
      .row-fuild
        .span12
          .pull-left
            %h3 Liste des collaborateurs (#{@collaborators.count})
          .pull-right
            = link_to icon_new + ' ' + t('actions.new'), new_account_organization_collaborator_path(@organization), class: 'btn btn-primary'

  .row-fluid
    .span9.box
      = render partial: 'shared/list_options', locals: { collection: @collaborators }
      .row-fluid
        .span12
          %table.table.table-bordered.table-condensed.table-striped.users_list.margin1top.margin0bottom
            %thead
              %tr
                %th.date= sortable :created_at, t('mongoid.models.common.attributes.created_at')
                %th= sortable :code, t('mongoid.models.user.attributes.formatted_identifier')
                %th Action
            %tbody
              - @collaborators.each do |collaborator|
                %tr
                  %td.date= collaborator.created_at.strftime('%d/%m/%Y %H:%M')
                  %td.user_info
                    %span.info= link_to collaborator.info, account_organization_collaborator_path(@organization, collaborator)
                  %td= link_to icon_destroy, account_organization_collaborator_path(@organization, collaborator), class: 'btn btn-mini', data: { method: :delete, confirm: t('actions.confirm') }
      = render partial: 'shared/list_options', locals: { collection: @collaborators }
    .span3.box
      = render partial: 'sidebar'
