#collaborator
  .row-fluid
    .span12.box
      %h3= @collaborator

  .row-fluid
    .span12.box
      %ul.nav.nav-tabs
        %li{ class: ('active' if params[:tab] == 'information' || params[:tab].blank? ) }
          %a{ href: '#information', data: { toggle: 'tab' } } Information
        %li{ class: ('active' if params[:tab] == 'authorization') }
          %a{ href: '#authorization', data: { toggle: 'tab' } } Autorisation
        - if @user.is_admin && @organization.is_active
          %li{ class: ('active' if params[:tab] == 'file_storages') }
            %a{ href: '#file_storages', data: { toggle: 'tab' } } Stockages externes

      .tab-content
        #information.tab-pane{ class: ('active' if params[:tab] == 'information' || params[:tab].blank?) }
          %table.table.table-striped.table-condensed
            %tr
              %th= t('activerecord.models.user.attributes.email')
              %td= @collaborator.email
            %tr
              %th= t('activerecord.models.user.attributes.first_name')
              %td= @collaborator.first_name
            %tr
              %th= t('activerecord.models.user.attributes.last_name')
              %td= @collaborator.last_name
            %tr
              %th= t('activerecord.models.user.attributes.code')
              %td= @collaborator.code
            %tr
              %th= t('activerecord.models.user.attributes.company')
              %td= @collaborator.company
          .alignright
            - if @organization.is_active
              = link_to icon_edit + ' ' + t('actions.edit'), edit_account_organization_collaborator_path(@organization, @collaborator), class: 'btn btn-primary'
        #authorization.tab-pane{ class: ('active' if params[:tab] == 'authorization') }
          %table.table.table-striped.table-condensed
            %tr
              %th= t('activerecord.models.organization_rights.names.collaborators_management')
              %td
                - if @collaborator.is_admin
                  = t('yes_value')
                - else
                  = @collaborator.organization_rights_is_collaborators_management_authorized ? t('yes_value') : t('no_value')
            %tr
              %th= t('activerecord.models.organization_rights.names.customers_management')
              %td
                - if @collaborator.is_admin
                  = t('yes_value')
                - else
                  = @collaborator.organization_rights_is_customers_management_authorized ? t('yes_value') : t('no_value')
            %tr
              %th= t('activerecord.models.organization_rights.names.groups_management')
              %td
                - if @collaborator.is_admin
                  = t('yes_value')
                - else
                  = @collaborator.organization_rights_is_groups_management_authorized ? t('yes_value') : t('no_value')
            %tr
              %th= t('activerecord.models.organization_rights.names.journals_management')
              %td
                - if @collaborator.is_admin
                  = t('yes_value')
                - else
                  = @collaborator.organization_rights_is_journals_management_authorized ? t('yes_value') : t('no_value')
            %tr
              %th= t('activerecord.models.organization_rights.names.customer_journals_management')
              %td
                - if @collaborator.is_admin
                  = t('yes_value')
                - else
                  = @collaborator.organization_rights_is_customer_journals_management_authorized ? t('yes_value') : t('no_value')
          - unless @collaborator.is_admin
            .alignright
              - if @organization.is_active
                = link_to icon_edit + ' ' + t('actions.edit'), edit_account_organization_collaborator_rights_path(@organization, @collaborator), class: 'btn btn-primary'
        - if @user.is_admin && @organization.is_active
          #file_storages.tab-pane{ class: ('active' if params[:tab] == 'file_storages') }
            = render partial: 'account/customers/file_storages', locals: { user: @collaborator }
            .alignright
              = link_to icon_edit + ' ' + t('actions.edit'), edit_account_organization_collaborator_file_storage_authorizations_path(@organization, @collaborator), class: 'btn btn-primary'
