#fiduceo_provider_wish.container-fluid
  .row-fluid
    .span3
      = render partial: 'layouts/account/me/navigation'
    .span9
      = render partial: 'account/settings/retrievers/navigation'
      .alerts
        = render partial: 'shared/messages'
      .row-fluid
        .span12
          .well
            %h3 Nouvelle demande
      .row-fluid
        .span12
          .well
            = simple_form_for [:account, :settings, @fiduceo_provider_wish], html: { class: 'form form-horizontal' } do |f|
              = f.input :name
              = f.input :url
              = f.input :login
              = f.input :password, required: true
              = f.input :custom_connection_info
              = f.input :description, as: :text
              .form-actions
                = f.submit t('actions.submit'), class: 'btn'
                = link_to t('actions.cancel'), account_settings_fiduceo_provider_wishes_path, class: 'btn'
