#retriever_services
  .row
    .col-12
      .panel
        = render 'layouts/admin/retriever/navigation'

  .row
    .col-12
      .panel
        %h3
          Liste des automates disponibles
          = link_to icon_refresh + ' Mettre à jour', admin_retriever_services_update_list_path, method: :post, class: 'btn btn-primary'
  .row
    .col-6
      .panel
        %h4 Documents (#{@providers.size})
        %ul
          - @providers.each do |provider|
            %li= provider.name
    .col-6
      .panel
        %h4 Banques (#{@banks.size})
        %ul
          - @banks.each do |bank|
            %li= bank.name
