//DocumentComposer widget
#documentcomposer
  //Actionbar
  .actionbar
    .feedback.inactive.floattoleft.margin1left
      %span.out
        Aucun traitement
  //Page browser
  .pagesbrowser.scrollpane
    - if @shared_document
      .titlebar.margin1top
        %h1.floattoleft
          - if @shared_document.manual
            Titre : #{@shared_document.document_name}
          - else
            Commande ref #{@shared_document.waybill_number}
        %h2.floattoright.margin2right
          != hidden_field_tag "order_id", @shared_document.id
          - if @shared_document.manual
            Nombre de page : #{@shared_document.documents.size - 1}
          - else
            #{@shared_document.product_order.title}
      %ul.pageslist.clearfix
        != render @documents

.hide
  .newCompositionDialog
    %p
      Nom
      %br
      != text_field_tag :name, nil, :id => "composition_name"
      != image_tag "application/spinner_gray_alpha.gif", :id => "new_composition_spinner", :class => "hide"

:css
  .document_tags{
    position:relative;
    bottom:132px;
    background:black;
    color:white;
    display:none;
  }      

:javascript
  function activateCompositionButton(){
    $("a.do-openNewCompositionDialog").removeClass("inactive");
  }

  function deactivateCompositionButton(){
    $("a.do-openNewCompositionDialog").addClass("inactive");
  }

  $(document).ready(function () {
    $(".document > a.zoom").lightBox();
    $(".composition > a.zoom").lightBox();

    $("a.do-select").click(function(){
      link = $(this);
      li = link.parents("li.document");
      li.toggleClass("selected");
      if (li.hasClass("selected"))
        activateCompositionButton();
      return false;
    });
    
    $("a.do-selectAll").click(function(){
      $("li.document").toggleClass("selected", true);
      activateCompositionButton();
    });
    
    $("a.do-deselectAll").click(function(){
      $("li.document").toggleClass("selected", false);
      deactivateCompositionButton();
    });

    $("a.do-deleteComposition").click(function(){
      if (confirm('Êtes-vous sûr de vouloir supprimer cette composition ?')) {
        node = $(this);
        li = node.parents("li.composition").first();
        cid = li.attr("id").split("_")[1];
        url = "/account/compositions/" + cid;
        hsh = {"_method": "delete"};
        $.ajax({
          url: url,
          data: hsh,
          dataType: "json",
          type: "POST",
          beforeSend: function() {
            logBeforeAction("Suppression de la composition en cours");
          },
          success: function(data){
            li.remove();
            $("#"+data._id).remove();
            logAfterAction();
          }
        });
      }
      return false;
    });

    $(".pageslist").sortable({
      handle: '.handle',
      update: function (event, ui) {
        var ary = $(this).sortable('toArray');
        var document_ids = _.map(ary, function(str){ return str.split("_")[1] });
        hsh = {document_ids: document_ids};
        $.ajax({
          url: "/account/documents/reorder",
          data: hsh,
          dataType: "json",
          type: "POST",
          beforeSend: function() {
            logBeforeAction("Réordonnancement en cours");
          },
          success: function(data){
            logAfterAction();
          }
        });
      }
    });
    
    $("a.do-openNewCompositionDialog").click(function(){
      if (!($(this).hasClass("inactive"))) {
        $(".newCompositionDialog").dialog({
          modal:true,
          title:"Création d'une nouvelle composition",
          buttons: { "Valider": function() {
            var document_ids = _.map($("li.document.selected"), function(node){ return node.id.split("_")[1] });
            var document_numero_pages = _.map($("li.document.selected"), function(node){ return node.id.split("_")[2] });
            var order_id = $("#order_id").val();
            var hsh = {"composition[document_ids]": document_ids, "composition[document_numero_pages]": document_numero_pages, "composition[order_id]": order_id, "composition[name]": $("#composition_name").val()};
            $.ajax({
              url: "/account/compositions",
              data: hsh,
              dataType: "json",
              type: "POST",
              beforeSend: function() {
                $("#new_composition_spinner").removeClass("hide", false);
              },
              success: function(data){
                $("#new_composition_spinner").addClass("hide", true);
                location.reload();
              }
            });
            }
          }
        });
      }

      return false;
    });
  });
