%b Filtre:
%br
%table.table
  %tr
    %td.first
      %label{ :for => :company } Company
    %td.last
      %input{ :type => :text, :name => :company, :id => :company, :value => (params[:company] rescue "") }
  %tr
    %td.first
      %label{ :for => :code } Code
    %td.last
      %input{ :type => :text, :name => :code, :id => :code, :value => (params[:code] rescue "") }
  %tr
    %td.first
      %label{ :for => :first_name } Nom
    %td.last
      %input{ :type => :text, :name => :first_name, :id => :first_name, :value => (params[:first_name] rescue "") }
  %tr
    %td.first
      %label{ :for => :last_name } Prénom
    %td.last
      %input{ :type => :text, :name => :last_name, :id => :last_name, :value => (params[:last_name] rescue "") }
  %tr
    %td.first
      %label{ :for => :email } Email
    %td.last
      %input{ :type => :text, :name => :email, :id => :email, :value => (params[:email] rescue "") }
  - other_filter_fields ||= []
  - other_filter_fields.each do |field|
    %tr
      %td
        %label{ :for => "#{field[:id]}" } #{field[:caption]}
      %td.last
        %input{ :type => :text, :name => "#{field[:id]}", :id => "#{field[:id]}", :value => (params["#{field[:id]}"] rescue "") }
      
.navform.wat-cf
  %button.button{:type => 'submit'}
    != image_tag("web-app-theme/tick.png", :alt => "Valider")
    Valider
  != link_to image_tag("web-app-theme/cross.png", :alt => "Effacer le filtre") + "Effacer le filtre", link_back, :class => "button"