%nav.navbar.navbar-expand-md.navbar-static-top.medium-shadow.showMenu
  = link_to image_tag('logo/logo.png', alt: 'logo'), root_path, class: 'logo navbar-brand onInit'
  - if current_user
    = render partial: 'layouts/navigation'
    - if current_user.try(:is_admin)
      %ul.ml-auto
        %li
          = link_to glyphicon('external-link', { color: '#fff' }), admin_root_path, title: "Aller à la page d'administration"
      - if controller_name != 'organizations'
        %ul.as_user_view
          %li
            %a#as_user_view{title: 'Agir en tant que'}
              = glyphicon('people', { color: '#fff' })
    = render partial: 'layouts/notifications'
    = render partial: 'layouts/user'
#next-nav-wrapper

- if current_user.try(:is_admin) && controller_name != 'organizations'
  #as_user_view_box.container-fluid{ class: (session[:user_code].present? ? '' : 'hide')}
    = render 'shared/as_user'
