.nav-collapse
  %ul{ :class=>'nav' }
    - unless @user.try(:organization).try(:is_suspended) && @user.active?
      %li{ class: (controller_name == 'account' ? 'active' : '') }
        = link_to 'Accueil', root_path
    - if @user.inactive? || !@user.try(:organization).try(:is_suspended) || @user.try(:organization).try(:leader) == @user
      - path = (@user.try(:organization).try(:is_suspended) && @user.active?) ? account_profile_path(panel: 'payment_management') : account_profile_path
      %li{ :class=>('active' if controller_name.in?(%w(profiles addresses)) && !(request.path =~ /customers/)) }
        = link_to 'Mon compte', path
    - unless @user.try(:organization).try(:is_suspended) && @user.active?
      - if @user.is_admin
        %li{ class: (controller_name == 'organizations' && action_name.in?(%w(index new create)) ? 'active' : '') }
          = link_to 'Organisations', account_organizations_path
      - if @user.is_prescriber
        %li{ class: (request.path =~ /organizations/ && !(controller_name == 'organizations' && action_name.in?(%w(index new create)))  ? 'active' : '') }
          = link_to 'Mon organisation', account_organization_path(@user.organization)
      %li{ :class=>('active' if controller_name == 'documents' && params[:action] == 'index') }
        = link_to 'Mes documents', account_documents_path
      - if @user.active?
        %li{ :class=>('active' if controller_name == 'reporting') }
          = link_to 'Mon reporting', account_reporting_path
        - if @user.is_fiduceo_authorized
          %li{ :class=>('active' if controller_name.in?(%w(retrievers provider_wishes retriever_transactions retrieved_banking_operations bank_accounts retrieved_documents)) && params[:organization_id].nil?) }
            = link_to 'Mes automates', account_fiduceo_retrievers_path
        - if @user.is_prescriber || @user.options.is_upload_authorized
          %li{ class: ('active' if controller_name == 'paper_processes') }
            = link_to 'Suivi', account_paper_processes_path
      %li.dropdown
        %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
          Aide
          %b.caret
        %ul.dropdown-menu
          %li= link_to 'Support client', 'javascript:ZDiscussions.showDiscussionsFBW();'
          %li= link_to "Mode d'emploi", "https://docs.idocus.com/mode_emploi.pdf", target: '_blank'
