%ul.nav
  - unless organizations_suspended? && @user.active?
    %li{ class: (controller_name == 'account' ? 'active' : '') }
      = link_to 'Accueil', root_path
    %li{ class: ('active' if controller_name.in?(%w(profiles addresses account_sharings ftps)) && !(request.path =~ /organizations/)) }
      = link_to 'Mon compte', account_profile_path
    - if @user.admin?
      %li{ class: ((controller_name == 'organizations' && action_name.in?(%w(index new create)) || controller_name == 'group_organizations') ? 'active' : '') }
        = link_to 'Organisations', account_organizations_path
  - if @user.collaborator?
    - if @user.has_one_organization?
      - if @user.inactive? || @user.organizations_not_suspended? || @user.can_unsuspend?
        - path = (organizations_suspended? && @user.active?) ? account_organization_path(@user.organization, tab: 'payments') : account_organization_path(@user.organization)
        %li{ class: (inside_organization? ? 'active' : '') }
          = link_to 'Mon organisation', path
    - elsif @user.organizations_not_suspended? || @user.can_unsuspend?
      %li.dropdown
        %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
          Mon organisation
          %b.caret
        %ul.dropdown-menu
          - @user.organizations.each do |organization|
            %li{ class: ((inside_organization? && organization == @organization) ? 'active' : '') }
              - if organization.is_suspended
                = link_to account_organization_path(organization, tab: 'payments') do
                  = organization.name
                  %i (Suspendu)
              - else
                = link_to organization.name, account_organization_path(organization)
  - unless organizations_suspended? && @user.active?
    %li{ class: ('active' if controller_name == 'documents' && params[:action] == 'index') }
      = link_to 'Mes documents', account_documents_path
    - if @user.active? && @user.organization.is_active
      - if @user.collaborator? && !@user.has_one_organization?
        %li.dropdown
          %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
            Mon reporting
            %b.caret
          %ul.dropdown-menu
            - @user.organizations.each do |organization|
              %li{ class: ('active' if controller_name == 'reporting' && organization.id.to_s == params[:organization_id]) }
                = link_to "Reporting #{organization.name}", account_reporting_path(organization_id: organization.id)
      - else
        %li{ class: ('active' if controller_name == 'reporting') }
          = link_to 'Mon reporting', account_reporting_path
      - if accounts.detect { |e| e.options.is_retriever_authorized }
        %li{ class: ('active' if controller_name.in?(%w(retrievers new_provider_requests retrieved_banking_operations bank_accounts retrieved_documents)) && params[:organization_id].nil?) }
          = link_to 'Mes automates', account_retrievers_path
      - if accounts.detect { |e| e.options.is_upload_authorized }
        %li{ class: ('active' if controller_name == 'paper_processes') }
          = link_to 'Suivi', account_paper_processes_path
    %li.dropdown
      %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
        Base de connaissances
        %b.caret
      %ul.dropdown-menu
        %li= link_to 'Communications', '#news', 'data-toggle' => 'modal'
        %li= link_to 'Centre d\'aide', 'https://idocus.zendesk.com/hc/fr', target: '_blank'
        - if @user.collaborator?
          %li= link_to 'Produits et tarifs 2018', docs_download_path(name: 'produits_et_tarifs_2018.pdf'), target: '_blank'
          %li= link_to 'CGU 2018', docs_download_path(name: 'CGU_iDocus_201805.pdf'), target: '_blank'
