!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %link{ 'rel' => 'shortcut icon', 'type' => "image/ico", 'href' => '/images/favicon.ico'}
    %title idocus BackOffice
    = stylesheet_link_tag "admin", "fileuploader", :cache => true
    = javascript_include_tag "jquery-1.4.2.min", "rails", "fileuploader", "application", "jquery.timers"
    = csrf_meta_tag
  %body
    #container
      #header
        %a.mediumlogo{:href => "/"}
        #user-navigation
          %ul.wat-cf
            %li
              %a{:href => "#"}= t("web-app-theme.profile", :default => "Profile")
            %li
              %a{:href => "#"}= t("web-app-theme.settings", :default => "Settings")
            %li
              %a.logout{:href => "/users/sign_out"}= t("web-app-theme.logout", :default => "Logout")
        #main-navigation
          %ul.wat-cf
            %li= link_to "Users", admin_users_path
            %li= link_to "Homepage", admin_homepages_path
            %li= link_to "Pages", admin_pages_path
            %li= link_to "CMS Images", admin_cms_images_path
            %li= link_to "Orders", admin_orders_path
            %li= link_to "Products", admin_products_path
            %li= link_to "Subscriptions", admin_subscriptions_path
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} idocus.
        #sidebar
          = yield :sidebar
