!!!
%html
  %head
    %title Idocus | Archivage numérique
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-type' }/
    = csrf_meta_tag
    != stylesheet_link_tag 'application', 'admin'
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        %div.container-fluid
          = render 'layouts/admin/navigation'
    .container-fluid.wrapper
      .content
        .row-fluid
          .span12
            = render 'layouts/messages'
        = yield
      .push
    %footer.footer
      %p.copyright{ style: 'text-align:center;' } &copy; iDocus 2012
    :plain
      <!--[if lt IE 9]>
        <script src="/javascripts/html5.js" type="text/javascript"></script>
      <![endif]-->
    != javascript_include_tag 'application', 'admin'
