!!!
%html
  %head
    %title Idocus | BackOffice
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-type' }/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}/

    %link{ :rel => 'shortcut icon', :type => "image/ico", :href => image_path('favicon.ico') }
    = csrf_meta_tag
    = stylesheet_link_tag 'admin'
    = stylesheet_link_tag 'admin/subscriptions'
    = stylesheet_link_tag 'admin/retriever_services' if params[:controller] == 'admin/retriever_services'
    = stylesheet_link_tag 'admin/budgea_retriever' if params[:controller] == 'admin/budgea_retriever'
    :plain
      <!--[if lt IE 9]>
        <script src="/assets/html5.js" type="text/javascript"></script>
      <![endif]-->
    = javascript_include_tag Ckeditor.cdn_url
    = javascript_include_tag 'admin'
    = javascript_include_tag 'admin/admin' if controller_name == 'admin'
    = javascript_include_tag 'admin/user' if params[:controller] == 'admin/users'
    = javascript_include_tag 'admin/invoices' if controller_name == 'invoices'
    = javascript_include_tag 'admin/scanning_providers' if controller_name == 'scanning_providers'
    = javascript_include_tag 'admin/reporting' if controller_name == 'reporting'
    = javascript_include_tag 'admin/process_reporting' if controller_name == 'process_reporting'
    = javascript_include_tag 'admin/events' if controller_name == 'events'
    = javascript_include_tag 'admin/pre_assignment_blocked_duplicates' if controller_name == 'pre_assignment_blocked_duplicates'
    = javascript_include_tag 'admin/news' if controller_name == 'admin/news'
    = javascript_include_tag 'admin/subscriptions' if params[:controller] == 'admin/subscriptions'
    = javascript_include_tag 'admin/mobile_reporting' if params[:controller] == 'admin/mobile_reporting'
    = javascript_include_tag 'admin/retriever_services' if params[:controller] == 'admin/retriever_services'
    = javascript_include_tag 'admin/job_processing' if params[:controller] == 'admin/job_processing'
    = javascript_include_tag 'admin/budgea_retriever' if params[:controller] == 'admin/budgea_retriever'
    = javascript_include_tag 'admin/counter_error_script_mailer' if params[:controller] == 'admin/counter_error_script_mailer'
    = javascript_include_tag 'admin/archives' if params[:controller] == 'admin/archives'
  %body
    = render 'layouts/admin/navigation'

    .container-fluid.wrapper.mt-4.clearfix
      .content
        .row
          = render 'layouts/messages'
        = yield
      .push
    %footer.fixed-bottom.footer.clearfix
      %p.copyright{ style: 'text-align:center;' } &copy; iDocus #{Time.now.year}
