!!!
%html
  %head
    %title
      Idocus - L'archivage facile
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %link{ :rel => 'shortcut icon', :type => "image/ico", :href => asset_path('favicon.ico') }
    != stylesheet_link_tag %w(application)
    != javascript_include_tag %w(jquery-1.4.2.min jquery-ui-1.8.5.custom.min mousewheel scrollpane documentsmanager.refactor)
    != csrf_meta_tag


  %body.application
    #worldwrapper
      #header
        .leftcolon
          %a.tinylogo.margin2left.margin1top{ :href => "/" }
        .rightcolon
          %ul.userinfos
            %li
              != link_to "déconnexion", destroy_user_session_path, :class => 'brown' 
            %li
              &#124;
            %li
              %a{ :href => "#" }
                (1) commande en cours 
            %li
              &#124;
            %li
              Bienvenue
              - if current_user
                != link_to current_user.email, account_documents_path
               
          %ul.tabmenu
            %li
              %a{ :href => "#" }
                mon compte
            %li.current
              %a{ :href => "#" }
                mes documents
            %li
              %a{ :href => "#" }
                un autre onglet
      #content
        .leftcolon
          .filelist.composeddoc.margin4top
            %span.title
              DOCUMENTS COMPOSÉS
            %ul
              %li
                %a{ :href => "#" }
                  .icn
                  .label
                    Titre de la commande
                  .nbs
                    20
              %li
                %a{ :href => "#" }
                  .icn
                  .label
                    Titre de la commande
                  .nbs
                    20
              %li
                %a{ :href => "#" }
                  .icn
                  .label
                    Titre de la commande
                  .nbs
                    20

          .filelist.orderok.margin4top
            %span.title
              COMMANDES TRAITÉES
            %ul
              %li.current
                %a{ :href => "#" }
                  .icn
                  .label
                    Titre de la commande
                  .nbs
                    20
              %li
                %a{ :href => "#" }
                  .icn
                  .label
                    Titre de la commande
                  .nbs
                    20
              %li
                %a{ :href => "#" }
                  .icn
                  .label
                    Titre de la commande
                  .nbs
                    20

          .filelist.waitingorder.margin4top
            %span.title
              COMMANDES EN COURS...
            %ul
              %li
                %a{ :href => "#" }
                  .icn
                  .label
                    Titre de la commande
                  .nbs
                    20
              %li
                %a{ :href => "#" }
                  .icn
                  .label
                    Titre de la commande
                  .nbs
                    20
              %li
                %a{ :href => "#" }
                  .icn
                  .label
                    Titre de la commande
                  .nbs
                    20

        .rightcolon
          != yield
    != render :partial => '/shared/google_analitycs'
