!!!
%html
  %head
    %title
      Connexion
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}

    %link{ rel: 'shortcut icon', type: 'image/ico', href: image_path('favicon.ico') }
    = stylesheet_link_tag 'application'

  %body
    #wrap
      %nav.navbar.navbar-expand-md.navbar-inner.navbar-static-top
        %ul.navbar-nav
          %li.nav-item
            = link_to image_tag('logo/tiny_logo.png', alt: 'logo'), root_path, class: 'nav-link logo'
      .container
        .row
          .col-md-3
          .col-md-6
            .well.small-shadow.clearfix
              != yield
          .col-md-3
      #push

    = render 'layouts/footer'

    = javascript_include_tag 'application'
    = render '/shared/google_analytics'
