!!!
%html
  %head
    %title
      Connexion
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %link{ rel: 'shortcut icon', type: 'image/ico', href: image_path('favicon.ico') }
    = stylesheet_link_tag 'application'

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{ class: 'btn btn-navbar', data: { toggle: 'collapse', target: '.nav-collapse' } }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.logo{ href: root_path }= logo_url
    .container
      .row
        .span3{ style: 'height:1px;' }
        .span6
          .well
            != yield

    %footer
      .modal-footer.aligncenter
        %p{ class: 'copyright' } &copy; iDocus 2016

    = javascript_include_tag 'application'
    = render '/shared/google_analytics'
