!!!
%html
  %head
    %title
      Connexion
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %link{ :rel => 'shortcut icon', :type => "image/ico", :href => asset_path('favicon.ico') }
    != stylesheet_link_tag 'application'

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{ :class=>"btn btn-navbar", "data-toggle"=>"collapse", "data-target"=>".nav-collapse" }
            %span{ :class=>"icon-bar" }
            %span{ :class=>"icon-bar" }
            %span{ :class=>"icon-bar" }
          %a.logo{ href: site_url }
            %img{ src: logo_url, alt: 'logo' }
          .nav-collapse
            %ul{ :class=>"nav" }
              - pages_type.each do |page|
                %li
                  = link_to page.tag, page_path(page)
    .container
      .row
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list
              %li{ :class => controller.controller_name == 'sessions' ? 'active': '' }
                != link_to "Connexion à mon compte", new_user_session_path

              %li{ :class => controller.controller_name == 'passwords' ? 'active': '' }
                != link_to "Réinitialiser mon mot de passe", new_user_password_path
        .span9
          .well
            != yield
          
    %footer
      .modal-footer.aligncenter
        %p{ :class=>"green" }
          - @page_in_footer = Page.in_footer.visible.by_position.all
          - @page_in_footer.each_with_index do |page, index|
            - if index != 0
              %span.separator &#124;
            != link_to page.title, "pages/#{page.slug}"
        %p{ :class=>"copyright" } &copy; iDocus 2014

    != render :partial => "/shared/google_analytics"
    != javascript_include_tag 'application'