!!!
%html
  %head
    %title Idocus | Archivage numérique
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-type' }
    %link{ rel: 'shortcut icon', type: 'image/ico', href: image_path('favicon.ico') }
    = stylesheet_link_tag 'application'
  %body
    #wrap
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a{ class: 'btn btn-navbar', 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse' }
              %span{ class: 'icon-bar' }
              %span{ class: 'icon-bar' }
              %span{ class: 'icon-bar' }
            = link_to image_tag('logo/logo.png', alt: 'logo'), root_path, class: 'logo'
            - if current_user
              %p{ class: 'navbar-text float-right' }
                %span{ style: 'color:#999;'} Connecté en tant que
                = link_to current_user.email, root_path
                |
                = link_to 'déconnexion', destroy_user_session_path, method: :delete
            - else
              %p{ class: 'navbar-text float-right' }
                = link_to 'Connexion', new_user_session_path

      .padding6top.dynamic_padding
        != yield
      #push

    = render 'layouts/footer'

    = javascript_include_tag 'application'
    = render '/shared/google_analytics'
