!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title Idocus | Archivage numérique
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-type" }/
    %meta{ :name => :description, :content => "#{@homepage.meta_description rescue ''}" }/
    != stylesheet_link_tag %w(pages/general pages/index pages/slideshow)
    != javascript_include_tag %w(jquery-1.5.1.min slides.min.jquery)
    :javascript
      $(function(){
          $('#slides').slides({
              preload: true,
              preloadImage: 'images/pages/loading.gif',
              play: 5000,
              pause: 2500,
              hoverPause: true,
              animationStart: function(current){
                  $('.caption').animate({
                      bottom:-35
                  },200);
              },
              animationComplete: function(current){
                  $('.caption').animate({
                      bottom:0
                  },500);
              },
              slidesLoaded: function() {
                  $('.caption').animate({
                      bottom:0
                  },200);
              }
          });
      });
    %style{ :type => "text/css" }
      !=@homepage.style rescue ""
  %body
    #header
      .box
        .logo
          %a{:href => "/"}
            %img{:alt => "Logo", :src => "images/pages/logo.png"}/
        .menu
          .box
            - nb = 0
            - @page_types.each do |type|
              - if nb != 0
                %span.separator &#124;
              - nb += 1
              - lien = Page.where(:content_type => type.number).by_position.first
              %a{:href => "/pages/#{lien.slug rescue '#'}"} #{type.caption}
        .login
          .loginbox
            - if current_user
              .connected
                %span.title Connecté en tant que :
                != link_to current_user.email, account_documents_path
                &#124;
                != link_to "déconnexion", destroy_user_session_path
            - else
              %span.title Mon compte
              - form_for User.new, :as => :user, :url => session_path(:user), :html => {:method => :post} do |f|
                %fieldset
                  .leftcol.clearfix
                    != f.text_field :email, :class => 'w120'
                  .leftcol.margin1left.clearfix
                    != f.password_field :password, :class => 'w50'
                  .rightcol.clearfix
                    != f.submit :class => 'greenbtn floattoright w30', :value => "OK"
                  .leftcol.margin05top.clearfix
                    != f.check_box :remember_me
                    %label{:for => "remember_me", :title => "Session de 2 jours"} Se souvenir &#124;
                    %a{:href => "users/password/new"} Aide
                    &#124;
                    %a{:href => "users/sign_up"} Créer un compte
    .clear
    #back_slides
      != yield
    .clear
    #footer
      .box
        .lien
          - nb=0
          - @page_in_footer.each do |page|
            - if nb != 0
              %span.separator &#124;
            != link_to page.title, "pages/#{page.slug}"
            - nb += 1
        .copyright
          \© iDocus 2011
    != render :partial => '/shared/google_analitycs'
