!!!
%html
  %head
    %title Idocus | Archivage numérique
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-type" }/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}/

    %link{ :rel => 'shortcut icon', :type => "image/ico", :href => image_path('favicon.ico') }
    = csrf_meta_tag
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'account/profiles' if controller_name == 'profiles'
    = stylesheet_link_tag 'account/retrievers' if controller_name.in? %w(retrievers new_provider_requests retrieved_banking_operations retrieved_documents bank_accounts bank_settings)
    = stylesheet_link_tag 'account/charts' if controller_name.in? %w(operations balances)
    = stylesheet_link_tag 'account/organizations' if controller_name == 'organizations'
    = stylesheet_link_tag 'account/paper_processes' if controller_name == 'paper_processes'
    = stylesheet_link_tag 'account/suspended' if controller_name == 'suspended'
    = stylesheet_link_tag 'account/addresses' if controller_name == 'addresses'
    = stylesheet_link_tag 'account/group_organizations' if controller_name == 'group_organizations'
    = stylesheet_link_tag 'account/reporting' if controller_name == 'reporting'
    - if controller_name.in?(%w(pre_assignment_blocked_duplicates pre_assignment_ignored pre_assignment_delivery_errors))
      = stylesheet_link_tag "account/#{controller_name}"

  %body
    #wrap
      = hidden_field_tag :state, ''
      = hidden_field_tag :name, ''
      =render 'layouts/head_menu'
      .retractable.fadein
        != content_for?(:content) ? yield(:content) : yield

      #push

    = render 'layouts/footer'
    = render 'layouts/news'

    :plain
      <!--[if lt IE 9]>
        <script src="/assets/html5.js" type="text/javascript"></script>
      <![endif]-->
    = javascript_include_tag Ckeditor.cdn_url
    = javascript_include_tag 'application', 'inner'
    = javascript_include_tag 'welcome' if controller_name == 'account'
    - if controller_name == 'reporting' && action_name == 'show'
      = javascript_include_tag 'account/reporting'
    - elsif controller_name == 'profiles' && action_name == 'show'
      = javascript_include_tag 'account/profile'
    - elsif controller_name.in? %w(retrievers new_provider_requests retrieved_banking_operations retrieved_documents bank_accounts bank_settings)
      = javascript_include_tag 'account/retrievers'
    - elsif controller_name.in? %w(operations balances)
      = javascript_include_tag 'aight.min', 'aight.d3.min', 'sizzle', 'd3', 'd3-tip', 'account/charts', "account/charts/#{controller_name}"
    - elsif controller_name == 'documents'
      = javascript_include_tag 'account/documents'
      = javascript_include_tag 'account/compta_analytics'
    - elsif controller_name == 'addresses'
      = javascript_include_tag 'account/addresses'
    - elsif controller_name == 'group_organizations'
      = javascript_include_tag 'account/group_organizations'
    - elsif controller_name.in?(%w(pre_assignment_blocked_duplicates pre_assignment_ignored accounting_plan))
      = javascript_include_tag "account/#{controller_name}"
    = render '/shared/google_analytics'
    = render '/shared/zendesk_help'