!!!
%html
  %head
    %title
      Mon compte Idocus
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %link{ 'rel' => 'shortcut icon', 'type' => "image/ico", 'href' => '/images/favicon.ico'}
    
    - if params[:controller] == "account/documents/documents" && params[:action] == "index"
      != stylesheet_link_tag %w(application effects ui-lightness/jquery-ui-1.8.5.custom jquery.jscrollpane colorbox)
      != stylesheet_link_tag %w(file-uploader/jquery.fileupload-ui file-uploader/bootstrap.hack)
      
      != javascript_include_tag %w(jquery-1.7.1.min jquery-ui-1.8.5.custom.min rails mousewheel jquery.jscrollpane.min jquery.colorbox.min documentsmanager zoombox underscore jquery.tools.min jquery.tokeninput jquery.jgrowl.min application application-order)
      != javascript_include_tag %w(html5 file-uploader/tmpl.min file-uploader/load-image.min file-uploader/jquery.iframe-transport file-uploader/jquery.fileupload file-uploader/jquery.fileupload-ui file-uploader/application file-uploader/cors/jquery.xdr-transport.js)

    - else
      != stylesheet_link_tag %w(application effects ui-lightness/jquery-ui-1.8.5.custom)
      != javascript_include_tag %w(jquery-1.5.1.min mousewheel scrollpane documentsmanager jquery.jgrowl.min reporting jquery.tokeninput jquery.tools.min)
    
    :css
      .application {
        overflow: auto !important; }
    
    != csrf_meta_tag
    
  %body.application
    #worldwrapper
      #header
        .leftcolon
          %a.tinylogo.margin2left.margin1top{ :href => "/" }
        .rightcolon
          %ul.userinfos
            %li
              != link_to "déconnexion", destroy_user_session_path, :class => 'brown' 
            %li
              &#124;
            %li
              != link_to "(#{current_user.orders.with_state(:paid).count}) commande(s) en cours", account_documents_path
            %li
              &#124;
            %li
              Bienvenue
              - if current_user
                != link_to current_user.email, "#"
            
               
          %ul.tabmenu
            %li{:class => (controller.controller_name == 'profiles') ? 'current' : ''}
              != link_to "mon compte", account_profile_path
            %li{:class => (controller.controller_name == 'documents') ? 'current': ''}
              != link_to "documents", account_documents_path
            %li{:class => (controller.controller_name == 'backups') ? 'current': ''}
              != link_to "mes sauvegardes", account_backups_path
            %li.link
              != link_to "Passer une nouvelle commande »", new_tunnel_order_path

      #content
        .rightcolon
          != yield
          
    != render :partial => '/shared/google_analitycs'
