!!!
%html
  %head
    %title Idocus | Archivage numérique
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-type" }/
    %link{ :rel => 'shortcut icon', :type => "image/ico", :href => image_path('favicon.ico') }
    = csrf_meta_tag
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'account/profiles' if controller_name == 'profiles'
    = stylesheet_link_tag 'account/retrievers' if controller_name.in? %w(retrievers new_provider_requests retrieved_banking_operations retrieved_documents bank_accounts)
    = stylesheet_link_tag 'account/charts' if controller_name.in? %w(operations balances)
    = stylesheet_link_tag 'account/organizations' if controller_name == 'organizations'
    = stylesheet_link_tag 'account/paper_processes' if controller_name == 'paper_processes'
    = stylesheet_link_tag 'account/suspended' if controller_name == 'suspended'
    = stylesheet_link_tag 'account/addresses' if controller_name == 'addresses'

  %body
    %div{ id: ('wrap' unless controller_name == 'documents') }
      .navbar.navbar-fixed-top
        .navbar-inner
          .container-fluid
            %a{ :class=>"btn btn-navbar", "data-toggle"=>"collapse", "data-target"=>".nav-collapse" }
              %span{ :class=>"icon-bar" }
              %span{ :class=>"icon-bar" }
              %span{ :class=>"icon-bar" }
            = link_to image_tag('logo/tiny_logo.png', alt: 'logo'), root_path, class: 'logo'
            - if current_user
              .nav-collapse.collapse
                = render partial: 'layouts/navigation'
                = render partial: 'layouts/user'
                #notifications
                  = render partial: 'layouts/notifications'

      .padding6top
        - if current_user.try(:is_admin) && controller_name != 'organizations'
          .container-fluid
            = render 'shared/as_user'
        != content_for?(:content) ? yield(:content) : yield

      - unless controller_name == 'documents'
        #push

    - unless controller_name == 'documents'
      = render 'layouts/footer'

    :plain
      <!--[if lt IE 9]>
        <script src="/assets/html5.js" type="text/javascript"></script>
      <![endif]-->
    = javascript_include_tag 'application', 'inner'
    = javascript_include_tag 'welcome' if controller_name == 'account'
    - if controller_name == 'reporting' && action_name == 'show'
      = javascript_include_tag 'account/reporting'
    - elsif controller_name == 'profiles' && action_name == 'show'
      = javascript_include_tag 'account/profile'
    - elsif controller_name.in? %w(retrievers retrieved_banking_operations retrieved_documents bank_accounts)
      = javascript_include_tag 'account/retrievers'
    - elsif controller_name.in? %w(operations balances)
      = javascript_include_tag 'aight.min', 'aight.d3.min', 'sizzle', 'd3', 'd3-tip', 'account/charts', "account/charts/#{controller_name}"
    - elsif controller_name == 'documents'
      = javascript_include_tag 'account/documents'
    - elsif controller_name == 'addresses'
      = javascript_include_tag 'account/addresses'
    = render '/shared/google_analytics'
    = render '/shared/zendesk_help'
