!!!
%html
  %head
    %title Idocus | Archivage numérique
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-type' }
    %link{ :rel => 'shortcut icon', :type => 'image/ico', :href => asset_path('favicon.ico') }
    = csrf_meta_tag
    = stylesheet_link_tag 'application', 'account/organizations'
    - if controller_name.in?(%w(subscriptions organization_subscriptions))
      = stylesheet_link_tag 'account/subscriptions'
    - elsif controller_name.in?(%w(csv_outputters organization_csv_outputters))
      = stylesheet_link_tag 'account/csv_outputters'
    - elsif controller_name.in?(%w(organizations ibiza))
      = stylesheet_link_tag 'account/ibiza'
    - elsif controller_name.in?(%w(retriever_transactions retrieved_banking_operations retrieved_documents))
      = stylesheet_link_tag 'account/organization/retrievers'
    - elsif !controller_name.in?(%w(organization_addresses accounting_plans vat_accounts knowings pack_reports))
      = stylesheet_link_tag "account/#{controller_name}"

  %body#organization
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{ 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse' }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.logo{ href: root_path }
            = image_tag 'logo/tiny_logo.png', :alt => 'logo'
          = render partial: 'layouts/navigation'
          %p.navbar-text.pull-right
            Bienvenue
            = link_to current_user.email, root_path
            |
            = link_to 'déconnexion', destroy_user_session_path, method: :delete

    .container-fluid
      = render 'shared/as_user'

      .alerts
        = render partial: 'shared/messages'

      .row-fluid
        .span2.margin1bottom
          .box.sidebar-nav
            %ul.nav.nav-list
              %li.nav-header= @organization.name
              %li{ class: ((controller_name.in?(%w(organizations organization_addresses organization_period_options reminder_emails file_sending_kits organization_subscriptions csv_outputters organization_csv_outputters knowings ibiza)) && !request.path.match(/customers/)) ? 'active' : '') }
                = link_to 'Paramètres', account_organization_path(@organization)
              %li{ class: (controller_name == 'groups' ? 'active' : '') }
                = link_to 'Groupes', account_organization_groups_path(@organization)
              - if is_leader? || @user.can_manage_collaborators?
                %li{ class: ((controller_name.in?(%w(collaborators rights)) || (controller_name == 'file_storage_authorizations' and params[:collaborator_id].present?)) ? 'active' : '') }
                  = link_to 'Collaborateurs', account_organization_collaborators_path(@organization)
              %li{ class: (request.path.match(/customers/) ? 'active' : '') }
                = link_to 'Clients', account_organization_customers_path(@organization)
              - if is_leader? || @user.can_manage_journals?
                %li{ class: ((controller_name == 'journals' && params[:customer_id].blank?) ? 'active' : '') }
                  = link_to 'Journaux comptables', account_organization_journals_path(@organization)
              %li{ class: (controller_name.in?(%w(pre_assignments pre_assignment_delivery_errors pack_reports)) ? 'active' : '') }
                = link_to 'Pré-affectations', account_organization_pre_assignments_path(@organization)
        .span10
          != yield

    :plain
      <!--[if lt IE 9]>
        <script src="/javascripts/html5.js" type="text/javascript"></script>
      <![endif]-->

    = javascript_include_tag 'application', 'inner'
    - if controller_name.in?(%w(subscriptions organization_subscriptions))
      = javascript_include_tag 'account/subscriptions', 'account/organization_subscriptions'
    - elsif controller_name.in?(%w(csv_outputters organization_csv_outputters))
      = javascript_include_tag 'account/csv_outputters'
    - elsif !controller_name.in?(%w(rights collaborators groups organization_addresses customer_addresses accounting_plans vat_accounts exercices bank_accounts knowings pre_assignment_delivery_errors ibiza))
      = javascript_include_tag "account/#{controller_name}"
    = render '/shared/google_analytics'
    = render '/shared/zoho_discussions'
