!!!
%html
  %head
    %title Idocus | Archivage numérique
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-type" }/
    %meta{ :name => :description, :content => @homepage.try(:meta_description) }/
    %link{ :rel => 'shortcut icon', :type => "image/ico", :href => asset_path('favicon.ico') }
    != stylesheet_link_tag 'application'
    %style{ :type => "text/css" }
      != @homepage.try(:style)
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{ :class=>"btn btn-navbar", "data-toggle"=>"collapse", "data-target"=>".nav-collapse" }
            %span{ :class=>"icon-bar" }
            %span{ :class=>"icon-bar" }
            %span{ :class=>"icon-bar" }
          %a.logo{ href: site_url }
            %img{ src: logo_url, alt: 'logo' }
          .nav-collapse
            %ul{ :class=>"nav" }
              - pages_type.each do |page|
                %li
                  = link_to page.tag, page_path(page)
          - if current_user
            %p{ :class=>"navbar-text pull-right" }
              Connecté en tant que 
              != link_to current_user.email, account_documents_path
              |
              != link_to "déconnexion", destroy_user_session_path
          - else
            %p{ :class=>"navbar-text pull-right" }
              %a{ "data-toggle"=>"modal", :href=>"#connexion" } Connexion
        
    != yield
  
    %footer
      .modal-footer.aligncenter
        %p{ :class=>"green" }
          - footer_pages.each_with_index do |page, index|
            - if index != 0
              %span.separator &#124;
            != link_to page.title, page
        %p{ :class=>"copyright" } &copy; iDocus 2012
    
    != render :partial => "/shared/google_analitycs"
    
    - if !current_user
      .modal.hide.fade.in{ :id=>"connexion" }
        .modal-header
          %a{ :class=>"close", "data-dismiss"=>"modal" } ×
          %h3 Connexion
        = form_for User.new, :url => session_path(:user), :html => { :method => :post } do |f|
          .modal-body
            %fieldset
              %label{ :for => "email" } Email
              = f.text_field :email, :id=>"email"
              %label{ :for => "password" } Mot de passe
              = f.password_field :password, :id => "password"
              = f.check_box :remember_me, :class => "pull-left", :id => "remember_me"
              %label{ :for => "remember_me", :class => "pull-left", :title => "Session de 2 jours" } Se souvenir
          .modal-footer
            = f.submit "OK", :class => "btn btn-primary"
            %a{ :href => "/users/password/new", :class => "btn" } Aide
            %a{ :href => "#", :class => "modal-close btn" } Fermer
    
    != javascript_include_tag 'application'
    :javascript
      $(document).ready(function() {
        $(".carousel").carousel();
        $(".modal-close").click(function(){ $(".modal").modal("hide"); });
      });