!!!
%html
  %head
    %title Idocus | Traitements papiers
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-type' }
    %link{ rel: 'shortcut icon', type: 'image/ico', href: image_path('favicon.ico') }
    = stylesheet_link_tag    'application', 'paper_process'
  %body
    #wrap
      %nav.navbar.navbar-expand-md.navbar-static-top.medium-shadow
        = link_to image_tag('logo/logo.png', alt: 'logo'), root_path, class: 'logo navbar-brand'
        %ul.nav.navbar-nav.bg-menu
          %li.nav-item{ class: ('active' if controller_name == 'paper_set_orders') }
            = link_to 'Commandes', paper_set_orders_path, class: 'nav-link'
          %li.nav-item{ class: ('active' if controller_name == 'kits') }
            = link_to 'Kit', kits_path, class: 'nav-link'
          %li.nav-item{ class: ('active' if controller_name == 'receipts') }
            = link_to 'Réception', receipts_path, class: 'nav-link'
          %li.nav-item{ class: ('active' if controller_name == 'scans') }
            = link_to 'Numérisation', scans_path, class: 'nav-link'
          %li.nav-item{ class: ('active' if controller_name == 'returns') }
            = link_to 'Retour', returns_path, class: 'nav-link'
        - if current_user
          %span.navbar-text.ml-auto.float-right.text-white
            Connecté en tant que
            = link_to current_user.email, root_path
            |
            = link_to 'déconnexion', destroy_user_session_path, method: :delete
      #next-nav-wrapper
      .retractable.fadein
        .container-fluid= yield
      #push
    = render 'layouts/footer'
    = render '/shared/google_analytics'
  = javascript_include_tag 'application', 'paper_process'