- title = 'Editing My Info'

- form_for @user, :url => account_path do |f|
  - field_set_tag 'Update my email' do
    = error_message_on @user, :email
    %p
      = f.text_field :email
    %p
      = f.submit 'Update email' 

- form_for @user, :url => account_path do |f| 
  - field_set_tag 'Update my password' do 
    = error_message_on @user, :password
    = error_message_on @user, :password_confirmation
    %table
      %tr
        %td
          %label new password
        %td= f.password_field :password
      %tr
        %td
          %label new password confirmation
        %td= f.password_field :password_confirmation
      %tr
        %td= f.submit 'Update password' 


- form_for @user, :url => account_path, :html => {:multipart => true} do |f| 
  = error_messages_for :user 
  = field_set_tag 'Profile data' do
    %table
      %tr
        %td= f.label :login 
        %td= f.text_field :login 
      %tr
        %td= f.label :first_name 
        %td= f.text_field :first_name 
      %tr
        %td= f.label :last_name 
        %td= f.text_field :last_name
      %tr
        %td= f.submit 'Update profile'

- form_for @user, :url => account_url do |f|
  = error_messages_for :user
  = field_set_tag 'Social profile' do
    %table
      %tr
        %td= f.label :skype
        %td= f.text_field :skype
      %tr
        %td= f.label :phone
        %td= f.text_field :phone
      %tr
        %td= f.label :mobile_phone
        %td= f.text_field :mobile_phone
      %tr
        %td= f.label :msn
        %td= f.text_field :msn
      %tr
        %td= f.label :jabber
        %td= f.text_field :jabber
      %tr
        %td= f.label :gmail
        %td= f.text_field :gmail
      %tr
        %td= f.label :birth_date
        %td= f.text_field :birth_date
      %tr
        %td= f.label :github_profile 
        %td= f.text_field :github_profile
      %tr
        %td= f.submit 'Update'

= link_to "Cancel my account", account_path, :method => :delete, :confirm => "Are you sure?"

:javascript
  var login = $('#user_login').attr('value');
  var email = $('#user_email').attr('value');
  
  $('#user_login').change(function() {
    if(confirm("Changing your login can be harmful. Don't do it without a good reason.")) {
      login = $(this).attr('value');
    }
    else {
      $(this).attr('value', login);
    }
  });

  $('#user_email').change(function() {
    if(confirm("Changing your email can be harmful. Don't do it without a good reason.")) {
      email = $(this).attr('value');
    }
    else {
      $(this).attr('value', email);
    }
  });