%h2
  Créer un nouveau compte iDocus

%p
  Veuillez saisir votre adresse e-mail et choisissez votre mot de passe.
  %br
  Ensuite, vérifiez votre boîte aux lettres, nous vous envoyons immédiatement un mail qui vous indiquera la démarche à suivre pour activer votre compte.
  %br
  Pour toute question concernant votre compte : #{ mail_to("contact@idocus.com") }

  - form_for @user, :url => user_registration_path, :html => { :class => "form-horizontal" } do |f|
    != render :partial => '/shared/error_messages', :locals => {:object => resource}

    .control-group
      != f.label :email, :"Votre adresse e-mail :", :class => "control-label"
      .controls
        != f.text_field :email

    .control-group
      != f.label :password, :"Votre mot de passe :", :class => "control-label"
      .controls
        != f.password_field :password

    .control-group
      != f.label :password_confirmation, :"Confirmation du mot de passe :", :class => "control-label"
      .controls
        != f.password_field :password_confirmation

    .form-actions
      != f.submit "VALIDER", :class => "btn pull-left"
      %a.btn.margin1left{ :href => "/" }
        %span
          RETOUR